[2020-01-06 12:57] lumpfish commented on #682
Some of it, yes.  I was looking for any progress on the The AdoptOpenJDK migration guide (https://adoptopenjdk.net/MigratingtoAdoptOpenJDKfromOracleJava.pdf) statement "The Lucida fonts that are available in Oracle JDK 8 have a proprietary 3rd party license. AdoptOpenJDK intends to provide relicensed Lucida fonts. Work is ongoing to minimize any display issues when these fonts are rendered by Free

[2020-01-06 16:01] AdamBrousseau commented on #1327
On last release (jdk-13+33) on 7.1.4.3 I still get the same error.
On 7.1.5.5 I also get the error.
With latest nightly build I get proper version on both 7.1.4.3 and 7.1.5.5
[code]
So I think we can close this?

[2020-01-06 16:03] marco-boeck commented on #1130
Apple has released an update: https://developer.apple.com/news/?id=12232019a
So do I understand it correctly that using JDK8 on OS X 10.15 will just start failing completely starting Feb 03 (in 4 weeks)?
That'd be pretty bad..

[2020-01-06 19:14] sxa555 commented on #1327
Sounds about right - the machines are built on the earlier version now, so should be ok for the next quarterly release. Thanks for confirming - I think I'll close this now :-)

[2020-01-06 19:14] #1327 closed

[2020-01-08 04:55] adamulrich commented on #1130
No, that is not what will happen. It is bad, but things that are working now will continue to work. To submit an app for notarization, it has to meet a bunch of requirements, one of them is code signing, another is runtime hardening. In order for your app that is downloaded from the internet to be installed on Catalina (10.15) , it will have to get past the gatekeeper check that it is properly not

[2020-01-08 04:59] adamulrich commented on #1130
for those struggling with runtime hardening, add all six plist entitlements that are available, and make sure that your java runtime, whichever version you are using, is in a folder that will get codesigned when you use the -deep option (which is in MacOS, or Framework). If you have put your JRE in plugins, it assumes that it was codesigned by the 3rd party, and will not codesign or harden that lo

[2020-01-08 07:48] karianna commented on #1020
It looks like our existing patch sets this to AdoptOpenJDK, so we're being consistent.

[2020-01-08 07:50] karianna commented on #1020
@lumpfish - I think you can go ahead and make the PR change (assuming this is a builds script change which I suspect it is).  Worth co-ordinating with @johnoliver to then remove/disable our patch.

[2020-01-08 08:25] #1257 closed

[2020-01-08 08:34] #1287 closed

[2020-01-08 14:32] lumpfish commented on #1020
Created https://github.com/AdoptOpenJDK/openjdk-build/pull/1461 for the --with-vendor-name part (not the patch removal).  I don't think it's possible to test using my fork of openjdk-build in the Jenkins pipeline - @johnoliver / @sxa555 - please tell me if that's incorrect and I can test it.

[2020-01-08 16:06] metamorphiccode opened #1462 "OpenJDK 11 Predicate Getting Generic Type throw ClassCastException"
Hello everyone ,I have problem on java 11 predicate lambda expression generic type , when I write predicate as lambda expression is not returning exactly generic parameter ,and ClassCastException occurs , code seen below

we have definition of class Condition which is extends Predicate , when we call getParameterType on Working Case ,generic Type work as expected,but when we create condition as la

[2020-01-08 20:15] sxa555 commented on #1020
It is possible :-) Have initiated https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/test-build-script-pull-request/237/ to test it

EDIT: I should probably have included an OpenJ9 version as well, but if you want to kick off another feel free - parameters are pretty self-explanatory

[2020-01-09 09:25] karianna commented on #1462
@metamorphiccode - As per StackOverflow response, this is not a bug as such.

[2020-01-09 12:55] marco-boeck commented on #1130
Even if signing it ourselves may or may not work, I do not see how anyone on the outside can fix the following notarization warning (which will become an error and block all future notarizations Feb 3):

[code]

According to https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution/resolving_common_notarization_issues, this is expected and the binaries need to b

[2020-01-09 14:48] pshipton opened #1464 "Configure OpenJ9 xlinux builds for jdk8 jdk11 with --enable-jitserver"
Pls configure OpenJ9 xlinux builds for jdk8 and jdk11 with --enable-jitserver
This includes both the head stream and the January (OpenJ9 0.18.0) release.

https://github.com/eclipse/openj9/pull/8147
https://github.com/eclipse/openj9/issues/7841

@mpirvu fyi

[2020-01-09 15:28] andrew-m-leonard commented on #1464
does that include xLinuxXL ?

[2020-01-09 15:31] parched commented on #1130
FWIW our solution was to build it ourselves with a newer SDK via https://github.com/stooke/jdk8u-xcode10

[2020-01-09 15:37] andrew-m-leonard commented on #1464
Requires "protoc"
Current Ubtuntu 16.04 distribution is not late enough either, 2.6.1, needs 3.5.1. Not sure what slaves have?

[2020-01-09 15:55] pshipton commented on #1464
At the OpenJ9 project we are using protobuf 3.7.1 to build it.

[2020-01-09 15:57] mpirvu commented on #1464
Indeed we standardized protobuf 3.7.1 across all linux platforms.
Moreover, if build machines have an older version of protobuf, it needs to be uninstalled because we've seen that it can cause linking problems.

[2020-01-09 16:01] pshipton commented on #1464
@mpirvu can you please answer about whether --enable-jitserver should be done for xLinuxXL builds? (Note it's enabled at OpenJ9).

[2020-01-09 16:01] mpirvu commented on #1464
For uniformity we should probably do xLinuxXL as well, though JITServer typically helps with small containers whereas xlinuxxl is normally used for applications with very large heaps.

[2020-01-09 16:18] andrew-m-leonard commented on #1464
Adopt slaves have protoc 3.5.1

[2020-01-09 16:22] sxa555 commented on #1464
That's a new requirement on or systems then as we explicitly set it to 3.5.1 which I believe is the one that your configure check looks for. @jdekonin based on @pshipton's comment above have you put a different version on the OpenJ9 machines than what's [in our playbooks](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Protobuf/

[2020-01-09 16:47] AdamBrousseau commented on #1464
Spot checking a few x/p/z internal and external it seems x has 3.5.1 and p/z have 3.7.1

[2020-01-09 16:58] sxa555 commented on #1464
For the purposes of this x is the only important one, so you have the same as us ...

[2020-01-09 18:40] sxa555 commented on #1460
DISCLAIMER: We don't cross-compile anything, so we can't assist too much with getting it working ... Saying that if you can make it work that would be good to document for others ;-)

`asound` is the ALSA sound library for which you'd normally need the `alsa-lib-devel` package on CentOS/RHEL

[2020-01-09 18:50] mpirvu commented on #1464
x can work well with protobuf 3.5.1.  It was suggested to move xlinux up to 3.7.1 so that all platforms have the same version, but this is not strictly required

[2020-01-09 22:26] grahampugh opened #1466 "Incorrect year in binary names"
**Platform:**
Mac
**Architecture:**
X64
Please describe the issue that you are having with our binaries and if possible how to recreate it.

The releases for AdoptOpenJDK 11 are named incorrectly on github: the 2019-12-31 build is mis-tagged as jdk11u-2020-12-31-15-31. There are a few others mislabelled as 2020 too. This plays havoc with automation scripts that grab the latest release.

[2020-01-10 09:16] andrew-m-leonard commented on #1464
seem to be linking issues: https://github.com/eclipse/openj9/issues/8267

[2020-01-10 10:03] sxa555 commented on #1466
@johnoliver spotted this yesterday afternoon too. Thanks for raising the issue

[2020-01-10 13:10] jerboaa opened #1467 "Enable building OpenJDK HEAD at AdoptOpenJDK"
Right now the latest upstream OpenJDK HEAD tree isn't being built at AdoptOpenJDK AFAIK. There should be a build job building latest jdk/jdk tree.

Perhaps start with Hotspot builds only as a start.

[2020-01-10 13:10] jerboaa commented on #1467
I'll be working on this in the next few weeks.

[2020-01-10 14:02] johnoliver commented on #1466
@sxa555 I think this is different, this issue is the Nov 31st year rollover issue we had, we should just delete https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk11u-2020-12-31-15-31

[2020-01-10 15:30] sxa555 commented on #1464
Fixed - now building at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9-linuxXL/455/console

Bear in mind that only the first build box is configured appropriately for this at present, so I've removed the `gcc73` tag from the other one which will stop OpenJ9 builds running on it.

[2020-01-10 18:44] diegolovison commented on #1323
It is back with a fresh RHEL
[code]
OS: `RHEL-8.2.0-20191219.0`

[2020-01-10 22:10] sophia-guo opened #1468 "Test_openjdk8_hs_sanity.external_x86-64_linux is triggered twice a day"
Details see https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1087, which was opened in infrastructure by mistake.

[2020-01-13 08:13] fvasco opened #1470 "JVM 13.0.1+ crash: void OopOopIterateDispatch<ShenandoahMarkRefsClosure>::Table::oop_oop_iterate<InstanceKlass, unsigned int>(ShenandoahMarkRefsClosure*, oopDesc*, Klass*)+0xf3"
**Platform:**
Linux ip-172-31-18-15 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u1 (2019-09-20) x86_64 GNU/Linux
kops Version 1.15.0 (git-9992b4055)

**Architecture:**
AWS EC2 t3.small

Please describe the issue that you are having with our binaries and if possible how to recreate it.

JVM crashed with message:

[code]

Full log attached
[server.log.gz](https://github.com/AdoptOpenJDK/openjdk-build

[2020-01-13 09:11] puneet-jain2020 opened #1471 "What is the support plan of AdoptOpenJDK 8 on Windows 2019?"
Is the AdoptOpenJDK 8 supported on Windows 2019.

[2020-01-13 10:09] M-Davies opened #1472 "Nightly build failure: log files not found"
**Platform:**
 jdk13u-aix-ppc64-hotspot

**Please describe the issue that you are having with our binaries and if possible how to recreate it.**
Since 04-01-2020, the jdk13u-aix-ppc64-hotspot pipeline at adopt has been suffering from various `No such file or directory` errors when looking for various log files. What files exactly seem to vary for each run.

The common error message:
[code]

The lo

[2020-01-13 16:17] tellison commented on #1466
+1 from me to removal

[2020-01-14 11:22] archanaNogriya opened #1474 "Milestone 2, January Release 2020 - Build Triage (Failures)"
### JDK8 : https://trss.adoptopenjdk.net/resultGrid?parentId=5e17394b291346186001b563

1. **Failure**
**Platform:**
ppc64le_linux
ppc64le_linux_xl
s390x_linux
s390x_linux_xl
x86-32_windows
x86-64_linux
x86-64_linux_xl
x86-64_mac
x86-64_mac_xl
x86-64_windows
x86-64_windows_xl

**Details:**
sanity.openjdk failures

`java/lang/Class/getMethods/StarInheritance.java.StarInheritance (from java_lang_Clas

[2020-01-14 11:38] lumpfish commented on #1020
Output of
[code]
from builds created from the openjdk-build fork / branch in PR https://github.com/AdoptOpenJDK/openjdk-build/pull/1461:
[code]
jdk-11.0.6+9.hotspot
Property settings:
    awt.toolkit = sun.awt.X11.XToolkit
    file.encoding = UTF-8
    file.separator = /
    java.awt.graphicsenv = sun.awt.X11GraphicsEnvironment
    java.awt.printerjob = sun.print.PSPrinterJob
    java.class.path =

[2020-01-14 11:40] archanaNogriya commented on #1474
### JDK11 : https://trss.adoptopenjdk.net/resultGrid?parentId=5e1735c3291346186001a686

1. **Failure**

**Platform**
s390x_linux_xl

**Details**
[code]

Rerunning the grinder job: https://ci.adoptopenjdk.net/job/Grinder/1683/ : **Passed** 

---------------------------------------------------------------------------------------
2. **Failure**

**Platform**
x86-64_windows_xl

**Detail**
[code]

Look

[2020-01-14 11:45] lumpfish commented on #1020
For reference, this are the system properties for the previous AdoptOpenJDK release:
[code]

[2020-01-14 11:50] archanaNogriya commented on #1474
### JDK13 : https://trss.adoptopenjdk.net/resultGrid?parentId=5e177c1e291346186001d1c5

1. **Failure**

**Platform**
All supported platforms

**Details**
sanity.perf is failing.
Console log from one of the platform: https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_sanity.perf_ppc64le_linux/4/console

The issue has been raised https://github.com/AdoptOpenJDK/openjdk-tests/issues/1541 : **Closed**

[2020-01-14 15:30] jerboaa commented on #1467
Checklist so far:

- [ ] Ensure openjdk14-binaries and openjdk15-binaries repositories exist. https://github.com/AdoptOpenJDK/TSC/issues/131
- [ ] Update latest JDK version to 15
- [ ] Create JDK 14 pipeline build jobs
- [ ] Create JDK 15 pipeline build jobs

[2020-01-14 16:08] sxa555 commented on #1467
@jerboaa As your going through this (or afterwards, whatever!) can you make a note of everything you do so we can add it to the docs (https://github.com/AdoptOpenJDK/openjdk-build/blob/master/RELEASING.md) for others to replicate please? That was the one section of there I knew was missing and I hadn't put anything together for yet ;-)

[2020-01-14 17:47] jerboaa commented on #1467
OK. I'll take notes and put something together once this actually works.

[2020-01-15 03:52] karianna commented on #1041
I can't get in either....

[2020-01-15 08:51] sithmein commented on #1130
It seems since yesterday all those notarization warnings have finally turned into errors. Which means we cannot notarize our Java-based applications any more :(

[2020-01-15 14:59] MoxxiManagarm commented on #1130
Hi folks. Just wanna mention my issue here again since my linked issue was closed referencing to this one. I still hope someone has a great hint how to fix.

Our application logic is contained within a jar file. This jar file is later bundled into an application package with the packagesbuild command (http://s.sudre.free.fr/Software/Packages/about.html). This bundle also contains the AdoptOpenJDK

[2020-01-15 16:50] llxia opened #1476 "Request to archive OpenJDK source tips file as part of binary tar"
We have `source_tips` and `source-revision-tracker` in the build tree for SHA info.

[code]

However,  the file is not in the AdoptOpenJDK Jenkins Build Artifacts. For example, https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-hotspot/

We would like to request to archive the source tips file as part of binary tar, so the downstream builds can get this informatio

[2020-01-15 16:51] llxia commented on #1476
fyi @smlambert @jerboaa

[2020-01-15 16:54] mpirvu commented on #1464
@sxa555 I was wondering about the status of this issue. Are the nightly xlinux builds done at adoptopenjdk supposed to have JITServer code compiled in now?

[2020-01-15 18:32] abauman-7signal commented on #1130
I had the same issue yesterday. Today, it's fine. Yesterday, Apple reported the Java libraries as not signed and in error. Today, they are reported as not signed but in warning. Bottom line, Apple notarized my package.

[2020-01-15 22:42] Conky5 commented on #1130
I saw this as well, perhaps it was Apple kicking the tires on the stricter rules that are planned to be enforced on February 3rd.

When attempting notarization with `jdk-13.0.1+9` files in `.jmod` files are being detected as not being signed by Apple's notarization service, for example:
[code]

I see jmod signing was removed August 21st in https://github.com/AdoptOpenJDK/openjdk-build/commit/5cd53

[2020-01-16 09:42] andrew-m-leonard commented on #1464
not until we implement this issue

[2020-01-16 13:36] MoxxiManagarm commented on #1130
After having another look on this it seems the issue was in our script. It was historically grown, that we additionally sign the JRE. I now simply removed the find-sign part for JRE and it seems so work.

[2020-01-16 17:14] sxa555 commented on #1472
I'm going to try bumping the files `ulimit` up a bit. Have also cleared out `/tmp/sh-np*` files from the machine

[2020-01-17 14:46] mstrelex commented on #1130
As @abauman-7signal mentioned indeed all errors are again warnings now, perhaps until February 3rd
Any ideas how to notarize OpenJDK 13 and make it actually work afterwards?

[2020-01-17 17:06] sxa555 commented on #1464
@mpirvu The quarterly releases will have that option enabled - nightlies will follow shortly after. This support was added at the last minute and therefore we had an effective code freeze on adjustments to the build scripts during the release cycle

[2020-01-17 17:21] mpirvu commented on #1464
Thanks @sxa555

[2020-01-17 21:27] sxa555 commented on #1466
That was horrible. The releases were presumably a bit too bug and github timed out trying to delete them so I had to start removing each file individually. Now done though.

[2020-01-17 21:27] #1466 closed

[2020-01-17 22:30] breun opened #1481 "Add extra JVM capabilities to Contents/Info.plist for macOS"
The current version of `Contents/Info.plist` has a dict key `JVMCapabilities` which only contains `CommandLine` in the array value. As the maintainer of the OpenJDK ports in MacPorts I got a request for adding `Applets`, `BundledApp`, `JNI` and `WebStart` to this array: https://github.com/macports/macports-ports/pull/6169

Do you agree it would be a good idea to add these JVM capabilities to the A

[2020-01-20 11:49] andrew-m-leonard commented on #1464
https://github.com/AdoptOpenJDK/openjdk-build/pull/1482/files

[2020-01-20 12:41] #1464 closed

[2020-01-20 23:12] karianna commented on #1481
@gdams - pinging you @hendrikebbers and adding TSC label - this one is trickier - we want to support IcedTea web out of the box without compromising default security.

[2020-01-20 23:52] breun commented on #1481
@karianna Are there any security considerations around adding these capabilities?

[2020-01-21 05:33] NashMiao commented on #1210
It also works for me, thanks!

[2020-01-21 06:04] karianna commented on #1481
Anything that opens up applets and webstart without review tends to be a concern.  It was the #1 attack vector on Java for many years.

I'm not saying that making this change is unsafe, but I do want it checked by our experts (not me!)

[2020-01-21 08:02] karianna commented on #676
@johnoliver not urgent but re-opening this as there seems to be an open question on this.  Feel free to shift to the support repo if we deem it to be an isolated case.

[2020-01-21 08:04] karianna commented on #1437
@sxa555 - I assume this is OK for 11.0.6?

[2020-01-21 08:16] karianna commented on #146
@dmoles - see http://cr.openjdk.java.net/~ihse/demo-new-build-readme/common/doc/building.html - if you search for fast debug you'll see the option to pass in as an arg to our scripts.

[2020-01-21 10:31] breun commented on #1481
https://derflounder.wordpress.com/2015/08/08/modifying-oracles-java-sdk-to-run-java-applications-on-os-x/ says: "By default though, the Oracle JDK does not set several options to advertise the capabilities provided by the JDK to Java apps, which may cause applications that need those capabilities to fail to launch. The capabilities are actually present in the JDK, but those options need to be set

[2020-01-21 10:48] gdams commented on #1481
So we currently add some of these capabilities to the installers (see https://github.com/AdoptOpenJDK/openjdk-installer/blob/master/pkgbuild/pkgbuild.sh#L112-L113) We don't, however, apply any to the stock binaries.

I guess my main point is that anyone can edit these themselves if they download the tarball but I do agree that perhaps adding them to the installers makes sense.

[2020-01-21 10:55] gdams commented on #1455
@sxa555 the OSUOSL does actually host ppc64 big endian hardware that we have access to. Justifying big endian to the project was harder though as it was not widely supported anymore.

[2020-01-21 11:42] hendrikebbers commented on #1481
In general I think that we should not add `Applet`.

About WebStart: I assume there are still issues in ITW. But even Oracle WebStart had such issues. I do not know how important `WebStart` & `Applet` are compared to `BundledApp`. I can assume that `BundledApp` is used much more often and maybe we just start with that one and see if people really needs `WebStart` or `Applet`.

[2020-01-21 11:59] breun commented on #1481
@gdams People using a package manager (like MacPorts) don't use the installer. Why not make sure the installer and .tar.gz have the same configuration out of the box? Of course as a MacPorts maintainer I could apply a patch to the tarball, but all other package managers (SDKMan, Homebrew, etc.) would need to do the same thing then, right? I think it would make sense to just fix this at the source

[2020-01-21 16:20] sxa555 commented on #1437
You assume correctly - aarch64 is not part of the 11.0.6 OpenJ9 release

[2020-01-22 09:05] karianna commented on #1481
"Is that something Karakun can test?

[2020-01-22 09:07] gdams commented on #1481
@breun currently the homebrew casks all use the pkg installers. I'm happy to look at pulling the code into the main source tarball if there is a need for it though

[2020-01-22 09:35] karianna commented on #1202
Let's go for Feb - @d3r3kk - can we ask one of our group to look into this?  There's 4-5 related issues so we'll need a longer conversation to cover it all.

[2020-01-22 10:51] jerboaa commented on #1467
Patch to support building JDK 15 locally with AdoptOpenJDK build scripts. https://github.com/AdoptOpenJDK/openjdk-build/pull/1484

[2020-01-22 11:01] breun commented on #1481
@gdams What is the reason to apply modifications like these in the installer and not the base tarball? Shouldn’t an installer just install the contents of the tarball? My idea of an installer is you only use an installer when you don’t install software via a package manager.

Maybe a similar question: why does Homebrew use the installer instead of the tarball? As a MacPorts user/maintainer I think

[2020-01-22 13:15] bryan-coleman commented on #1366
In jdk-8.0.242.08-hotspot:

2014-02-15 23:59:59 BRST: 1392519599000
2014-02-15 23:00:00 BRST: **1392516000000**  # this time is still inconsistent with version 222
2014-02-16 00:00:00 BRST: 1392519600000
2014-02-15 23:00:00 BRT: 1392516000000
2014-02-16 00:00:00 BRT: 1392519600000

[2020-01-22 15:15] sxa555 opened #1488 "Move freetype building out of the playbooks and into ansible"
I suspect this is for historic reasons, but at the moment out build scripts (https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/prepareWorkspace.sh#L292) build freetype within the build workspace. Ideally, as with most other prereqs) this should be done in the ansible scripts and then used in a repeatable manner across all the builds that require it.

I would propose a location such as

[2020-01-22 17:25] lumpfish commented on #1450
Got this today on build-osuosl-ppc64-aix-71-2
[code]

[2020-01-23 10:04] BuZZ-dEE commented on #1337
fixed in jdk8u242-b08

thank you

[2020-01-23 10:04] #1337 closed

[2020-01-23 11:37] breun commented on #1481
If the installer currently already adds `JNI` and `BundledApp` by default then I’d say it should be fine to add them in the tarball directly.

[2020-01-23 18:10] DalePAtSafe opened #1490 "Java 8 JRE Win32 Hotspot binaries are incorrectly packaged."
**Windows:**

**x86-32:**

In every release since JDK8u212-b03 the Win32 JRE hotspot zip package has included the folder `bin/client` instead of `bin/server` as in the Win64 package. The inconsistency and sudden unexplained change after JDK8u212-b03 leads me to believe that this is a bug.

Last good package: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u212-b03/OpenJDK8U

[2020-01-23 20:32] wind57 opened #1491 "opendk13:latest is not really the latest"
latest jdk-13 is actually:

[code]

AdoptOpenJDK docker image, that is `adoptOpenJDK13:latest` is actually `13.0.1+9`. Why this matters to us? because there is a critical Shenandoah GC bug fixed in `13.0.2` that is blocking our clients that use jdk-13 as docker images. I could build a custom image, but just wanted to know when this latest version is going to be supported.

[2020-01-24 09:41] M-Davies commented on #1450
Occurred again on the same box and job.
[code]
Count = 2

[2020-01-24 09:54] M-Davies commented on #1450
[jdk14-linux-aarch64-hotspot](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14/job/jdk14-linux-aarch64-hotspot) on [build-linaro-centos76-armv8-2](https://ci.adoptopenjdk.net/computer/build-linaro-centos76-armv8-2/)
[code]

[2020-01-24 17:58] sxa555 commented on #692
Also (for anyone finding this issue @pshipton has these instructions https://github.com/eclipse/openj9/issues/1538#issuecomment-577894672

[2020-01-26 08:04] karianna commented on #1467
Can this now be closed?

[2020-01-27 08:49] jerboaa commented on #1467
No, not yet. There is no jdk-head pipeline as of yet. See the checklist above.

[2020-01-27 08:49] himawari-san opened #1496 "Chinese characters in path to java.exe caused "Unable to load native library" error"
**Platform &:Architecture:**
Windows10.0.18362
OpenJDK11U-jre_x64_windows_hotspot_11.0.6_10.zip
OpenJDK11U-jre_x86-32_windows_hotspot_11.0.6_10.zip

**Steps to reproduce the issue:**

1. Download the JRE described above from https://adoptopenjdk.net/releases.html
2. Unzip it.
3. Rename "jdk-11.0.6+10-jre" to "jdk漢字含む" ("漢字含む" are 4 Chinese characters)
4. Execute java.exe as follows:
[code]
jdk-11.

[2020-01-27 15:44] M-Davies opened #1500 "Investigate & implement "concurrent" AdoptOpenJDK "build pipeline" support"
Summary
-----
Currently, little experimentation has been conducted on the AdoptOpenJDK build pipelines to see if they can run synchronously on the master node. The general belief is that they cannot due to shared workspaces but I would like to conduct some testing to ensure that this is true. If the pipelines can be run concurrently, it would speed up both release and nightly build/testing jobs gr

[2020-01-27 19:39] jerboaa commented on #1467
JDK 15 (HEAD) build pipeline changes proposed here: https://github.com/AdoptOpenJDK/openjdk-build/pull/1501

I'd appreciate reviews! Thanks.

[2020-01-27 23:57] patric42 opened #1506 "Openj9 11.0.6 for Windows x86 is missing (hotspot still provides one)"
Hi,

I'm wondering that, despite the effort the OpenJ9 team made for supporting 32bit Windows with the splitheap option (which makes it rather unique for using large heaps on that platform), exactly that build is missing for the Java 11 platform.

Could this be added again?

Thanks!

[2020-01-28 00:04] yzhao1012 commented on #1173
Could there be some update on the progress? We'd like USDT to be built-in to enable eBPF probing.

[2020-01-28 09:37] M-Davies commented on #1450
Occurred again on same box and job. @sxa555 Could this be due to the ulimit settings on the machine?
[code]

[2020-01-28 09:43] adam-thorpe opened #1502 "JDK8 configure argument --with-macosx-codesign-identity not supported"
All builds in the jdk8 pipeline are failing with:
[code]

[2020-01-28 09:50] M-Davies commented on #1502
`--with-macosx-codesign-identity` is set https://github.com/AdoptOpenJDK/openjdk-build/blob/f8e552c615c8d6a21bef970b55ea471734679be0/sbin/build.sh#L85

May have been caused by https://github.com/AdoptOpenJDK/openjdk-build/commit/f8e552c615c8d6a21bef970b55ea471734679be0#diff-70562ee8a1ade1c466965b291bbacf4a since `BUILD_CONFIG` was changed to use the feature number instead of the jdk version

[2020-01-28 09:58] adam-thorpe commented on #1502
No this line was recently added to support mac code signing. It would look like it is not intended for jdk8 but there is nothing in the code that prevents it so I would assume that a simple check is needed

[2020-01-28 10:00] adam-thorpe commented on #1502
The problem originates back before that commit

[2020-01-28 11:27] lumpfish commented on #1020
https://github.com/AdoptOpenJDK/openjdk-build/pull/1461 is merged so this should be OK to close.

[2020-01-28 13:30] #1020 closed

[2020-01-28 13:47] Willsparker commented on #1502
Came from here : https://github.com/AdoptOpenJDK/openjdk-build/pull/1463 I think :-)

[2020-01-28 13:49] gdams commented on #1502
hmm yeah, we should only run this function if you're on jdk11 https://github.com/gdams/openjdk-build/blob/a8cee3828352e9e6381d7f37752984d432490cbe/sbin/build.sh#L83-L86

[2020-01-28 13:50] gdams commented on #1502
that arg only get's added on jdk11 https://github.com/AdoptOpenJDK/openjdk-build/pull/1463/files#diff-521c2d1e3ad3ed50a7d814ac9f305739R60

[2020-01-28 13:50] gdams commented on #1502
I'll take a look

[2020-01-28 16:20] M-Davies opened #1504 "Feat: Notification on pipeline/grinder completion"
Summary
-----
Using the [Jenkins plugin](https://jenkins.io/doc/pipeline/steps/slack/#slacksend-send-slack-message) on Slack, it should be possible for our Grinders and Pipelines to send a notification to the AdoptOpenJDK slack channel when a job is complete. This is more of a quality of life improvement than something of great necessity, the life improvement being that you will be alerted when yo

[2020-01-28 16:27] jerboaa commented on #1504
Have good old email notifications been considered?

[2020-01-28 16:46] M-Davies commented on #1504
That's might be a backup if the Adopt slack doesn't support DM's for grinders 😄. Using email would slightly negate the point of implementing this since it doesn't provide an instant ping for the user.

[2020-01-28 17:12] AdamBrousseau commented on #1504
You could use 1 param and simply check if it's set.
ie.
[code]
I know the test team (cc @smlambert ) are trying to limit or reduce the amount of params the test pipelines use.

[2020-01-29 09:19] karianna commented on #1506
@lumpfish  - Can you comment?

[2020-01-29 09:33] #1502 closed

[2020-01-29 10:27] M-Davies commented on #1504
The adopt slack does not have a high enough payment plan to support DM's but does support channel notifications. Therefore, I don't think there would be much point implementing this for grinders. The email idea has merit, I think that would need some more discussion on how it would be implemented.

Pipelines however, may still benefit from this as it would be good to have a channel at Adopt for wh

[2020-01-29 10:33] jerboaa commented on #1467
With #1501 merged, I'll close this ticket.

[2020-01-29 10:33] #1467 closed

[2020-01-29 11:07] lumpfish commented on #1506
@patric42 - you are correct that Windows x86-32 is not a platform supported by openj9 jdk11.
A complete list of supported platforms for each jdk release can be found at the Eclipse OpenJ9 web site here: https://www.eclipse.org/openj9/docs/openj9_support/

Enabling such support would need to start with a commitment from the Eclipse OpenJ9 community, perhaps raising a request via https://github.com/

[2020-01-29 14:16] M-Davies commented on #1500
The master node is currently full so will delay this until it has been cleaned up

[2020-01-29 15:21] M-Davies commented on #1500
Master node has been cleaned up. Running two phase one builds `jdk11-x64Linux-openj9`
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/730/console
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/731/console

[2020-01-29 16:49] M-Davies commented on #1328
@karianna has there been any movement on this outside of this issue? I'm currently investigating implementing concurrent pipelines at Adopt and have a suspicion that this might be a blocker

[2020-01-29 16:56] pshipton opened #1508 "OpenJ9 linux builds on gcc 7.5"
OpenJ9 is ready to make the switch on Linux (x, p, z) to switch to gcc 7.5. This version contains a fix which improves the speed of the OpenJ9 bytecode interpreter (on x, z), which may benefit customers in some situations.

OpenJ9 should coordinate the change with Adopt, which will need to have gcc 7.5 installed on the build machines.
https://github.com/eclipse/openj9/pull/8443

[2020-01-29 21:54] patric42 commented on #1506
Hi Simon,

on 29.01.20 at 12:07, Simon Rushton wrote:

Ok, I'll ask there for the reasons. Thank you :-)

We are in the process of updating some of our applications to Java 11, but we still have some
customers on Windows x86. Given the usefulness of OpenJ9 on 8u on that platform I had hoped that one
day we'll might just bump the JVM to 11 and never look back (we have a webstart-alike program
start

[2020-01-30 08:57] karianna commented on #1328
@M-Davies - Not that I'm aware of.  I do know that @johnoliver is looking at revisiting the pipeline rcode after some core fixes in Jenkins.

[2020-01-30 09:46] adam-thorpe opened #1511 "Pipelines at Adopt are being given incorrect version number to schedule tests"
[code]
All versions are returning -1 instead of version number, I highly suspect this problem is in this method, will investigate and put in a fix

https://github.com/AdoptOpenJDK/openjdk-build/commit/f65ae15988a92a7f33d4c8fad6d6029f6b983615#diff-75a7dffda798a34c1274f4a064617cb2R67

[2020-01-30 09:56] jerboaa commented on #1511
If it's the line you've mentioned then I don't understand how it did work before. The premise is that `matcher.matches() == false`. In that case it would have thrown an error before, right?

[2020-01-30 10:02] adam-thorpe commented on #1511
Yeah I'm not too sure, I don't know groovy but couldn't see any other lines that would cause a problem so I'm trying to run the method and see what it outputs

[2020-01-30 10:06] adam-thorpe commented on #1511
Okay it's definitely this method, new method returns -1, old method returns 8 with "jdk8u" as input

[2020-01-30 10:11] M-Davies commented on #1500
For https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/730/ and https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/731/ concurrency running was enabled.

- Both builds ran fine on the master node but created the same downstream job on `build-digitalocean-centos69-x64-1` even though they are supposed to be separate pipelines. During abortion, the `refactor_openjd

[2020-01-30 10:22] adam-thorpe commented on #1511
I think the problem was the matches.matches is looking for a full match, you needed a find which is just going to look for a single or more digits

[2020-01-30 12:27] jerboaa commented on #1511
Ah, yes. Nice find (pun not intended).

[2020-01-30 15:25] #1511 closed

[2020-01-30 15:28] adam-thorpe opened #1514 "Hard-coded JDK next values should be updated"
Hard-coded jdknext values 15 should be updated so that they point to JAVA_FEATURE_VERSION in
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/make-adopt-build-farm.sh

Instances:
https://github.com/AdoptOpenJDK/openjdk-build/blob/cf9e7c1e092461b36f73503433cea8090f4da6e5/pipelines/build/common/build_base_file.groovy#L212
https://github.com/AdoptOpenJDK/openjdk-build/blob/177a458

[2020-01-30 18:56] sxa555 commented on #1508
@Haroon-Khel will look into this. I'm just assigning myself for now to make it clear that it's "in progress" as I can't currently assign Haroon to stuff in this repo

[2020-01-30 20:20] jerboaa commented on #1467
For reference current JDK HEAD pipeline (running nightly) is here:
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk15-pipeline/

[2020-01-31 04:19] vincent-paing commented on #1130
Any good way to fix this now?  On macOS 10.15.2

[2020-01-31 15:30] smlambert commented on #1504
I personally dislike automated Slack messages and end up having to mute channels that they are sent to.  It is also true that given our test pipeline script already has TOO many parameters, I had made the bold statement that for any new one we consider adding, we would have to consider removing one.   ;)

That being said, I will like to see what you are proposing and how it may be tuned to suit th

[2020-01-31 16:05] aahlenst commented on #1130
I try to summarize the current state. The summary might contain errors, because I'm not an expert in this area. @gdams is who's leading the effort to get AdoptOpenJDK notarized and enabling hardened runtime support, but he's busy getting it done. So take it with a grain of salt…

Work on **JDK 11 with HotSpot** has completed with JDK 11 with OpenJ9 following soon. Bundling the JDK is supposed to w

[2020-01-31 16:50] mdgood commented on #1130
Thank you for this update and your work in resolving this.

Please do make a rebuild of 11.0.6 available as soon as feasible. As it stands, I believe that developers like us who ship applications with an embedded Java runtime would not be able to ship a new build that works on Catalina after February 3 until 11.0.7 is released two months from now. (Unless you managed to grab 11.0.4+11.2 before it

[2020-01-31 16:56] gdams commented on #1130
@mdgood you can already grab one of our nightly builds of JDK11 which has the newer updated notarization updates. Please see https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-hotspot.

I'd be interested to see how you get on? Let me know!

[2020-01-31 16:59] mdgood commented on #1130
@gdams Thanks for the pointer - that's great news! I will grab this and report back on our results.

[2020-01-31 22:20] jasontedor commented on #1130
Note that JDK 13 is *not* at end of life. It will only reach end of life when JDK 14 is released in March. Please reconsider and issue another build of JDK 13 that is notarized, so that it’s possible to have a notarized build of the latest JDK.

[2020-02-01 00:08] mdgood commented on #1130
@gadams The January 30 nightly build of 11.0.7 is working fine for us. Our build notarized without warnings, and installs and works fine on Catalina. I will try building and notarizing our application again next week after the new restrictions kick in just to double-check.

[2020-02-03 08:53] tmancill opened #1518 "native memory might not be released without setting MALLOC_TRIM_THRESHOLD_"
Hi AdoptOpenJDK team,

I chatted with some of you at your booth at FOSDEM about a difference in runtime behavior between AdoptOpenJDK 8 and Ubuntu's openjdk-8 with applications that allocate and free lots of native memory.  [tmancill/nativememory](https://github.com/tmancill/nativememory) is a repro case that demonstrates [the difference](https://github.com/tmancill/nativememory#repro-case) and al

[2020-02-03 09:15] karianna commented on #1518
I suspect this will be binding against a certain version of glibc.

[2020-02-03 15:44] M-Davies commented on #1328
From what I got from John, it seems that the pipelines were originally regenerated since it was difficult to create build configs for personal builds outside of the main pipelines. The configurations were regenerated each time as a failsafe in case someone accidentally put in an invalid config. It was thought that the configs wouldn't change very often so it wouldn't matter too much if a default c

[2020-02-03 21:50] pshipton opened #1521 "Current LIBPATH setting is embedded in AIX Java shared libraries and executables"
**Platform:**
AIX

The Java builds (both Hotspot and OpenJ9) are setup to embed the current LIBPATH setting into the header section of Java shared libraries and executables created.

As seen via `dump -X64 -Hp <file>`, looking at an OpenJ9 build, for Java 8 and 11 the embedded path is as follows, which is acceptable:

0      /opt/IBM/xlc/13.1.3/../../../../usr/lpp/xlC/lib:/opt/IBM/xlC/13.1.3/lib/a

[2020-02-04 14:24] sxa555 commented on #1521
I assume this was tested with the GA version? This should no longer the the case (e.g. in recent builds such as those from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-aix-ppc64-hotspot/) as we switched back to using the original build boxes for JDK13 instead of the TL5SP5 ones.

[2020-02-04 14:38] pshipton commented on #1521
Yes, I was looking at the OpenJ9 releases. Looking at the link you provided I see the following, which is good.

0      /opt/IBM/xlc/16.1.0/../../../../usr/lpp/xlC/lib:/opt/IBM/xlC/16.1.0/lib/aix61:/opt/IBM/xlC/16.1.0/lib:/opt/IBM/xlc/16.1.0/lib/aix61:/opt/IBM/xlc/16.1.0/lib:/usr/vac/lib/aix53:/usr/lib:/lib

[2020-02-05 09:26] adam-thorpe opened #1523 "Linux pipeline builds git failure"
All of the xlinux builds(hs and j9 all versions) since yesterday are failing with:
[code]
Not really sure what the issue is here. There was no change to any of the scripts (ie diff was the same on a passing build) and line works correctly locally

Line in question: https://github.com/AdoptOpenJDK/openjdk-build/blob/6e96d3a647ec6b60d6c63a10312f84f1a056d2d4/sbin/prepareWorkspace.sh#L140

[2020-02-05 14:04] adam-thorpe opened #1525 "MacOS jdk8 build failure with --with-sysroot enabled"
Failing since: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/447/ with
[code]
I believe tweaks made in https://github.com/AdoptOpenJDK/openjdk-build/commit/f5d645fe4aef9f628e8acc6e03fbf8c5b6e56f6c have caused this, perhaps how `--with-sysroot` is used in jdk8?

[2020-02-05 14:19] Voutare opened #1526 "Adopt OpenJDK 11.0.6 with OpenJ9"
Window 10 - 64 bit
Adopt OpenJDK 11.0.6 OpenJ9 - 64 bit

I can force a crash with the following class if starting with the OpenJ9 version of Adopt. (It usually crashes before output line "10000" within seconds, highest I've seen was "15000" before crashing)
The "crash" is the abrupt stopping of the JVM with no message what so ever (shutdown hook is not called), nor a crash log.

Running thos with

[2020-02-05 14:52] aahlenst commented on #1526
Could you add the output of `java -version` so that we know which version of OpenJ9 you are using? There have been two releases of 11.0.6, one with OpenJ9 0.18.0 and one with 0.18.1. If you're using the one with 0.18.0, please update and tell us whether the problem persists.

[2020-02-05 14:57] Voutare commented on #1526
I found the bug in the 11.0.5 (0.17.0) and downloaded the 11.0.6 today (the 0.18.1) to confirm if the bug is still active.

Full output of "java -version":
openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.18.1, JRE 11 Windows 10 amd64-64-Bit Compressed References 20200122_442 (JIT enabled, AOT enabled)
Ope

[2020-02-05 15:29] Voutare commented on #1526
Here is a Zip with the java file, the compiled class, 2 scripts & a log output as I see it
The "test.cmd" compiles the class and runs it 10 times. (Compile with 11.0.6 hotspot, run with 11.0.6 OpenJ9). The "testStart,cmd" redirects output to the test.
[CrashTest.zip](https://github.com/AdoptOpenJDK/openjdk-build/files/4160296/CrashTest.zip)
log file.

[2020-02-05 15:34] smlambert commented on #1526
FYI @pshipton @DanHeidinga

[2020-02-05 15:44] tlk commented on #676
Hi there!
I believe I am seeing something similar.

This is from a Raspberry Pi with OpenJDK11:
[code]

✨

What I find particularly surprising is that the results does not change even when another cacert-file is used.

The Raspbian java is still happily validating the domains based on the cacert-file from AdoptOpenJDK.

The AdoptOpenJDK java is also consistent even when handed the Raspbian provide

[2020-02-05 16:06] DanHeidinga commented on #1526
I've opened https://github.com/eclipse/openj9/issues/8507 to get it onto the OpenJ9 team's radar

[2020-02-05 16:44] pshipton commented on #1526
I haven't been able to reproduce this.

[2020-02-05 16:57] pshipton commented on #1526
How is it you get the different java invocations to run concurrently? When I run it they run sequentially, i.e. the second java don't start running until I stop the first one.

[2020-02-05 17:37] Voutare commented on #1526
It runs sequentially. The single processes stop there and the next one starts.
It is reproducible on at least two (development configured) Windows 10 machines.

I made the zip after a run of the complete dir, no hs_pid_err log/dump files where there

[2020-02-05 17:48] sxa555 commented on #1525
@keithc-ca?

[2020-02-05 18:18] Voutare commented on #1526
Just tried the same @home, here the Problem doesn't occur.
As I downloaded it again I noticed I used the ".zip" version of the downloads.

Can it be that it requires dll's like "Microsoft Visual C++ 20.... Redistributable ..." and I miss those on the Machine @work ?

[2020-02-05 18:27] pshipton commented on #1526
The example test.log shows the different java's running concurrently, as the output is intermingled. It makes me think there is memory resource problem, if you added (for example) -Xmx4m to the command line, maybe they would all be able to run successfully.
[code]
When I run it, I only get output from a single JVM forever. If I ctrl-C that one, it starts the next one.
[code]

If the Microsoft Redi

[2020-02-05 18:39] Voutare commented on #1526
It is definitely sequentially, the batch runs to a full end. The log displayes the output of 10 starts after each other . I didn't cancel any of those jobs, they ran until the java ended. But as I can only reproduce it @work I can do more tests tomorrow (CET).
Is there something else I can test/do to get better info?

[2020-02-05 18:52] pshipton commented on #1526
When I run the batch, it only runs the first `java`. That one runs forever, so none of the other java invocations get started. You could explain how the work machines are configured that allows more than one `java` to run when started this way.

[2020-02-05 18:53] pshipton commented on #1526
Ah, I think I understand. Each java stops running, and then the next one can run. So you don't actually need to run 10 invocations to reproduce this problem, you only need to run one. Correct?

[2020-02-05 18:56] pshipton commented on #1526
On the machine were the problem occurs, pls run the following, compress and attach the files.

`java -Xtrace:iprint=j9vm CrashTest > debug1.txt`
`java -Xtrace:iprint=mt,methods=*.* CrashTest > debug2.txt`

[2020-02-05 18:59] pshipton commented on #1526
Also, what happens if you run `java -Xint CrashTest`?

[2020-02-05 19:05] Voutare commented on #1526
Correct

I can do these tests in roughly 12 hours

[2020-02-05 20:05] keithc-ca commented on #1525
I doubt it's related to `--with-sysroot`. Perhaps the version of `codesign` in Xcode 7.2 doesn't understand these options?
[code]
As I understand it, those options are now required.

[2020-02-05 21:59] mdgood commented on #1130
Building and notarizing worked fine yesterday as well.

[2020-02-06 11:14] wjg57 commented on #1130
As of 2020-02-06 06:01:30 +0000 I'm getting notarization errors like:

severity | "error"
path | "..../Contents/Plugins/Java.Runtime/Contents/Home/jre/bin/java"
message | "The binary uses an SDK older than the 10.9 SDK."
architecture | "x86_64"

so I'd assume that you will see the same issue in the near future.

[2020-02-06 13:44] M-Davies commented on #1504
Current stage: Investigate alternative methods that cut down on message spam. Instigate discussions within the adopt community of an alternative or less intrusive solution

- Email -> Same principle, using email. Simpler, personalised and likely jenkins compatible. Hard to implement, defeats the point of instant feedback a little bit, still have a spam problem (less than slack however).
- TRSS vie

[2020-02-06 16:47] sxa opened #1528 "build-scripts-pr-tester should clean up after itself"
Looking at one of the machines that has had the build-scripts-pr-tester job executed on  it the directory in the workspace associated wityh it is using 27GB of space. It would be prefereable of that script did not leave the workspace directories around unless the jobs fail.

[2020-02-06 18:42] sxa555 commented on #1508
Deployed on:
- [x] [build-digitalocean-centos69-x64-1](https://ci.adoptopenjdk.net/computer/build-digitalocean-centos69-x64-1/)
- [x] [build-digitalocean-centos69-x64-2](https://ci.adoptopenjdk.net/computer/build-digitalocean-centos69-x64-2/)
- [x] [build-linaro-centos76-armv8-2](https://ci.adoptopenjdk.net/computer/build-linaro-centos76-armv8-2) - was used to build it!)
- [ ] [build-marist-rhel77

[2020-02-06 18:46] sxa555 commented on #1508
Overall checklist:
- [x] Build gcc 7.5 on all Linux architectures
- [x] Put gcc7.5 tarballs in an accessible location
- [x] Modify build scripts to allow detection and use of gcc 7.5 [PR merged](https://github.com/AdoptOpenJDK/openjdk-build/pull/1527)
- [ ] Update the build machines
- [ ] Verify that the jobs work
- [ ] Stop builds from picking up the "older"  gcc 7 releases by accident
- [ ] Upda

[2020-02-06 19:10] cmaglie commented on #676
I've tested the following JREs using your SSLPoke example:

JRE  | arch | exact version | Builder  |  Working
------ | --- | -------- | --------- | ------------
1.8.0_232 (in IDE) | arm32 | 1.8.0_232-b09 | AdoptOpenJDK | NO
[1.8.0_232](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09/OpenJDK8U-jre_x64_linux_hotspot_8u232b09.tar.gz) | x64 | 1.8.0_232-b09 | AdoptOpenJ

[2020-02-06 19:20] cmaglie commented on #676
Sorry the previous message was not meant to be sent here, I sent it by error, my apologies.

Anyway, hope it may help to narrow down the issue.

[2020-02-07 09:57] M-Davies commented on #1523
Might be due to the version of the git on the machine? Im not sure what version we're running at adopt but my terminal (git `2.22.0`) has a slightly different looking help output on `git remote`
[code]

[2020-02-07 17:25] sxa555 commented on #1508
We appear to be getting failures as a result of this - this is from JDK8u OpenJ9:
[code]
I have backed out to GCC 7.3 on the x64 LInux boxes for now until this is understood.

[2020-02-07 19:02] pshipton commented on #1508
gcc 7.5 compiles at OpenJ9 were working 9 days ago. I don't think that OMR code has changed, so perhaps the Adopt gcc 7.5 environment is different from OpenJ9's. I'm retesting at OpenJ9 and if it works I will merge the change to move OpenJ9 to gcc 7.5 compiles.

[2020-02-07 21:17] pshipton commented on #1508
The builds at OpenJ9 are compiling with gcc 7.5 and I've merged the change.

[2020-02-07 21:45] pshipton commented on #1508
@vsebe fyi the above problem using gcc 7.5 at Adopt.

The OpenJ9 gcc 7.5 shows the following options enabled by default.
`gcc -Q -v test.c`
[code]

[2020-02-07 22:43] justinyunke opened #1531 "AdoptOpenJDK 8u242 JIT enabled aarch32 build missing (Raspberry Pi)"
Hi --

The current AdoptOpenJDK arm (aarch32) release for 8u232 is unusable on the Raspberry Pi, causing a CPU 100% issue similar to that documented here: https://github.com/AdoptOpenJDK/openjdk-build/issues/1287

The daily build (8u252 series) does not experience this issue.

Can we please see an 8u24x or fixed 8u23x release in your repositories soon?

-- Justin

[2020-02-08 13:54] pshipton commented on #1508
I had to revert OpenJ9 xlinux back to gcc 7.3 due to https://github.com/eclipse/openj9/issues/8534

[2020-02-10 01:43] karianna commented on #1525
@gdams - Probably introduced by the codesign patch - can you take a look?

[2020-02-10 02:02] karianna commented on #676
Argh, I deleted it by accident, can you link to the original message?

[2020-02-10 02:05] karianna commented on #1523
version of git has changed perhaps?

[2020-02-10 02:21] karianna commented on #1531
@gdams - did we miss this in the latest release?

[2020-02-10 08:31] cmaglie commented on #676
https://github.com/arduino/Arduino/issues/9719#issuecomment-583066985

[2020-02-10 09:14] adam-thorpe commented on #1523
@andrew-m-leonard was taking a look at this and an idea of a solution I believe. Problem was that the caches were cleaned and therefore the extensions repos needed to be downloaded again, and these machines have very old versions of git on them, which do not support `git remote set-branches`

[2020-02-10 09:46] gdams commented on #1525
oh right, so @keithc-ca we cannot currently use that codesign arg on jdk8 as `--options runtime` is only available on macOS 10.13+. Assuming that OpenJ9 JDK8 needs to be built on Xcode 4 (same as hotspot) we won't be able to use this logic just yet. The last step here is to get JDK8 to compile on a newer Xcode version.

[2020-02-10 09:47] adam-thorpe commented on #1523
@sxa555 updated the git versions on these machines

[2020-02-10 09:47] #1523 closed

[2020-02-10 09:53] adam-thorpe opened #1533 "Build Failures - 10 Feb 2020"
Huge list of build failures from https://ci.adoptopenjdk.net/ over the weekend so I'm collecting it all together here.

~~**1) Arch: linux-aarch64, linux-ppc64le, linux-s390x
Version: 11, 14, 15
Impl: Hotspot**~~
[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-hotspot/407/
-> gcc 7.5 changes

[2020-02-10 10:02] adam-thorpe commented on #1533
2) Arch: linux-aarch64 (XL)
Version: 11
Impl: Openj9
[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/74/

[2020-02-10 10:13] adam-thorpe commented on #1533
**3) Arch: windows-x64
Version: 11, 14
Impl: Openj9**
[code]

[2020-02-10 10:15] adam-thorpe commented on #1533
**4) Arch mac-x64
Version: 8
Impl: Openj9**
-> https://github.com/AdoptOpenJDK/openjdk-build/issues/1525

[2020-02-10 10:17] adam-thorpe commented on #1533
**5) Arch: windows-x64
Version: 8
Impl: Hotspot**
[code]
Looks intermittent

[2020-02-10 10:20] adam-thorpe commented on #1533
**6) Arch: windows-x86
Version: 8, 11
Impl: Hotspot*
Intermittent signing failures ->
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot/478/

[2020-02-10 11:11] sxa555 commented on #1531
@karianna We are still missing JDK8/HS/arm32 (subject of this issue), JDK8/HS/aarch64 (I've been managing the resolution to a broken mirror for that one) and JDK13/HS/AIX

[2020-02-10 11:12] sxa555 commented on #1531
We enabled the JIT on arm32/JDK8/HS and need to properly go through the contents of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1548 to ensure it's safe before looking to release that one.

[2020-02-10 18:13] keithc-ca commented on #1525
I was going to prepare a PR to disable code signing for Java 8, but I see @gdams beat me to it.

BTW, I tried to find documentation for `codesign` from older versions of Xcode but failed. Does anyone know where to find that information?

[2020-02-11 00:49] kdamevin opened #1537 "SIGSEGV happening randomly while running tests."
**Platform:**
Java VM: OpenJDK 64-Bit Server VM (11.0.4+11, mixed mode, tiered, compressed oops, g1 gc, linux-amd64)

**Architecture:**
linux-amd64

Hard to reproduce consistently unfortunately but we are seeing the following segmentation fault error popping up intermittently in our test suite.

[code]

[2020-02-11 01:16] justinyunke commented on #1531
Thanks for answering so quickly.  Please post to this issue thread if there's something I can do to help.  I have Pi Zero/Pi 2/Pi 3/Pi 4 platforms on which I can build/run tests.

[2020-02-11 09:19] #1525 closed

[2020-02-11 09:31] adam-thorpe commented on #1525
So does this mean jdk8 builds of openj9 are not code signed?

[2020-02-11 10:26] archanaNogriya opened #1549 "Adopt Nightly Build+platform and tests+platform pipelines scheduling for optimum executor"
**Vision:** How best optimize to run these pipelines when build and test machines are free, which makes a more efficient way to run these build pipelines. So if we can be more specific to the timeline we run the nightly builds.

**Action:**  We all need to agree to the right solution on this as a community.

**Findings from my Investigation:**
Each Pipeline is scheduled on a daily bases,
The confi

[2020-02-11 11:11] lumpfish opened #1538 "Windows sign_build jobs failing"
Windows builds are failing at the sign_build step with the following:
[code]
e.g see https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot/478/console

I don't have the authority to see the sign_build job output to analyse the problem further.

[2020-02-11 11:12] lumpfish commented on #1533
Raised https://github.com/AdoptOpenJDK/openjdk-build/issues/1538 for the sign_build job failures

[2020-02-11 11:12] sxa555 commented on #1538
I've rebooted the machine - there was a built zip file that had a lock on it and couldn't be removed, preventing workspace cleanup.

[2020-02-11 17:56] #1538 closed

[2020-02-11 18:59] addsomebass commented on #1130
Is there any progress or timeline for a Java 8 JRE built against 10.9 or later?  We still need to bundle with Java 8 due to RMI changes.

Any info would be appreciated.  If there are still significant hurdles, we can look into building it ourselves with this repo mentioned previously:
https://github.com/stooke/jdk8u-xcode10

However, if there will be a Java 8 JRE available within the next few days

[2020-02-11 20:54] #1468 closed

[2020-02-11 20:55] aahlenst commented on #1130
@addsomebass There is nothing imminent. And if I remember correctly, one of our team members played around with the patches you are linking to and the resulting binaries did not pass the test suite. So you‘d bundle a JDK with known defects.

[2020-02-11 21:11] gdams commented on #1130
@addsomebass I've been working with Apple to resolve the test failures mentioned by @aahlenst. I will reiterate that the patches in https://github.com/stooke/jdk8u-xcode10 are not production ready and have test failures.

My current goal is to have a notarized jdk8 binary ready by the end of the month.

[2020-02-11 21:15] addsomebass commented on #1130
Thank you for the update @gdams, I really appreciate your work on this.

[2020-02-12 03:11] karianna commented on #1537
@kdamevin Have you tried with 11.0.6?

[2020-02-12 03:14] karianna commented on #1531
Perhaps we could give @justinyunke an RC binary for him to test on his hardware?

[2020-02-12 12:36] hegGK opened #1541 "For .MSI: use $JAVA_HOME% in windows path"
Currently the msi installer sets the JAVA_HOME variable to the install directory and the full path to the bin directory in the windows path environment variable.

If it would use %JAVA_HOME%\bin in the path, it would be possible to switch Java versions just by switching the JAVA_HOME variable.

[2020-02-12 12:54] M-Davies commented on #1500
In order to avoid regenerating the jobs and causing conflicts during concurrent builds, @andrew-m-leonard has suggested moving [createJob()](https://github.com/AdoptOpenJDK/openjdk-build/blob/5e8e4b5b14e111837dca2a7c3a2c64c9f0aa236f/pipelines/build/common/build_base_file.groovy#L236) into a seperate jenkins job that is triggered if there are any changes to the job configurations. This way, all dow

[2020-02-12 14:55] gravelld commented on #1130
Thanks for everyone's work on this - although I still have a problem.

I'm using jpackage from the latest EA of JDK14 to build a .app file. The file has this structure:
[code]
The problem is, I can either:
- Build a notarized app, but it won't run, or
- Build a runnable app, but it won't notarize

To put one thing aside - [signing apps for Mac in jpackage is currently broken](https://bugs.openjdk.

[2020-02-12 15:49] dg76 commented on #1130
Hi!

I have managed to get it running with JDK 14, jpackage and by signing all dylibs and jars myself. Did you set these lines in your entitlements file?

<key>com.apple.security.cs.allow-jit</key>
<true/>
<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
<true/>
<key>com.apple.security.cs.disable-executable-page-protection</key>
<true/>
<key>com.apple.security.cs.disable-library-v

[2020-02-12 16:18] gravelld commented on #1130
Is that the entitlements for the runtime or for the app that bundles the runtime?

[2020-02-12 16:25] dg76 commented on #1130
I have used it for all codesign commands, e.g. for the dmg but also for all other files (dylib, jar, .app):

[code]

[2020-02-12 16:30] gravelld commented on #1130
@dg76 thanks - I'll try that. I haven't written any entitlements before now, but since Feb 3rd everything seems to have broken; maybe I was relying on default that used to be acceptable, but now aren't (obviously that applies to the hardened runtime and builds against old SDKs; which is why I am trying to adopt this build).

[2020-02-12 17:18] gravelld commented on #1130
That appears to work, thanks! So, to document my end solution:
[code]
All tests work:
[code]
Does it run?
[code]
Yes!

Does it notarize?
[code]
Hurrah!

Summary for those bundling a JRE:
- `jpackage` signing is broken right now, if you want to get something notarized
- You must sign your own code.
- You must re-sign the JRE. Use `-f` to force the signature.
- You must specify entitlements in all s

[2020-02-12 18:40] ijabz commented on #1130
Hi, can I just ask do we currently have a Mac build for Java 8 or Java 9 that allows it to be notarized according to the new rules or not ?

[2020-02-12 19:00] addsomebass commented on #1130
@ijabz if I'm understanding your question correctly, you want to bundle a jvm within an application, and then notarize that.  Currently, you can't.  The latest AdoptOpenJDK build is built with an older version of the Mac OS SDK and can't be repackaged and re-notarized.

If you just want to install java, the latest .pkg installers will work on OSX Catalina, and I can install and execute Java just f

[2020-02-12 19:17] ijabz commented on #1130
Yes correct, okay this will require code changes on my part but does the AdoptOpenJDK Java 11 build work ?

Or if I install Oracle builds will that work, I am currently using Oracle Java 8 on MacOS and that did work until Feb 3rd, is this what you mean by a .pkg build ?

I'm just looking for a solution that I can use now, Im very unclear on what the options currently are.

[2020-02-12 19:48] addsomebass commented on #1130
@ijabz Sorry I can't speak to Java 11 or later, as I have not worked with it personally.  Judging by the comments here it seems like there is a way to get a working bundle.  I can only speak to working with Java 8 builds.

The mac installer packages, or .pkg files, are installers for software.  Currently there are some .pkg installers available for AdoptOpenJDK builds that are notarized and will i

[2020-02-13 08:31] ijabz commented on #1130
I feel Im being dumb but I dont understand that on one side AdoptOpenJDk are working on a Java 8 build that is notarized but that wont be ready until end of the month, but conversely there is already an AdoptOpenJDk Java 8 installer that will already install a notarised version Java 8 ?

[2020-02-13 08:46] dg76 commented on #1130
@ijabz I think the reason is that if something has been notarized before February 3rd 2020, it is still valid and still works on macOS Catalina. However it wouldn't be possible to notarize it again now, because the rules are more strict now. So the AdoptOpenJDK Java 8 installer was probably just notarized before February 3rd and thus can still be used.

But you cannot package it any more because s

[2020-02-13 08:54] ijabz commented on #1130
Okay thankyou I understand better now.
One more thing whren yo refer to JDK 11.0.7 and JDK 14 I assume you mean AdoptOpenJDk builds, is the situation for AdoptOpenJDk builds the same as for the downloads available on the Oracle site ?

[2020-02-13 09:01] dg76 commented on #1130
Sorry, I don't know. I have tried it only with OpenJDK (not AdoptOpenJDK but a different distribution but I guess it is the same for all OpenJDK distributions). However because it seems to require changes in JDK 8 to make it compatible with XCode 10 and, as far as I know, Oracle makes the same changes in OpenJDK and their own distribution, I would think that their JDK 8 isn't hardened either (or o

[2020-02-13 10:22] ijabz commented on #1130
ok, thanks. I ask because Im not entirely sure what the advantage of using AdoptOpenJdk build is rather than just downloading from Oracle.

[2020-02-13 10:41] aahlenst commented on #1130
@ijabz Oracle JDK is only free to use for limited set of use cases (see [Oracle Java SE Licensing FAQ](https://www.oracle.com/technetwork/java/javase/overview/oracle-jdk-faqs.html)). [OpenJDK builds by Oracle](https://jdk.java.net) are available, too, and still free to use without restrictions, but the number of supported platforms and versions is significantly lower than what we offer here at Ado

[2020-02-13 10:57] johnoliver commented on #1500
@M-Davies I think I agree that 2 does sound cleaner, and if you feel that there is a way of structuring things that is less spaghetti feel free to propose it, I do agree that the current structure of this repo/build is not the most intuitive.

To clarify option 2 I think what you are getting at is just that you have a regenerate job, and that runs every time there is a commit in the build repo, th

[2020-02-13 11:01] ijabz commented on #1130
Right, and I see they only seems to offer the MacOS build for the latest builds now, okay thanks.

[2020-02-13 14:49] cathyzhyi opened #1544 "windows x64 and linux x64 openJ9 builds are missing from the nightly build download page"
there is macOS, linux ppc, linux s390 but no linux x64. https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9
**API Issues:** https://github.com/AdoptOpenJDK/openjdk-api
**Website Issues:** https://github.com/AdoptOpenJDK/openjdk-website

[2020-02-14 08:14] jagadeeswar725863 opened #1545 "A fatal error has been detected by the Java Runtime Environment - SIGSEGV"
Hello,

We have a Jama application running  as a docker container, but suddenly application crashed with below error. Could you please help possible root cause.
Memory utilization was fine but load average of the server quite went high.
Platform: Centos 7
Environment:
# JRE version: OpenJDK Runtime Environment (11.0.3+7) (build 11.0.3+7)
# Java VM: OpenJDK 64-Bit Server VM (11.0.3+7, mixed mode, t

[2020-02-14 09:29] aahlenst commented on #1545
Could you please check whether it still happens with 11.0.6 and, if so, test with an upstream build (https://adoptopenjdk.net/upstream.html?variant=openjdk11&jvmVariant=hotspot)?

[2020-02-14 10:13] jagadeeswar725863 commented on #1545
Sure will test it. Could you please let us know is it bug in the current version ? Is it so, is there any temporary fix for work around?

[2020-02-14 12:24] ceisserer opened #1546 "11.0.6-hotspot fails with EXCEPTION_ILLEGAL_INSTRUCTION in Win2008R2 in HyperV"
**Platform:**
Windows-2008R2 in HyperV Environment
Intel(R) Xeon(R) Gold 5115 CPU @ 2.40GHz

**Architecture:**
amd64

The current hotspot-based builds of AdoptOpenJDK (64-bit) don't work at all on Windows-2008R2 in a virtualized environment using HyperV. They immediatly abort with EXCEPTION_ILLEGAL_INSTRUCTION, even when only executing "java -version":
[hs_err_pid19752.log](https://github.com/Adop

[2020-02-14 13:23] aahlenst commented on #1545
I have no idea if the bug is in the current version. I'm merely asking triage questions so that we can determine if it's a problem with AdoptOpenJDK or if we have to report it to OpenJDK.

[2020-02-14 13:31] jerboaa commented on #1546
This looks like it's https://bugs.openjdk.java.net/browse/JDK-8238246

[2020-02-14 19:57] ThibautSF commented on #1496
Looks like to be the same with Korean characters

Reported by a user on my app, jlink build with jdk-11.0.6+10
![image](https://user-images.githubusercontent.com/9386581/74562581-70c0cd00-4f6b-11ea-8a78-6467c36c88c4.png)

The launch script in the picture
[code]

[2020-02-15 18:19] ceisserer commented on #1546
indeed it does, thank you for the pointer.

[2020-02-17 00:45] asbachb commented on #617
relates to https://bugs.openjdk.java.net/browse/JDK-8200132

[2020-02-17 10:22] M-Davies commented on #1500
Adding a method to the job helper that queries jenkins whether a pipeline job is in progress or queued up https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/27

This will be used in the regeneration job

[2020-02-17 11:25] M-Davies commented on #1500
^^ WIP PR for the config regeneration job

[2020-02-17 13:10] #1546 closed

[2020-02-17 13:11] jerboaa commented on #1546
Feel free to try EA builds of this week when they become available:
https://adoptopenjdk.net/upstream.html?variant=openjdk11&ga=ea

[2020-02-17 17:00] sxa555 commented on #1545
@jagadeeswar725863 Based on the version output you've given:
[code]
you don't appear to be using an AdoptOpenJDK build as ours should have `AdoptOpenJDK` in the version string.

[2020-02-17 17:01] sxa555 commented on #1545
(Transferring to support repository)

[2020-02-17 17:56] sxa555 commented on #1508
gcc 7.5 re-enabled after upgrading protobuf to 3.7.1 compiled with gcc 7.5 in order to  resolve:
[code]

[2020-02-17 17:56] #1508 closed

[2020-02-17 23:38] karianna commented on #1460
@otmanel31 - any further luck with this or shall I close?

[2020-02-17 23:43] karianna commented on #1323
@diegolovison Have you tried with 11.0.6 (both AdoptOpenJDK and the one at adoptopenjdk.net/upstream.html)

[2020-02-18 00:30] karianna commented on #1496
Can you try the 11.0.6 from adoptopenjdk.net/upstream.html

[2020-02-18 01:45] himawari-san commented on #1496
@karianna I got the same error.
Thanks for your support.

![openjdk_ss](https://user-images.githubusercontent.com/9511415/74696612-6e949200-523b-11ea-99cd-c6b5d8a2698a.png)

[2020-02-18 18:49] avermeer commented on #1544
Hello,

Windows x64 is also missing, can it be added?

Kind regards,
Alexandre

[2020-02-18 22:33] karianna commented on #1549
@sxa555 - Can this be closed now given the PR?

[2020-02-18 22:37] sxa555 commented on #1549
JDK11 ran tonight at the original time, therefore we should leave this open until verified

[2020-02-19 03:02] karianna commented on #1531
I'm following up on AdoptOpenJDK/openjdk-tests#1548 - I'm personally OK with releasing this since it seems to be more about intermittent hardware failures than anything else.

[2020-02-19 03:05] karianna commented on #1544
Last Linux x64 was on the 3rd of Feb.  Windows x64 was 31st of Jan

[2020-02-19 03:08] karianna commented on #1544
The builds are not in GitHub either post those dates, so it's pointing to a build issue.

[2020-02-19 03:11] karianna commented on #1544
I can see that the builds are nominally successful though - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9/472/consoleFull as an example from yesterday.

[2020-02-19 03:17] karianna commented on #1544
the release tool has failed several times due to known out of disk issues on master, but I wonder if some sort of semi-permanent bug has been introduced with all of those failures.

[2020-02-19 03:20] karianna commented on #1544
OK, I'm guessing there's a naming regex bug that's not being caught in sbin/Release.sh.  The documentation in the file refers to API v2 as well, so maybe there's a  realign to v3 that needs to happen.  Over to @gdams and @johnoliver

[2020-02-19 14:34] cohe opened #1554 "Unsupported optional start parameter "SurvivorRatio" makes all parameters being ignored"
**Platform:** Windows7 and Windows10

**Architecture:** 32bit and 64bit

When starting a complex webStart-Application via IcedTea and/or OpenWebStart,
all optional start parameters are ignored
if the option -XX:SurvivorRatio=6 exists.

Tested on systems mentioned above.
It has resulted in an out-of-memory situation since another parameter -Xmx was not applied.
Removing the option -XX:SurvivorRatio

[2020-02-20 10:00] M-Davies commented on #1450
https://github.com/AdoptOpenJDK/openjdk-build/issues/1450#issuecomment-569245197

Occurred again on `build-marist-rhel77-s390x-2`. [jdk14/s390x/HS](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14/job/jdk14-linux-s390x-hotspot) 19/02/2020

Count = 2

[2020-02-20 10:09] M-Davies commented on #1450
https://github.com/AdoptOpenJDK/openjdk-build/issues/1450#issuecomment-570629416

Occured again on [build-azure-win2008r2-x64-2](https://ci.adoptopenjdk.net/computer/build-azure-win2008r2-x64-2/). [jdk8/windows_x64/HS](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot) 20/02/2020

Count = 2

[2020-02-20 12:33] sxa555 commented on #1549
I think they're running an hour later than the times specified above, but that should be ok, so I'll close this issue

[2020-02-20 12:33] #1549 closed

[2020-02-20 13:23] pshipton opened #1556 "Java Crypto APIs fails on Windows machines without the "Microsoft Visual C++ 2013 Redistributable""
Originally opened as https://github.com/eclipse/openj9/issues/8618

**Platform:**
Windows

**Architecture:**
amd64-64-Bit

Please describe the issue that you are having with our binaries and if possible how to recreate it.

When installing AdoptOpenJDK 11 with OpenJ9 on a Windows machine having no "Microsoft Visual C++ 2013 Redistributable" installed, Java applications relying on Java Cryptographi

[2020-02-20 14:31] sxa555 commented on #1556
Would this have an adverse effect on OpenJ9 JDK8 which is still built at AdoptOpenJDK with Visual Studio 2010 I believe (Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/588/consoleFull)

[2020-02-20 14:59] pshipton commented on #1556
Best to have two versions I think. One for JDK8 built using the older VS, and one for JDK11+.

[2020-02-20 15:14] M-Davies commented on #1500
Current stage:
- WIP PR: https://github.com/AdoptOpenJDK/openjdk-build/pull/1547
- 2 Jenkins helper PR's to assist the PR above
  - ~`jobIsRunning()`https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/27~ MERGED
  - `getJobFolder()` https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/29
- Working with @andrew-m-leonard to get a test job on jenkins up and running using the code from

[2020-02-20 17:02] lumpfish commented on #1544
May be related to https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/117 ?

[2020-02-21 01:00] jmsnavarro opened #1557 "Resource temporarily unavailable"
When running `sudo apt update`, it shows the following:

[code]

I am using Ubuntu over WSL 1

[code]

[2020-02-21 06:22] karianna commented on #1557
@jmsnavarro - I think it's back up, can you try again?

[2020-02-21 13:14] sxa opened #1559 "Improve Capacity usage on AIX boxes"
Ref https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1151

We resolved this resource limit problem by reducing the amount of RAM which the builds script uses for it's calculation. This isn't ideal, and I suspect a preferable solution would be to make use of the `NUM_JOBS` variable to cap the number of things that can be run in parallel, as this can be controlled more effectively on a

[2020-02-21 20:21] zuismanm opened #1561 "JDK 11 glibc minimal version requirements"
Hi.
At wicki of open JDK 11 I have found only requirement for minimal OS version (for example RH 7.4 s390).
As much as I understands - in general those are versions of build machines of AdoptOpenJDK  project. But I do not see in any place list of packages, on which JDK depends, and their versions. For exaple - for sure glibc runtime have to be installed. But what is minimal version? It depends on

[2020-02-24 10:09] archanaNogriya commented on #1549
Thanks @sxa555  and everyone.

[2020-02-24 20:25] krmi opened #1562 "Wrong Property 'openjdk_impl' for os=linux and architecture=aarch64"
**API Issues:** https://github.com/AdoptOpenJDK/openjdk-api
**Website Issues:** https://github.com/AdoptOpenJDK/openjdk-website
Calling the release url https://api.adoptopenjdk.net/v2/info/releases/openjdk8?os=linux&arch=aarch64
i've got 2 entries where openjdk_impl not in ('hotspot','openj9').
[code]

[2020-02-25 18:28] Austcool-Walker commented on #986
https://gitlab.com/Austcool-Walker/ajwsubuntu/-/raw/master/ubuntu/pool/main/a/adoptopenjdk-8-hotspot/adoptopenjdk-8-hotspot_8u252-b03-1_i386.deb I build an unofficial package just to demo its possible using qemu/kvm lubuntu.

[2020-02-25 18:30] Austcool-Walker commented on #986
simply requires an x86 virtual machine or host or docker and installing the needed i386 build dependencies.

[2020-02-25 18:31] sxa555 commented on #1562
. o  O (That's odd)

[2020-02-25 18:54] sxa555 commented on #1531
Currently awaiting advice from @johnoliver on the mirroring since I can't build the JIT-enabled version at the correct level from our mirror of the source repository. If we can't get this resolved soon I might just release a non-JIT version again :'(

[2020-02-25 19:07] sxa555 opened #1564 "Pipeline status is meaningless"
Pipeline statuses at https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk15-pipeline/ currently showing green despite all but one of the [jobs under it](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/) failing.

(I've got [a fix in for the current issue](https://github.com/AdoptOpenJDK/openjdk-build/pull/1563) as to why they're failing, but we really ought to propagate the sta

[2020-02-25 19:38] jerboaa commented on #1562
Looks like an API v2 specific issue (which is being phased out):

API v3 looks alright:

[code]

[2020-02-25 19:42] sxa555 commented on #1562
@krmi Are you able to migrate to the V3 API? https://api.adoptopenjdk.net/swagger-ui/ has the current info on how to use it

[2020-02-25 21:46] avermeer commented on #1544
Still no new AdoptOpenJDK OpenJ9 nightly build available since 7th of Feb, what's happening?

[2020-02-25 23:22] krmi commented on #1562
ok. thanks. I will throw away my hand crafted code and migrare to V3 API.

[2020-02-25 23:22] #1562 closed

[2020-02-26 00:06] smlambert commented on #1564
Is that what [propagateFailures](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/build_base_file.groovy#L410) boolean does?

[2020-02-26 10:35] jerboaa commented on #1564
+1 to this. As long as the publishing of successful artifacts step still works if some part of the pipeline fails I'm fine with propagating the failure.

[2020-02-26 11:08] sxa555 commented on #1564
@adam-thorpe Can you look into a fix for this?

[2020-02-26 11:09] sxa555 commented on #1564
That is my assumption - @gdams' 1371 is rather description-lite ...

[2020-02-26 13:24] adam-thorpe commented on #1564
I'm confused, what's the problem with the current system here? The pipeline view will show green if it manages to publish any artifacts (even if there are failing child builds), but red if something else went wrong like the publish job or some other logic in the actual pipeline

[2020-02-26 13:56] ed0906 opened #1570 "JDK 12.0.2.10 UnsatisfiedLinkError"
**Platform:**
Macbook Pro: Catalina 10.15.3
Java version:

[code]

**Architecture:**
Spring Boot application using Kafka Streams (which uses Rocksdb)

**Issue**
[code]

I can confirm this is an issue with JDK build `12.0.2+10`.
When I downgrade to  `12.0.1+12` the issue no longer appears.

[2020-02-26 14:19] sxa555 commented on #1564
I think the top level pipeline should give some indication as to whether the builds succeeded or not.

[2020-02-26 14:27] adam-thorpe commented on #1564
Perhaps the unstable state if one or more builds have failed? Would that conflict with other Jenkins configurations?

[2020-02-26 14:48] sxa555 commented on #1564
That would be good if it can be done

[2020-02-26 15:01] adam-thorpe commented on #1564
I'll have a look into it, any other suggestions would be appreciated :)

[2020-02-26 16:59] adam-thorpe commented on #1564
Hi @smlambert, how does the testing infrastructure set a test run to `UNSTABLE` if one or more test suites fail? Does it manually set the job to `UNSTABLE` or use the propagate value to automatically detect it? If you could point me in the general direction that would be great. My main concern is if I set the end result to `UNSTABLE`, would it kill all of the child jobs immediately, or continue an

[2020-02-26 17:04] adam-thorpe commented on #1564
Also for anyone else following along, the `propogateFailures` variable is a boolean value that can be set in the pipeline configurations. From the looks of it here: https://github.com/AdoptOpenJDK/openjdk-build/blob/f55f08cc50451f6ea7477d0102859624ca972cf2/pipelines/build/common/build_base_file.groovy#L375 setting the value causes the entire pipeline to fail if one child job (ie. a build) fails. I

[2020-02-26 17:06] sxa555 commented on #1544
@avermeer Apologies from the project for the delay in this. Until we get a response from the two people assigned to this, you can obtain the nightlies directly from our github repository at https://github.com/AdoptOpenJDK/openjdk11-binaries/releases - the API appears not to be picking them all up properly from there at present for some reason

[2020-02-26 18:09] AdamBrousseau commented on #1564
You can store the return of a downstream `build` and then take action based on it's result.
There's some good info in the top 2 responses here
https://stackoverflow.com/questions/38713865/jenkins-pipeline-fails-if-step-is-unstable
We do this at OpenJ9 for our pipelines so the parent status matches the result of the worst child.
This is closely related to AdoptOpenJDK/openjdk-tests#1651.

[2020-02-27 00:20] smlambert commented on #1564
In my opinion the default jenkins behaviour of marking parent as failed if any child has a non-zero status result is perfectly sufficient, given it merely needs to indicate that action needs to happen.  Writing extra pipeline code to give the parent a nuanced state does not actually change what action has to happen next.  Setting propagateFailures to true achieves the goal of 'not blindly publishi

[2020-02-27 11:59] adam-thorpe commented on #1564
Would we want to not publish a set of nightly binaries if only a single one of them fails? I would say that currently, 9/10 times a pipeline runs there will be at least one failing build. Here's the latest list:  https://ci.adoptopenjdk.net/view/Failing%20Builds/

So we would almost never publish any binaries. Sure, if this was enforced it would encourage a stricter infrastructure but I don't thin

[2020-02-27 14:32] #1533 closed

[2020-02-27 15:00] pshipton commented on #1544
Apparently it's fixed now? The latest nightly are available from https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2020-02-27 15:01] YaSuenag commented on #1496
I think it is a bug in upstream. I confirmed this issue on current jdk/jdk source. It would occur on any path which contains CJK character(s).

I can fix it with the patch as below, so I want to send review request for hotspot-runtime-dev in OpenJDK. Have you ever worked for it to OpenJDK community? If not so, I will file it to JBS.

[code]

[2020-02-27 15:04] avermeer commented on #1544
yes, outstanding, i'll check this ASAP !

[2020-02-27 15:23] himawari-san commented on #1496
@YaSuenag No, I haven't. I appreciated your help.

[2020-02-27 16:28] smlambert opened #1572 "Corretto builds should fire off test pipelines named by variant"
In order to easily differentiate test results against Corretto builds versus AdoptOpenJDK hotspot builds, we should auto-gen test pipelines with a different variant name.

https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L77

if (buildConfig.VARIANT == "corretto") {
            variant = "corretto"
} ...

[2020-02-27 23:50] pierucci18 commented on #1130
@gdams, do you still expect to have a notarized jdk8 binary ready by the end of the month? Also, would that include the J9 JVM?

[2020-02-28 01:56] YaSuenag commented on #1496
I reported this issue to JBS, and sent review request to hotspot-runtime-dev.

https://bugs.openjdk.java.net/browse/JDK-8240197
https://mail.openjdk.java.net/pipermail/hotspot-runtime-dev/2020-February/038330.html

[2020-02-28 10:52] #1544 closed

[2020-02-28 11:13] johnoliver commented on #1564
May want to look at

https://issues.jenkins-ci.org/browse/JENKINS-45579
https://jenkins.io/blog/2019/07/05/jenkins-pipeline-stage-result-visualization-improvements/

Although it does say on this the Pipeline Stage view plugin has not been updated so it is blue ocean only.

[2020-03-02 11:42] Willsparker opened #1576 "Add RISC-V support in the build scripts / nightly pipelines"
Requested by @sxa555

ref: https://github.com/eclipse/openj9/issues/7421 https://github.com/AdoptOpenJDK/TKG/pull/42
https://ci.adoptopenjdk.net/job/jdk11-linux-riscv-openj9-build/

[2020-03-02 12:24] lumpfish opened #1578 "Nightly builds jdk8u-2020-12-30-13-36 named incorrectly"
**Platform:**
All
**Architecture:**
All

Presumably these binaries were named and tagged incorrectly (https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u-2020-12-30-13-36).

The text associated with the release says "adoptopenjdk-github-bot released this on Dec 30, 2019" (not 2020).

[2020-03-02 14:50] sundarms opened #1579 "JVM Crashes on GCTaskThread "ParGC Thread#21""
**Platform:**
Linux

**Architecture:**
 2.6.32-754.10.1.el6.20190116.16.x86_64 #1 SMP Wed Jan 16 21:27:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Please describe the issue that you are having with our binaries and if possible how to recreate it.
Seeing random crashes on GC thread (using Parallel GC)

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00

[2020-03-02 19:38] RobGries commented on #468
Where can I find headless builds of OpenJDK8 for Linux aarch64?
The currently available builds seem to be not headless and have dependencies for xorg.

[2020-03-03 13:49] sxa555 commented on #1578
It's this: https://github.com/AdoptOpenJDK/openjdk-build/pull/1459
I thought I'd manually deleted the affected nightlies but apparently not - I'll go on a clear-up ...

[2020-03-03 14:08] sxa555 commented on #1238
@teliapp Can you verify whether the nighly JDK11 builds are now ok?
https://adoptopenjdk.net/nightly.html?variant=openjdk11

[2020-03-03 14:10] sxa555 commented on #1233
Question on ETA was asked today in slack: https://adoptopenjdk.slack.com/archives/C09NLQQAV/p1583182831069800

[2020-03-03 14:11] sxa555 commented on #1241
@MoxxiManagarm can you verify whether the latest nightly JDK11 builds resolve this please?
https://adoptopenjdk.net/nightly.html?variant=openjdk11

[2020-03-03 14:15] sxa555 commented on #1214
@lumpfish Can you verify whether the latest JDK11 nightly builds do not have this problem?

[2020-03-03 14:17] sxa555 commented on #1202
@karianna @d3r3kk Ref last comment - is anyone looking at this? I need to know whether this should be targetted for March or put in the icebox

[2020-03-03 14:23] sxa555 commented on #1271
@karianna What's your view on this? In general we build with whatever the versions on any given distribution have as latest - do you believe the need to be locked down further than that (thus potentially using insecure versions) - I'm not sure why we explicitly want that enforcement in the dockerfiles though

[2020-03-03 14:26] sxa555 commented on #1291
Need to verify if this has made it into our builds

[2020-03-03 14:28] shipilev commented on #1291
It is in upstream `13.0.2` and `14`, so it should be in your builds.

[2020-03-03 14:32] sxa555 commented on #1387
@lumpfish Did we have any discussions on what the values of this should be?

[2020-03-03 14:34] sxa555 commented on #1415
@galderz I presume this can be now closed with your PR being in - If you disagree feel free to repoen this :-)

[2020-03-03 14:34] #1415 closed

[2020-03-03 14:37] sxa555 commented on #1454
Was fixed by the PR above a couple of months ago, therefore closing

[2020-03-03 14:37] #1454 closed

[2020-03-03 14:40] sxa555 commented on #1044
Docker build jobs also appear machine-specific

[2020-03-03 14:50] sxa555 commented on #1223
The alternate question is whether they need to be retained on the CI for so long

[2020-03-03 14:52] sxa555 commented on #1578
Have cleared that one - @lumpfish did you say you'd seen any others? Not too easy to find them

[2020-03-03 15:19] sxa555 opened #1580 "build scripts "leaking" files in /tmp (public_key.gpg)"
These are being left around on build machines which prevents other users from running build jobs on the machine as it can't write to that file. We should either ensure they are removed immediately afterwards, or give it a unique name for each run.

Seen while validating the RISC-V builds as part of #1576 as we were validating the work as a different user ID on the build machines

[2020-03-03 16:15] lumpfish commented on #1578
There are some suspect entries in this view: https://github.com/AdoptOpenJDK/openjdk11-binaries/tags

[2020-03-03 17:07] sxa555 commented on #1291
Thanks - seems reasonable that it should be in all of ours now, so I'll close

[2020-03-03 17:07] #1291 closed

[2020-03-03 18:46] sxa555 commented on #1578
Done - hadn't considered tags :-)

[2020-03-03 18:46] #1578 closed

[2020-03-03 19:04] sxa opened #1581 "Update RELEASING.md with steps to create a new major java release"
Should include:
- Repository creation
- Updates to mirroring jobs
- Updates to build jobs and pipelines
- Updates to make builds (nightly/release) available on web site

Assigning to George and Severin as they managed this for JDK14/15  so have the most up-to-date knowledge.

[2020-03-03 19:05] sxa555 opened #1582 "Clear up the wiki in this repository"
There are quite a few pages which look like they may be obsolete or otherwise do with an overhaul. Some of them can probably be moved into the new build FAQ #1457 - but we should revisit it all.

[2020-03-03 19:09] teliapp commented on #1238
I can confirm the nightly build (2020-03-03 hotspot macOS x64 jdk) fixes my issue when tested on a macbook air running  osx 10.10.5

Thanks for the update

[2020-03-03 19:13] #1238 closed

[2020-03-03 20:01] sxa555 opened #1583 "Update RELEASING.md with information/jobs relevant to docker uploads"
Part of doing a new OpenJDK release is ensuring that the docker repositories get the latest code. The RELEASING guide should contain information on  what to do to ensure the release makes it through to the appropriate places on dockerhub

[2020-03-04 16:40] andrew-m-leonard opened #1584 "Latest Hotspot builds determing wrong jdk build tag"
**Platform:** All

**Architecture:** All

Hotspot builds at the moment are determing the “wrong” tag for the jdk level the code is actually at jdk-11.0.7+5, but the build logic thinks it is jdk-11.0.7+2 ….
The issue I think is caused by the combination of the branch history and tagging and I think the fact the build machines do a shallow clone… The logic to find latest tag using rev-list --topo-or

[2020-03-04 16:42] andrew-m-leonard commented on #1584
The logic can also only reliably be done on a full clone, so you can work out which tags are on which branches...

[2020-03-04 16:51] andrew-m-leonard opened #1585 "https://github.com/AdoptOpenJDK/openjdk-jdk14 JDK14 mirror out of date"
Is looks as though the https://github.com/AdoptOpenJDK/openjdk-jdk14
JDK14 mirror is only at build level jdk-14+34, whereas OpenJDK is at jdk-14+36...

[2020-03-04 17:04] sxa555 commented on #1585
Looks like https://github.com/AdoptOpenJDK/openjdk-build/pull/1483 was merged but nothing put in place to run it :'(

[2020-03-04 18:16] sxa555 opened #1586 "New enable-dtrace options causes AIX builds to fail"
Ref: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/508/console
[code]
Apparently the new version of the option (required by JDK15) is not the same as the old `auto` option so https://github.com/AdoptOpenJDK/openjdk-build/pull/1563 has likely been the cause of this. We should switch to enabling this in the `platform-specific-conf

[2020-03-04 18:41] andrew-m-leonard opened #1587 "Amazon Corretto jdk8 & 11 builds not building"
Corretto build have not been working for quite some time, and have not run on jdk11 before.
We need to update the Adopt build to support these vendor builds.
Suggested related vendor properties:
[code]

[2020-03-05 08:39] peslys commented on #1130
Can you try BellSoft JDK8 distribution (https://bell-sw.com/pages/java-8u242/). I replaced AdoptOpenJDK J8 with BellSoft J8, get rid off ``"The binary uses an SDK older than the 10.9 SDK."`` and finaly got notarized.

Looks like BellSoft J8 is already notarized ready.

[2020-03-05 13:22] sxa555 commented on #1531
In the absence of an alternative solution being  forthcoming I have reverted the build jobs back to using the main JDK8u repository and will attempt to push out an 8u242 without a JIT (Consistent with previous releases) ASAP

[2020-03-05 14:51] M-Davies commented on #1500
Current stage:

- Test job is running at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/morgan_pipeline_generator/ using the master file https://github.com/M-Davies/openjdk-build/blob/concurrent_test/pipelines/build/regeneration_pipeline.groovy as a starting point.
- The aim of it is to have all possible job dsl configurations generated using this job and removing the old `createJob()`

[2020-03-05 15:46] #1572 closed

[2020-03-05 22:14] d3r3kk commented on #1202
Let's target March. I have a PR ready to go and can dedicate some time to it then.

[2020-03-06 08:19] iRobertas commented on #1130
As I understand, BellSoft JDK is not free..

[2020-03-06 08:37] peslys commented on #1130
The GNU General Public License (GPL) with "CLASSPATH" EXCEPTION TO THE GPL
for Regular Liberica Java SE 8u242 JDK or JRE the same license as OpenJDK.

They offer commercial support if you need.

[2020-03-06 08:54] iRobertas commented on #1130
Thanks for clarification !

[2020-03-06 09:54] karianna commented on #1586
@M-Davies - Is this something to add to your PR here?

[2020-03-06 10:18] M-Davies opened #1591 "Freemarker is now out of date"
**Platform:**
generic-all

**Architecture:**
generic-all

We are currently building with Freemarker Version` 2.3.29`, which has recently been removed from the Apache Mirror https://www.mirrorservice.org/sites/ftp.apache.org/freemarker/engine/

We should update our build scripts to try to download freemarker 2.3.30 which does exist on the mirror

[2020-03-06 10:25] #1591 closed

[2020-03-06 11:06] karianna commented on #1561
See https://adoptopenjdk.net/supported_platforms.html

[2020-03-06 11:07] #1561 closed

[2020-03-06 11:57] sxa555 opened #1593 "openjdk-build-pr-tester can't handle JDK14/15 properly"
Well it might be able to handle 15/HEAD properly but it definately can't handle 14 as it comes back with this. We need this working to be able to validate stuff on the current release lines

[code]

[2020-03-06 14:20] #1586 closed

[2020-03-06 14:23] MariusVolkhart commented on #1506
@patric42 I came here wanting the same. See https://github.com/eclipse/openj9/issues/8773

[2020-03-06 14:27] #1496 closed

[2020-03-07 08:02] himawari-san commented on #1496
@YaSuenag thank you for your contribution!
http://mail.openjdk.java.net/pipermail/hotspot-runtime-dev/2020-March/038397.html

[2020-03-09 12:52] smlambert opened #1674 "Triage corretto jdk8u/jdk11u xlinux sanity.openjdk test failures"
Corretto has its own test pipelines now, see the top-level targets that are launched at the end of these build pipelines:

------

jdk11u:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-corretto/27/console

sanity.system : passes
extended.system : passes
sanity.perf (running as functional tests) : passes
sanity.openjdk : [10 test cases](https://ci.adoptopenj

[2020-03-09 17:01] dcboy95 commented on #1130
I was able to follow your steps however I have a library and even with
`<key>com.apple.security.cs.disable-library-validation</key>
        <true/>`

I get this error:
`Exception in thread "JavaFX Application Thread" java.lang.UnsatisfiedLinkError: /private/var/folders/0f/trlp6tp95qjbzm99ds8pt8zm0000gp/T/JxBrowser/7.5/libbrowsercore_toolkit.dylib: dlopen(/private/var/folders/0f/trlp6tp95qjbzm99ds8

[2020-03-09 17:14] adamulrich commented on #1130
The most frustrating part of the notarization process is that I've had to plumb this release process into my CI/CD pipeline. I wish apple would supply a test endpoint. I don't need it notarized, I just need to know if it is notarizable. Granted the difference is small, but a couple things make it uncomfortable.
1. If I consume an update to a 3rd party, I need an intake process that validates that

[2020-03-09 18:28] keithc-ca opened #1596 "Builds should archive debugimage archives"
OpenJ9 builds also produce `build/.../images/debug-image` containing debug information relating to native code. That folder contains platform-specific (`.debuginfo`, `.pdb`, `.dSYM` or `.diz`) files in locations that relate to the corresponding executable or shared library in a jdk.

Copying the `debug-image` folder over top of the jdk makes symbols available to greatly ease the task of debugging

[2020-03-09 23:25] pshipton commented on #1596
JDK8 should also be configured with the `--disable-zip-debug-info` option so the debug image contains .debuginfo and .pdb files instead of .diz files which the user (developer) would have to unzip before they can be used with a debugger.
https://github.com/eclipse/openj9/pull/8808/

[2020-03-10 11:42] sxa555 commented on #1584
Not sure if @andrew-m-leonard or anyone else did anything specifically to address this but the builds now appear to be coming out with the correct level, therefore closing - if there is still work to do feel free to reopen

[2020-03-10 11:42] #1584 closed

[2020-03-10 11:44] johnoliver commented on #1564
Partial support is supposedly in the Pipeline Stage view plugin
https://issues.jenkins-ci.org/browse/JENKINS-58783

[2020-03-10 13:14] Willsparker commented on #1580
Could an alternative of this be that we store this within the workspace?

[2020-03-10 13:41] YaSuenag commented on #1496
I fixed this issue in [jdk/jdk](https://bugs.openjdk.java.net/browse/JDK-8240197), and also backported to [jdk/jdk11u-dev](https://bugs.openjdk.java.net/browse/JDK-8240823). It will be shipped in 11.0.8 . I guess you can use AdoptOpenJDK 11 on CJK path since 11.0.8 .

[2020-03-11 12:21] M-Davies commented on #1500
This is near to being completed. Just need to sort out how to pass the [parameters](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/786/parameters/) into the [IndivdualBuildConfig](https://github.com/M-Davies/openjdk-build/blob/266e07875f433e0dcf8002b46c6b5e812b706569/pipelines/build/common/config_regeneration.groovy#L102) for each job. Otherwise we would just end up with a st

[2020-03-11 13:51] lumpfish opened #1600 "jdk14 builds are missing jre packages"
I'm told that JDK14 needs adding to the IF statements:
https://github.com/AdoptOpenJDK/openjdk-build/blob/01f365ec6a222dc6c30fe4452f80b1fbc4484ae7/configureBuild.sh#L211
https://github.com/AdoptOpenJDK/openjdk-build/blob/01f365ec6a222dc6c30fe4452f80b1fbc4484ae7/configureBuild.sh#L283

[2020-03-11 15:08] #1580 closed

[2020-03-12 11:46] lumpfish commented on #1600
Fixed by #1601

[2020-03-12 11:46] #1600 closed

[2020-03-13 13:59] karianna commented on #1585
Jenkins job now setup https://ci.adoptopenjdk.net/job/git-hg/job/jdk14-repo-sync/

[2020-03-13 13:59] #1585 closed

[2020-03-13 14:11] karianna commented on #1593
Fixed via #1603 1603

[2020-03-13 14:11] #1593 closed

[2020-03-13 15:01] sxa555 commented on #1531
We've released 8u242 but without a JIT again as we can't easily build the GA level with JIT support unfortunately.

[2020-03-14 10:27] aaronjhoffman commented on #1083
@johnoliver What did you do to fix this? I'm having the same exact issue.

[2020-03-14 11:44] AdamBrousseau commented on #1083
This error appears in the console logs for the jobs if
 Jenkins master has been restarted during the build. So the answer really depends on why your master is being restarted.

[2020-03-15 20:09] #1417 closed

[2020-03-15 20:37] karianna commented on #1271
My view is that we should be building with stable versions of libs (repeatable builds) but updating aggressively in the case of CVEs.  That is I'd expect we should be able to roll out docker images more often than the quarterly Java CPU should we find an underlying base CVE.

[2020-03-15 20:39] karianna commented on #1223
We've increased disk space and @johnoliver is exploring S3 and Azure Storage and Artifactory storage options.

[2020-03-15 20:55] #1506 closed

[2020-03-16 09:06] psoujany commented on #980
I've raised a PR to remove demo folder.
https://github.com/AdoptOpenJDK/openjdk-build/pull/1605

[2020-03-16 16:33] M-Davies opened #1607 "strip-debug & only-keep-debug not found on aarch64"
**Platform:**
linux

**Architecture:**
aarch_64 & aarch_64_xl

Ref https://github.com/AdoptOpenJDK/openjdk-tests/issues/1680
Commands `only-keep-debug` and `strip-debug` are not found when building jdk11/j9/aarch64

[code]

[2020-03-16 20:08] pshipton commented on #1596
FYI https://github.com/eclipse/openj9/issues/8874. The OpenJ9 project is going to include the debug-image into the testimage archive, to reduce the number of different files that need to be specified and expanded when running the tests. We are looking at modifying the test scripting to recognize the presence of the debug-image and copy/move the files to the correct place in the JVM build so they a

[2020-03-16 20:09] pshipton commented on #1596
@keithc-ca what would it take to have a Hotspot build create a debug-image as well?

[2020-03-16 20:41] keithc-ca commented on #1596
I expect the additions for OpenJ9 would also work for hotspot. We introduced a new main target ([1]) which invokes a new makefile ([2]). The changes are similar, but not identical, in other versions.

[1] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/custom/Main.gmk#L72-L75
[2] https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/openj9/closed/DebugImage.gmk

[2020-03-17 02:41] Eskibear opened #1610 "inconsistent format of version string"
The context is, we parse output of `java -version` to determine the version of Java.

Now we have an issue reported by @RohanIRathi in https://github.com/microsoft/vscode-java-pack/issues/309#issuecomment-599455779
When executing `java -version`, the output was:
[code]
Note that in the first line, `11.0.6` was not quoted, and there was no "version" (literally) before it.

To make it clear, you can

[2020-03-17 13:38] keithc-ca commented on #1607
This should be addressed by https://github.com/eclipse/openj9/pull/8813 and, for the 0.20.0 release by https://github.com/eclipse/openj9/pull/8851.

[2020-03-17 21:00] dcboy95 commented on #1130
Is anyone else running into the issue I am having @gravelld @dg76 I have tried creating an entitlement but that doesn't seem to disable library validation

[2020-03-18 07:38] gravelld commented on #1130
@dcboy95 I'm sorry - I don't know how particular entitlements work with respect to coverage over the entire bundle. I found, with the code signing, I had to resign the entire library I shipped with, so maybe that means the entire codebase you ship with also has to have the entitlement? Sorry.

[2020-03-18 07:48] dg76 commented on #1130
@dcboy95 I would think that you just have to resign the file "libbrowsercore_toolkit.dylib" using codesign and your own certificate. (I thought I had already posted this suggestion here but I cannot find any response from me.) The error just seems to indicate that the library has a different signature than the rest of the application. And I think everything has to have the same signature to ensure

[2020-03-18 11:10] sxa555 commented on #1607
I'm not seeing a jdk14/j9/aarch64 bulid job at adoptopenjdk - where was that from?

[2020-03-18 11:20] M-Davies commented on #1607
Ah my apologies. That was supposed to be JDK11 😅

[2020-03-18 11:29] sxa555 commented on #1607
Builds 237 and later seem ok so i'm going to close this

[2020-03-18 11:29] #1607 closed

[2020-03-18 14:40] sxa555 commented on #1596
@johnoliver Can you take a look at this please - the OpenJ9 team want it available for the April release

[2020-03-18 14:49] dcboy95 commented on #1130
@dg76 Unfortunately that didn't work. With the third party library it reinstalls itself if there is a different version. So when I codesign that file, it sees it as a old file and downloads a new one, replacing the modified one. Resulting in the same error. I thought the entitlement `com.apple.security.cs.disable-library-validation` would fix this issue however it doesn't seem to.

[2020-03-18 15:00] sxa555 commented on #1271
That would like require us to keep quite a close eye on which packages have vulnerabilities and manually update each of those as and when required. I'm not sure that's something we realistically have the resources to take on for all the distributions we support ... On that basis I'd find it hard to recommend I would personally be more willing to "trust" the distribution's update policy in that res

[2020-03-18 15:53] dg76 commented on #1130
@dcboy95 I think this won't work. I think the purpose of Apple's notarization system is to ensure that the developer has confirmed that all parts of his app have been tested and are fine. Loading parts from other developers during runtime, which have not been tested and confirmed by the developer, are probably not allowed. Can't you just disable the automatic download function?

[2020-03-18 15:57] karianna commented on #1596
@keithc-ca - is https://github.com/AdoptOpenJDK/openjdk-build/pull/1597 the PR that resolves this (in part?)

[2020-03-18 16:04] keithc-ca commented on #1596
Yes, that's the expectation.

[2020-03-18 16:15] sxa555 commented on #1596
@karianna We'll also need API/website updates to fulfil the other parts of this

[2020-03-18 16:29] dcboy95 commented on #1130
@dg76 Thanks for the information, I will have to research their documentation to see if this is a possibility. Thanks again

[2020-03-18 17:25] aahlenst commented on #1130
[AdoptOpenJDK 14+36](https://adoptopenjdk.net/releases.html?variant=openjdk14&jvmVariant=hotspot) is out which is fully notarized. Please report back in case of troubles.

[2020-03-18 17:49] #980 closed

[2020-03-18 19:26] lumpfish opened #1613 "Update RELEASING.md with details of build script updates"
The openj9 jdk14 release file names were incorrect because changes needed to be made to various build scripts to change the download file name prefix from OpenJDK14 to OpenJDK14U.

This requirement is not mentioned in the RELEASING.md file.

The document should include details of which build scripts to be changed for the release engineer to either implement or check.

[2020-03-19 02:11] mpirvu opened #1614 "Configure OpenJ9 plinux builds for jdk8 jdk11 with --enable-jitserver"
Please configure OpenJ9 plinux builds for jdk8 and jdk11 with --enable-jitserver
This includes both the head stream and the April (OpenJ9 0.20.0) release.

eclipse/openj9#8426

[2020-03-19 02:14] mpirvu commented on #1614
Note: to avoid issues related to protobuf library installation it's better to wait until PR https://github.com/eclipse/openj9/pull/8832 is delivered (which should happen soon)

[2020-03-19 08:59] lordmulder opened #1616 "AdoptOpenJDK v14 – for *32-Bit* Windows"
Hello,

can we please have 32-Bit (x86) builds of AdoptOpenJDK v14?

(we still need it, because some customers may still use a 32-Bit version of Windows)

_Azul has it, by the way:_
https://www.azul.com/downloads/zulu-community/?version=java-14&os=windows&architecture=x86-32-bit&package=jdk

Thank you and best regards
MuldeR

[2020-03-19 12:02] sxa555 commented on #1616
We've added support for it (and 32-bit Linux/ARM) https://github.com/AdoptOpenJDK/openjdk-build/pull/1612 but have not yet done a release based on it

[2020-03-19 12:05] lordmulder commented on #1616
What about 32-Bit Windows? Can we expect 32-Bit builds of OpenJDK v14 for Windows?

Thank you and best regards
MuldeR

[2020-03-19 12:16] lordmulder commented on #1616
Sorry, I think I misread your answer. So, support for 32-Bit Windows has already been added.

[2020-03-19 12:23] sxa555 commented on #1616
Correct :-)
@gdams and @karianna are looking at getting it out - I'd expect we can get it out in the next day or so unless any further complications arise.

[2020-03-19 12:43] sxa555 commented on #1613
I would suggest this issue is covered under the same general topic of #1581

[2020-03-19 12:56] sxa555 commented on #1614
@mpirvu What issues do you think might occur if that PR is not merged?

[2020-03-19 12:58] sxa555 commented on #1614
@adam-thorpe Can you take this one (or at least prep the PR)

[2020-03-19 13:40] karianna commented on #1616
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk14-pipeline/72/

[2020-03-19 14:55] adam-thorpe commented on #1610
Looking into this

[2020-03-19 15:21] adam-thorpe commented on #1610
The correct convention is `openjdk version "11.0.6" 2020-01-14` which shouldn't differ. I downloaded the JDK 11.0.6 windows build from https://adoptopenjdk.net and it outputs the correct java -version information. @RohanIRathi could you comment on where you got this jdk from or perhaps send me it so I can run java -version on it?

[2020-03-19 15:40] mpirvu commented on #1614
In the past we had issues related to the protobuf library, either because it was not installed (new machine) or because it was installed on top of an older version (the older version needs to be unistalled first)

[2020-03-19 16:15] aahlenst commented on #1130
A fully notarized JDK 8 is still in the works. We hope to get this included in the next quarterly CPU (closest Tuesday to the 17th of April).

The patches required passed some test runs (including the TCK), but more validation is necessary. @gdams plans to publish the current state so that we can provide builds for testing in the not so distant future.

[2020-03-19 16:18] dcboy95 commented on #1130
@aahlenst is there any plans for JDK 11?

[2020-03-19 16:21] aahlenst commented on #1130
@dcboy95 A fully notarized JDK 11 will be published as part of the next quarterly CPU (shortly after the closest Tuesday to the 17th of April if I remember Oracle's rule correctly). In the meantime, you can grab a nightly build of JDK 11 on https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=hotspot and report back if it doesn't work.

[2020-03-20 08:30] NishikaDeSilva opened #1621 "MacOS Nortarization fails due to JDK8"
Hi,

We are building MacOS installers for our products which contains JDK 8 distribution inside. Notarisation the installer fails due to this JDK. I tried to manually sign it but it was no use.

1. Is there a JDK build which supports macOS notarisation and hardened runtime ?
2. If not, how can I sign this JDK so that notarising the installer won't fail ?

[2020-03-20 09:36] aahlenst commented on #1621
All information is in https://github.com/AdoptOpenJDK/openjdk-build/issues/1130, specifically in https://github.com/AdoptOpenJDK/openjdk-build/issues/1130#issuecomment-601271189 for JDK 8. [14+36](https://adoptopenjdk.net/releases.html?variant=openjdk14&jvmVariant=hotspot) is notarized. Nightly builds of 11 are, too.

[2020-03-20 09:36] #1621 closed

[2020-03-20 11:01] NishikaDeSilva commented on #1130
Hi I tried using jdk-11.0.7+7 for the installer but still [1] fails with th error "The signature of the binary is invalid"

[1] /Contents/MacOS/libjli.dylib

[2020-03-20 11:06] gdams commented on #1130
@NishikaDeSilva try running this:

`codesign --verbose=4 --deep --force -s "Developer ID Application: MyTeam (XXXX)" installer.jdk`

[2020-03-20 13:50] adam-thorpe commented on #1614
@mpirvu https://github.com/eclipse/openj9/pull/8832 is merged, are we okay to go ahead with https://github.com/AdoptOpenJDK/openjdk-build/pull/1619 ?

[2020-03-20 14:03] M-Davies commented on #1437
Job is now passing

[2020-03-20 14:03] #1437 closed

[2020-03-20 16:17] MenanRam opened #1623 "JSSC Library (SERIAL COM programming) Windows 10 64Bit Crash"
Hello,
I have a Java project that is using Java Simple Serial Connector (JSSC) library to connect to a device on serial com port.
Everything works fine with Oracle Java, however, when switched to AdoptOpenJDK (jdk-13.0.1.9-hotspot) the app crashes.
I have done many things to make sure what was going on.
Recompile the app with AdoptOpenJDK, but still the same.
I also recompiled the serial com port

[2020-03-20 16:46] yanns opened #1624 "docker image "adoptopenjdk/openjdk12:x86_64-alpine-jdk-12.0.2_10-slim" not available anymore"
Since today, the image "adoptopenjdk/openjdk12:x86_64-alpine-jdk-12.0.2_10-slim" does not seem to be available anymore:

[code]

[2020-03-20 17:11] dinogun commented on #1624
Was cleaning up old images as we seem to have hit a limit on DockerHub, have added it back now. Sorry for the trouble !

[2020-03-20 17:28] yanns commented on #1624
thx a lot!

[2020-03-20 17:28] #1624 closed

[2020-03-20 22:25] #1616 closed

[2020-03-20 22:33] karianna commented on #1623
@MenanRam have you tried 13.0.2 or 14+36?

[2020-03-21 02:42] NishikaDeSilva commented on #1130
@gdams I tried your solution.

command: codesign --verbose=4 --deep --force -s "Developer ID Application: abc (xxxxx)" jdk-11.0.7+7

output:
jdk-11.0.7+7: replacing existing signature
jdk-11.0.7+7: resource fork, Finder information, or similar detritus not allowed

But it indicates the following error...
jdk-11.0.7+7: code has no resources but signature indicates they must be present.

Am I doing

[2020-03-21 08:38] kuzjka opened #1625 "openjdk13:alpine-jre image missing"
Since 20.03 images
_adoptopenjdk/openjdk13:alpine-jre_, _adoptopenjdk/openjdk13:jre-13.0.2_8-alpine_
seem to be missing.
[code]
_adoptopenjdk/openjdk13:x86_64-alpine-jre-13.0.2_8_ is OK

Could you please check, that mentioned tags are pushed?

Thank you.

[2020-03-23 07:47] MoxxiManagarm commented on #1241
@sxa555 Ok I will try

[2020-03-23 12:19] mpirvu commented on #1614
@adam-thorpe  Nightly builds have removed protobufs so #1619 can proceed.
Im in the process of doing the same for openj9 0.20 release. The PR is here https://github.com/eclipse/openj9/pull/8940 and is waiting for some omr prerequisite

[2020-03-23 13:47] MoxxiManagarm commented on #1241
@sxa555 At least the application is starting now with hardened runtime enabled, the heapspace error does not occure. The functionality will now be tested. Is there any timeline at which time the features of the nightly build will be released?

[2020-03-23 14:18] sxa555 commented on #1241
I'll close this on the basis that it is successfully working in the nightlies. I would hope we'll get it working by the next quarterly release, but I'm not the person working on getting it working so I can't say more than that - as mentioned before #1130 is the place for discussion on it going forwards :-)

[2020-03-23 14:18] #1241 closed

[2020-03-23 14:34] MoxxiManagarm commented on #1130
I tried 11.0.7+7 from the nightly build. Notarization passes and the application comes up successfully. However, it seems that binaries (dylib) are now looked up in the executed jar bundle only. As a result our application now receives UnsatisfiedLinkErrors when trying to access dylib installed on the system. This was working before.

[2020-03-23 14:43] #1614 closed

[2020-03-23 15:21] sxa555 commented on #1531
@karianna Since we haven't got a JIT-enabled GA JDK8/aarch32 build at the moment, the original problem description still stands, so I'm not sure it's appropriate to close this.

[2020-03-23 17:24] #1500 closed

[2020-03-24 12:42] aahlenst commented on #1130
@MoxxiManagarm Are the dylibs signed? Check with `codesign -v -v /path/to/dylib`.

[2020-03-24 13:13] MoxxiManagarm commented on #1130
@aahlenst I doubt, those are 3rd party dylibs installed on the system, they are not part of our application. I also have the entitlement active `com.apple.security.cs.disable-library-validation`, that shouldn't be an issue.

[2020-03-24 19:26] #1596 closed

[2020-03-24 19:52] pshipton commented on #1596
I'm not sure why #1597 closed this. I think there are still parts remaining as Stuart mentioned in the previous comment.

[2020-03-24 21:32] karianna commented on #1596
Linked PRs auto close issues.  The API and website issues should be added to their respective repos and the top priority project added to them.

[2020-03-24 23:53] pshipton commented on #1596
I can't add the top priority project, but I've created
https://github.com/AdoptOpenJDK/openjdk-api/issues/195
https://github.com/AdoptOpenJDK/openjdk-website/issues/696

[2020-03-25 16:52] mpirvu commented on #1614
@adam-thorpe PR eclipse/openj9#8940 has been merged so we could start building with --enable-jitserver on plinux for 0.20.0 release branch as well. Thank you

[2020-03-26 09:30] andrew-m-leonard commented on #1450
**Thurs 26th March:**
- Brought build-osuosl-ppc64-aix-71-2 back online as it's the only xlc16 AIX machine that is needed to build jdk14+

[2020-03-26 09:39] andrew-m-leonard opened #1634 "Nightly Build&Test Triage Report"
Report Nightly Build&Test problems here

[2020-03-26 09:39] andrew-m-leonard commented on #1634
**Thurs 26th March:**
- Brought build-osuosl-ppc64-aix-71-2 back online as it's the only xlc16 AIX machine that is needed to build jdk14+

[2020-03-26 10:51] sxa555 commented on #1044
- aarch64 build machine
- AIX xlc16 machine

[2020-03-26 11:56] andrew-m-leonard commented on #1634
**Thurs 26th March: JDK11**
- Test_openjdk11_j9_sanity.openjdk_ppc64_aix ==> "Compiler Crash"/"Agent errors : all NEW
[code]
- Test_openjdk11_j9_sanity.openjdk_ppc64le_linux ==> "Compiler Crash"/"Agent errors: all NEW
[code]
- Test_openjdk11_j9_sanity.openjdk_ppc64le_linux_xl ==> "Compiler Crash"/"Agent errors : all NEW
[code]
- Test_openjdk11_j9_sanity.openjdk_s390x_linux ==> "Compiler Crash"/"Ag

[2020-03-26 11:57] andrew-m-leonard commented on #1634
Thurs 26th March : JDK11
- Predominant issue with intermittent "Compiler Crash"

[2020-03-26 14:46] M-Davies commented on #1634
Raised https://github.com/eclipse/openj9/issues/8992 for the sun/nio/cs/FindDecoderBugs.java failure

[2020-03-27 09:16] andrew-m-leonard commented on #1634
**Fri 27th March:**
JDK8 OpenJ9:
- pLinux JVM crash, sanity.openjdk: java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java
https://github.com/eclipse/openj9/issues/9005

[2020-03-27 09:24] M-Davies commented on #1634
**Fri 27th March : JDK11**
- [jdk11u-linux-s390x-openj9-linuxXL](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9-linuxXL/132/) ===> Git fetch failure. Due to tags mismatch. Been occurring since wednesday night. Machine issue (no other jdk11/j9 builds affected by this)

[2020-03-27 14:06] sxa555 opened #1635 "Nightly builds do not have the correct download links"
e.g. aarch64 openj9 build on https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 seems to be serving up the `debugimage` build, not the JDK

[2020-03-27 14:11] sxa555 commented on #1587
They are building now

[2020-03-27 14:11] #1587 closed

[2020-03-27 14:15] sxa555 commented on #1635
EDIT: Just occurred to me - "jdk" is no longer first alphabetically - are we just serving up the first matching binary for the platform in each release?

[2020-03-27 14:47] keithc-ca opened #1636 "No files in debug image archive"
Looking at a [recent build](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/), you'll notice that the [debug image archive](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/lastSuccessfulBuild/artifact/workspace/target/OpenJDK11U-debugimage_x64_linux_openj9_2020-03-26-23-31.tar.gz) contains only 203 bytes; o

[2020-03-27 18:14] sxa555 commented on #1614
@mpirvu The adopt scripts don't distinguish between branches so any changes for a JDK major release will take effect across branches

[2020-03-27 20:56] karianna commented on #1635
Was an API issue, now resolved.

[2020-03-27 20:56] #1635 closed

[2020-03-27 20:57] #1636 closed

[2020-03-30 09:48] M-Davies commented on #1634
**Monday 30th March: JDK8**
- [Test_openjdk8_hs_sanity.openjdk_s390x_linux](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_s390x_linux/153)

java/security/SignedObject/Chain.java ===> Timeout. Thread lock? Intermittent
java/util/stream/test/org/openjdk/tests/java/util/stream/FlatMapOpTest.java ===> Timeout. Thread Lock? Intermittent

- [Test_openjdk8_hs_sanity.op

[2020-03-31 09:17] Willsparker opened #1641 "Discuss removing source repositories after a build & recloning on a new build"
Currently, the builds will initially clone the repository and update it on future builds. Though this is more time efficient, it can cause issues ( ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1169 , https://github.com/AdoptOpenJDK/openjdk-build/issues/1236 ).

Removing the repos after a build has finished (if it succeeds), is also more space efficient for the machines and wo

[2020-03-31 11:45] sxa555 commented on #1641
My personal view, as it always has been, is that the current approach is best.

If there are issues with corruption in there repositories then I would hope that we should be able to detect that and do a full reclone if required.

[2020-03-31 13:08] karianna opened #1642 "Investigate moving build scripts from Bash to Python (2 or 3)"
Our bash scripts have started to grow to a size and scale that isn't the best fit for a scripting/shell environment.

We could potentially see benefits of:

* Having a DSL
* Reducing duplicate code
* Simplify templating / configuring
* Better testing support.

Things to check would be:

* Can we install Python 2/3 on all of our supported platforms?
* Do we have Python skillsets?
* Is there an appe

[2020-03-31 13:13] sxa555 commented on #1642
My 2p on the subject: As per conversation elsewhere, I'm not overly keen on another re-write that's going to inevitable introduce instabilities, although I would be in favour of simplifying the current spaghetti scripts as it's hard work to see where things need to be changed. Related: https://github.com/AdoptOpenJDK/openjdk-build/issues/957

[2020-03-31 15:02] pshipton opened #1643 "Publish an early access driver for OpenJ9 AArch64 in the 11.0.7 (April) release"
OpenJ9 is adding a new platform, AArch64 in the April 11.0.7 release. This platform has some outstanding issues to be resolved to address functional problems and performance, but we'd like to include it as part of the release tagged as an early access (ea) driver, like 11.0.7-ea+10.

[2020-03-31 19:45] keithc-ca opened #1644 "OpenJ9 builds have incomplete debug symbols"
Debug information is present for OpenJ9 shared libraries, but not for those derived from openjdk code.

[2020-03-31 21:15] #1644 closed

[2020-04-01 06:31] pmarasse commented on #1210
Same problem here, same fix applied with success

[2020-04-01 07:38] aahlenst commented on #1210
This is a duplicate of https://github.com/AdoptOpenJDK/openjdk-installer/issues/179 and fixed in the latest nightly builds for JDK 8. I haven't checked 11. Maybe someone could.

[2020-04-01 11:33] M-Davies commented on #1450
aarch_64/aarch_64 java.rmi hash failures. Seen occasionally on j9 builds
[code]

[2020-04-01 14:06] sxa555 commented on #1643
Three options:
1. Release it as the same time but as a separate release named with a .ea suffix
2. Build it as a normal nightly build but call it an "early access" in the same way we do with milestone builds where it it just written up and linked to as such (wouldn't be part of the release) - we could even have a page similar to the upstream RedHat ones that link to "current pre-release builds"
3.

[2020-04-01 15:37] DanHeidinga commented on #1643
We had discussed how to make it clear that the platform was an early access platform.  We're planning to modify the filename to include "ea" and to have the `java -version` output indicate it's an early access platform.

[2020-04-01 15:59] karianna commented on #1643
I _think_ with 1. we can execute this as a pipeline with it as the only job and use the override configuration parameters to push out the 'correct' thing in terms of the filename.

[2020-04-01 16:13] sxa555 commented on #1643
Correct @karianna - if the AdoptOpenJDK project is happy with that as a solution, then that is what I expected we would do (along with setting whatever parameters are needed to get the `java -version` output set as per Dan's comment above

[2020-04-01 17:57] sxa555 commented on #1641
As a reference, here is the current size of things in on [build-digitalocean-centos69-x64-2](https://ci.adoptopenjdk.net/computer/build-digitalocean-centos69-x64-2):
[code]
The `git` subdirectory in the jdk8u/hotspot workspace seems to account for 6.5Gb of the space which is why it looks higher - I'm going to remove that on the basis that it looks a bit odd given that it's only about 1Gb on the ot

[2020-04-01 18:31] DanHeidinga commented on #1643
Quoting an internal slack discussion - adding `ea` to the version output should be doable by configuring with `--with-version-pre=ea --without-version-opt`.

/cc @andrew-m-leonard @lumpfish

[2020-04-01 18:42] karianna commented on #1641
Am I reading that right as 3-10GB for most of those variants?

[2020-04-02 06:57] aahlenst commented on #577
As it stands, it is highly unlikely for AdoptOpenJDK to bundle OpenJFX.  For why that is, what it would take to change it, and what the alternatives are, please see our [FAQ on OpenJFX](https://adoptopenjdk.net/faq.html#openjfxfaq).

[2020-04-02 06:57] #577 closed

[2020-04-02 07:06] aahlenst commented on #245
https://adoptopenjdk.net/faq.html#openjfxfaq

[2020-04-02 07:06] #245 closed

[2020-04-02 07:26] andrew-m-leonard commented on #1634
**Thurs April 2nd**
3 test jobs "completed" but got hung on slave executors at end of pipeline with below, had to kill "Executor" as job had actually finished to remove:
[code]

[2020-04-02 08:28] sxa555 opened #1646 ""Path name too long" errors in JDK11/hotspot/windows builds"
Potentially introduced by https://github.com/AdoptOpenJDK/openjdk-build/pull/1639

Ref: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x86-32-hotspot/464/console / https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x86-32-hotspot/464/console

`c1 : fatal error C1081: 'c:/cygwin64/tmp

[2020-04-02 09:06] M-Davies commented on #1634
**Thurs April 2nd**
A whole bunch of sun Windows tests have been failing since 31st March
[code]

[2020-04-02 09:30] lumpfish commented on #1643
I've run a private build with the ```--with-version-pre=ea --without-version-opt```
options. This is the java -version output.
[code]
Regarding the release name, these would appear to be the obvious choices:
1. jdk-11.0.7-ea+9_openj9-0.20.0
2. jdk-11.0.7+9_openj9-0.20.0-ea

[2020-04-02 10:41] gdams commented on #1646
@johnoliver looks like we'll need to make it even shorter....

[2020-04-02 10:41] gdams commented on #1646
for reference the current tmp drive is `c:/cygwin64/tmp/openjdk-build/jdk11u-windows-x86-32-hotspot`

[2020-04-02 10:42] sxa555 commented on #1641
More or less. I think the largest one - jdk8u/hotspot - was an anomaly so we're talking up to 7Gb per build variant just now. The OpenJ9 ones may have ballooned a bit after the [debug image collection](https://github.com/AdoptOpenJDK/openjdk-build/issues/1596) was added but they were always larger than the Hotspot ones

[2020-04-02 10:49] gdams commented on #1646
in the previous setup we used `/tmp/openjdk-jdk11u-windows-x86-32-hotspot `

[2020-04-02 12:52] breun opened #1650 "AdoptOpenJDK 14 JRE archives contain bin/javac"
* **Platform and architecture (e.g. Linux/x64**: Linux/x64 (others possibly also affected, but not checked)

* **Java version (from "java --version") e.g. 1.8.0_181, 11.0.4+11 etc.**: 14+36, 14+36.1

* **Variant e.g. HotSpot or OpenJ9**: all

* **Have you tested it with other vendors' java**: No

* **Steps to reproduce**: Download and extract the current  [HotSpot](https://github.com/AdoptOpenJDK/

[2020-04-02 16:05] #1646 closed

[2020-04-02 17:41] karianna commented on #1641
So it's going to be possible over time to eat up disk space on these smaller hosts.  Do we need to update our minimum req for an infra box?

[2020-04-02 17:42] karianna commented on #1643
@johnoliver - Can you comment on the API factor.

[2020-04-02 21:21] Nirgali42 opened #1649 "Artifactory indices for xenial busted again"
Artifactory indices for xenial busted again. Can't install on xenial at the moment.

https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/dists/xenial/InRelease

File not found

E: Failed to fetch https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/dists/xenial/InRelease
E: Some index files failed to download. They have been ignored, or old ones used instead.

[2020-04-02 23:55] keithc-ca commented on #1650
Perhaps our efforts should be focussed on making https://github.com/AdoptOpenJDK/jlink.online the source of right-sized Java packages. The JRE links at https://adoptopenjdk.net/ could refer to the appropriate resource at jlink.online.

[2020-04-03 03:33] justin-espedal commented on #1130
Using the nightly build of JDK 11's JRE, I have the same issue as NishikaDeSilva. I've tested nightly builds of JRE 13 and 14 as well for good measure.

I don't know if any of this will be helpful, but here are my notes.

Running `codesign -dvvv libjli.dylib` to check the signature results in this.

[code]

Verifying the signature with `spctl -a -vv libjli.dylib` results in this:
`libjli.dylib: co

[2020-04-03 05:54] breun commented on #1650
@sxa555 Thanks for checking, I indeed hadn’t checked HotSpot builds (added that to the ticket description now).

I also haven’t checked builds for other platforms, but I guess the issue is not limited to Linux/x64 either.

[2020-04-03 09:37] andrew-m-leonard commented on #1634
**Fri 3rd April**
JDK14 : Looks like Network failure around 9:30pm UK time cause most of the jobs to fail...

[2020-04-03 09:42] andrew-m-leonard opened #1651 "Test_openjdk8_j9_sanity.external_x86-64_linux fails No such property: ‘DOCKERIMAGE_TAG’"
**Platform:**
xLinux

Build fails: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.external_x86-64_linux/255/console
[code]

[2020-04-03 10:44] M-Davies commented on #1634
@andrew-m-leonard This should be resolved thanks to @Willsparker

[2020-04-03 10:56] johnoliver commented on #1643
adding a pre/optional argument isnt an issue, the api will show that in the version, we do already use the term ea for nightly builds so may be confusing. In terms of how it will effect the api, if nothing is changed it will look like any other ea/nightly release just with a different version string, assuming that the release it is in is marked as a pre-release.You could filter out things with tha

[2020-04-03 12:25] lumpfish commented on #1643
The intention is that the build would be a release, not pre-release (see the Description).

What would be changed (for the aarch64 platform only) would be the release tag as the build appears in https://github.com/AdoptOpenJDK/openjdk11-binaries/releases, so it would be jdk-11.0.7+9_openj9-0.20.0 for all platforms except aarch64 and something else (e.g. jdk-11.0.7-ea+9_openj9-0.20.0 or jdk-11.0.7+

[2020-04-03 15:01] M-Davies commented on #1123
The way I see it, there’s two ways you could do this

1) Have a check in the [build_base](https://github.com/AdoptOpenJDK/openjdk-build/blob/820ec4633433c821ba7634c93a3b7d50ec38b3bd/pipelines/build/common/build_base_file.groovy#L284) to see if we’re building docker or a normal pipeline. Then execute [build_all.sh](https://github.com/AdoptOpenJDK/openjdk-docker/blob/master/build_all.sh) if it is do

[2020-04-03 15:13] sxa opened #1653 "jdk-15-gaovm-x86-64_linux is failing"
Ref: https://ci.adoptopenjdk.net/job/jdk-15-gaovm-x86-64_linux:
[code]
This is unrelated to the [change of machine](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1124#issuecomment-608496571) which this is now scheduled on - it was failing in the same way on the previous machine (and the fact it fails on the new, empty, one means it's not a result of some failure with the specific w

[2020-04-03 15:16] sxa555 commented on #1123
If we add it to the pipelines just now it will ause a significant delay in the overnight builds due to the length of time required to build all the images (3-24 hours at the moment). I would not be keen to slow the overnight build pipelines down in this way at present ... Thoughts? I am looking at the performance of those pipelines (I have new x64 machines for docker which have speeded those ones

[2020-04-03 15:16] sxa555 commented on #1123
Tagging in @dinogun on this conversation too :-)

[2020-04-03 15:38] sxa555 commented on #1641
We probably do need to increase the requirements, yeah. Although those requirements have never been explicitly specified. Most have been aroudn the 100GB mark but over time each new version of java gets slightly bigger. Also on the x64 machines we occasionally run some other things (such as the GaoVM builds - now relocated as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1124)

[2020-04-03 16:01] karianna commented on #1641
And looking at Jenkins node view it tells you what space we have left, but not the size of the disks.  Is that in our inventory file or on a (partly deprecated) Nagios?

We can get a list and start swapping them out or upgrading them one by one

[2020-04-03 17:08] smlambert commented on #1651
I have updated that job to use a DOCKERIMAGE_TAG default value of "ubuntu" which should address this problem (as DOCKERIMAGE_TAG is now an expected parameter to all external test jobs).

Can monitor the next run to see that its resolved.

[2020-04-06 08:34] M-Davies commented on #1634
**Mon 6th April**
- jdk14/j9+hs/windows+windowsXL builds failing with tags errors
[code]

[2020-04-06 08:42] andrew-m-leonard commented on #1651
Possibly related failure on jdk11: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.external_x86-64_linux_openliberty-mp-tck/304/consoleFull
[code]

[2020-04-06 13:50] lumpfish opened #1654 "Define and document transition of jdkNN to jdkNNu"
Prior to creating hotspot jdk14 GA builds, the switch was made from pulling the openjdk code from the jdk14 repository to the jdk14u repository,

The way the Jenkins jobs work this change also changed the way the binary output files were named - from OpenJDK14.xxxxx to OpenJDK14U.xxxxx.

openj9 is built from their 'extensions' repository (which takes the GA code from the jdk14 repository and switc

[2020-04-06 14:06] jerboaa commented on #1653
@sxa555 Thanks for the issue. I'm aware and will get it fixed ASAP.

[2020-04-06 14:06] sxa555 commented on #1654
Related: #1581

[2020-04-06 18:25] smlambert commented on #1651
Updated jdk11 now in the same way jdk8 updated (I see that the jdk8 "no such property" failure has resolved, will await to see jdk11 resolved, then close this issue).

[2020-04-07 07:14] M-Davies commented on #1634
**Tues 7th April**
- JDK14/j9/windows&&windowsXL build. Configure arguments borked (since 03/04/2020)
[code]
- https://github.com/AdoptOpenJDK/openjdk-build/issues/1634#issuecomment-609654038 is still failing on x32

[2020-04-07 07:21] M-Davies opened #1656 "OpenJ9 configure arguments broken on JDK14"
**Platform/Architecture**
windows_x64 OpenJ9 builds

- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14u/job/jdk14u-windows-x64-openj9/
- Failing since 03/04/2020
[code]

[2020-04-07 08:58] M-Davies commented on #1656
Tested all potential options on local instance and all exist so likely a machine issue.

For the record, the configure options are not being recognised on `build-softlayer-win2012r2-x64-1`

[2020-04-07 09:09] andrew-m-leonard commented on #1656
note that's a jdk14u build however console log thinks it is building jdk8u, hence why options not valid...
[code]

[2020-04-07 11:09] sxa555 commented on #1656
@gdams could this be a result of the different way we now use a shortened workspace path name?

[2020-04-07 11:53] andrew-m-leonard commented on #1656
This line does not check source out for JDK14:
https://github.com/AdoptOpenJDK/openjdk-build/blob/820ec4633433c821ba7634c93a3b7d50ec38b3bd/sbin/prepareWorkspace.sh#L50

[2020-04-07 11:57] andrew-m-leonard commented on #1656
Not sure why that line checks the version... why not do it for all..?

[2020-04-07 12:54] sxa555 commented on #1656
@johnoliver ?

[2020-04-07 13:11] johnoliver commented on #1656
I agree I am not sure why we need to check the version there, so I would remove that version check

[2020-04-07 13:21] johnoliver commented on #1643
If they are included in a "release" that is marked as a release (i.e not pre-release), then yes it would be returned in "ga" queries, if the release is a pre-release then it will be returned in "ea" queries.

[2020-04-07 13:25] karianna commented on #1656
https://github.com/AdoptOpenJDK/openjdk-build/pull/1657

[2020-04-07 13:27] #1656 closed

[2020-04-07 13:29] karianna commented on #1656
@M-Davies Can you try a new run and see what happens please?

[2020-04-07 14:02] sxa555 commented on #1656
@M-Davies @lumpfish I've kicked off a 14 pipeline without publish or tests so we we can see how it goes https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk14-pipeline/105/

[2020-04-07 14:26] M-Davies commented on #1656
Looks like https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk14u/job/jdk14u-windows-x64-openj9/32/consoleFull is running fine. Its passed the configure stage and is building. Thanks for this :-)

[2020-04-08 09:05] lumpfish commented on #1643
Following a web meeting, the following was decided:
1. The AArch64 build would be built with the options
[code]
which will result in java -version output similar to
[code]
2. The metadata associated with the build already extracts the build version string from line two of the output - i.e. "11.0.7-ea+9".
3. The build for AArch64 will be added to the git binaries repository under the regular releas

[2020-04-08 10:41] gdams commented on #1643
website PR https://github.com/AdoptOpenJDK/openjdk-website/pull/700

[2020-04-08 10:43] gdams commented on #1643
@lumpfish I'm pretty sure this will only work if it's released under a different release tag containing `-ea` we'll have to check on the day when the binaries get submitted to see what the API returns us

[2020-04-08 10:51] lumpfish commented on #1643
I understood from @johnoliver 's comments above that it will all work as envisaged as AArch64 is built separately (with the different config options) but with the same release tag.
The metadata
[code]
is associated with each individual build (i.e. platform) rather than the release - is that correct?  If so then the only difference between the AArch64 release and the other platforms will be
[code]

[2020-04-08 10:52] gdams commented on #1643
okay let's see how it works, I might be wrong. We could try and produce an EA for the previous release tag as a test?

[2020-04-08 10:56] lumpfish commented on #1643
I don't think an AArch64 build for the previous release would be viable as a release (even 'ea').

[2020-04-08 12:19] jerboaa commented on #1653
Fixed with https://ci.adoptopenjdk.net/view/GaoVM/job/jdk-15-gaovm-x86-64_linux/77/

and

https://github.com/jerboaa/openjdk-graal-builder/commit/d9f50d2e66f23e555497e77a4ae5b86c43380207

I'll try to get those patches upstream as per usual.

[2020-04-08 12:19] #1653 closed

[2020-04-08 13:17] MoxxiManagarm commented on #1130
Any update on the driver dylib which is not found within `/usr/local/lib/` after notarization (nightly build)?

[2020-04-08 13:42] gdams commented on #1130
libjli.dylib: code has no resources but signature indicates they must be present

@justin-espedal try running this on the top-level directory:
[code]

[2020-04-08 13:43] gdams commented on #1130
jdk-11.0.7+7: replacing existing signature
jdk-11.0.7+7: resource fork, Finder information, or similar detritus not allowed

@NishikaDeSilva run this on the directory before running the codesign command:

[code]

[2020-04-08 14:17] lumpfish commented on #1643
Regarding the "pre" tag, it is created when the "-ea" string is found in the java -version output, so a GA build will not carry the tag at all.  So checking for pre=ea is all that is necessary in the web pages for tagging the builds (openjdk_version need not be checked).

[2020-04-08 15:17] justin-espedal commented on #1130
That does work. No need for the recursive `-cr`, just removing `com.apple.FinderInfo` from the top-level folder is enough. It makes sense that the FinderInfo attribute on the top-level folder is what interferes with codesigning of the entire package.

Regardless of whether that xattr is present or not, the libjli.dylib still can't be codesigned on its own. Does the codesign mechanism requires dyli

[2020-04-09 07:07] andrew-m-leonard commented on #1634
**Thurs 9th April**
xLinux builds mostly failed due to test-packet-ubuntu1604-x64-2 running out of disk space:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1266

[2020-04-09 09:27] M-Davies commented on #1634
- The windows failures for are known failures https://github.com/AdoptOpenJDK/openjdk-tests/pull/1724
- s390x failures look to be intermittents except for the `/jdi/` tests. I'm not 100% sure what's going on here but these are consistently failing on s390x. Needs raising

This seems like its been failing for a while and should be raised. Likely due to the debugger that the test spawns [not having

[2020-04-09 16:28] tsarenkotxt commented on #893
Hello, I am also getting the similar crash `Could not load hsdis-amd64.so; library not loadable; PrintAssembly is disabled`:
[code]
Should I provide a full error report?

[2020-04-09 16:31] smlambert commented on #893
Based on the number of similar cases reported, adding this to the top priorities list.

[2020-04-09 18:33] Ram-Krishnamurthy commented on #1130
@gadams @aahlenst Any update on the notarized JDK 1.8? Are we releasing it on Apr 17th? Is there an earlier kit to try out?

[2020-04-09 20:07] aahlenst commented on #1130
Next week, there will be a 8u252 without notarization and hardened runtime first. Afterwards, we are going to flip the switches and build one with notarization and hardened runtime. Additional information will follow. I do not know whether there is already a binary that is ready for testing by others.

[2020-04-09 21:47] karianna commented on #893
@tsarenkotxt - Is this crashing consistently?  If so can you try our nightly 11.0.7 build and/or the upstream build (you can find that on our main page)?

[2020-04-10 07:20] StephanWald commented on #893
I can confirm that the upstream build fixes at least my problem (pristine Windows server):

[code]

[2020-04-10 08:49] jerboaa commented on #893
@StephanWald this seems to be a regression in 11.0.6 you are seeing. Fixed in 11.0.7+4 and better:
https://bugs.openjdk.java.net/browse/JDK-8238596
https://bugs.openjdk.java.net/browse/JDK-8238246

Work-around should be `-XX:UseAVX=0`

[2020-04-10 10:05] #893 closed

[2020-04-11 11:32] sxa opened #1659 "Stackoverflow error running gradle during builds on build-azure-win2012r2-x64-1"
Some reference links: [JDK11/js#508](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-hotspot/508/console) | [JDK11/J9XL#276](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9-windowsXL/276/consoleFull) | [JDK11/hs#510](https://ci.adoptopenjdk.net/view/Failing%20Builds/

[2020-04-13 20:16] pshipton opened #1660 "Ensure all Windows build machines have same compiler level"
**Platform:**
Windows

**Architecture:**
any

@jdekonin mentioned the Windows playbooks install the latest VS2017 compiler. Meaning that if build machines are created at different times, they could have different levels of the VS2017 compiler on them. Ideally all build machines should have the same level of VS2017, so the build isn't affected by what machine it lands on.

Not sure if the same issu

[2020-04-14 04:42] pshipton opened #1661 "OpenJ9 configure jdk14+ head stream x/p Linux with --enable-jitserver"
The OpenJ9 project has added `--enable-jitserver` to jdk14+ head stream builds of pLinux and xLinux, Adopt can do the same. It was already enabled for jdk8 and 11. This doesn't include the OpenJ9 0.20.0 (April) release.

https://github.com/eclipse/openj9/pull/8191

@mpirvu fyi

[2020-04-14 07:29] M-Davies commented on #1634
**Tues 14th April**
- Windows builds failing due to https://github.com/AdoptOpenJDK/openjdk-build/issues/1659
- No tests ran over the easter weekend???

[2020-04-14 08:52] gdams commented on #1659
rebooted the machine and it seems happier now. closing

[2020-04-14 08:52] #1659 closed

[2020-04-14 10:57] sxa commented on #1661
We'll hold off on this until after the GA builds have been completed as we have the uild scripts locked down as far as practical at the moment (And we don't differentiate between the main and release branches)

[2020-04-14 13:27] asbachb opened #1663 "Wrong link "Build Farm Definition""
https://github.com/AdoptOpenJDK/openjdk-build#build-farm link `Build Farm Definition` resolves to 404.

[2020-04-14 14:14] ijabz commented on #1130
Will 8u252 include  libAppleScriptEngine.dylib that is built against later sdk so doesnt fail with 'The binary uses an SDK older than the 10.9 SDK', this would be most helpful,https://stackoverflow.com/questions/61208189/java-notarization-of-libapplescriptengine-dylib-failing-with-the-binary-uses-an

[2020-04-14 14:18] pshipton opened #1664 "Nightly OpenJ9 jdk downloads are not jdks"
**Platform:**
All

**Architecture:**
All

Looking at
https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 the downloads are not jdks but debug images and test images.

[2020-04-15 11:07] sxa opened #1667 "release build failure on Softlayer/JDK11/Windows"
Failed on the [regular Softlayer build machine](https://ci.adoptopenjdk.net/computer/build-softlayer-win2012r2-x64-2/) (job [516](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-hotspot/516/), succeeded on [the new one at Azure](https://ci.adoptopenjdk.net/computer/build-azure-win2012r2-x64-2/) (job [517](https://ci.adoptopenjdk.net/job/build-scripts/job/jo

[2020-04-15 11:48] sxa commented on #1663
Looks like it was removed under https://github.com/AdoptOpenJDK/openjdk-build/pull/1084 - should possibly point to the top level [readme](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/README.md), or [my FAQ](https://github.com/AdoptOpenJDK/openjdk-build/pull/1457) once I get it finalised (hopefully soon - it's near the top of my list again to complete it)

Which raises an obvious quest

[2020-04-15 12:15] asbachb commented on #1663
Basically I was looking if there's a possibilty to enable fastdebug builds in the Jenkins jobs.

[2020-04-15 12:25] sxa commented on #1663
A great question! Check out https://github.com/AdoptOpenJDK/openjdk-build/issues/146 where it has been discussed previously (and there's a link at the bottom of that to how to build one yourself) although that is an ideal FAQ candidate - thanks!

[2020-04-15 12:34] asbachb commented on #1663
Yeah that issue or to be more precise that comment (https://github.com/AdoptOpenJDK/openjdk-build/issues/146#issuecomment-440826007) was the reason I looked around ;)

[2020-04-16 06:53] DietmarHechensteiner opened #1670 "11.07 x86 and x64 jre for windows too big"
11.07 x86 and x64 jre files are much more bigger than its 11.06 counterparts due to inclusion of unneeded .pdd and .map files

[2020-04-16 09:41] gdams commented on #1670
Thanks for raising this bug @DietmarHechensteiner.

Whereabouts in the JRE are these files located? I assume it's going to be a case of getting our build scripts to clean them out post-build

[2020-04-16 09:46] gdams commented on #1670
I was able to locate some `.map` files and `.pdb` files that you're referring to.

[code]

[code]

[2020-04-16 09:48] gdams commented on #1670
Also confirmed that they are not located in the previous release:

[code]

[2020-04-16 10:01] MoxxiManagarm opened #1671 "Newest Java Versions fail to load 3rd party dylib"
**Platform:**
verified on MacOs 10.13, 10.14 and 10.15

**Architecture:**
64bit

In production we currently use 11.0.4_11, everything is working fine. Due to notarization issues we try to upgrade the version to the latest 11.0.7_10, I reported this issue previously within the common notarization issue thread when we tried with nightly builds. But I am not sure, if it is related to notarization, he

[2020-04-16 10:11] gdams commented on #1670
@DietmarHechensteiner we will shortly re-release JDK11 for windows.

[2020-04-16 10:16] gaolibj opened #1673 "OpenJDK 11 + OpenJ9: DateFormat does't work well on AIX"
**Platform:**
AIX
**Architecture:**
PPC64
Please describe the issue that you are having with our binaries and if possible how to recreate it.
There is a simple case to recreate the issue.

bash-4.4$ cat DateFormatTest.java
import java.text.*;
import java.util.*;

public class DateFormatTest{
public static void main(String[] args){
        DateFormat df = DateFormat.getDateInstance(DateFormat.MEDIU

[2020-04-16 10:17] DietmarHechensteiner commented on #1670
Great. Thank you

[2020-04-16 10:23] sxa commented on #1670
Going to reopen this until we've got a new one out, since I want this visibly open to point anyone else to in the meantime. Thanks for raising @DietmarHechensteiner as we hadn't yet spotted it and can sort it for the other versions before releasing now.

[2020-04-16 10:25] gaolibj commented on #1673
It works well with Java80.

bash-4.4$ java DateFormatTest
MEDIUM :2020-4-16

[2020-04-16 10:34] gdams commented on #1667
the machine has been pending a restart for 3 months, restarting now to see if that helps

[2020-04-16 12:38] karianna commented on #1673
@gaolibj please try with 11.0.7 (being released in the next 48 hours

[2020-04-17 08:26] M-Davies commented on #1450
https://github.com/AdoptOpenJDK/openjdk-build/issues/1450#issuecomment-569245197

Seen a similar problem on a mac machine
[code]

[2020-04-17 08:50] M-Davies commented on #1634
**Fri 17th April**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux `java/lang/invoke/VarHandles/VarHandleTestByteArrayAsInt.java` ===> First time seen. Should keep an eye on it
[code]
- Lot of failing tests on https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_hs_sanity.openjdk_aarch64_linux. Seems to be every night for the past 3 da

[2020-04-17 09:55] ptribble opened #1676 "The cacerts file is a little out of date"
**Platform:**

Any (checked Linux jdk8u242)

**Architecture:**

Any.

Please describe the issue that you are having with our binaries and if possible how to recreate it.

As noted on Slack: looking at the cacerts file, it's a little out of date, including at least one CA certificate that's expired, and missing a number of newer CA roots.

There's a static list of files that the regular openjdk bui

[2020-04-17 10:01] jerboaa commented on #1676
@ptribble Could you give an example of which CA is outdated and which CA expired, please?

[2020-04-17 10:07] gdams commented on #1670
fixed https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.7%2B10.1

[2020-04-17 10:07] #1670 closed

[2020-04-17 10:14] ptribble commented on #1676
Well, this is the one that's expired:

Issuer: CN=UTN-USERFirst-Object, OU=http://www.usertrust.com, O=The USERTRUST Network, L=Salt Lake City, ST=UT, C=US
Valid from: Fri Jul 09 19:31:20 BST 1999 until: Tue Jul 09 19:40:36 BST 2019

Overall, the cacerts file has 93 entries; the Mozilla bundle has 137 (and a number of the certs aren't present in the CA bundle; some have been withdrawn or marked as

[2020-04-17 10:21] jerboaa commented on #1676
Thanks!

[2020-04-17 10:43] sxa commented on #1667
Going to transfer this to infra for now as the machine seems to be in a rather undesirable state - am attempting to power it back on but it seems initially somewhat resistant (FYI @tellison)
![image](https://user-images.githubusercontent.com/6487691/79561065-96b83a00-80a0-11ea-85ac-c96554ccc70d.png)

[2020-04-17 11:22] M-Davies commented on #1634
The top three tests are going to be excluded under existing JBS issues https://github.com/AdoptOpenJDK/openjdk-tests/pull/1735. The others are shell tests and likely infra issues.

[2020-04-17 12:19] regentov commented on #693
@keertz04 the same for me, after installing fontconfig and adding fontconfig.properties.
So not fixed, on alpine.

[2020-04-17 13:20] pshipton opened #1677 "There is no OpenJ9 debug image for MacOS jdk8"
**Platform:**
MacOS jdk8

There is no debug image for MacOS jdk8, either in the nightly builds or the OpenJ9 0.20.0 release.

[2020-04-17 13:20] pshipton commented on #1677
@keithc-ca

[2020-04-17 13:25] andrew-m-leonard commented on #1677
I suspect maybe related to the issue raised about jdk11 JRE size ...?

[2020-04-17 14:19] sxa commented on #1677
The issue which Andrew is referring to is [this one](https://github.com/AdoptOpenJDK/openjdk-build/pull/1161) and was mitigated by [this PR](https://github.com/AdoptOpenJDK/openjdk-build/pull/1672) - FYI @gdams

[2020-04-17 14:22] sxa commented on #1677
This seems macos specific so it's unlikely that the above change was related to it (Not impossible though...)

[2020-04-17 14:27] meshcow commented on #1130
The long-awaited 8u252 is out, but it turned out almost all binaries in it were still built with sdk 10.8, which prevents successful notarization.
The JRE from https://ci.adoptopenjdk.net/view/work%20in%20progress/job/jdk8u-mac-x64-hotspot-notarized/10/ contained 10.14 binaries so we hoped the official 8u252 also will.

Do you guys have a schedule for this you can share, please?

[2020-04-17 14:33] aahlenst commented on #1130
@meshcow Hard to estimate. That's why I gave no estimate in the first place. Pipelines with the regular builds are still running (for example, 14.0.1 with HotSpot and 11.0.7 with OpenJ9). The version with hardened runtime will be built afterwards.

[2020-04-17 15:04] karianna commented on #1130
@meshcow  - we'll be building an 8u252.1 to test our Mac Os notarization patch, should be here in a day or two.

[2020-04-17 15:26] ijabz commented on #1130
FYI I used BellSoft 8u252 to try and get a  libAppleScriptEngine.dylib that is built against later sdk to allow notarization, and can confirm that worked.

[2020-04-17 15:37] ijabz commented on #1130
Can also confirm I bundled AdoptJDk 11.0.7 JRE build and into my app and successfully notarized my application.

[2020-04-17 16:49] as1an commented on #1130
Could you tell, please, what you are using to bundle jre with your app? When I use javapackager it says `fxbundlerpath/Contents/MacOS/libpackager.dylib: is already signed`.
And how do you that with AdoptJDK 11?

[2020-04-17 19:21] ijabz commented on #1130
I used Appbundler (InfinityKind fork) - https://github.com/TheInfiniteKind/appbundler/
I will try and post a full detailed answer on stackoveflow tomorrow

[2020-04-18 08:05] ijabz commented on #1130
@as1an Added answer to my own question at https://stackoverflow.com/questions/58548736/notarize-existing-java-application-for-macos-catalina

[2020-04-20 04:53] kolmisra opened #1679 "Do we have an OpenJdk installer available for z/OS ?"
I do not see any installer for z/OS in https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9.
To run java Application in z/OS i need a JDK for z/OS .
Please help me where can I find one?

[2020-04-20 09:11] M-Davies commented on #1634
**Mon 20th April**

Passed Saturday then failed again [yesterday](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_x86-64_mac/134/). Passing test was on `test-macincloud-macos1010-x64-​2`, failing ones on `test-macincloud-macos1013-x64-​1&2`.

- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot JDK-Next

[2020-04-20 09:15] M-Davies opened #1680 "JDK-Next git rev-list failing tags"
**Platform:**
Windows
**Architecture:**
x64

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot has been failing to pick up tags in the nightlies since 16/04/2020.

Failing code: https://github.com/AdoptOpenJDK/openjdk-build/blob/995c157903452e2c10751ab196567f281ff7fcd4/sbin/build.sh#L646

[code]

[2020-04-20 09:46] M-Davies commented on #1634
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_xl `java/util/zip/ZipFile/TestCleaner.java` is still timing out (also times out on windows_xl). Needs investigating...
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl
[code]

jdk/jfr/event/compiler/TestAllocInNewTLAB.java

- https://ci.adoptopenjdk.

[2020-04-20 10:40] sxa commented on #1679
OpenJDK does not support z/OS, and AdoptOpenJDK does not provide them. Sorry. You will have to contact IBM who is the only vendor of a JDK for z/OS

[2020-04-20 10:40] #1679 closed

[2020-04-20 12:03] gamma opened #1681 "MacOS JDK/JRE 8 build with SDK older than 10.9"
**Platform:**

MacOS

**Architecture:**

x64

The JDK/JRE is build with an SDK older than 10.9 which prohibits it from being notarised by Apple.

We have a product which uses the current JRE8 released by adopt. When notarising the App we receive the error from Apple for every binary (executable or dylib): "The binary uses an SDK older than the 10.9 SDK."

[2020-04-20 12:17] aahlenst commented on #1681
Duplicate of https://github.com/AdoptOpenJDK/openjdk-build/issues/1130. Read  https://github.com/AdoptOpenJDK/openjdk-build/issues/1130#issuecomment-611728413 for details. Should arrive soon.

[2020-04-20 12:17] #1681 closed

[2020-04-20 16:57] Ram-Krishnamurthy commented on #1130
Anyone has a J9 JVM 1.8 notarized build for us to test?

[2020-04-20 17:02] Ram-Krishnamurthy commented on #1130
@aahlenst Will this include J9 version of 1.8 JVM as well?

[2020-04-20 18:06] karianna commented on #1130
It's coming this week.

[2020-04-20 19:18] Ram-Krishnamurthy commented on #1130
Great thanks!

[2020-04-21 09:03] M-Davies commented on #1680
Next build looks ok https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot/81/

[2020-04-21 09:17] M-Davies opened #1683 "Installer build break"
Installer jobs are causing the nightly builds to fail. I don't have the perms to see or diagnose the problems.
[code]

May also be due to a network glitch that has also killed some of the testing jobs https://github.com/AdoptOpenJDK/openjdk-build/issues/1683#issuecomment-617063871

[2020-04-21 09:18] M-Davies commented on #1634
**Tuesday 21 April**
- [JDK Next](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/) seeing a lot of installer failures. [Raised in adopt slack](https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1587459652122600) and build https://github.com/AdoptOpenJDK/openjdk-build/issues/1683
-

[2020-04-21 09:19] M-Davies commented on #1683
Seems to be across all platforms and JDK versions, including next

[2020-04-21 09:22] sxa commented on #1683
It looks like you are talking about jobs such as https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-ppc64le-hotspot/486/console
The linked installer job is https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_linux/9597/ which appears to have completed successfully

[2020-04-21 09:25] sxa commented on #1683
It looks like the associated test jobs, such as https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_ppc64le_linux/202/console failed though

[code]

[2020-04-21 09:26] M-Davies commented on #1683
Correct. My assumption is that it's the installer as the build itself completed successfully.

Looking at some of the test failures, it looks like there might have been a network glitch last night on the jtreg side so it could be that the job died halfway through due to the internet dropping out https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux/206/con

[2020-04-21 09:27] M-Davies commented on #1683
Ah. Just seen you commented the exact same thing 😄

[2020-04-21 09:29] M-Davies commented on #1683
@sxa Could we kick off a new respin of nightlies to verify it was just a glitch?

[2020-04-21 09:34] sxa commented on #1683
JDK11 pipeline is still running at the moment, so I was going to kick off 8 but they haven't failed in the same way ... The tests appear to have been ok on there

[2020-04-21 09:35] andrew-m-leonard opened #1684 "OpenJ9 jdk8u252-b09_openj9-0.20.0 Installers are not Notarized"
**Platform:** MacOS Catalina

An update is required to jdk8u252-b08_openj9-0.20.0 to enable MacOS Notarization

[2020-04-21 09:39] gdams commented on #1683
it's not the installer jobs. this was broken by https://github.com/AdoptOpenJDK/openjdk-build/pull/1668

[2020-04-21 10:44] andrew-m-leonard commented on #1684
The OpenJ9 extensions repository only takes contributions merged direct from OpenJDK, or by IBM. So as such Adopt won't be able to produce an OpenJ9 jdk8 Notarized binary until we have the notarization patches, published to the OpenJDK jdkupdates-dev maillist under an Oracle Contribution agreement. It should be sufficient to get as far as posting the patch "diff" to the maillist, to then allow the

[2020-04-21 10:59] sxa commented on #1683
The above revert does not appear to have fully resolved this as https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-hotspot/517/consoleFull still shows the failure despite the above revert going in

[2020-04-21 12:07] karianna commented on #1680
@M-Davies So it picked up the tag as you'd expect?

[2020-04-21 12:10] karianna commented on #1684
@andrew-m-leonard - we're a little gated on Apple's private review of the patch. It'll still be a week or so before it even lands in jdk8u-dev.

[2020-04-21 12:11] M-Davies commented on #1680
It did. The build failed, but for a different reason. I'll leave this open till tomorrow as it may be an intermittent thing.

[2020-04-21 12:12] gdams commented on #1684
@karianna Simon Tooke updated the mailing list:

http://mail.openjdk.java.net/pipermail/jdk8u-dev/2020-February/011283.html
http://cr.openjdk.java.net/~stooke/webrevs/jdk-8226288-jdk8u/01/

@andrew-m-leonard and myself are working on getting the builds running

[2020-04-21 12:22] karianna commented on #1684
Looks like Simon's patch stalled at the end of Feb though.  So we'll need to nudge him again to push it through (or ask if we can do so on his behalf)

[2020-04-21 12:57] andrew-m-leonard commented on #1684
@karianna given we do have all the "patches" published to the maillist, it does mean they are published under OCA, which means we can take those changesets and apply to openj9 extensions, so we're good for doing this .1 release for openj9. However, as you say, we need them contributing upstream for next quarterly...

[2020-04-21 18:54] pshipton opened #1693 "Request to rebuild OpenJ9 Windows/Mac with openssl 1.1.1g"
Although OpenJ9 does not appear to be affected by the security vulnerability fixed in openssl 1.1.g, @DanHeidinga pointed out that users may scan the Adopt build and find an openssl version that contains a known security vulnerability. They may be restricted from using the binary due to their company policies. To avoid this, Windows and Mac (Java 8, 11, 14) should be rebuilt to include openssl 1.1

[2020-04-22 04:36] viewhero opened #1694 "jdk-11.0.7+10.1 for Windows binary is not signed by digital certification."
**Platform:**
Windows

**Architecture:**
x64 and x86

jdk-11.0.7+10.1 for Windows binary  is not signed by digital certification.
previous release(11.0.6) binaries were signed completely.

Please, check it.
Thank you.

[2020-04-22 08:44] viewhero commented on #1694
Check JDK and JRE zip version.
all of dll and exe weren't signed.

[2020-04-22 08:44] gdams commented on #1694
@viewhero thanks for the bug report, will investigate right away

[2020-04-22 08:49] M-Davies commented on #1683
Regarding this issue, the builds look a lot happier this morning. Thanks for the help on this

[2020-04-22 08:49] #1683 closed

[2020-04-22 08:50] M-Davies commented on #1680
Next build failed with original error https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot/82/console

[2020-04-22 08:58] sxa commented on #1683
For reference, the revert of https://github.com/AdoptOpenJDK/openjdk-build/pull/1687 resolved this

[2020-04-22 09:24] gdams commented on #1694
We have made a fix to the build scripts and aim to re-build all windows releases from the last cycle. Thanks again for raising the issue. Will leave this open to track progress until we've published all versions

[2020-04-22 09:57] M-Davies commented on #1634
**Wed 22nd April**
**BUILDS**
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14u/job/jdk14u-windows-x64-openj9-windowsXL new error
[code]
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9 && XL. Build passed, file extraction failed
[code]
- ~JDK8/HS&J9/mac&&macXL builds failed due to overni

[2020-04-22 10:22] M-Davies commented on #1634
**Wed 22nd April**
**Tests**
**Failures**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_hs_sanity.openjdk_ppc64le_linux
JTReg fails to download
[code]

**Unstables**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_hs_sanity.openjdk_aarch64_linux
Various tests fa

[2020-04-22 11:03] sxa opened #1696 "Clarify use of adoptBuildNumber on release pipelines"
There has been some confusion over the use of the `adoptBuildNumber` parameter on the release pipelines. Traditionall it has been left blank for the initial GA releases, and then populated for re-releases starting at `1` to match the `.1` suffix we used.

Discussions today have brought out that `1` is the default if the field is left blank, therefore re-releases that we have done with `1` will hav

[2020-04-22 11:28] lumpfish commented on #1696
It looks like AdoptBuildNumber is not present on the hotspot GA's but is on the openj9 GAs.

Also the openjdk_version metadata is different between hotspot GA and openj9 or a hotspot rebuild.

This can be seen by examining the metadata returned by https://api.adoptopenjdk.net/v3/assets/feature_releases/8/ga

[2020-04-22 11:30] gdams commented on #1130
A Notarized JDK8u Hotspot binary has been released today `jdk8u252-b09.1`

https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=hotspot

Try it out and let us know if you have any issues!

OpenJ9 will also be out shortly

[2020-04-22 11:58] andrew-m-leonard commented on #1684
jdk8 openj9 extensions branch openj9-0.20.0 has been updated with the MacOS Notarization fixes from the following openjdk changesets:
Porting of following openjdk jdk8u changes:

Main jdk8 Notarization changes:
-  http://cr.openjdk.java.net/~stooke/webrevs/jdk-8226288-jdk8u/01/01/
-  http://cr.openjdk.java.net/~stooke/webrevs/jdk-8226288-jdk8u/01/jdk.01/
Eclipse IDE Symlink notarization fixes:
-

[2020-04-22 12:00] andrew-m-leonard commented on #1684
@smlambert Test build & Tests passes all test suites:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/jdk8u-mac-x64-openj9-notarized/20/

[2020-04-22 13:06] meshcow commented on #1130
We were able to notarize our app with bundled hotspot 8u252-b09.1 JRE successfully.
Thank you guys very much!

[2020-04-22 14:11] #1693 closed

[2020-04-22 14:58] keithc-ca opened #1698 "JDK archives include unwanted debug files"
breun commented on slack:

and Peter Shipton clarified:

We want debug information to be available, but not included in the main JDK archives.

[2020-04-22 14:59] sxa opened #1699 "macos and AIX OpenJ9 April releases are larger than expected"
HotSpot does not suffer the same problem - here are the macos download sizes:

jdk8u252 - 140Mb (JDK) 74MB (JRE)
jdk8u242 - 114MB (JDK) 49MB (JRE)
jdk-11.0.7 - 248MB (JDK) 95MB (JRE)
jdk-11.0.6 - 196MB (JDK) 39MB (JRE)

Initial investigation by @pshipton suggests this is related to extra debug symbols being added and various fixes for it such as https://github.com/AdoptOpenJDK/openjdk-build/issues

[2020-04-22 15:09] sxa commented on #1698
I'm going to close this one as dup of mine even though this was first, as I have a bit more info on the sizes in my other issue. Hope that's ok :-)

[2020-04-22 15:09] #1698 closed

[2020-04-22 15:11] sxa commented on #1699
I've closed the duplicate issue https://github.com/AdoptOpenJDK/openjdk-build/issues/1698#issue-604826573 as this one has a bit more information on the affected downloads and their sizes. the slack conversation referenced in the other issue was https://adoptopenjdk.slack.com/archives/CBBHBD8G2/p1587208287005600 and initiated by @breun

[2020-04-22 15:13] #1130 closed

[2020-04-22 15:45] Ram-Krishnamurthy commented on #1130
@meshcow Does your app embed the JVM or it uses it externally? We are seeing runtime issue saying the signature is different in the JVM from our app signature.

[2020-04-22 16:50] sxa opened #1706 "Set up dockerfiles to run jdk/jdk"
The issue of not being able to build "bleeding edge" jdk/jdk with docker came up in the OpenJ9 slack instance recently. We should look at adding suitable Dockerfiles to do this into the [DockerFileCheck](https://ci.adoptopenjdk.net/job/DockerFileCheck/) job.

[2020-04-22 17:02] sxa commented on #1693
This is in progress thanks to @Willsparker (Installed 1.1.1g on the Windows build machines) and @lumpfish at the following links (build script adjustments in https://github.com/AdoptOpenJDK/openjdk-build/pull/1697)
- https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1003/
- https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/877/
- https://ci.adoptopenjdk.net/job

[2020-04-22 17:43] meshcow commented on #1130
The JVM is embedded (JNI), the app is signed by our cert. We didn't sign anything within JRE, as it turned out everything in it was signed already.
No issues so far.

[2020-04-22 20:56] addsomebass commented on #1130
@meshcow I know this is unrelated, and I apologize if this is not the right forum for this, but I have been struggling to get JNI working in a bundled app, and I was wondering if you could share any resources that helped you get there.  All of the current java app bundlers I can find produce an un-hardened executable that prevents notarization, even when the JRE is notarizable.

Any help to get ov

[2020-04-23 09:36] meshcow commented on #1130
@addsomebass - We use standard by-the-book approach: a small launcher written in Objective C which uses Java Invocation API to load the JVM and start our [pure] Java app with it. The launcher gets put into the OSX app's directory under /Contents/MacOs. The JRE gets put there into java app folder under /Contents/[app-name]/jre.
The OSX app gets signed, and then it is ready to be sent for notrizatio

[2020-04-23 09:41] gdams commented on #1694
- jdk-11.0.7+10.2 - hotspot has been shipped

[2020-04-23 10:56] gdams commented on #1684
@andrew-m-leonard can this be closed now?

[2020-04-23 10:56] M-Davies opened #1701 "Create "Updating Concurrent Pipeline Scripts" Documentation"
Although we have concurrent pipelines enabled, there is currently no documentation in place to instruct people on how to update the pipelines when the JDK HEAD changes.

- Create a doc with the following specs
  - [x] How the job regenerator works
  - [x] Updating the [config_regeneration](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/config_regeneration.groovy)

[2020-04-23 10:59] M-Davies commented on #1701
Ideally the place to put this would be the wiki or the [docs](https://github.com/AdoptOpenJDK/openjdk-build/tree/master/docs) folder although there doesn't seem to be any docs in there.

@karianna could I get editing access to the wiki please?

[2020-04-23 11:12] gdams commented on #1694
openj9 rebuilds on Windows and macOS are now available:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u252-b09.1_openj9-0.20.0
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.7+10.1_openj9-0.20.0
https://github.com/AdoptOpenJDK/openjdk14-binaries/releases/tag/jdk-14.0.1+7.1_openj9-0.20.0

[2020-04-23 11:12] #1694 closed

[2020-04-23 11:14] gdams commented on #1643
complete

[2020-04-23 11:14] #1643 closed

[2020-04-23 11:23] gdams commented on #1671
@MoxxiManagarm can you provide me with some steps to recreate this issue locally?

At a guess, I am wondering whether you need to add an entitlement that allows java to use dynamic libs but it's hard to tell.

[2020-04-23 11:23] dg76 commented on #1130
@addsomebass I think you don't need an own launcher. I am using JNI in a normal Java program that is bundled using the Java packager jpackage of Java 14. You can find my steps here: https://blog.dgunia.de/2020/02/12/signed-macos-programs-with-java-14/ It describes only the signing, not the JNI part. But I have created a normal JNI dylib file that is also signed during that process. It works fine s

[2020-04-23 11:26] M-Davies commented on #1680
Next build failing with original error https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot/83/console

@Willsparker Can you take a look at this when you get min? 🙂

[2020-04-23 11:27] meshcow commented on #1130
@addsomebass @dg76  Java 8 is our case, not 14

[2020-04-23 11:35] sxa commented on #1701
Part of this should be a minimal set of instructions to add to RELEASING.MD to tell people creating new releases what needs to be updated for new releases I.e. which new jobs to add. There's another issue specifically for updating that but it would be good to have it in there even if the full details you are describing in the checklist above go elsewhere.

[2020-04-23 11:43] M-Davies commented on #1701
Good point. At least these
[code]
could be added to [RELEASING.md#steps-for-every-version](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/RELEASING.md#steps-for-every-version) as they're all released related stuff. `How the job regenerator works` would be better suited somewhere else I imagine.

[2020-04-23 12:09] gdams commented on #1696
both GA and `.1` jdk8 build have a build number of 1 and contain `.1` in the server version.

@johnoliver can you make this an empty adoptBuildNumber default to null and then we only use it for `.1` `.2` releases etc

[2020-04-23 12:13] johnoliver commented on #1696
Yes we can do that fine

[2020-04-23 12:15] gdams commented on #1696
@sxa are you happy with that solution.

To be clear a GA release will look like this:

[code]

[2020-04-23 12:16] andrew-m-leonard commented on #1684
released

[2020-04-23 12:16] #1684 closed

[2020-04-23 12:37] MoxxiManagarm commented on #1671
@gdams Unfortunately I have no mac station for myself currently. Just let me mention, that all hardened runtime entitlements are already included in our application. As application code it should be enough to add JNA dependency (`'net.java.dev.jna', name: 'jna' & 'jna-platform', version: '5.4.0'`) and call `Function.getFunction("ctapi", "CT_init");`

The desired lib is a insurance cardreader drive

[2020-04-23 13:45] MoxxiManagarm commented on #1671
We bundle java and start our application with its bundled version. I also tried to start our application with a locally installed 11.0.7_10. The behavior is the same.

[2020-04-23 14:01] Willsparker commented on #1680
I've had a brief look and the only reason I could find for it being intermittent is that it only fails when the build doesn't re-clone the `src` repository.
I'll have a bit more of an in-depth look when I get a chance :-)

[2020-04-23 14:17] M-Davies commented on #1701
https://github.com/AdoptOpenJDK/openjdk-build/pull/1702 Addresses all the criteria save `How the job regenerator works`

[2020-04-23 14:42] sxa commented on #1706
Done

[2020-04-23 16:29] addsomebass commented on #1130
@meshcow @dg76 thanks for the tips.  We need to use Java 8 as well due to RMI changes.

[2020-04-23 17:22] M-Davies commented on #1701
Have now added a readme to [regeneration](https://github.com/AdoptOpenJDK/openjdk-build/tree/master/pipelines/build/regeneration) detailing `How the job regenerator works`

The PR is ready for review

[2020-04-23 19:08] karianna commented on #1701
@M-Davies - I think we can close this now

[2020-04-23 20:45] #1699 closed

[2020-04-24 08:26] #1701 closed

[2020-04-24 09:18] M-Davies commented on #1634
**Fri 24th April**
**BUILDS**
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9
Core dump
[code]
- ~https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9

[2020-04-24 09:25] Willsparker commented on #1706
As of #1705 , this should be fixed :-)
They were already there, just under the name `jdk15`, so I've just gone through and renamed it, and once `jdk15` is released, we can make another set of Dockerfiles (and remove JDK14 from the `DockerfileCheck` job)

[2020-04-24 09:26] M-Davies commented on #1445
JTReg and asm look to be ok now. Can this issue be closed?

[2020-04-24 09:34] Willsparker opened #1707 "`Makejdk-any-platform.sh --docker` runs configure on host, before making container"
When running `makejdk-any-platform.sh --docker`, the build scripts will run configure and attempt to set `JDK_BOOT_DIR` on the host machine before building the docker containers. This can lead to situations like this:
 https://ci.adoptopenjdk.net/job/DockerfileCheck/112/label=docker-aws-ubuntu1604-x64-1,variant=j9,version=jdk/console
where the machine doesn't have `javac` in the path, and https://

[2020-04-24 10:09] M-Davies commented on #1634
**Fri 24th April**
**TESTS**
**Unknowns**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/195/ All tests passed but build was marked as unstable. Need to keep an eye on this.
**Failures**
- ~https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_linux/206~
- ~https://ci.adoptopenjdk.net/view/Test_openjdk/job/Tes

[2020-04-24 11:17] #1445 closed

[2020-04-24 11:18] #1706 closed

[2020-04-24 14:28] Willsparker commented on #1680
Alright - the reason for the error message is due to this:
https://github.com/AdoptOpenJDK/openjdk-build/blob/995c157903452e2c10751ab196567f281ff7fcd4/sbin/build.sh#L658

or more specifically, the line to try and find `$firstMatchingNameFromRepo`.

That returns nothing, as `git describe --tags $revList` returns a list of tags, all containing `jdk-11` (which are therefore removed when the list is p

[2020-04-24 15:23] #1680 closed

[2020-04-24 18:51] keithc-ca commented on #1677
I think I've identified the problem. [This filter](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/closed/DebugImage.gmk#L62) doesn't match any files and so no debug-image folder is created. I should have a fix shortly.

[2020-04-24 22:28] #1677 closed

[2020-04-25 19:00] tpavesi commented on #1349
Dowloading at 44kb/s

|------------------------------------------------------------------------------------------|
|                                     Statistics                                   |
|                       Host              -   %  | Sent | Recv | Best | Avrg | Wrst | Last |
|------------------------------------------------|------|------|------|------|------|------|
|

[2020-04-25 19:05] LigH-de commented on #1349
So there is Telia involved again... but hard to know who to blame in this battle between big backbone ISP's.

[2020-04-27 06:34] aahlenst commented on #1349
@tpavesi Is Virgin Media owned by Liberty Global? Traceroute looks like that (aorta.net). Liberty Global is a notorious offender in that regard. Complain to their customer support.

@LigH-de Telia is one of the biggest providers of transit connectivity. Not their fault if the parties involved don't want to upgrade the link.

[2020-04-27 07:22] andrew-m-leonard opened #1710 "All build pipelines hung due to all pLinux slaves offline"
**Platform:**
pLinux

All weekend build pipelines hung due to pLinux slaves being offline:
build-osuosl-centos74-ppc64le-1
build-osuosl-centos74-ppc64le-2

[2020-04-27 08:50] M-Davies opened #1712 "JDK-Next Windows Installer Failing"
**Platform:**
jdk_next-windows

**Architecture:**
x64-hotspot

~https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot JDK next has [tests disabled](https://github.com/AdoptOpenJDK/openjdk-build/blob/d97d479ecdd580f202343929c64143efea18a4c3/pipelines/jobs/configurations/jdk15_pipeline_config.groovy#L36) for x64-Windows on nightlies but seem

[2020-04-27 08:51] sxa commented on #1710
There is some scheduled maintenance occurring on the hosting systems at OSUOSL that will take up to a couple more hours to complete. AIX machines at OSUOSL are offline too

[2020-04-27 08:54] M-Davies commented on #1712
Reran the job regenerator https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk/53/console

Will check tomorrow if it's still an issue

[2020-04-27 08:59] M-Davies commented on #1712
FYI @andrew-m-leonard

[2020-04-27 09:25] M-Davies commented on #1450
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-hotspot Unknown reason for failure on the build scripts. Potentially related to the sha checksum being wrong https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1587459652122600
[code]

[2020-04-27 09:29] M-Davies commented on #1634
**Mon 27th April**
**BUILDS**
- ~https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot seems to want to run tests even though they're disabled in the config files~ RAISED => https://github.com/AdoptOpenJDK/openjdk-build/issues/1712

~Still coredumping~ RAISED => https://github.com/eclipse/openj9/issues/9369
- https://ci.adoptopenjdk.net/vi

[2020-04-27 10:07] M-Davies commented on #1634
**Mon 27th April**
**TESTS**
No unknown failures 🍾

[2020-04-27 10:39] sxa commented on #1450
@M-Davies The installer job failed on tha last build:
[code]

[2020-04-27 11:27] noelmcloughlin commented on #262
This is UI misdirection mind game ;-) A google search brought me here.

The attention of new visitors is diverted to word *jdk* on the left - **a heading**.  So we visually search for heading with word *jre* on the left but it cannot be found.  Not very obvious UI.

<img width="1063" alt="Screenshot 2020-04-27 at 12 13 54" src="https://user-images.githubusercontent.com/13322818/80366304-f83a8e80-8

[2020-04-27 12:15] aahlenst commented on #262
@noelmcloughlin Please file a new issue on https://github.com/adoptopenjdk/openjdk-website/issues.

[2020-04-27 13:25] karianna commented on #1634
@M-Davies - I'd like to parse this issue.  Is there a definitive list of what's left to triage?

[2020-04-27 13:26] M-Davies commented on #1634
@karianna I'm in the process of writing up a summary comment of that last month right now

[2020-04-27 13:39] M-Davies commented on #1634
**1 month summary**
**NEEDS TRIAGE**
- JDI Tests are unstable across the board in JDK8
  - https://github.com/AdoptOpenJDK/openjdk-tests/issues/1711: Windows
  - https://github.com/AdoptOpenJDK/openjdk-tests/issues/1718: AIX
  - https://github.com/AdoptOpenJDK/openjdk-tests/issues/1737: s390x
  - The likely culprit behind these are the scaffolding structures as [theroised here](https://github.com/

[2020-04-27 14:04] sxa commented on #262
Bear in mind it's questionable whether we wouldwish to do anythign about this - the name displayed on the web site is based on the tag in the openjdk project which is `jdk8u252-b09` for example - it's how the project names their code tags. So we are producing JDKs and JREs based on the source code at that tag. While I understand the confusion it would be rather odd to change the label shown on the

[2020-04-27 14:22] andrew-m-leonard opened #1742 "AdoptOpenJDK to provide intermediate builds with new IANA tzdata"
Whenever IANA release new tzdata there is a lag between the tzdata availability and its inclusion into the next OpenJDK quarterly release. This can be an issue for any Enterprise that happens to be dependent on a TZ change in the new tzdata.
I would like to propose the AdoptOpenJDK community enables the re-building of the latest releases using the new IANA tzdata. This would require a "patch" of t

[2020-04-27 15:01] nlmarco commented on #1222
This still exists! I just encountered it with Eclipse 20181214-0600 and the OpenJDK jdk-11.0.7+10.

It makes no difference, whether I launch the program in debug-mode or not. I always get:

[code]

If I do *not* configure any program arguments, it works. VM arguments seem to be irrelevant.

[2020-04-27 15:11] nlmarco opened #1713 "EXCEPTION_ACCESS_VIOLATION (0xc0000005) with 11.0.7+10"
I'm unable to re-open the issue https://github.com/AdoptOpenJDK/openjdk-build/issues/1222 and therefore created this here. I assume that otherwise, nobody looks into my new comment, added to a closed bug ;-)

The problem is not solved. It still exists :-( Please look at my comment at the end of https://github.com/AdoptOpenJDK/openjdk-build/issues/1222 for further details.

[2020-04-27 15:18] jwachter commented on #1222
See my comment in #1713 ;)

[2020-04-27 15:19] jwachter commented on #1713
Hi,

on the Eclipse side the Bug is fixed with 2020-03 (as far as I tested it) (see [Eclipse Bug 558495](https://bugs.eclipse.org/bugs/show_bug.cgi?id=558495)). As they don't provide maintenance releases between the release cycle releases you can either Update or built a custom JDT patch. Company-internal we built a JDT Patch for 2019-12 that worked fine and basically is a one line change.

For th

[2020-04-27 15:21] aahlenst commented on #1713
The issue was closed because it's an OpenJDK problem. The [referenced bug](https://bugs.openjdk.java.net/browse/JDK-8231863) was fixed in 14. The [bug for the backport to 11](https://bugs.openjdk.java.net/browse/JDK-8241685) says it's going to be fixed in 11.0.8, due in July 2020.

I don't see what else we can do here.

[2020-04-27 15:22] #1713 closed

[2020-04-27 15:22] nlmarco commented on #1713
Thanks a lot! I'm going to give the new Eclipse a try (but tomorrow). I agree that you likely can't do anything more, but at least it's now documented here -- maybe helping other's too ;-)

[2020-04-27 15:39] alex9434 opened #1714 "OpenJDK 8u152-b35 recipe for target 'classLoadingService.o' failed"
**Platform:**
Cross compile on Debian Stretch for AArm64
**Architecture:**
x86_64 for aarm64
Please describe the issue that you are having with our binaries and if possible how to recreate it.
[code]
[code]

[2020-04-27 20:48] keithc-ca commented on #1699
AIX archives still contain `.debuginfo` files, but #1715 should fix that.

[2020-04-28 03:11] nlmarco commented on #1713
I just tried the newest Eclipse (build 20200313-1211) and the problem is still the same :-(

[2020-04-28 03:47] nlmarco commented on #1713
jdk-14.0.1+7 seems to work fine, btw. Just tried it. But don't know, yet, if this causes any other problems.

[2020-04-28 08:03] andrew-m-leonard opened #1716 "build-macstadium-macos1014-2 finding wrong bootjdk"
**Platform:**
MacOS

jdk11 for openj9 build is finding a jdk8 bootjdk:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/565/consoleFull
[code]

[2020-04-28 08:14] andrew-m-leonard commented on #1716
The problem was the node JDK10_BOOT_DIR directory
/Library/Java/JavaVirtualMachines/adoptopenjdk-10.jdk/Contents/Home
does not exist
i've changed the setting to point to jdk11 since we don't build jdk10 any more

[2020-04-28 10:28] karianna commented on #1634
Thanks, I'll start making my folks at Microsoft aware and see if we can start to dig in as well (we have adopt replicated internally but on Azure Devops now)

[2020-04-28 10:40] karianna commented on #1714
@alex9434 It looks like you're using your own scripts to build from OpenJDK upstream as opposed to our AdoptOpenjDK source and scripts?

[2020-04-28 12:25] M-Davies commented on #1712
Build today seems alright. It failed, but was due to the sign_build job this time

[2020-04-28 16:08] sxa commented on #1696
Yep that seems like the right solution to me and I havent' seen anyone even vageuly objecting so let's go for it

[2020-04-28 19:48] AdamCarroll opened #1718 "jpackage signing fails with Mac jdk-14.0.1+7"
**Platform:**

Mac OS Catalina v10.15.4

**Architecture:**

x86

**Description:**

This problem was seen using the `.tar.gz` version of AdoptOpenJDK 14.0.1+7, from [this download link](https://github.com/AdoptOpenJDK/openjdk14-binaries/releases/download/jdk-14.0.1%2B7/OpenJDK14U-jdk_x64_mac_hotspot_14.0.1_7.tar.gz).

Using the Mac signing option for `jpackage ... --mac-sign ...` I see the followin

[2020-04-28 22:06] karianna commented on #1718
@gdams - I'm not sure this use case would work?

[2020-04-29 04:11] alex9434 commented on #1714
Hi @karianna, I use the scripts from OpenJDK. I did not use any own scripts. I did the following:
1. Clone tag 8u152-b35 of the repository (i need that specific version)
2. bash get_source.sh
3. Installed Java 7
4. bash make --openjdk-target=aarch64-oe-linux --disable-freetype-bundling --with-freetype-lib=/mnt/data/share/internal/software/freetype/usr/lib/aarch64-linux-gnu --with-freetype-include=

[2020-04-29 07:06] tpavesi commented on #1349
Virgin media is owned by Liberty Global. There was a huge outage in UK in
the past few days exactly where you mentioned.

On Mon, 27 Apr 2020 at 07:35, Andreas Ahlenstorf <notifications@github.com>
wrote:

[2020-04-29 08:09] ashishshraff commented on #619
Hi Team,

Do you release Security patches as part of new released version or is there a separate forum to get that information?

Regards,
Ashish

[2020-04-29 08:23] gdams commented on #1718
@AdamCarroll sounds like an issue with jpackage to me, They should provide an option to force sign and overwrite the existing codesign cert.

[2020-04-29 09:02] M-Davies commented on #1712
Still a problem https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-hotspot/89/

[2020-04-29 09:11] LigH-de commented on #1349
Indeed. Twitch broke as well, so the audience of that case was large.

[2020-04-29 09:43] karianna commented on #1714
Sorry, the scripts you are using are from OpenJDK which is the upstream project.  AdoptOpenJDK is a downstream binary provider.  You'll need to ask your question in the build-dev mailing list at openjdk.java.net.

[2020-04-29 09:43] #1714 closed

[2020-04-29 09:46] karianna commented on #619
Yes security patches are released as part of the release.  see the release_notes page at adoptopenjdk.net

[2020-04-29 09:47] karianna commented on #1718
@AdamCarroll - you can report this at openjdk.java.net in the code-tools mailing list IIRC

[2020-04-29 09:47] #1718 closed

[2020-04-29 10:23] M-Davies commented on #1634
**Wed 29th April**
**BUILDS**
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot Make file fail on `build-siteox-solaris10u9-x64-1`
[code]
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-hotspot/520/console Wrong Boot jdk. Raised => https://github.com/AdoptOpenJDK/openjdk-infrastructure/issue

[2020-04-29 12:03] M-Davies commented on #1634
**Wed 29th April**
**TESTS**
**Failures**
None
**Unstables**
Wrong version number on `sun/misc/Version/Version.java` across JDK8 hotspot tests. First seen.
[code]
- Some tests are still running in the JDK8 nightlies even though they're excluded. Need to raise this.
[code]

[2020-04-29 15:02] adruiza opened #1720 "Hardened runtime issue, missing audio-input entitlement"
**Platform:** macOS 10.15.4

**Architecture:** x86_64

Since upgrading to the hardened runtime version of the JDK, I can no longer access microphone input using the standard Java Sound API, only silence is captured when running my .jar file using the command line. While checking Console.app, I found that TCC is blocking microphone access in the background because of a missing entitlement:

This ca

[2020-04-29 16:43] andrew-m-leonard opened #1721 "jdk-11.0.7+10 MacOS tar.gz cannot be self bundled in a notarized pkg"
**Platform:**
macOS

When trying to create an app bundle that bundles the jdk-11.0.7+10-jre tar.gz bundle, it is not possible to notarize as the the libjli.dylib does not verify

So it seems the issue is that the Contents/MacOS/libjli.dylib fails to codesign --verify:
[code]
However.. if I simply move the libjli.dylib to a different directory, it verifies fine! so it seems to be the location of th

[2020-04-30 07:58] meydominic commented on #1130
Thanks for supporting notarization now. But where ist `javapackager` in package? I can only find "normal" jdk8 build without javapackager. Is there a full jdk with javapackage built in?

[2020-04-30 08:32] M-Davies commented on #1450
Got this on https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot
[code]

[2020-04-30 08:43] gdams commented on #1721
running `xattr -cr .` should fix this:

[code]

[2020-04-30 08:50] gdams commented on #1720
This will likely need to be raised upstream as the entitlements are defined there: https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/make/data/macosxsigning/entitlements.plist

It raises an interesting issue though, should a Java runtime come with all entitlements enabled by default?

[2020-04-30 08:56] M-Davies opened #1722 "jdk8u-solaris-x64-hotspot failing to build"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot/. Only seen on `build-siteox-solaris10u9-x64-1`, not sure if it affects other machines
[code]

[2020-04-30 08:56] M-Davies commented on #1634
**Thur 30th April**
**BUILDS**
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot Net glitch. Reported to intermittent build fails https://github.com/AdoptOpenJDK/openjdk-build/issues/1450
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9 VM build failure. Reported to ope

[2020-04-30 09:10] M-Davies commented on #1634
**Thur 30th April**
**TESTS**
**Failures**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_x86-64_mac/ Net glitch. Already reported https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1302
[code]
**Unstables**
- https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-32_windows `java/lang/ProcessBuilder/checkHandles/Check

[2020-04-30 09:16] M-Davies commented on #1712
For some reason, `buildConfig.TEST_LIST` is set to `false` at [this](https://github.com/AdoptOpenJDK/openjdk-build/blob/0cae7e2e783c11631c3a2671ca1612d22c098414/pipelines/build/common/openjdk_build_pipeline.groovy#L108) point, and still tries to run tests. Adding a check to ensure only valid tests are ran, should be sufficient to fix this issue.

[2020-04-30 10:08] adruiza commented on #1720
Yes, that will be an issue when sharing a JRE between applications (specially when it comes to running .jar files from the command line using a system-wide installation of the JRE). Accepting a request to access a resource for application A will inevitably mean that application B will have that permission too, as permissions are given to the whole "java" executable and not to application A or B.

[2020-04-30 10:43] sxa commented on #1710
Now all online again - there was some more maintenance last night

[2020-04-30 10:43] #1710 closed

[2020-04-30 11:27] becvar commented on #825
Important note: we recently found that this problem is reproducible only when WindowsDefender is running on the computer. In other words, when we switched off checks on WindowsDefender problems disappeared.

[2020-04-30 12:46] karianna commented on #1712
The PR is a valid workaround, but should we not fix the root cause?

[2020-04-30 12:52] M-Davies commented on #1712
In the interest of allowing the builds to run, this PR will work for now. Fixing the root cause would be preferable and will be the next step

[2020-04-30 12:56] karianna commented on #1720
@adruiza Can you raise this issue on the openjdk.java.net `build-dev` mailing list?

[2020-04-30 13:19] karianna commented on #825
@becvar Can you try with 11.0.7.+10?

[2020-04-30 13:27] karianna commented on #1712
Landed the PR, reopening this issue to find root cause

[2020-04-30 13:33] adruiza commented on #1720
@karianna I just sent an email with this issue, I'm not a member so a moderator has to review it first, meanwhile, if any other user is having this problem, I suggest reverting to jdk-11.0.6+10, as this version correctly shows the permission dialog.

[2020-04-30 13:35] karianna commented on #1720
Ah yes, you have to sign up to the mailing list.  I'll keep an eye on it and see if it goes through.

[2020-04-30 13:36] sxa commented on #1450
That one's ok - there was some additional maintenance happening at OSUOSL last night so that's not something that should recur

[2020-04-30 15:35] M-Davies commented on #1712
Looking at the passing [mac builds](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-mac-x64-hotspot/90/), they also have this error but move past this point, implying that it's not the test list thats the problem
[code]
The issue instead could be due to the installer failing.
[code]
Will raise in slack.

[2020-04-30 15:39] hoytk commented on #1721
Hi,
I'm the one that found this.  Are you suggesting that I do this to the signed package?  Wont that break your signing of the file?  Wont this also effect the notarization of the bundle?

[2020-04-30 15:39] M-Davies commented on #1712
Ref https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1588261040169800?thread_ts=1588260983.169700&cid=C09NW3L2J, this is an installer failure. Nothing to do with the testlists pulling in the wrong information. My mistake.
[code]

Sidenote, I really hope that https://github.com/AdoptOpenJDK/openjdk-build/pull/1717 works as I keep misreading the console logs! :/

[2020-04-30 15:41] M-Davies commented on #1712
Ok so it's the installer that's failing, is anyone currently triaging the installer failure jobs?

[2020-04-30 15:55] M-Davies commented on #1712
@andrew-m-leonard ?