[2019-03-11 14:42] andrew-m-leonard opened #954 "Hotspot JDK12 binaries are building jdk-updates/jdk12u and not jdk/jdk12"
It seems the JDK12 Hotspot builds have openjdk jdk12u bug fixes in which are not present in the jdk12 repo. For example JDK-8219650 which is targetted for 12.0.2.
I am thus guessing the JDK12 Hotspot builds are cloning jdk-updates/jdk12u rather than jdk/jdk12 ?
jdk-updates/jdk12 is for updates to jdk12 12.0.1, 12.0.2, including merges from the jdk/jdk12.

[2019-03-11 14:48] lumpfish commented on #942
Although the openjdk build insists on a value for --with-vendor-vm-bug-url there is no corresponding property (java.vm.version.url.bug) listed by
[code]
by either openjdk-hotspot or openjdk-openj9

[2019-03-11 14:54] lumpfish commented on #942
Submitted PR https://github.com/AdoptOpenJDK/openjdk-build/pull/955 to fix java.vendor.url.bug

[2019-03-11 15:55] karianna commented on #954
John and I are having fun trying to figure this out.

[2019-03-11 16:25] johnoliver opened #956 "Figure out cleanup strategy around releases"
Currently we mark release builds in jenkins as keep forever so that we have a record of what happened during a release.

Eventually this is going to fill up jenkins so we need to come up with a strategy of archiving these outside of Jenkins and cleaning up Jenkins builds.

[2019-03-11 16:41] AdamBrousseau commented on #956
Perhaps we can look at the cloudwatch logs plugin. Moves all logs to AWS. It's only in alpha atm.
https://github.com/jenkinsci/pipeline-cloudwatch-logs-plugin

[2019-03-11 16:44] karianna commented on #954
Your assumptions are correct.  12.0.0-ga will get released from jdk12 and 12.0.1+ will get released from jdk12u

[2019-03-11 16:44] #954 closed

[2019-03-11 17:20] karianna commented on #945
Hi @myamamoto - have you tested this with the latest 8u build?

If it's still an issue there then I would post to the 2d-dev mailing list on OpenJDK and ask if someone is willing to apply https://bugs.openjdk.java.net/browse/JDK-8163278 as a backport of https://bugs.openjdk.java.net/browse/JDK-8204929

[2019-03-11 18:28] sxa555 commented on #916
Adding some PR references for historic completeness: https://github.com/AdoptOpenJDK/openjdk-build/pull/917 https://github.com/AdoptOpenJDK/openjdk-build/pull/923 https://github.com/AdoptOpenJDK/openjdk-build/pull/943

There have been some subsequent queries over version strings: https://github.com/AdoptOpenJDK/openjdk-build/issues/935 https://github.com/AdoptOpenJDK/openjdk-build/issues/935 but t

[2019-03-11 18:28] #916 closed

[2019-03-11 18:35] sxa555 opened #957 "Improve overview page to ease new starters to the build scripts"
We currently have https://github.com/AdoptOpenJDK/openjdk-build and https://github.com/AdoptOpenJDK/openjdk-build/blob/master/docs/build.md but in terms of seeing where everything is and how it fits together it's not entirely clear what the overall pipeline is, or at which level you would make any given change.

I've got this diagram mostly for my own benefit that lists the Jenkins jobs (`J`), gro

[2019-03-11 21:23] smlambert opened #958 "jdk11u-mac-x64-openj9 failing"
platform: macos

Last successful nightly build is from Feb 27th,

Build failure from recent build:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/160/console

checking for version string... 11.0.3+2-201903111910
configure: Found potential Boot JDK using configure arguments
configure: error: The path given by --with-boot-jdk does not contain a valid Boot

[2019-03-11 22:46] myamamoto commented on #945
I tested it and confirmed this bug is not fixed in 8u202.

[2019-03-12 11:10] sxa555 commented on #958
For reference this is on https://ci.adoptopenjdk.net/computer/build-macstadium-macos1010-2/ and it's using `--with-boot-jdk=/Users/jenkins/workspace/build-scripts/jobs/jdk11u/jdk11u-mac-x64-openj9/jdk-10/Home`

[2019-03-12 11:12] sxa555 commented on #958
Shouldn't have `/Home` on the end ... I think someone was making changes in that area at one point recently since it's using a dynamically fetched JDK - will investigate. I want to move away from anything using a pre-fetched one regardless ...

[2019-03-12 11:16] sxa555 commented on #958
Recent updates in this area: https://github.com/AdoptOpenJDK/openjdk-build/pull/930 https://github.com/AdoptOpenJDK/openjdk-build/pull/932

[2019-03-12 11:39] lumpfish commented on #958
Looks like we need to revert the changes for Mac in the PRs referenced above.  What I don't understand is how the fix appeared to fix the JDK12 Mac builds.  The current JDK12 Mac builds are using a boot jdk from a different location - see https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-mac-x64-openj9/20.
It would be good to have a policy of either always downloading th

[2019-03-12 11:50] lumpfish commented on #958
Submitted PR https://github.com/AdoptOpenJDK/openjdk-build/pull/959 to revert the change. @sxa555 - please could you review?

[2019-03-12 11:57] sxa555 commented on #958
Done -  feel free to merge once the checks are complete, then we can kick off another mac build to test

[2019-03-12 16:30] sxa555 commented on #958
Initiated https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/161/ now that 959 is merged

[2019-03-12 17:26] johnoliver commented on #958
I dont think 959 is merged

[2019-03-12 17:43] #958 closed

[2019-03-12 18:53] sxa555 commented on #958
Have forced through https://github.com/AdoptOpenJDK/openjdk-build/pull/962 and https://github.com/AdoptOpenJDK/openjdk-build/pull/963 to do different things for JDK10 and JDK11. Build now running successfully at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9/168

[2019-03-12 21:49] karianna commented on #945
OK, so the next step will be to post on the 2d-dev mailing list - (you can sign up via http://mail.openjdk.java.net/mailman/listinfo/2d-dev).  And ask if someone is willing to sponsor a backport of https://bugs.openjdk.java.net/browse/JDK-8204929 (and tell them that you think https://bugs.openjdk.java.net/browse/JDK-8163278 could perhaps be the right issue to reopen for this.).

Let us know if you

[2019-03-13 01:28] myamamoto commented on #945
I am confused.
I do not know who will solve this problem.

This is the reply from the 2nd-dev mailing list.
1) Issues are NOT re-opened to be backported. That is not how JBS works
2) The issue is not in Oracle JDK 8, it is only in OpenJDK 8.
So long as you use Oracle JDK 8 you should not be seeing this.
3) This is not a bug report or support alias.
Problems with a binary product should be sent to

[2019-03-13 12:57] lumpfish commented on #942
Latest nightly build for openjdk12-openj9 now shows:
[code]
So @smlambert , the check for "java.vm.vendor=Eclipse OpenJ9" should now be working.

[2019-03-13 13:28] smlambert commented on #942
Thanks, closing as resolved.

[2019-03-13 13:28] #942 closed

[2019-03-13 19:19] karianna commented on #945
Hi @myamamoto - Sorry you didn't have good experience in the upstream project.  Let me drop a note to our JBS team and see what can be done.

[2019-03-14 14:00] sxa555 commented on #686
Yep I believe so

[2019-03-14 14:00] #686 closed

[2019-03-15 09:45] knn-k opened #966 "Add aarch64 linux build of openj9+openjdk11"
The aarch64 linux build of openj9+openjdk11 is wanted.
It can be built manually now using a cross-compiling environment by following the build instructions, and runs in the interpreter mode.

[2019-03-16 17:04] leeharland opened #967 "problem jdk11.0.2+9 G1BarrierSetC2::eliminate_gc_barrier JVM crash"
[code]

Hi, this is the first time i've filed a JDK bug so apologies if this isnt correct. We have a large server-application where we're seeing this issue, while i dont think I can outline steps to recreate it externally, i am happy to help in whatever way i can. The crash is absolutely reproducible on our side which i hope will help with any proposed solution testing.

There is consistency in th

[2019-03-17 10:55] karianna commented on #967
Hi @leeharland - Is this an AdoptOpenjDK binary that you are using?  Can you also check if this is an issue with an alternative 11.0.2+9 binary from another provider?  I'm trying to ascertain if this needs to be reported upstream :-).

[2019-03-17 10:59] karianna commented on #967
Are you able to share the source code of that file?  It might also be helpful to run that class file through the JitWatch tool (hosted here on the AdoptOpenJDK GitHub repo).  and send in the bye code and machine code for that class / method.

[2019-03-17 15:15] leeharland commented on #967
Thanks yep will try to look into all of that and let you know. Away for a week but will get back to you asap

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Martijn Verburg <notifications@github.com>
Sent: Sunday, March 17, 2019 10:59 am
To: AdoptOpenJDK/openjdk-build
Cc: Lee Harland; Mention
Subject: Re: [AdoptOpenJDK/openjdk-build] problem jdk11.0.2+9 G1Barrie

[2019-03-18 12:38] karianna commented on #871
@ali-ince Another on your plate.

[2019-03-18 16:06] 4ndrej commented on #698
this https://stackoverflow.com/questions/7647818/glibc-elf-file-os-abi-invalid seems to be related through multiarch binaries. Maybe you can disable multiarch in version for RHEL5

[2019-03-18 17:59] marco-schmidt opened #969 "Windows x64 11.0.2+9 crashes running "java -version""
Hi all!

We have a crash of OpenJDK11U-jdk_x64_windows_hotspot_11.0.2_9.zip on a customer machine running simply "java -version".

On our test environment for that customer we have no problem. The two machines are running similar but not identical Windows versions (Datacenter vs. Standard):

(customer, crashes)
systeminfo | findstr /B /C:"OS Name" /C:"OS Version"
OS Name:                   Microso

[2019-03-19 09:04] karianna commented on #969
Hi Marco,

1. Has the customer tried an alternative OpenJDK provider? I want to quickly see if this is an upstream issue.
2. Is it also possible to get us access to the heap dump itself?
3. Can your customer try without having the CompressedOops flag switched on?  It seems to be suppressing some reporting and could also be the root cause.

Paging @ali-ince to take over if we can get more info :-)

[2019-03-19 10:21] marco-schmidt commented on #969
Hi Martijn, thanks for the quick response. We will try another OpenJDK version for comparison. To produce the heap file without compressed oops, we would run
java -XX:-UseCompressedOops -version
to disable it on the customer machine? We did not turn on compressed oops explicitly, it seems to be on by default.

[2019-03-19 10:33] maddin79 commented on #577
Hello,

is there any information when the javafx will be available in AdoptOpenJDK 8. We really need it.

A possible workaround:
I am working on Ubuntu 18.04 system and use the AdoptOpenJDK 8u202-b08 version.
To get javafx running i copied all necessary files from the Oracle JDK 1.8.0_201 version to the AdoptOpenJDK. Following the files you need to copy:

javafx-src.zip
bin/javafxpackager
jre/lib/

[2019-03-19 11:15] karianna commented on #969
Correct, the JVM ergonomics may have switched it on.

[2019-03-19 12:28] sappling opened #970 "Aarch32 builds fail with SIGILL on ARMv7"
**Platform:**
Beagle Bone Black (ARMv7-A)
**Architecture:**
aarch32

Running almost anything other than just "java -version" seems to throw SIGILL.  This was tested with the March 17th build from [here](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/).

Here are the results from a java -version and javac (with no args).
[code]

[2019-03-19 14:24] marco-schmidt commented on #969
Another Java 11 has no issues when run on the same machine:
https://download.java.net/java/GA/jdk11/9/GPL/openjdk-11.0.2_windows-x64_bin.zip from https://jdk.java.net/11/

We've created another heap dump and log file running AdoptOpenJDK's 11.0.2+9 like this:
java -XX:-UseCompressedOops -version
Zipped both files and made them available at https://www.dropbox.com/s/s6sa3ycyppt9s6x/openjdk-build-is

[2019-03-19 18:19] sappling commented on #970
Note that we have a working aarch32 build we created ourselves directly from OpenJDK (without using AdoptOpenJDK scripts).  This was cross compiled from Ubuntu 10.04/x64.  I will get the engineer who worked on this to post more details about the working build.

[2019-03-19 21:20] justinmahar commented on #262
It seems some of the JDK downloads have a companion JRE, some don't. If there's a particular JDK with no JRE available for download, you can use the following tool to create one easily using `jlink`:

https://justinmahar.github.io/easyjre/

This will give you the `jlink` command you need to create a standard JRE for any JDK, and allows you to customize the command from there.

[2019-03-20 07:32] polyn0m commented on #577
@karianna any news?

[2019-03-20 09:47] karianna commented on #577
It's fairly high up the list, but we have some other burning priorities first (Installers and JDK12)

[2019-03-20 12:55] Ciruman commented on #577
@karianna what do you need to get javafx inside AdoptOpenJDK?

[2019-03-20 13:28] karianna commented on #577
I think we just need to add the correct libs to the existing JRE / JDK bundle and then make that available as a separate download and via installers as well.  So likely some Jenkins Groovy / Bash scripting, some installer updates and then some API and web work.

[2019-03-20 13:51] ClintonFlowers commented on #970
I'll be investigating more, but for comparison, the AdoptOpenJDK [is currently configuring with](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/79/consoleText):

and

The VM which I have working was configured with:

and

or

I believe the most significant difference between the one we have working and the others is that I was using the Client JVM, n

[2019-03-20 18:34] bryandx commented on #898
Applet support (on Windows with Java 8) is also needed by our organization for some older EMC Documentum apps.  I believe IcedTea-Web does have that support

[2019-03-20 19:08] ali-ince commented on #969
Hi Marco,

I have spent some time trying to reproduce this but couldn’t have a failure at all.

I believe we have two options here;

1) Create a jdk11u build from the same tag with visual studio 2017, which will show if it’s related with platform components or not.
2) Create a jdk11u build using the current setup with debug symbols included so that we can gather more information about the failure

[2019-03-20 19:14] ali-ince commented on #763
This is now merged into jdk11u and will be part of the next jdk11u release.

@karianna If we would like to get this fix into our repository sooner than the above PR is ready to be merged.

I’ll close the issue.

[2019-03-20 19:14] #763 closed

[2019-03-20 19:19] ali-ince commented on #709
This is already fixed in upstream jdk11u and now it’s also applied into jdk12u which will be included in a later release as well.

I’ve created a revert PR of our initial fix as well.

Closing this issue.

[2019-03-20 19:19] #709 closed

[2019-03-20 20:16] karianna commented on #898
We now have a repo https://github.com/AdoptOpenJDK/icedtea-web and the icedtea team are working on getting the CI pipeline up and running.  Then we'll look to build releases here and bundle with Adopt Binaries as an optional extra.

[2019-03-20 20:42] gdams commented on #883
@johnoliver can we close?

[2019-03-20 20:42] gdams commented on #833
ping @lumpfish

[2019-03-20 20:44] gdams commented on #774
@pinhead84 can you explore if you can build one a 64 bit host? We may struggle to source 32 bit hardware.

[2019-03-20 20:46] gdams commented on #712
This is a difficult one. We previously did  ship the tarball like this but when we started creating installers we had to switch to get the macOS layout.

[2019-03-20 20:46] gdams commented on #704
@pshipton can we close this?

[2019-03-20 20:47] gdams commented on #697
closing as 11.0.2 came out.

[2019-03-20 20:47] #697 closed

[2019-03-20 20:48] gdams commented on #685
is this a build issue? Seems like something that could be added to the installers if needed?

[2019-03-20 20:49] gdams commented on #683
looks like this was closed upstream at the j9 project. Closing

[2019-03-20 20:49] #683 closed

[2019-03-20 20:50] gdams commented on #680
closing as they now work for me

[2019-03-20 20:50] #680 closed

[2019-03-20 20:52] gdams commented on #645
@marschall can this be closed?

[2019-03-20 20:53] gdams commented on #642
@ferstl can this be closed now?

[2019-03-20 20:55] gdams commented on #563
@johnoliver did this happen?

[2019-03-20 20:56] gdams commented on #484
this will be fixed by the work @johnoliver is doing with the metadata

[2019-03-20 21:42] karianna commented on #883
I am not John but No - we still need to build and test these

[2019-03-20 21:45] karianna commented on #712
It's actually more subtle than that.  When you sign a mac bundle correctly it gets past quarantine.

@slandelle Are you able to try one of our Mac installers?

[2019-03-20 21:49] karianna commented on #685
@xtbe Are you able to provide a sample JAR?  Was this just `java -jar foobar.jar` you executed?

[2019-03-20 21:56] karianna commented on #645
I think this warrants further investigation.

[2019-03-20 21:57] xtbe commented on #685
Will test again with the latest available installer to verify if the problem still exist. If still the case will add more details to this issue

[2019-03-20 22:02] karianna commented on #642
This is effectively now a duplicate of #146 - so closing in favour of that one.

[2019-03-20 22:02] #642 closed

[2019-03-20 22:03] karianna commented on #484
This has been resolved (tag vs dir name)

[2019-03-20 22:03] #484 closed

[2019-03-20 22:08] slandelle commented on #712
@karianna Indeed, the new installer now no longer generates a quarantined folder. Thanks a lot for your great work!

One small nit though: it's not very convenient that the folder is simply named adoptopenjdk-8, without at least the update version. When upgrading, I tend to keep previous update around for some times, so it's easier to rollback should a regression occur.
Do you want me to open a de

[2019-03-20 22:08] #712 closed

[2019-03-20 22:18] gdams commented on #712
@slandelle we've had people argue both ways on this one. Some people want to overwrite and some people don't.

[2019-03-20 22:25] gdams commented on #712
this is also how Oracle handle their installations: https://github.com/Homebrew/homebrew-cask-versions/blob/master/Casks/java-beta.rb#L9

[2019-03-20 22:50] slandelle commented on #712
But `version.before_comma` would be `12` and then `12.0.1` and then `12.0.2`, not always `12` like you have just `8` for all the updates.

[2019-03-21 13:22] sxa555 opened #977 "builds are creating an OpenJDK.tar.gz which starts at /"
There is an OpenJDK.tar.gz being created during the mac builds that appears to have contents starting from `/` on the file system. This is not ideal and is resulting in workspaces with files of around 100Gb, filling up the file system. In both cases it was JDK11 builds, but a differnet variant - hotspot on [build-macstadium-macos1010-1](https://ci.adoptopenjdk.net/computer/build-macstadium-macos10

[2019-03-21 13:33] sxa555 commented on #977
From the logs (this one was https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9-macosXL/141/console specifically)
[code]

[2019-03-21 13:45] sxa555 commented on #977
`repoDir` is presumably ending up being blank somewhere and therefore after https://github.com/AdoptOpenJDK/openjdk-build/pull/673/files went in that will have resulted in it running tar against `/` in that situation

[2019-03-21 14:16] sxa555 commented on #977
Note: Unlike what we first thought when we saw this problem this isn't specific to macos e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9/238/consoleFull

Currently looking at the ppc64le machine to diagnose

[2019-03-21 14:29] sxa555 commented on #977
It's the `revList=$(git rev-list -n 1 $firstMatchingNameFromRepo)` command that throws the error when run in a directory that has a name matching the tag (e.g. `jdk8u202-b08`) ... I'm guessing it's running from somewhere like `workspace/build/src/build/*-normal-server-release/images` which has such a directory when it's being called from the `copyFreeFontForMacOS()` function:

[code]

[2019-03-21 15:18] #977 closed

[2019-03-21 16:00] marschall opened #980 "Demo folder included"
I'm not sure whether this is intentional or not but the OpenJDK builds by AdoptOpenJDK include a `demo/` folder while the  OpenJDK builds by Oracle do not.
Personally I don't see much use from the demos and certainly would not want to deploy them on a production server.
Maybe the can be offered as a separate download.

Zulu interestingly does include the `demo/` folder.

[2019-03-21 16:07] marschall commented on #645
I checked with 11.0.2 and the following classes are sill missing from `classlist` compared to the builds by Oracle

[code]

So the situation remains unchanged.

[2019-03-21 16:10] gdams commented on #980
Admittedly it's not very big (see below) but makes sense for it to be removed from production binaries

[code]

[2019-03-21 16:34] marco-schmidt commented on #969
Hi Ali,

we could run both versions to further try to identify the problem.

I don't mind taking this to mail, how would I contact you?

Thanks for your help,
Marco

[2019-03-21 16:52] breun commented on #617
There are no JRE builds for Oracle OpenJDK anymore by the way, only full JDK's. :)

[2019-03-21 16:59] breun commented on #367
Note that `java -version` prints to standard error. :)

OpenJDK 11 and later also support `java --version` which prints to standard out, but OpenJDK 8 doesn't support this option. Of course redirecting standard error to standard out works too: `java -version 2>&1`

[2019-03-21 17:40] johnoliver opened #982 "Tag parsing fails on GA tags"
**Platform:**
all
**Architecture:**
all

Due to our parsing on tag names being quite strict in `configuringVersionStringParameter` of expecting `jdk-<number>+<number>` jdk-12-ga fails the build. Especially on nightlys when ga was the last tag created

[2019-03-21 18:41] karianna opened #984 "Java 8u 222 will be able to use vendor name flag"
just a heads-up: `--with-vendor-name` coming with next CPU update for 8u. https://bugs.openjdk.java.net/browse/JDK-8221171

[2019-03-21 20:09] xtbe commented on #685
Tested this again with the latest MSI and this works correctly now. I took a clean Windows 10 machine, installed AdoptOpenJDK 8 (msi) and SQLWorkbench.
Running the command java -jar sqlworkbench.jar works so this is now resolved by the installer.

The wrapper (executable) around the JAR (SQLWorkbench64.exe/SQLWorkbench.exe) doesn't work. The wrapper is based on WinRun4J. Perhaps I should report th

[2019-03-22 08:43] karianna commented on #685
@xtbe Great!  Yes, a separate issue would be appreciated.

[2019-03-22 08:43] #685 closed

[2019-03-22 13:36] sxa555 commented on #922
I deployed a java10 boot JDK (and java11) on the AIX machines as per the playbooks, therefore the "dynamic" boot JDK download code failing on this platform (which I want to get rid of going forward anyway) is no longer an issue.

We should now do a release of HotSpot/JDK11/AIX though.

[2019-03-22 14:08] gdams commented on #980
TSC has voted to remove the Demo folder.

[2019-03-22 14:11] knaccc commented on #878
I've noticed that AdoptOpenJDK 12 (hotspot) now has the necessary DLLs, so everything works perfectly for JavaFX apps.

Thank you!!!

[2019-03-22 14:14] karianna commented on #966
If OpenJ9 is supporting this upstream then we're happy to assist in getting this up and running.  I've put it in the Backlog as it needs volunteers

[2019-03-22 14:22] karianna commented on #878
Good to hear - For Java 11 and 8 I suspect this issue will be resolved in the nightlies now.  @ali-ince Are we building with VS 2017 for all versions now?

[2019-03-22 14:34] gchauvet opened #986 "Add linux 32bit x86 release"
I've noticed there is no linux x86 target from adoptopenjdk.
Is it scheduled to add this ?

[2019-03-22 14:36] karianna commented on #986
I've put this in Backlog to indicate that we're happy for this to go ahead but are really relying on volunteers to make this happen

[2019-03-22 14:53] ali-ince commented on #878
Not yet @karianna, that's still in progress. I'll update this thread when we switch to vs2017.

[2019-03-22 15:58] pinhead84 commented on #986
For your information: I recently discovered, that Azul Systems now provides OpenJDK 12 for Linux 32-bit x86. This surprises me a bit, especially that their build also to passes the TCK.

[2019-03-22 22:03] ali-ince commented on #969
Hi Marco,

I have sent an e-mail to the e-mail address that's shown on your git commits, please let me know if you didn't receive any.

Thanks,

Ali

[2019-03-24 22:01] ali-ince commented on #946
This is probably related to the patch being discussed at https://mail.openjdk.java.net/pipermail/build-dev/2019-March/025213.html.

The bug report is available at bug: https://bugs.openjdk.java.net/browse/JDK-8217707.

I'll follow up the backport of the fix to 11u and 12u after the initial patch is merged.

[2019-03-25 09:38] marco-schmidt commented on #969
I got the mail and replied.

[2019-03-25 10:07] pinhead84 commented on #986
The same applies to BellSoft. They [confirmed via Twitter](https://twitter.com/bellsoftware/status/1109691863752040448), that they're going to provide OpenJDK 11 for Linux i686 with the next 11.0.3 release in April. So I guess / hope the chances are getting better, that AdoptOpenJDK will also be able to provide builds for Linux i686 in the future.

[2019-03-25 10:27] pinhead84 commented on #986
@karianna

What kind of help by volunteers do you mean?

Correct me if I'm wrong, but shouldn't BellSoft / Azul publish their fixes for Linux i686 in order to fulfill the OpenJDK license? - Shouldn't these fixes become available in the OpenJDK repository?

Or do you need help regarding cross platform builds on amd64 systems?

[2019-03-25 10:50] #883 closed

[2019-03-25 12:13] smlambert commented on #966
OpenJ9 is supporting this upstream.

FYI @sxa555 - I cc-ed you on a note from @knn-k so you have context.

We have also completed preliminary testing against developer builds.

[2019-03-25 12:41] sxa555 commented on #966
@knn-k Can it be built natively instead of with a cross compiler? That would make our setup and implementation easier.

[2019-03-25 15:04] sxa555 commented on #957
A reasonable use case would appear to be "I want to set up a machine with ansible and build with your scripts".

Currently the main documentation we provide is for `makejdk-any-platform.sh` which does not invoke the environment scripts that we have assembled. A suitable set of instructions would be along the lines of telling people to set these variables and run the script.:
[code]
I wonder if we

[2019-03-25 18:31] sxa555 commented on #986
The latter really ... At the moment if you try to run with the 32-bit option on a 64-bit system you get:
[code]
I haven't had the time to diagnose it yet but if you know how to bypass that give us a shout :-)

[2019-03-25 18:46] pinhead84 commented on #986
I've documented the steps [here](https://github.com/OpenIndex/openjdk-linux-x86#build-on-x86-64-systems-natively). Basically starting the build script with `/usr/bin/linux32 -- ./makejdk-any-platform.sh` lets the build scripts think, that it is running on a 32 bit system. With this prefix OpenJDK 11 compiled fine on my Debian amd64 system with your build script.

I don't really know, if this is a

[2019-03-25 19:40] 030 commented on #262
Could this issue be reopened? Oracle used to provide always a JRE for download. In my opinion this should be done as well as this can be automated.

[2019-03-25 20:46] kgibm commented on #692
For those wondering, eclipse/openj9#1538 notes that the HealthCenter agent was somehow installed into OpenJ9. I was able to get this to work (and also without `-Dsun.rmi.registry.registryFilter*`) using the following Dockerfile:

[code]

Running:

[code]

FYI @pshipton

[2019-03-25 20:59] pshipton commented on #692
I suppose putting the healthcenter.jar on the bootclasspath avoided the need for `-Dsun.rmi.registry.registryFilter=javax.**`

[2019-03-25 21:34] karianna commented on #262
We do provide JRE packages, I'm not sure what's missing?

[2019-03-25 21:38] karianna commented on #692
Is this an actual issue with the AdoptOpenJDK binary or the IBM HealthCenter product?

[2019-03-25 21:53] kgibm commented on #692
I'm not part of the Java team, so I'm not sure exactly how everything is scoped, but I believe the issue is that HealthCenter is not shipped with OpenJ9 as it is with IBM Java. The above is a workaround of downloading and placing HealthCenter into OpenJ9. As it stands, I don't think there's any technical issue with OpenJ9, but rather an open question of whether OpenJ9 will ship with the HealthCent

[2019-03-25 23:10] knn-k commented on #966
Unfortunately, no.  The build configuration for aarch64 in OpenJ9 assumes cross-compilation at this point.
I will take a look if I can change it for building natively.

[2019-03-26 08:24] karianna commented on #692
After checking with the OpenJ9 team this issue should be reported to the IBM health center project.  Closing here.

[2019-03-26 08:24] #692 closed

[2019-03-26 11:27] marco-schmidt commented on #969
Cannot reproduce problem anymore. It seems like the one machine where this happened was changed in some way, or the JDK content was not properly rolled out. Thanks again to everyone helping to find the issue.

[2019-03-26 11:27] #969 closed

[2019-03-26 14:08] sxa555 commented on #692
Also related (Health Center query)  https://github.com/AdoptOpenJDK/openjdk-docker/issues/104

[2019-03-26 14:25] antonyfountain commented on #577
I have managed to build the OpenJFX 1.8 on a windows 10 machine, with the jfxwebkit.dll, etc, also built. Tests out fine. It was a mighty painful exercise, the build guides for openjfx around on the web are variously insufficiently precise on certain features of exactly which versions of tooling packages work together, and which packages are best loaded by hand and not downloaded with cygwin. PATH

[2019-03-26 16:35] sxa opened #990 "Allow marist-1 build box to build openj9/jdk12"
The job https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-s390x-openj9/ (and maybe others) is locked to the https://ci.adoptopenjdk.net/computer/build-marist-rhel74-s390x-2/ machine and therefore won't run on https://ci.adoptopenjdk.net/computer/build-marist-rhel74-s390x-1/ - this is not ideal for redundancy and we need to verify why and remove the lock to that mac

[2019-03-26 16:53] johnoliver commented on #982
should be fixed

[2019-03-26 16:53] #982 closed

[2019-03-26 17:36] sxa opened #991 "Stop $HOME/.gradle being used"
Ideally everything for a build should be inside the `WORKSPACE` directory, or possibly directly under `JENKINS_HOME` if we want it shared but on the workspace file system.

If there's a variable we can use to control gradle's location we should look at setting it in our environment scripts.

[code]

[2019-03-26 20:12] sxa555 commented on #986
Hmmm hadn't thought about linux32 ... Good shout - I'll try it :-)
(As an FYI All our build machines are RHEL or CentOS v6/v7 which give us the widest compatibility with different glibc versions)

[2019-03-27 13:02] 030 commented on #262
@karianna I misunderstood. Now I found the JRE https://adoptopenjdk.net/releases.html#x64_linux

[2019-03-27 13:24] ed03875 opened #992 "Java.class.path, Jar files and directory expansion."
This problem presents on W64 and Linux in two different distributions of OpenJDK Java 11 that we know of : openjdk version "11.0.2" 2019-01-15 and openjdk version "11.0.1" 2018-10-16.

Windows 10
Linux 3.10.0-862.3.2.el7.x86_64 #1 SMP Mon May 21 23:36:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

I must be missing something obvious because I would have thought that others would have found this behav

[2019-03-28 02:59] oderaita opened #995 "Update policies"
Dear Sir,

If you look at the version of Oracle Java 8, two versions are always released. I understand that 191 is a critical patch (eg 191, 192) and 192 is an extension.

However, some critical patches,you  have not been released. Why is this.
Also, is the critical patch installer not including past enhancements?

[2019-03-28 10:52] karianna commented on #995
Hi @oderaita - AdoptOpenJDK has decided to go for a PSU release policy, that is we release the later number (e.g. 192) which includes the CPU security fixes from (e.g. from 191).  Our consumers have overwhelmingly voted to have both the security fixes as well as the extra stability fixes.

Is there a particular need by your organisation to have the CPU build only?

[2019-03-28 11:26] sxa555 opened #996 "Windows JDK8 builds all failing"
See https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u

Example failure from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/227/console:
[code]

[2019-03-28 12:36] sxa opened #998 "Stabilise AIX builds (ramdisk space issue)"
Currently things are being left around on the AIX build machines in the ramdrive which has limited space.

Some of the dump files already have an issue covered by https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/693 which proposes redirecting them from the ramdisk, but we also have some of the workspaces under `build-scripts` being left and they can be up to 5Gb each with JDK11/12.

I

[2019-03-28 13:50] sxa555 commented on #207
I believe @groeges has still been seeing issues with this.

[2019-03-28 13:52] sxa555 commented on #998
Cleared up `/tmp`, run the job on `-2` (not yet `-1` as it's in use) and have initiated the following pipelines which will re-run 8/11/12 nightlies to verify them (Currently all are red):
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/498/
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/371/
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk12-pipel

[2019-03-28 13:55] sxa555 commented on #998
Also seeing a large number (2.2M) of files `/tmp/sh-np-*` which are pipes owned by the jenkins user on `-2` that don't seem to be getting cleaned up.

[2019-03-28 14:08] sxa555 commented on #406
Having machine stability issues which need investigating, along with getting the new machine set up and running:

FYI https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/86/consoleFull ran ok on build-scaleway-armv7-ubuntu16-04-2, https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-arm-hotspot/25/consoleFull ran on build-pac

[2019-03-28 16:14] sxa555 commented on #406
Despite being set in jenkins with `NUM_PROCESSORS=4` my [JDK12 build](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-arm-hotspot/36/console) is causing a load of nearly 40 on the machine (and jenkins has now disowned it) and there appears to be about 12-16 gcc processes running in parallel along with other stuff. It's 1.5Gb into swap space too ... Something's de

[2019-03-28 20:52] ali-ince commented on #996
I've updated cacerts files both in jdk-7 and jdk-8 installations and now experiencing another error saying that

[code]

I can get the error, but the default JAVA_HOME is already pointing to jdk-8. I guess the build system overrides default JAVA_HOME with BOOT_JDK which is defined as jdk-7 for jdk-8 builds.

[2019-03-28 23:24] grzesuav opened #999 "Cannot build jdk8 on kernel 5.x"
**Platform:**
Dockerfile - ubuntu 16.04 official docker image
**Architecture:**
x86_64

https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/hotspot/make/linux/Makefile#L236

It seems ubuntu:16.04 image was updated recently, and it have kernel in version 5, which makes jdk8 not able to compile.

[code]
Solution :
* downgrade kernel in dockerfile to latest 4.20 (need to dig out how to do in ub

[2019-03-28 23:24] grzesuav commented on #999
Will try to make PR when find easier of two proposed solutions

[2019-03-28 23:32] grzesuav commented on #999
After digging - there is no kernel in image - kernel on my laptop is 5.0.4. Actually cannot do anything with that (well, besides downgrading of kernel, which is not suitable).

Actually what stops from adding support for kernel 5.x in jdk 8 makefiles ?

[2019-03-29 10:06] groeges commented on #207
No sure whether this is still a problem on the Adopt machines but I have been seeing issues on my local machine with running some of the JTReg tests. Setting LIBPATH and/or LD_LIBRARY_PATH didn't seem to resolve the issue, as the JTReg tests didn't see to pickup these environment variables. I had to either add `-e:LIBPATH=/opt/freeware/lib64` to the JTReg command or add a symbolic link to the libr

[2019-03-29 12:00] groeges commented on #207
Having checked with the AIX guys in SAP, it seems that on the systems I was using we've installed the wrong libraries. We shouldn't use dependencies which are compiled with GCC and therefore rely on libgcc. Mixing xlc-compiled libraries with gcc-compiled ones is usually not a good idea.

A change, for the special "libfontmanager" case,  we could simply build with "--with-freetype=bundled" which wi

[2019-03-29 12:33] karianna commented on #207
@sxa555 Are you happy to close this in that case?

[2019-03-29 12:56] karianna commented on #996
Hi @ali-ince - I think #1000 will resolve this issue.

[2019-03-29 13:00] karianna commented on #999
I'd look at `/openjdk/build/workspace/build/src/hotspot/make/linux/Makefile:242` and see if there's an easy fix (adding 5 as a supported version)

[2019-03-29 16:27] grzesuav commented on #999
I would try to add there 5.x as compatible version. But to which repository ?
Origin is http://hg.openjdk.java.net/jdk8/jdk8 - could you point me how it should be done ?
(like do I need create bug report first, and how to mae PR there ? )

[2019-03-29 16:58] sxa555 commented on #996
Currently still failing with this:

[code]

[2019-03-29 17:05] johnoliver commented on #996
Yeah there is an issue with windows not accepting absolute classpaths #1001 should fix it, but testing now

[2019-03-29 17:55] sxa555 commented on #207
I'll need to do further verification, plus what @groeges is saying above seems to be a JDK11+ specific solution

[2019-04-01 08:53] polyn0m commented on #577
MacOS and Linux distribs also missing JavaFX libs...

[2019-04-01 09:00] karianna commented on #999
The project page you want is: https://openjdk.java.net/projects/jdk8u/ and I'd report the issue here: https://mail.openjdk.java.net/mailman/listinfo/jdk8u-dev and see if anyone else has run across it.  If so then perhaps offer to work on a patch (but ask for a sponsor)

[2019-04-01 09:01] #996 closed

[2019-04-01 13:37] sxa555 opened #1004 "arm32 JDK12 builds failing to download gradle (certificate error)"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-linux-arm-hotspot/
Worked last week (including the download of gradle) but today I'm getting:
[code]

[2019-04-01 13:39] sxa555 opened #1005 "AIX build failing to download gradle"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-hotspot/205 :
[code]
May be a result of https://github.com/gradle/gradle/issues/2903 and fixed by the addition of explicitly running through `bash` in https://github.com/AdoptOpenJDK/openjdk-build/pull/1003

[2019-04-01 14:00] sxa555 commented on #998
Most builds currently failing due to https://github.com/AdoptOpenJDK/openjdk-build/issues/1005

[2019-04-01 16:16] grzesuav commented on #999
Posted information https://mail.openjdk.java.net/pipermail/jdk8u-dev/2019-April/009034.html , will see how it goes

[2019-04-01 20:07] karianna commented on #999
That's a bug in our jdk8u repo then possibly - @johnoliver Our diff seems OK so not sure what's going on here

[2019-04-02 16:30] sxa555 opened #1009 "Add OpenJ9 aarch64 JDK11 builds"
Awaiting merging of https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/149 and https://github.com/eclipse/openj9/pull/5321 but it's close.

[2019-04-02 16:42] sxa555 commented on #1009
@karianna I'm assuming this doesn't need to be approved via the TSC? Initial builds may be without a fully working JIT and will therefore operate in `-Xint` mode by default but it'll be a starting point :-)

[2019-04-02 16:43] karianna commented on #1009
yeah this is pretty minor

[2019-04-03 06:25] PaulHammes commented on #871
Dear all,

we even have the same issue. We tested the same workflow with AdoptOpenJDK and Oracle and the Oracle and get to the same result as smehrbrodt. The Orcale JRE lives much longer until getting an OutOfMemory.
We will be pleased to get a solution.

Thx and regards
Paul

[2019-04-03 07:23] samifazal2004 opened #1010 "Unable to fing AdoptOpenJDK8 build with Shenondoah GC algo. Please suggest"

[2019-04-03 15:57] sxa555 opened #1011 "Release JDK9/JDK10 on "missing" platforms for use as boot JDKs"
Ansible scripts will currently fail if there is no available boot JDK available via the API to download and install. Mostly we use HotSpot as the boot JDK so they are the most important ones.

The missing ones are as follows:

JDK9/HotSpot: Linux/armv7l, Linux/aarch64, MacOS/x64
JDK10/HotSpot: Linux/armv7l, Linux/aarch64, Linux/s390x, Linux/ppc64le, AIX/ppc64
JDK10/OpenJ9: Linux/armv7l, Linux/aarc

[2019-04-03 16:49] sxa555 commented on #1010
The default codebase for jdk8u which adoptopenjdk uses does not have Shenandoah support, although there is an alternate repository in mercurial for it.

[2019-04-04 10:17] karianna commented on #1010
@samifazal2004 Which platform is this for and is it possible for you to move to OpenJDK 11?

[2019-04-04 10:45] karianna opened #1013 "Extract build functionality from Jenkins Helper into Build Repo"
We will need to add a second lib to jenkins that does what we need https://ci.adoptopenjdk.net/configure "Global Pipeline Libraries"
the functions we use are `JobHelper.jobIsRunnable` and `NodeHelper.nodeIsOnline`

[2019-04-04 11:14] tpapanna opened #1014 "256-bit keysize for java.security.KeyPairGenerator"
IBM JDK used to accept 256-bit keysize for KeyPairGenerator. But openJDK has a restriction of key size to be in the range from 512 to 1024.
Now that IBM is recommending customers to use openJDK, Is there any way openJDK allows 256-bit keysize, if not when can we expect this to be supported in OpenJDK.

[2019-04-05 10:21] sxa555 commented on #966
Changes https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/149 and https://github.com/eclipse/openj9/pull/5321 should enable native compilation

[2019-04-05 10:21] sxa555 commented on #1009
My bad - this is a dup of https://github.com/AdoptOpenJDK/openjdk-build/issues/966

[2019-04-05 10:21] #1009 closed

[2019-04-05 14:39] keithc-ca commented on #1014
Isn't the current thing that (RSA at least) should be 2048 bits? 256 bits would be rather insecure.

[2019-04-05 14:48] johnoliver opened #1016 "Clear up directory naming scheme inside archives"
We need to decide what our dir naming scheme is inside our archives.

Currently we output dirs of the form:

[code]
I.e the semver version without any build numbers. In the past dirs were of the form:

[code]

I.e the adopt version number including build.

Currently there is a mismatch between what the installers are accepting as a dir and what we produce. Recently the build number was removed in

[2019-04-05 15:04] johnoliver commented on #1016
also possible option of adding `aojdk` to make it clear that it is us

[2019-04-05 15:06] sxa555 commented on #1016
I quite like the current (nightly build) format, although as per John's comment I think it would be good to have `aojdk` at the start if there were no objections as it's useful to identify what's what when doing an `ls` in `/usr/lib/jvm` on my machine :-)

It might be worth collating what all other providers are doing with the directory name in here to help get a consensus.

[2019-04-05 15:08] johnoliver commented on #1016
I am happy to keep it as:

[code]

Just need to fix the windows installer to make sure they understand the format

[2019-04-05 15:11] sxa555 opened #1017 "JDK8/11 mirroring scripts currently failing"
Since we've got a release coming up shortly we need to have these stable:
JDK8 failing for the last three days: https://ci.adoptopenjdk.net/view/git-hg/job/git-hg/job/git-hg-jdk8u/
[code]
And JDK11 failing since the start of March: https://ci.adoptopenjdk.net/view/git-hg/job/git-hg/job/git-hg-jdk11u/
[code]

[2019-04-05 15:37] sxa555 commented on #1016
I've got a feeling we have discussed this somewhere previously but could we not avoid jdk in the jre case? i.e.
[code]

[2019-04-05 17:05] sxa555 commented on #966
Note, the build will run to completion using `--with-openssl=system` on Ubunt4un 16.04 with the `libssl-dev` package installed

[2019-04-06 11:16] karianna opened #1020 "Utilise new Vendor name instead of adopt's patch with company name"

[2019-04-06 12:23] karianna commented on #1017
Being worked on

[2019-04-06 16:21] marschall commented on #645
I am not sure but I believe this file is used for the default CDS archive:
https://archive.fosdem.org/2018/schedule/event/class_data_sharing/

[2019-04-06 20:22] karianna commented on #1017
We believe these are now resolved.  Will run some test builds in the coming days.

[2019-04-06 20:22] #1017 closed

[2019-04-07 13:24] makarid commented on #893
Hello, i am also getting the same crash on my application right after i migrate it to java 11 from java 8. Now i am using java 11.0.2. Does anyone knows what it is and why it is happening? The msg has always different class in which the application has crash.

[2019-04-08 10:47] sxa555 opened #1022 "Segmentation fault building c1_Compilation on aarch64 JDK8 build"
May be a one off failure as the next build on the machine [build-packet-centos74-armv8-1]( https://ci.adoptopenjdk.net/computer/build-packet-centos74-armv8-1/) but logging it here for reference in case it recurs (Have re-run the build and it has passed this point)
[code]

[2019-04-08 10:48] #1022 closed

[2019-04-08 11:35] adamfarley commented on #1014
The mailing list for OpenJDK security issues can be reached here:

https://mail.openjdk.java.net/mailman/listinfo/security-dev

If you sign up and send them your issue, you can get a view on whether the community intends to support this smaller key size.

Also, after reviewing the code, it seems like it is the specific implementation of the KeyPairGenerator class that allow/disallow limits on the

[2019-04-09 13:22] sxa555 opened #1024 "OpenJ9 JDK8 Windows builds failing"
Both 64 and 32-bit are having issues with freetype not being available:
It seems `--with-freetype-include=/cygdrive/c/openjdk/freetype-2.5.3/include --with-freetype-lib=/cygdrive/c/openjdk/freetype-2.5.3/lib64` options are missing from the configuration parameters now based on comparing https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/325/consoleFull (w

[2019-04-09 17:50] #1024 closed

[2019-04-09 21:42] karianna opened #1026 "Move to VS2017 for Win32 builds once 11.0.4 patches land"
We decided not to fast track the patches into Adopt

[2019-04-09 21:45] karianna commented on #1014
Closing this as providing support for 256-bit key sizes is no longer deemed to meet the security baseline.

[2019-04-09 21:45] #1014 closed

[2019-04-10 00:07] tpapanna commented on #1014
I agree it is less secure but due to some restrictions from server side we are unable to increase the key size.

[2019-04-10 07:29] ChristophKaser opened #1027 "OpenJDK 12+33 keeps crashing; wrong crash report URL"
**Platform:**
Hotspot OpenJDK 12+33
**Architecture:**
Windows x64 (zip-File, not Installer)

I keep getting crashes every few hours with the Openjdk12+33 build. Older OpenJDK versions like jdk-11.0.1_13 work fine.

The bug report URL seems to be false: This is a hotspot build, but it references the OpenJ9 bugtracker.

I am unsure whether this is the right place to report the crash: Should it be ra

[2019-04-10 10:20] gdams commented on #1027
Looks like we are adding the param to all builds and not just openj9 https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L227

[2019-04-10 13:09] smcilhinney commented on #682
Just to add to the list of people who have experienced this, I hit this issue when using Apache POI (which uses fonts in the background to size Excel columns etc) on a headless server. In essence jarnbjo is right - the cause of the exception shown in the issue is the lack of the `fontconfig.properties` file, as described here: https://docs.oracle.com/javase/8/docs/technotes/guides/intl/fontconfig.

[2019-04-10 21:23] ali-ince commented on #671
Having removed the requirement to have a pre-built freetype on build machines, and grep is already downgraded on all of the build agents (and it is also part of the playbook as well), I think it's now safe to close this.

[2019-04-10 21:23] #671 closed

[2019-04-10 21:32] ali-ince commented on #878
A quick update about this;

1. JDK11u 64-bit builds are now switched to VS2017.
2. JDK11u 32-bit builds are on VS2013. A fix that will enable JDK11u 32-bit to compile with VS2017 will be launched with 11.0.4 update and we'll be switching to VS2017 parallel to that.
3. JDK8u 32-bit and 64-bit builds are now switched to VS2013 (previously they were on VS2010/VS2013 mixed). We're working to get those

[2019-04-11 04:00] myamamoto commented on #945
Hi @karianna Could you tell me the status about this issue? Thank you in advance.

[2019-04-11 07:03] ali-ince opened #1029 "Left over artifacts should be cleaned up or not collected"
Windows - Any

I found a [build](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot/247) that not only includes binaries (artifacts that are named as `*2019-04-10-03-27*`) that were generated by the build itself but also binaries from a previous build (artifacts that are named as `*2019-04-09-17-51*`).

[2019-04-11 09:18] ChristophKaser commented on #1027
For the record, the crash itself also happens with the jdk.java.net build and might be this one:
https://bugs.openjdk.java.net/browse/JDK-8219321

[2019-04-11 09:31] lumpfish commented on #1016
With this convention all variants (openjdk-hotspot and openjdk-openj9) have the same top level directory, so they cannot be unzipped side by side (and it is not obvious from the directory name which variant it is).

[2019-04-11 10:22] aahlenst commented on #1016
What about compiling a list of requirements first? Like:

* Hotspot and OpenJ9 can be in the same directory
* OpenJDK 8..12 can be in the same directory
* Semver (e.g. 8.0.202) instead of upstream naming scheme (8u202)
* …

This should make it easier to evaluate each proposal for its (dis-)advantages.

[2019-04-11 10:25] sxa555 commented on #1016
So what is your preference @lumpfish? Something like this? We could omit "hotspot" as it would be considered the "default", or squash `hotspot` and `openj9` to `hs` or `oj9`.
[code]

[2019-04-11 10:39] sxa555 commented on #1016
I'm normally completely against specifically asking people to retweet anything but if you want to help get others involved in this since I'm sure there are many views out there feel free to RT this link to the issue :-)  https://twitter.com/sxaTech/status/1116287512207593472

[2019-04-11 10:47] karianna commented on #945
Hi @myamamoto - So a better approach is to create a patch (you can create a .patch file =based off our `openjdk-jdk8u` repo) and then send the contents of that patch to the jdk8u mailing list https://mail.openjdk.java.net/mailman/listinfo/jdk8u-dev - does that make sense?

[2019-04-11 11:00] lumpfish commented on #1016
I think the directory should make it clear where the content came from and what is in it, such as
[code]
or more generally
[code]
eclipse/openj9 have a clear versioning convention of their own so a specific 'variant' name is easy to define.

I'm not aware of a similar versioning system for hotspot (or corretto etc.), so perhaps simply 'hotspot' is appropriate.

[2019-04-11 11:06] sxa555 commented on #1016
I personally don't like such long directory names on my file system, although I can understand why openj9 might want their version number in there, although it's rare for it to change for a given JDK update and not be implicit for any given release.

[2019-04-11 12:19] jerboaa commented on #984
@karianna That would be `8u212` (April CPU), not `8u222`. I cannot fix the name myself.

[2019-04-11 12:54] andrew-m-leonard opened #1030 "OpenJ9 builds not showing "based on .." jdk tag level"
**Platform:**
All

**Architecture:**
All

Latest OpenJ9 builds are missing the based on JDK tag level in java -version.
[code]

[2019-04-11 12:59] sxa555 commented on #966
Almost there - I've temporarily patched the machine to resolve https://github.com/eclipse/openj9/pull/5451 but once that's in I'll undo that but it's now live on https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/

[2019-04-11 13:00] andrew-m-leonard commented on #1030
Issue caused by this change: https://github.com/ibmruntimes/openj9-openjdk-jdk11/commit/7f76ddcbf1e0db1873c11ea6f2ffc326725a0a8c

[2019-04-11 16:02] keithc-ca commented on #1016
I prefer shorter directory names as well, but clarity to me is more important than brevity.

As part of this 'cleanup' can we remove the redundancy in URLs? For example, `_openj9` appears twice in the filename `OpenJDK8U-jdk_x64_linux_openj9_8u202b08_openj9-0.12.1.tar.gz`:
[code]

[2019-04-11 22:46] myamamoto commented on #945
Hi @karianna Thanks for your advice.
I do not know if that will do well or not.
I expect that adoptOpenJDK will do that including patch file creation and this bug will be fixed.

[2019-04-12 09:04] jerboaa commented on #935
Note that the vendor test fix has been backported and is coming with 8u212:
https://bugs.openjdk.java.net/browse/JDK-8220047

[2019-04-12 10:23] karianna opened #1032 "Revert new directory naming for jdk 8 releases"
Initial report:

[code]

Discussed on a build team call - we will revert to the `jdk-8.0.212-b01` style naming for now and resolve fully in #1016 going forward

[2019-04-12 10:23] karianna commented on #1032
We will unify this later in #1016

[2019-04-12 10:24] karianna commented on #1016
We will delay resolving this until after the 8u212 release.

[2019-04-12 10:30] karianna commented on #1030
@andrew-m-leonard Discussed at Adopt - a full clone represents a performance regression for our builds.  Is it possible to fix this upstream?

[2019-04-12 11:09] karianna commented on #945
AdoptOpenJDK has a "Patches must be applied upstream policy".  If you'd like a company to do this on your behalf then both IBM and jClarity provide commercial support - see https://adoptopenjdk.net/support.html

[2019-04-12 11:23] karianna commented on #935
Yes, see #1020

[2019-04-12 11:33] pshipton commented on #1030
@keithc-ca is looking at this.

[2019-04-12 11:35] #1027 closed

[2019-04-12 11:36] karianna commented on #1032
See #1034

[2019-04-12 11:52] jerboaa commented on #935
#1020 seems related to https://bugs.openjdk.java.net/browse/JDK-8189761 and https://bugs.openjdk.java.net/browse/JDK-8193764. JDK-8195153 (and 8u bug JDK-8220047) is a test-only fix.

[2019-04-12 12:37] #1032 closed

[2019-04-12 13:14] smlambert commented on #1016
+1 on short names (especially given file name limits on Windows, we hit issues in testing where full path name is exceeded)

Also prefer to have the implementation explicitly named, hs or oj9 (or hotspot / openj9), or as was suggested any others that may be built or served up from AdoptOpenJDK (makes it easier from automation/scripting perspective).

[2019-04-12 14:28] stooart-mon commented on #1010
ZGC is in JDK 11. Shenandoah was integrated with JDK 12. All of the Red Hat builds include Shenandoah since jdk8u, apparently, but you'd need to go to them for that.

[2019-04-12 15:23] #1010 closed

[2019-04-12 19:54] keithc-ca commented on #1030
See:
* ibmruntimes/openj9-openjdk-jdk8#285
* ibmruntimes/openj9-openjdk-jdk8#286
* ibmruntimes/openj9-openjdk-jdk11#157
* ibmruntimes/openj9-openjdk-jdk11#158
* ibmruntimes/openj9-openjdk-jdk12#40
* ibmruntimes/openj9-openjdk-jdk#94

[2019-04-12 22:02] pshipton commented on #1030
The fixes are merged, the next set of builds should be working.

[2019-04-13 20:02] karianna commented on #1030
Thank you all

[2019-04-13 20:02] #1030 closed

[2019-04-15 01:15] keithc-ca commented on #1030
The most recent nightly of JDK8 at adopt predates the change, but JDK11 on Windows looks good:
$ java -version
[code]

[2019-04-15 01:25] myamamoto commented on #945
What does upstream policy mean?

[2019-04-15 11:28] sxa555 commented on #966
Working other than the fact the build currently needs `--disable-warnings-as-errors-openj9` as per https://github.com/eclipse/openj9/issues/4486 - am hoping we can use another option in production.

[2019-04-15 11:42] karianna commented on #945
AdoptOpenJDK only hosts its own patches in extreme circumstances.  All patches should be patch upstream at OpenJDK (ore Eclipse OpenJ9) as appropriate.  You can opt to make these patches yourself or engage in a commercial support arrangement to have it done for you.

[2019-04-15 12:05] Inverness opened #1038 "No OpenJDK 11 LTS Windows installers"
Is there a reason for Windows installers not being available for OpenJDK 11 HotSpot?

I am looking for Windows installers for LTS versions 8 and 11. I'm glad to see an installer is available for 8, and I see there is one available for 12, but I do not see one for 11.

Using 12 is not desirable because long term support is exactly what I want. This must include a Windows installer that makes it sim

[2019-04-15 12:15] karianna commented on #1038
We have installers in the nightlies and the next 11.0.3 release will have a windows installer.

For support expectations (including Commercial) please see https://www.adoptopenjdk.net/support.html

[2019-04-15 12:15] #1038 closed

[2019-04-15 14:05] sxa555 commented on #998
Have adjusted [build-osuosl-ppc64-aix-71-2](https://ci.adoptopenjdk.net/computer/build-osuosl-ppc64-aix-71-2) to use a workspace under `/home/jenkins/workspace` for now. With the builds taking over 3 hours at present (Not sure why) I'm going to try just moving them to see how much of a difference it makes since stability is probably more important right now.

[2019-04-15 14:13] smlambert opened #1039 "JDK8 OpenJ9 builds not using native crypto"
**Platform:**
linux

**Architecture:**
x64

FYI @sxa555

There appear to be some changes to build scripts which have broken JDK8 OpenJ9 builds from using native crypto (openssl) library.  Other platforms seem fine, JDK11 seems fine.

Failed job:
https://ci.adoptopenjdk.net/view/Test_functional/job/openjdk8_j9_functionaltest_x86-64_linux/68/tapResults/

Output from test:
 [OUT] Crypto test COMPLETE

[2019-04-15 14:24] sxa555 commented on #1039
That failure is on Debian 8 which appears to ship with openssl 1.0.1t which is not supported by the OpenJ9 SSL code.

While we could install 1.0.2 on there (The same issue exists on RHEL6 and since that's our build system we have on there - https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/760) it becomes a matter of what we want to support, as we are not reshipping openssl libraries our

[2019-04-15 14:28] sxa555 commented on #1026
Only Win32? I don't believe we're there on Win64/HotSpot yet so perhaps we should do it on both bitnesses [*]

[*] - I think I just invented a new word

[2019-04-15 14:34] karianna commented on #1026
x64 is already using 2017 toolchain

[2019-04-15 17:56] sxa555 commented on #1026
Ah yes for JDK11 it is indeed ...
As you were :-)

[2019-04-15 18:46] jogray72 opened #1041 "EC Keys fail when Private key material is protected in TLS connections"
It looks like the issue has recently been fixed and is scheduled for release in openJDK 13, but we are hoping adoptOpenJDK will pick up this fix in the adoptOpenJDK11 (LTS) version.

https://bugs.openjdk.java.net/browse/JDK-8217610

Mac OS 10.11, but also CentOS 7 and Windows 7, 8.1, 10 (and presumably all other versions of windows).
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment

[2019-04-15 19:24] karianna commented on #1041
@jogray72 I'm not sure what fix version 11-pool relates to, but when it is fixed upstream then AdoptOpenJDK will pick it up in a nightly and/or release build as appropriate (probably 11.0.4 at this stage).  If you'd like to have that bug fix expedited then you can look at one of our support options - https://adoptopenjdk.net/support.html

[2019-04-15 22:24] jogray72 commented on #1041
Thanks for the reply Martijn!

I was wondering if there is a planned release schedule somewhere.  For
example, when do you think 11.0.4 would be released?

Cheers,

John Gray

On Mon., Apr. 15, 2019, 3:24 p.m. Martijn Verburg, <notifications@github.com>
wrote:

[2019-04-16 00:57] smlambert commented on #1039
Openssl 1.0.2 is the LTS version which is likely why it was (arbitrarily) selected as the one supported by OpenJ9 ssl code (I am wondering if Openssl 1.0.1 is patched on Debian/RHEL6).  Will raise discussion in OpenJ9, re: lowest common denominator of supported version.

[2019-04-16 07:14] incyg commented on #207
At @sxa555: Thank you for documenting this error :smile::+1:

I'd like to ask whether this problem is or will be fixed in an upcoming AdoptOpenJDK Java 11 LTS AIX release? Or maybe is it already fixed in a nightly build?

My motivation for asking is the unfortunate fact that two of my company's customers running a web application on their AIX system reported that one of its features stopped workin

[2019-04-16 07:20] karianna commented on #1041
16th of July.

[2019-04-16 13:05] sxa555 commented on #966
The "other option" is now submitted under https://github.com/eclipse/openj9/pull/5508
I have validated that the `ar` fix works

[2019-04-16 13:21] sxa555 commented on #998
Seems to be a definite slowdown on `-2` which is the box shared with test at the moment.

Release | Build time
------------ | -------------
JDK8/HotSpot | 1h18 (`-1`)
JDK8/OpenJ9 | 1h29 (`-1`)
JDK11/HotSpot | 3h01 (`-2`)
JDK11/OpenJ9 | 1h30 (`-1`) or 2h40 (`-2`)

I am running a test with the workspace on the disk instead of a ramdrive on `-2` to see how much of a difference that is now making. Wil

[2019-04-16 14:33] JScheiterbauer commented on #871
Hi all!

We have the same issue. In our product we also need the client JVM.
We just switched from Oracle JVM to AdoptOpenJDK because of the new licensing policy and cannot ship the changes to the customer before this is fixed.

Can you please provide the client jvm for at least the newest jdk8 builds?

Thank you very much!
Johann

[2019-04-16 15:00] moschinski commented on #390
Any update? In fact, it is currently not possible to ship a Java desktop application for Linux bundled with AdoptOpenJDK unless you are willing to risk application crashes. Several Linux distributions used by our customers do not provide the needed libpng12.so.0 library.

The libfreetype.so.6 library shipped with Azul Zulu 8u202 neither has the libpng12 dependency nor the one to libz.so.1 as it de

[2019-04-16 15:26] sxa555 commented on #1039
I'm privately building a version of OpenJ9/JDK8 at the moment with the version checks disabled. This will allow us to at least load with the older version.

[2019-04-16 16:06] karianna commented on #871
@JScheiterbauer and @PaulHammes - Please see our support options at https://adoptopenjdk.net/support.html if you'd like to get this fix expedited.

[2019-04-16 19:08] sxa555 commented on #998
Slowness on `-2` was due to an orphaned jenkins agent process that was holding the load on the machine at about 12 even when it wasn't doing anything. Have now cleared that up and it should now be running much better.

[2019-04-16 20:23] sxa555 commented on #390
@smlambert Is this an issue that we have environments/tests available to detect?

[2019-04-16 22:59] smlambert commented on #390
The jdk_awt/jdk_sound/jdk_swing tests should also be triaged for issues (to date those extended openjdk tests are still not fully triaged).  In past, there have been other issues with this library (https://github.com/AdoptOpenJDK/openjdk-tests/issues/136, https://github.com/AdoptOpenJDK/openjdk-build/issues/202, https://github.com/AdoptOpenJDK/openjdk-build/issues/354)

Additionally, we have not y

[2019-04-17 06:46] PeterJakubik opened #1042 "What is the difference between Adopt and OpenJDK distributions?"
Hello
I apologize for this dumb question, but I am confused with this new Java versioning.

Suppose I want to use Java 11 (LTS) server side.

- OpenJDK provides its own Java 11 ditribution on [openjdk on jdk.java.net](https://jdk.java.net/11/). What is the difference between this and AdoptOpenJDK Java 11 distribution?
- When there is some security Bug in OpenJDK (Oracle patches only the latest ope

[2019-04-17 07:21] JScheiterbauer commented on #871
@karianna
does that mean that if this issue is fixed right now, we would get it with 1.8.0_222 on 16th July 2019?
or do you want to say that we shall contact IBM or jClarity for commercial support and otherwise nothing will happen?

[2019-04-17 07:43] karianna commented on #871
It will likely get fixed by the community in time for 8u222 yes (it is in the April Milestone bucket which means it's in the top 40 or so issues), if you'd like a faster fix (in a nightly build that you can use) then you may need to contact IBM or jClarity or provide a patch yourself.

[2019-04-17 07:45] karianna commented on #1042
There's very little difference - Adopt has a couple of extra patches which makes life a bit easier in PRD deployments (like backporting certificates from 11 to 8 for SSL connections).

Yes we pick up all of the patches including security from upstream.

[2019-04-17 07:45] #1042 closed

[2019-04-17 12:37] fede-green opened #1043 "how should i install this in my custom docker environment?"
Hello,

trying installing jdk 8 on my docker machine. Running this:

[code]

i am getting the following error:

[code]
any suggestion?

thanks

[2019-04-17 13:31] sxa555 opened #1044 "Ensure all builds can run on multiple machines"
This may be a duplicate, but we have some jobs that are currently locked onto specific build machines. For redundancy reasons this is a bad idea. Reasons are likely historic and hopefully not valid any more but we need to validate this and modify the tags:

[code]
[jdk8u-windows-x64-openj9](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/338/console) i

[2019-04-17 14:06] fduser1 commented on #577
@karianna as part of this issue, will OpenJFX be provided in the MacOS & Linux distributions as well? If so, then can you please update the Issue title to reflect scope.

[2019-04-17 14:47] lumpfish commented on #1044
Also, create-installer-windows appears to be tied to a machine (maybe wix needs to be on more machines?):
[code]

[2019-04-17 16:23] Nklya commented on #173
Hello
@karianna if I understand correctly, all new builds now have the same naming scheme?

Because earlier it was not quite clear. For example jdk8u192-b12: `https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u192-b12/OpenJDK8U-jdk_x64_linux_openj9_8u192b12.tar.gz` and next release `https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u192-b12_openj9-0.11.0

[2019-04-17 18:44] karianna commented on #173
I think it's consistent on semVer now.

[2019-04-17 18:53] Nklya commented on #173
Thanks!

So there will be no more artifacts without semVer at the end of the filename, like `OpenJDK8U-jdk_x64_linux_openj9_8u192b12.tar.gz` ?

Also, I just noticed that there is a problem with naming for OpenJDK8 Linux x64 Large Heap builds.
All other builds use this template at the end`8u202b08_openj9-0.12.1.tar.gz`
But Large Heap builds have underscore after openj9. For example `8u202b08-openj9

[2019-04-18 08:34] Nklya commented on #173
Nice.
New builds have another naming template 🤦‍♂️ 😞 😭 😢

* JDK8u202: `OpenJDK8U-jdk_x64_linux_openj9_8u202b08_openj9-0.12.1.tar.gz`
* JDK8u212: `OpenJDK8U-jdk_x64_linux_openj9_jdk8u212-b03_openj9-0.14.0.tar.gz`

So there is a new **jdk** in the middle

[2019-04-18 09:30] lumpfish opened #1045 "win32 jdk8 pipeline tested the wrong build"
**Platform:**
win32

**Architecture:**
x86

I submitted an openjdk8u pipeline build (https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/537) for win32 with these parameters:
[code]
The build job created this jdk:
[code]
When the downstream job to execute the openjdk tests ran it downloaded the latest nightly build to run the tests against rather than the jdk which was built in the

[2019-04-18 09:42] Nklya commented on #173
I had to add three regexps to Java cookbook to parse all combinations I found
https://github.com/sous-chefs/java/pull/540/files#diff-b4c010242f7f7f5c83ace89c9834a374R161

[2019-04-18 09:56] karianna commented on #1045
This may be related to the renaming fix we are currently working on.

[2019-04-18 10:14] gdams commented on #173
we are fixing this now. Hopefully, it should be back to normal by the end of the day. Thanks for noticing!

[2019-04-18 10:15] #173 closed

[2019-04-18 10:16] Nklya commented on #173
Thank you @gdams !

[2019-04-18 14:26] JScheiterbauer commented on #871
@karianna
ok, 8u222 will be soon enough, thank you :)

[2019-04-18 14:37] dougbreaux opened #1049 "Provide an update-in-place installer"
Discussed with @pshipton

Please consider providing installers (I'm on Windows) that can update an existing JDK in place so that we don't have to manually install a new fix level, point applications at that new location, and manually uninstall the prior fix level.

For instance, I just installed jdk-8.0.212.03-openj9, pointed my Eclipse to use it, and then manually uninstalled jdk-8.0.202.08 (whic

[2019-04-18 16:30] Leo40Git opened #1050 "BSOD with Minecraft 1.13.2???"
**Platform:** Windows 10 v1903 (OS Build 18362.53)
**Architecture:** 64-bit
**AdoptOpen version:** JRE 8u212-b03
**JVM:** HotSpot

Joining a world in Minecraft 1.13.2 causes the system to blue screen. Yeah, I dunno either.

### Steps to reproduce:

1. Download [MultiMC development version](https://multimc.org/) (this is the launcher I used, this probably happens with the vanilla launcher too thoug

[2019-04-18 21:27] karianna commented on #1050
@Leo40Git Did this occur with the previous AdoptOpenJDK binary 8u191?

[2019-04-19 01:15] oderaita opened #1051 "Please tell me when to fix the CVE-2019-2699 vulnerability."
Please tell me when to fix the CVE-2019-2699 vulnerability.
Please let me know if there are general rules.

[2019-04-19 10:06] Leo40Git commented on #1050
8u191 doesn't seem to be available for Windows. 8u192 is, however, so I'll try that.

[2019-04-19 10:09] Leo40Git commented on #1050
BSOD does not occur with 8u192.

[2019-04-19 10:36] Leo40Git commented on #1050
BSOD doesn't occur on 8u202, either.

[2019-04-19 10:42] Leo40Git commented on #1050
...wait, what? The binary version of 8u212 doesn't cause the BSOD, but the installer version does?

[2019-04-19 10:53] karianna commented on #1050
Interesting.  I suspect the installer must link to a DLL that has an
issue.  I’ll swap this to the installer repo and find an engineer

On Fri, 19 Apr 2019 at 11:42, Kfir Awad <notifications@github.com> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2019-04-19 11:27] karianna commented on #1051
Hi there,

I’m not sure what you mean? Are you offering to fix that CVE or are you
asking when we will release a binary with a fix?

On Fri, 19 Apr 2019 at 02:15, oderaita <notifications@github.com> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2019-04-20 15:28] karianna commented on #1051
Ah OK, I see now - this was a CVE reported for Oracle Java windows installers only.  As a precaution, we have also built out installers using the new VS toolchain as of 8u212

[2019-04-20 15:28] #1051 closed

[2019-04-21 22:50] Sakata-MC commented on #577
I just make the switch on Windows due to Ninite.  Now several programs no longer function, and I'm going down the rabbit-hole to see how to fix without reverting to oracle proprietary.  We really need a drop-in replacement that just works as a drop-in replacement.

[2019-04-22 16:54] karianna commented on #577
@Sakata-MC The community will be working on OpenFX and making it a first-class citizen.  If you're looking for extra support in those efforts see the options at adoptopenjdk.net/support.html

[2019-04-22 18:11] polyn0m commented on #577
@Sakata-MC @kariana Amazon Correto contains JFX libs for all OS. But don’t have OpenJ9 JVM.

[2019-04-22 19:09] PatchMyPC opened #1052 "MSI Installer Doesn't Remove Previous Builds of OpenJDK / JRE Runtime"
When installing the latest build, the previous versions aren't removed for the JRE.

For example, if JRE 8 Update 202 was installed and you upgrade to 212 it leaves the previous version installed as well.

Is there a command line in the MSI you can enable to auto remove previous builds during an upgrade?

[2019-04-22 21:20] karianna commented on #1052
see https://github.com/AdoptOpenJDK/openjdk-installer/issues/88

[2019-04-22 21:20] #1052 closed

[2019-04-23 06:59] grahampugh opened #1053 "Official AdoptOpenJDK icon for kiosks/websites"
Hi all,

It would be great to have a square-shaped icon for use in “Self Service” kiosks such as Jamf Pro for macOS made available on the Branding page. Right now we are stuck with Oracle’s Java icon.

Cheers
Graham

[2019-04-23 07:45] karianna commented on #1053
@grahampugh Is that an icon you'd expect to be able to grab off our website's branding page?

[2019-04-24 07:28] ali-ince commented on #901
Talking specifically for JDK 11 hotspot x64 builds, we’re now using visual studio 2017 and you can grab the latest 11.0.3 release.

I’m closing this since we have the other referenced issue #466 for tracking rest of the builds.

[2019-04-24 07:28] #901 closed

[2019-04-24 07:34] ali-ince commented on #466
Status update about getting builds to VS2017;

1. All jdk12 and jdk13 builds are already being built on vs2017.
2. All jdk11 builds, except x86 hotspot are built using vs2017. x86 builds are dependent on an upstream patch and once it is applied on jdk11u project, we’ll be switching for that one as well.
3. jdk8u hotspot and openj9 builds are currently being built by vs2013 and vs2010 respectively.

[2019-04-25 01:29] Ghalid opened #1056 "macOS JDK8 OpenJ9 crashes with LWJGL 2"
**Platform:**
OpenJ9 OpenJDK 1.8.0_212-b03
**Architecture:**
macOS x64

Opening a game (in this case, a version of Minecraft at or below 1.12.2) that uses LWJGL 2 crashes during startup with the following logs:
[code]

This application is able to startup with Hotspot. This issue does not seem to occur with applications that use LWJGL 3.

[2019-04-25 10:26] karianna commented on #1056
@Ghalid What is LWJGL and have you tried with a Hotspot OpenJDK 1.8.0_212-b03 JVM?

[2019-04-25 12:31] sxa555 commented on #1056
LWJGL will be https://sourceforge.net/projects/java-game-lib/ (Current version is v3 at https://github.com/LWJGL/lwjgl3

I can't easily reproduce the samples supplied with that on a mac right now, but they do work on xLinux
with the OpenJ9 release

[2019-04-25 13:27] DanHeidinga commented on #1056
@Ghalid Can you generate some diagnostic files to help us look at this further?

Running with this commandline option:
[code]
will generate a javadump (text file) and a system core.

The option can be set in the commandline or or using the `OPENJ9_JAVA_OPTIONS` environment variable.

Getting that data is a good first step for us to see what's going wrong.

[2019-04-25 14:06] keirlawson opened #1057 "How to update timezone data with AdoptOpenJDK"
I have been trying to update timezone data within the latest AdoptOpenJDK 11 image, however Oracle's tzupdater does not appear to work, crashing with a null pointer exception.  Is there a recommended way to update timezones with AdoptOpenJDK?

[2019-04-25 17:07] BethGriggs commented on #1056
I tried running the sample supplied with LWJGL2. It succeeded with HotSpot jdk8u212-b03 from AdoptOpenJDK but not the OpenJ9 version. It seems to be finding the library and then unloading it again.

[code]

[code]

[2019-04-25 17:27] PhilipMorrisJones commented on #901
Thanks, confirmed as good.

[code]

[code]

[2019-04-25 20:15] Ghalid commented on #1056
Yes, Hotspot works correctly.

Where should I try to locate the diagnostic files? I've ran the game with that argument, as well as adding it to the `OPENJ9_JAVA_OPTIONS` environment variable but I can't seem to find any dump anywhere. I've looked at the game directory and my home folder, and a dump didn't appear in either.

[2019-04-26 14:55] DanHeidinga commented on #1056
The size of the system core is often related to the size of the java heap.  Larger heaps = larger core files.  On the plus side, they usually compress reasonably well which helps the upload / download

[2019-04-26 15:40] DanHeidinga commented on #1056
[code]

This is interesting in that it implies to me that there was an issue loading awt itself: `Library not loaded: @rpath/libjawt.dylib `

[2019-04-26 15:59] DanHeidinga commented on #1056
fyi @mikezhang1234567890 - this is the issue we were talking about

[2019-04-26 20:23] mikezhang1234567890 commented on #1056
We can set `DYLD_PRINT_RPATHS=1` to print the rpath expansions. I ran
[code]
and got this result:
[code]
when `libjawt.dylib` is in `oj9-jdk8u212-b03//Contents/Home/jre/lib/libjawt.dylib`

The Hotspot lib is in `hs-jdk8u212-b03//Contents/Home/jre/lib/libjawt.dylib`, and running the test results in:
[code]

We may need to correct the rpath variable in OpenJ9.

[2019-04-26 21:00] Ghalid commented on #1056
Not sure if this is still needed, but I've uploaded a system core at https://drive.google.com/file/d/1hi_UYlrUAcYeQ4-eTRyxnkDzOi1CZ389/view?usp=sharing.

[2019-04-27 11:13] ali-ince commented on #1057
Digging into this a bit, I've found out couple of things to note;

Oracle TZ Updater has this following information on its download page;

Which makes me think that it won't work anyways.

There's also another tool from Azul Systems, which is released under GPLv2 but fails to execute under jdk11 with a text of unsupported version.

If I'm not missing any information, I think we need to discuss our

[2019-04-27 12:08] karianna commented on #1057
Interesting - do we access to Azuls source?  Hopefully we can fork/patch
that to work with Adopt

On Sat, 27 Apr 2019 at 12:13, Ali Ince <notifications@github.com> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2019-04-27 18:18] Adi-18 commented on #577
I also have been looking for javaFX support for iOS.

[2019-04-27 18:49] keirlawson commented on #1057
Yea I found the Azul one, but couldn't find the source anywhere despite it supposedly being open source. Perhaps if someone has a contact at Azul they might be able to get it out of them?

[2019-04-28 03:52] paharvey opened #1059 "Freetype 2.9.1 renders fonts poorly on Windows 10"
**Platform:** Windows 10

**Architecture:** 64-bit

Freetype 2.7 contains a change that led to poorer quality font rendering on Windows.

- Your Java 8/9/10 builds for Windows appear to use Freetype 2.5.3, so fonts look fine.
- Your Java 11+ builds for Windows appear to use Freetype 2.9.1, so **fonts look worse**.

As a workaround, users can use pre-2.7 font rendering by setting an environment var

[2019-04-28 23:15] ali-ince commented on #1057
I am still not sure whether Azul's ZIUpdater is released with source code or not, because it has this info at the bottom of the page I linked before

But theoretically we can ask for the source codes. Do we have contacts at Azul @karianna?

[2019-04-29 04:28] yansendao opened #1060 "win64 adoptOpenjdk run dacapo--tradesoap complaint java.lang.NoClassDefFoundError"
**Platform:**
windows x64

**Architecture:**
x86-64

Please describe the issue that you are having with our binaries and if possible how to recreate it.

binary:https://netcologne.dl.sourceforge.net/project/dacapobench/9.12-bach-MR1/dacapo-9.12-MR1-bach.jar

run command:

D:\software\jdk\adoptOpenjdk\jdk-8.0.212.03-hotspot\bin\java.
exe -jar dacapo-9.12-bach.jar tradesoap

error log:
[code]

[2019-04-29 07:37] yansendao opened #1061 "System.getProperty("java.vm.vendor") return null"
**Platform:**
* windows
**Architecture:**
* x86-64

Please describe the issue that you are having with our binaries and if possible how to recreate it.

test command:
java.exe -cp . VendorTest

![image](https://user-images.githubusercontent.com/36258307/56881874-6c86fa00-6a94-11e9-8591-7222b9cb093a.png)

oraclejdk:

![image](https://user-images.githubusercontent.com/36258307/56881847-55480c80-6a94

[2019-04-29 07:46] yansendao commented on #1061
![image](https://user-images.githubusercontent.com/36258307/56882342-e53a8600-6a95-11e9-9a6a-be8eb94e809c.png)

[2019-04-29 08:53] scriptwang commented on #835
Yeah,I have met this question now,it is throw those exceptions when drawing charts of visiting java melody home page,hope to useful
[code]

[2019-04-29 09:46] gchauvet commented on #986
What news about this issue ?
Do you have enough volunteers?

[2019-04-29 09:51] karianna commented on #986
@gchauvet We don't have anyone leading this effort as of yet - perhaps we can use @pinhead84 patch described above and x-compile on a 64 bit Linux host.

@sxa555 Does that seem reasonable?

[2019-04-29 11:03] karianna commented on #1059
FYI - I think this should be the actual fix

[2019-04-29 12:12] karianna commented on #1057
Yes I'll ping them now.

[2019-04-29 12:16] karianna commented on #1060
Hi @yansendao Can you check with the Azul or Amazon OpenJDK distribution?  I suspect this might be a bug in Apache Geronimo as it may only accept Oracle as the vendor...

[2019-04-29 12:18] karianna commented on #1061
Also, see #465

[2019-04-29 12:19] karianna commented on #1060
Actually, chances are this might be because of #1061

[2019-04-29 12:48] smlambert commented on #1060
From a quick glance, it looks like org.apache.geronimo.system.properties.JvmVendor does check System.getProperty("java.vm.vendor"), and if it does not find expected values...

else {
            // should never happen
            return new String("Unknown JVM detected - " + getFullName());
        }

So the code does seem to only look for a restricted set of vendors (sun, apache, ibm, ibmHybrid),

[2019-04-29 13:46] yansendao commented on #1061
Amazon jdk seems to be OK.

![image](https://user-images.githubusercontent.com/36258307/56900340-2e0b3280-6ac8-11e9-8f99-78c4e41fa4cf.png)

[2019-04-29 14:01] yansendao commented on #1060
Amazon seems to be OK.

![image](https://user-images.githubusercontent.com/36258307/56901262-5eec6700-6aca-11e9-872e-5b851ef3c8b6.png)

[2019-04-29 14:55] effad commented on #577
I was also looking for a drop-in-replacement for Oracle JDK 8 and sadly, none of the alternatives make the cut. Either Win32 or Mac Support ist missing (all but AdoptOpenJDK) and/or there is no JavaFX with WebKit and javafxpackager.

[2019-04-29 17:42] alexhass commented on #577
I really wonder what can have a higher priority than having feature parity. The prio should be increased a lot. The project is really heavy behind...

[2019-04-29 19:11] karianna commented on #577
@alexhass Pull Requests and support is welcome! - else you can look to adoptopenjdk.net/support.html to get features expedited.

[2019-04-30 04:22] yansendao opened #1062 "Windows x32 jdk8u212-b03 run jtreg testcase TestNonIsoFormatter.java fail"
**Platform:**
Windows x32

**Architecture:**
Windows x32

Please describe the issue that you are having with our binaries and if possible how to recreate it.

jtreg -v:error,fail -nr -w tmp -jdk:D:/software/jdk/win32-adoptopenjdk-jdk8u212-b03 jdk8u/jdk/test/java/time/test/java/time/format/TestNonIsoFormatter.java

![image](https://user-images.githubusercontent.com/36258307/56940530-b5e15300-6b41-1

[2019-04-30 14:11] pshipton opened #1063 "Statement about jdk8u212-b04 release for OpenJ9"
I believe Adopt is going to create a Hopspot release build for jdk8u212-b04. The OpenJ9 release will continue to be on b03 as the b04 changes do not affect the OpenJ9 builds. Please make a statement on the website or the release notes that jdk8u212-b04 does not affect OpenJ9.

@sxa555 @andrew-m-leonard

[2019-04-30 15:24] tcarlisle2012 opened #1064 "AdoptOpenJDK - Download hangs on windows on 4/30/2019 (Edge & Chrome verified, multiple machines)"
There is something about your binaries downloads that hangs Windows antimalware  service executable. The downloads finish transferring data, but then the browser kicks it over to antimalware service executable to scan, which consumes CPU or GPU indefinitely and never returns. Once this happens, user cannot download files from other sites either because this keeps the antimlaware service executable

[2019-05-01 12:16] samifazal2004 commented on #1010
Hi,

Request you to share the link for the same

Br//
Sami

On Wed, Apr 3, 2019 at 10:19 PM Stewart X Addison <notifications@github.com>
wrote:

--
Br,
Sami Fazal
+919887005319

[2019-05-01 14:49] Jugen opened #1065 "Missing jdk.unsupported.desktop module from JREs"
Both the OpenJ9 and the Hotspot 11.0.3_7 **JRE** for 64bit Windows are missing the `jdk.unsupported.desktop` module.

This module is _required by_ the JavaFX 12 `javafx.swing` module.
For more information see this [openjdk-jfx issue](https://github.com/javafxports/openjdk-jfx/issues/458).

[2019-05-01 16:29] sxa555 commented on #1005
Now running cleanly - closing

[2019-05-01 16:29] #1005 closed

[2019-05-01 16:56] #966 closed

[2019-05-01 22:20] fraik opened #1066 "Hotspot and OpenJ9 tarballs extract to the same directory"
**Platform:**
MacOS

**Architecture:**
x64

Both HotSpot and OpenJ9 tarballs untar into the same directory. If the destination directory contains the name of the JVM (i.e. `hotspot` or `openj9`) updating or switching between JVMs would (imho) be more straightforward and possibly less confusing out of the box.

# Steps to reproduce
1. visit https://adoptopenjdk.net/
1. select "Other platform"
1. se

[2019-05-01 22:41] fraik opened #1067 "Link text for OpenJ9 MacOS tarballs capitalized inconsistently"
Dear JDK Overlords,

Apologies in advance about filing an issue regarding this mundane detail but my mild 'ocd' is forcing me to file it because I believe the world will be a better place for it.

I noticed the download links for OpenJ9 MacOS variants have different capitalization (`macOS` vs `MacOS`). If `macOS` would be replaced with `MacOS` it would make capitalization consistent across all OS

[2019-05-02 11:28] keirlawson commented on #1057
It looks like OpenJDK may already have a utility to do something along these lines, though not widely publicised: https://github.com/akashche/tzdbgen

[2019-05-02 16:44] SueChaplain commented on #1057
IBM has a TZUpdater. Spoke briefly to Tim about options to open source it. We are investigating.

[2019-05-02 16:45] karianna commented on #1066
related to #1016

[2019-05-02 17:41] karianna commented on #1057
Azul is also discussing this

[2019-05-03 03:49] yansendao opened #1069 "GregorianCalendar.get() return error result on specitic current time"
**Platform:**
linux ubuntu16.04

**Architecture:**
intel x64

Please describe the issue that you are having with our binaries and if possible how to recreate it.
[code]

![image](https://user-images.githubusercontent.com/36258307/57118994-82006a80-6d99-11e9-9c16-d95867877f54.png)

[WeekDateTest.java.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/3140593/WeekDateTest.java.txt)

[2019-05-03 13:19] svaens commented on #1061
Actually, i'm here for a similar reason;
For build
1.8.0_202 / AdoptOpenJdk / 25.202-b08
I check the vendor via:
System.getProperty("java.vm.vendor")
and I get the string:
"Oracle Corporation"

Not null.... but also unexpected. No?

[2019-05-04 23:08] jgneff opened #1070 "Add support for ARM Cortex-A8 cores with Client VM"
**Platform:** Ubuntu Base 14.04.6 LTS (Trusty Tahr)

**Architecture:** armhf (32-bit ARM Cortex-A8 core, ARMv7-A architecture)

**Processor:** 800-MHz i.MX507 Multimedia Application Processor Model MCIMX507CVM8B

This is a request to add the *client* JVM variant to the 32-bit Linux ARM build of the JDK so that it can support the old, but still prevalent, ARM Cortex-A8 core.

In my tests with the l

[2019-05-04 23:21] jgneff commented on #970
Try running JDK 11 with the option `-XX:-AssumeMP` as shown below.

**Fails:**
[code]

**Works:**
[code]

See the issue I just opened as #1070 for details.

[2019-05-06 16:54] vielmetti commented on #1070
If I read this right, the consumer-grade product this can be found in is the Beaglebone Black:

http://www.ti.com/tool/beaglebk

which has an A8 core in it (Sitara AM335x).

[2019-05-06 16:56] vielmetti commented on #1070
based on that, I found this as well: https://github.com/balena-io-library/base-images/issues/498

[2019-05-06 17:02] jgneff commented on #1070
I will investigate providing a pull request. It looks as if the *armhf* (armv7l) builds are created on native ARMv7 BareMetal Servers hosted at Scaleway in Paris. What is the reason for building on native hardware rather than using one of the following environments on a 64-bit *amd64* (x86_64) computer?

* the Ubuntu cross-compiling tools installed by the package *crossbuild-essential-armhf*
* a Q

[2019-05-06 17:32] dwhite-marvell commented on #1070
There's another attempt to fix the original server JDK issue (PLDW instruction) at https://bugs.openjdk.java.net/browse/JDK-8222825

I'll email Boris and point him at this conversation.

I can imagine that there are other good reasons to providing a client JVM for arm 32, so fixing server JDK doesn't negate providing client JDK.

[2019-05-06 17:59] jgneff commented on #1070
That is very good news, although it's a bit frustrating that the identical issue I reported a year ago was closed so quickly as "Not an issue." See: [JDK-8202692 - Fatal error SIGILL (ILL_ILLOPC) on ARM Cortex-A8 processor](https://bugs.openjdk.java.net/browse/JDK-8202692).

It would be great if we can keep the JDK working on ARM Cortex-A8 cores for just a little bit longer. I find that both VMs w

[2019-05-06 18:45] sappling commented on #970
Thanks - that does get me running with JDK11.  Your new issue helped me understand more of what is going on here.

[2019-05-06 19:22] voitylov commented on #1070
BellSoft is working on a fix for this upstream OpenJDK issue https://bugs.openjdk.java.net/browse/JDK-8222825 on ARM. We connected with Jeff offline, and Jeff kindly offered help verifying the fix we have on the hardware he has got. Once confirmed, this will be submitted for OpenJDK review.

Leaving it up to the submitter and AOJDK to decide what to do with with the request to add Client VM to AOJ

[2019-05-07 08:19] dinogun opened #1072 "Failures in publishing of builds to github"
**Platform:**
linux

**Architecture:**
x86_64

The sha file in the checksum link is not created for x64 nightly builds. Eg check this [API](https://api.adoptopenjdk.net/v2/info/nightly/openjdk11?openjdk_impl=hotspot&type=jdk&release=latest&heap_size=normal&arch=x64&os=linux). The [checksum_link](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-05-04-16-25/OpenJDK11U

[2019-05-07 08:19] dinogun commented on #1072
Docker builds are failing because of this.

[2019-05-07 08:23] gdams commented on #1072
I'm voting that we first remove the binary with the missing sha256.

[2019-05-07 08:56] karianna commented on #1070
Thanks all - I imagine we'll produce the VMs once that fix lands.

[2019-05-07 09:00] karianna commented on #1072
These are just nightlies right?

[2019-05-07 09:48] gdams commented on #1072
correct

[2019-05-07 10:26] gdams commented on #1072
same happened here with a ppc64le build https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk11u-2019-05-06-04-12

[2019-05-07 16:11] sxa555 opened #1073 "makejdk-any-platform.sh docker support is broken (Gradle-related)"
May be other issues but at the moment gradle is unable to find a suitable JDK to use at the moment, so docker builds cannot be performed.

[2019-05-07 16:16] sxa555 commented on #1072
There's something more fundamental wrong here.
[jdk11u-2019-05-03-02-47](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk11u-2019-05-03-02-47) - Looks ok
[jdk11u-2019-05-04-16-25](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk11u-2019-05-04-16-25) - missing several platforms and also the sha for xLinux as per this description
[jdk11u-2019-05-06-04-12](https:

[2019-05-07 16:22] sxa555 commented on #1072
[Release job](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/refactor_openjdk_release_tool) (restricted access) has failed for the last three nights
[code]

[2019-05-07 16:53] sxa555 commented on #1072
(Hope you don't mind me renaming the title of your issue @dinogun but it seems a bit wider than your original description!)

[2019-05-09 10:43] fbascheper opened #1074 "JDK 12 build is failing"
According to the [build farm of JDK12](https://ci.adoptopenjdk.net/view/git-hg/job/git-hg/job/git-hg-jdk12u/) this build has been failing since April 16.

I'd like to help out, but I need some assistance getting started.

[2019-05-09 11:03] fbascheper commented on #1074
Current steps taken:
* I've forked the repo into my own GitHub account
* Cloned [the forked repo in my own GitHub account](https://github.com/fbascheper/openjdk-build)
* ````
   cd git-hg
   bash ./mercurialToGit.sh jdk-updates/jdk12u
[code]
   Cloning into 'jdk12u'...
   Warning: Permanently added the RSA host key for IP address '140.82.118.3' to the list of known hosts.
   git@github.com: Permis

[2019-05-09 16:26] jgneff commented on #1070
I tested the fix for the Server VM from Boris Ulasevich at BellSoft, and it looks good so far on my ARM Cortex-A8 processor. He is making some more changes in the assertion conditions, so I'm waiting for his next update.

I think it might still be useful to have the Client VM in the *arm* JDK for the following reasons:

* It's nice to have a backup VM in case an error like [JDK-8202692](https://bu

[2019-05-09 16:38] joshgrobin opened #1076 "Internet Explorer plug-in"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

Would it be possible to add an ActiveX plug-in  for Internet Explorer like the jp2launcher.exe in Oracle JavaSE? As of right now that is the only thing keeping myself and I'm sure a great deal of other people and organizations from migrating over.

[2019-05-09 19:22] jgneff commented on #1070
Now I consistently get the same error as #1004, and the workaround that I remember using yesterday (temporarily using JDK 12 for the boot JDK) doesn't work today. Even if I download the [gradle-5.2.1-bin.zip](https://services.gradle.org/distributions/gradle-5.2.1-bin.zip) file manually, it just fails later on trying to get <https://repo.maven.apache.org/maven2/org/codehaus/groovy/groovy-all/2.5.6/

[2019-05-09 19:43] jgneff commented on #1004
To work around the problem temporarily while building natively in my local environment, I use JDK 12 as the boot JDK instead of JDK 11.

* **JDK 11:** OpenJDK11U-jdk_arm_linux_hotspot_11.0.3_7.tar.gz (fails)
* **JDK 12:** OpenJDK12U-jdk_arm_linux_hotspot_12.0.1_12.tar.gz (works)

If I remember correctly when I did this yesterday, after a successful pass, you can run the build a second time with JD

[2019-05-09 21:55] ali-ince commented on #1059
@paharvey can you please confirm that setting `FREETYPE_PROPERTIES=truetype:interpreter-version=35` environment variable has any positive effect on your environment?

With the test I've done locally (i.e. running visualvm) it seems to have no effect. And furthermore, for this case reverting back to previous freetype versions / upgrading to the latest version does not change anything at all.

Will

[2019-05-09 22:11] ali-ince commented on #1059
Hmm, ok - my bad. The issues I was seeing were about HiDPI support.

[2019-05-10 10:22] gdams commented on #1076
Hi @joshgrobin can you give us more details about what `jp2launcher.exe`? I'm struggling to find more info about it on the internet.

[2019-05-10 13:01] joshgrobin commented on #1076
To be honest with you I find it hard to explain myself. The more I read about it the more I seem to being going down a rabbit hole. It seems like it with the help of the Java control panel are what is used to enable Java in internet explorer. Someone at https://community.oracle.com/message/12909477#12909477 has one of the better descriptions of what it does quoted below.

"IE delegates the JNLP fi

[2019-05-10 14:22] beckje01 commented on #742
This looks like it was done via #917 @gdams can this be closed?

[2019-05-10 22:47] rassad opened #1079 "Anypoint Studio - Mulesoft"
can not find the following file when i try to install Mulesoft Anypoint Studio
org.eclipse.e4.core.di.InjectionException: java.lang.NoClassDefFoundError: javax/annotation/PostConstruct

[2019-05-11 20:00] #1070 closed

[2019-05-12 11:33] sxa555 commented on #998
Freezes of jobs on AIX - killing the following running for 5 days:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-aix-ppc64-hotspot/62/
[code]

[2019-05-12 22:36] bobswift opened #1080 "OpenJ9 - "Could not create the Java Virtual Machine" when some special characters are on the command line"
Special characters that cause problems: — – … テ

Fails:
[code]
Using:
[code]
Works as expected:
[code]
Using:
[code]
The above is just a quick way to show the error. The real case is trying to pass special characters in parameters to a jar entry point ;). This also worked correctly on standard JDK 8.

[2019-05-13 08:44] victornoel opened #1081 "Build fails with errors when using GCC 8"
**Platform:** linux

**Architecture:** x86_64

I'm on latest Archlinux.

I tried to build the jdk11u with `./makejdk-any-platform.sh jdk11u` but I got the following error:
[code]

There is one particularity, I changed the following because I'm experimenting with debug builds:
[code]

[2019-05-14 09:05] lumpfish opened #1083 "Nightly builds failing with FlowNode not found error"
Seems to affect all releases.

Nightly builds are failing with
[code]
e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/566/console

[2019-05-14 11:12] karianna commented on #1076
I'm going to shift this to the IcedTea-Web repo - if Karakun or another developer wants to pick it up then they can.

[2019-05-14 11:19] #742 closed

[2019-05-14 11:27] karianna commented on #1079
@rassad What version of AdoptOpenJDK are you using?  Does this occur with Oracle's Java?

[2019-05-14 12:17] karianna commented on #1081
@victornoel So the error only occurs with?:

[code]

[2019-05-14 12:31] victornoel commented on #1081
@karianna no, sorry, my comment was misleading, it has nothing to do with those changes.

I suppose it could be related to the version of GCC used on the host? Because I've seen this issue: https://bugs.openjdk.java.net/browse/JDK-8214444

[2019-05-14 12:55] outsidecave opened #1085 "AdoptOpenJDK 8 fatal error EXCEPTION_ACCESS_VIOLATION Problematic frame with racob-x64.dll called from jruby.ext.win32ole"
The logstash flowline is reading logs and calling azure message queue via a dll.

**Platform:**
windows 2012r2 & windows 10

**Architecture:**
logstash 6.7.2
openjdk8

Using the Oracle JDK8 we see no error. Swapping to OpenJDK 8 and/or 12 we see an error.
Swapping back to Oracle JDK fixes the issue.

 A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION

[2019-05-14 13:41] DanHeidinga commented on #1080
Mirrored this issue to the OpenJ9 repo - https://github.com/eclipse/openj9/issues/5751

[2019-05-14 14:17] pdbain-ibm commented on #1080
@bobswift
Thank you for reporting this.

As I understand the issue, you are passing a special character, such as ellipsis (…) as the sole argument to the Java launcher, which it should interpret as the main class name, correct? Further, you expect the JVM to report this special character as missing class, right?

I ran your test case under the bash shell on Ubuntu 16 using the Java 11 build you us

[2019-05-14 14:39] victornoel commented on #1081
@karianna I suppose the "easy" solution would be to make the docker-based build work again (and for jdk11) so that the build can happen with a controlled environment instead of the host?

[2019-05-14 23:30] rassad commented on #1079
I utilized a different version of adoptopenjdk and it worked with anywherestudio (mulesoft product).

From: Martijn Verburg <notifications@github.com>
Sent: Tuesday, May 14, 2019 7:28 AM
To: AdoptOpenJDK/openjdk-build <openjdk-build@noreply.github.com>
Cc: rassad <assad.rich@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/openjdk-build] Anypoint Studio - Mulesoft (#1079

[2019-05-14 23:58] bobswift commented on #1080
Thanks for the info.
The real use case is calling a java program (in a jar) with parameters containing special characters. However, this was the easiest way to reproduce without any code dependencies.

1. Your scenario looks the same
2. Yes, that is what I would expect
4. Thanks for the logging tip, here is the log. This is running from an alpine based docker image:
[code]

[2019-05-15 02:11] karianna commented on #1085
@ali-ince I imagine this is a difference between DLLs we bundle vs that of Oracle - is this something you can check?

[2019-05-15 02:15] karianna commented on #1081
Ah yes, that's probably right - what's the output from the build script WRT to the GCC compiler version? Output should be at the top

[2019-05-15 02:45] #1079 closed

[2019-05-15 06:48] victornoel commented on #1081
@karianna here it is:
[code]

[2019-05-15 07:20] jmsdo commented on #577
I will try this distribution that I found by chance:
https://www.azul.com/downloads/zulu/zulufx/

Didn't know that there is a free and unrestricted  community version of the Zulu JRE/JDK.

The Webkit DLLs are present. I think the other JavaFX artifacts are complete too:

I only copied the file names of files mentioned by other comments. There are more. Look for yourself and try it if you are in di

[2019-05-15 09:56] jerboaa opened #1086 "Heads-up: 8u222-b03 will include cacerts backport from JDK 11"
See: http://hg.openjdk.java.net/jdk8u/jdk8u-dev/jdk/rev/cac1aa619936

It'll be included in the next tagged build in jdk8u/jdk8u. I expect this to cause issues for the hg-git mirror job. ETA a week from now.

[2019-05-15 11:47] yamadamn commented on #577
@jmsdo You can also try Liberica JDK. https://www.bell-sw.com/

[2019-05-15 12:59] lumpfish opened #1087 "jdk8u-openj9 builds showing incorrect java -version output"
**Platform:**
Windows

**Architecture:**
x86-64

Running a test build for the upcoming icedtea-web release I noticed that the java -version output says:
[code]
1. The reference to 1.8.0_222 is incorrect - that is not the level of openjdk code being built (the JCL - based on is correct).
2. The build was run with --with-milestone=fcs.  I had not expected the timestamp to appear in
"build 1.8.0_222-

[2019-05-15 13:26] pdbain-ibm commented on #1080
@bobswift I would encourage you to join the Slack group.  You can request an invitation via this page:
https://www.eclipse.org/openj9/index.html#contributing: click the "(Request an invite)" link.

This may be a Docker issue, since it seems to run fine in a bare Linux shell.  Are you able to test in a non-Docker environment?  I will run your test case in a Docker container.

[2019-05-15 14:28] jerboaa commented on #782
[code]

This is fixed in the build from:

https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.3%2B7/OpenJDK11U-jdk_x64_linux_hotspot_11.0.3_7.tar.gz

[2019-05-15 14:44] pdbain-ibm commented on #1080
I tried it in a docker image built from https://github.com/eclipse/openj9/tree/master/buildenv/docker/jdk8/x86_64/ubuntu16 and I get the expected (correct) behaviour.

[2019-05-15 15:02] echua commented on #682
I was struggling with this until I downloaded Adopt JDK8 with the OpenJ9 JVM.  The Hotspot version does not work and that solved my problems. I wasn't getting many errors at all so finally started from scratch and noticed this.

[2019-05-16 02:19] karianna commented on #1081
Hmm, that's a very new GCC - I suspect that https://bugs.openjdk.java.net/browse/JDK-8214444 will need to get backported.

[2019-05-16 02:23] karianna commented on #1086
More like our build script that does this already - @johnoliver here's your heads up!

[2019-05-16 02:25] #1087 closed

[2019-05-16 02:25] #782 closed

[2019-05-16 06:18] netroby commented on #782
Thanks a  lot ,great works

[2019-05-16 09:17] johnoliver commented on #1083
this looks to be working ok now

[2019-05-16 09:17] #1083 closed

[2019-05-16 09:35] johnoliver commented on #1074
added the -r/--repo argument to the script

[2019-05-16 09:46] karianna commented on #1074
#1089 will land shortly

[2019-05-16 12:17] pdbain-ibm commented on #1080
Status copied from Slack channel:
Bob Swift [3:28 PM]
 @Peter Bain re: https://github.com/AdoptOpenJDK/openjdk-build/issues/1080
I can confirm that it is working correctly on the linux that we host our docker containers on:
Linux nuc 4.15.0-24-generic #26-Ubuntu SMP Wed Jun 13 08:44:47 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Doing some other experiments.

Peter Bain [4:00 PM]
 Thanks for the feedb

[2019-05-16 12:29] pdbain-ibm commented on #1080
@bobswift

That is very interesting: it's not the main class, but any argument.
There are a few things to try:
1. Test with a fresh copy of the JDK in a directory local to the container.  Please try with an absolute path to `java`. I suggest trying a different Java version, e.g. Java 8.
2. Run with tracing enabled, by adding the following JVM argument: `-Xtrace:maximal=all,output=trace`.  This wil

[2019-05-16 20:03] ed03875 opened #1090 "Time Zone updates for Java8"
Windows 10

OpenJDK J9 Java 8

I don't know where to submit this but I see a Java 11 similar problem here so I am placing this here for now.
How does one update the TZDB.dat file for OpenJDK Java 8.   I have tried ziupdater which produces the same error with any release tzdata2018i - tzdata2019a "org.ziupdater.compiler.tzdb.DateTimeException: Invalid value for SecondOfDay value: 90000"
I have trie

[2019-05-17 08:14] flizaga opened #1091 "Missing msvcp120.dll in bin folder - JDK x64 Windows 8u212-b03"
**Platform:**
Windows Server 2012R2

**Architecture:**
OpenJDK8U-jdk_x64_windows_hotspot_8u212b03

In the OpenJDK8U-jdk_x64_windows_hotspot_8u212b03 build, the awt.dll is linked to msvcp120.dll (a DLL from Microsoft Visual C++ 2013 x64).
This DLL is located on %ProgramFiles%\AdoptOpenJDK\jdk-8.0.212.03-hotspot\jre\bin.
In the default setup AdoptOpenJDK it adds the JDK's bin (%ProgramFiles%\AdoptOp

[2019-05-17 11:31] flizaga commented on #1091
P.S. in the 8u202 this DLL isn't required

[2019-05-19 13:25] karianna commented on #1090
Duplicate of #1057

[2019-05-19 13:25] #1090 closed

[2019-05-20 21:26] ali-ince commented on #1085
Hi @outsidecave, would you mind creating a reproduction for this to diagnose the issue locally?

[2019-05-21 00:14] nitinsurana commented on #676
The latest available for Ubuntu14.04 is still 171 - https://launchpad.net/~openjdk-r/+archive/ubuntu/ppa
Is there a plan to release an update ?

Unfortunately, the command provided by @Ganeshgautam doesn't work, probably just minor syntax errors.

[2019-05-21 07:53] karianna commented on #676
@nitinsurana YThe version available by launchpad is not by AdoptOpenJDK, you'll have to manually download from our site.

[2019-05-21 10:46] gdams commented on #898
closing, ITW 1.8.1 is released!

[2019-05-21 10:46] #898 closed

[2019-05-21 15:11] cold-distance opened #1092 "The repo for Fedora 30 doesn't work"
Hi, I'm trying to install AdoptOpenJDK on Fedora 30, but the repo doesn't work.

I created with sudo the file `/etc/yum.repos.d/adoptopenjdk.repo` with this content:

[code]

When I execute "sudo dnf check-update" or try to install AdoptOpenJDK the system discards the repo and says it can't sync it.

I don't know what I'm doing bad. I think its a repository problem.

[2019-05-21 16:35] aahlenst commented on #1092
In a Docker container (`docker run -d -t fedora:30`), I did the following:

[code]

Followed by a `dnf update` and `dnf install adoptopenjdk-11-hotspot`, which both succeeded.

Could you please list the steps you performed that led to the error? Preferably with a Docker container.

[2019-05-21 17:14] mikezhang1234567890 commented on #1056
The newest JDK8 OpenJ9 nightly for OSX contains the fix merged above, and from my local testing, runs the LWJGL 2 sample test fine:
Running
[code]
gets past the exception:
[code]

[2019-05-21 19:10] stacktracer opened #1093 "JDK_BOOT_DIR heuristic doesn't handle paths that contain spaces"
**Platform:** Win10 (Cygwin)

**Architecture:** x86-64

I'm running on Cygwin, with ```JAVA_HOME=/cygdrive/c/Program Files/AdoptOpenJDK/jdk-8.0.212.03-hotspot```. The makejdk-any-platform.sh script fails with:
[code]

Solved by quoting the dirname and readlink args in the setBootJdk() function in configureBuild.sh:
[code]

[2019-05-21 20:43] karianna commented on #1093
@stacktracer Are you able to submit a PR?

[2019-05-21 21:45] tresf opened #1094 "HiDPI position handling on Ubuntu 18.04"
**Platform:**
Ubuntu 18.04 + HiDPI monitor

**Architecture:**
x86-64

**Description**
Screen coordinates are not properly translatable using OpenJDK11 and Ubuntu 18.04 on HiDPI

**Use-Case**
Use coordinates from a web browser (JavaScript) to correctly position a Java element (e.g. on the same screen).

**Known Caveats**
IE11 and Edge 44 do not expose coordinates.  Chrome, Firefox, Opera and Edge 7

[2019-05-22 03:50] DanHeidinga commented on #1056
The fix for this will be in the OpenJ9 v0.14.2 release.
https://github.com/eclipse/openj9/pull/5730

[2019-05-22 07:12] PrakashJava007 opened #1095 "AdoptOpenJDK\jdk-8.0.212.03-hotspot JVM Fatal Error"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ILLEGAL_INSTRUCTION (0xc000001d) at pc=0x000007feeab35c01, pid=989448, tid=0x00000000000b4108
#
# JRE version: OpenJDK Runtime Environment (8.0_212-b03) (build 1.8.0_212-b03)
# Java VM: OpenJDK 64-Bit Server VM (25.212-b03 mixed mode windows-amd64 compressed oops)
# Problematic frame:
# C  [msvcr120.dll+0x95c01]
#

[2019-05-22 07:21] #1056 closed

[2019-05-22 07:28] karianna commented on #1095
@PrakashJava007 Can you test against an OpenJDK from another provider such as Azul's Zulu?  We'd like to confirm if this is an upstream bug

[2019-05-22 07:38] karianna commented on #1094
I've set up the code example on my local Mac OS X (Retina) and can confirm that it works as expected.

Next step is to run an Ubuntu 18.04 under Virtual Box and reproduce the error

[2019-05-22 07:45] karianna commented on #1094
Hmm or maybe not - looks like Mac OS X new protections stop VirtualBox from executing - I'll find a new machine to work on.

[2019-05-22 08:20] PrakashJava007 commented on #1095
Thanks Karianna, i will test it with Azul's Zulu and update ASAP...This fatal issue happens when i tried with Secure odbc connection with IBM iSeries(AS400) and after couple of successful transaction.

[2019-05-22 08:29] PrakashJava007 commented on #1095
@karianna I've tested with Azul's Zulu and it is working without issues..

[2019-05-22 09:35] karianna opened #1097 "Rename reafactor_release_build job"
remove https://ci.adoptopenjdk.net/view/all/job/openjdk_release_tool/ and rename https://ci.adoptopenjdk.net/view/all/job/refactor_openjdk_release_tool/

We will need to update the name in the build scripts though

[2019-05-22 09:41] karianna commented on #1094
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8160194 - might be relevant

[2019-05-22 09:43] karianna commented on #1095
Interesting - @ali-ince Are you able to take a quick comparison look between Zulu and us to see if they call a separate DLL (not msvcr120.dll)

[2019-05-22 10:11] PrakashJava007 commented on #1095
i just replaced Zulu's rt.jar to Adopt, it seems working. This might help you in further investigation.

[2019-05-22 10:16] karianna commented on #1095
That's really interesting - OK @ali-ince Might have to do a binary comparison there.

[2019-05-22 12:46] juliojgd commented on #577
Any news if this is going to be ready in "MAy 2019" milestone?

[2019-05-22 14:26] tresf commented on #1094
Agreed but the title is misleading... "User-defined scale" is actually set by default to 200% on Retina on boot (Live CD) or install, so this is broken out-of-the box for HiDPI.  For a bug report to call this "User-defined" implies it's set by preference, but in the case of a 4K display, the system decides a sane default for you.

[2019-05-22 14:30] tresf commented on #1094
Offtopic, but Parallels can run it, and you'll never go back to VirtualBox on MacOS once you use it. ❤️ They offer a 14-day trial.

[2019-05-22 21:40] linspinho opened #1098 "AdoptOpenJDK does not work in window7 sp1"
None of my java application works after AdoptOpenJDK install.
java -verision works and show AdoptOpenJDK version.

netbeans does not works, it show
'invalid jdkhome specified'
 Cannot locate java installation in specified jdkhome:
 C:\Program Files\AdoptOpenJDK\jdk-11.0.3.7-openj9\bin
 Do you want to try to use default version?

on click yes

shows another error

Cannot find Java 1.8 or higher

wi

[2019-05-22 22:28] karianna commented on #577
@juliojgd May is optimistic, it'll probably be June

[2019-05-22 23:26] pshipton commented on #1098
Does it work with the Hotspot version?

[2019-05-22 23:32] pshipton commented on #1098
javax.xml.bind.ValidationEventHandler is only available in JDK8, maybe you need to use the JDK8 version.

See http://openjdk.java.net/jeps/320, the javax.xml.bind is removed in Java 11.

[2019-05-23 06:12] PrakashJava007 commented on #1095
There is a rt version difference - Adopt's rt is version(1.8.0_212-b03) where as in Zulu is having (1.8.0_212-b04). It seems b03 version is having some Crypto issue and it is fixed in higher versions. Please refer this bug link: https://github.com/eclipse/openj9/issues/5611

[2019-05-23 07:25] PrakashJava007 commented on #1095
i would suggest to use JDK latest stable build-10 or higher and update the AdoptOpenJDK build.

[2019-05-23 07:27] ali-ince commented on #1095
What's your suggestion on this @karianna?

In fact b04 was released at the same time b03 was released but IIRC decision was having ga point to b03 and leaving the decision for downstream projects (which one to build).

The release mail is https://mail.openjdk.java.net/pipermail/jdk8u-dev/2019-April/009116.html. On the other side, I see only one regression is fixed with b04 and I cannot see a direc

[2019-05-23 08:37] karianna commented on #1095
We'll release b04 in the coming week(s) and see if that resolves this issue.

[2019-05-23 13:42] linspinho commented on #1098
I did not try AdoptOpenJDK hotspot.

I just confirmed that!

Netbeans 8.2 did not work with this openJDK, maybe because it was working with Oracle JDK 8 before.

I have installed Apache Netbeans 11 and it seems work just fine.

Thanks for your time and hard work.

[2019-05-23 13:42] #1098 closed

[2019-05-23 18:52] DanHeidinga opened #1099 "Add the OpenJ9 Win64 Large Heap (XL) package to the builds"
OpenJ9 project users have requested the Large Heap (XL) packages on Windows as well.

These packages are built and tested at OpenJ9 and we'd like to have them included in the regular Adopt pipelines.  Adopt provides the XL packages on both OSX and Linux today.

Can Adopt add the Windows XL packages for JDK 8, 11 & 12?

[2019-05-23 21:14] AdamBrousseau opened #1100 "Jenkins jobs hold onto executors unnecessarily"
Jenkins executors are a limited and precious resource, grabbing an executor via a `node()` block in pipeline code allows you to do "material work". Anything not requiring a node should not be run in a node block. Jenkins pipelines run in a lightweight executor on master already, so anything run outside of a node block will be executed on master. A classic example is launching downstream jobs and w

[2019-05-23 21:19] AdamBrousseau opened #1101 "Jenkins pipelines need timeouts"
I see lots of jobs currently running that will not finish and have been running for several days.
Adding timeouts to your pipeline code will allow these to clean themselves up automatically without manual effort. Usually I use layers of timeouts which allow me to control timeout for not only the entire build but more granularity at each stage or downstream job for example.

[2019-05-23 21:21] AdamBrousseau opened #1102 "Jenkins pipelines need timestamps"
I noticed none of the Jenkins pipelines currently have timestamp blocks. Timestamp blocks are an easy addition to pipeline code that adds invaluable information to the console output. Generally I wrap my entire build process in a timestamp block to ensure everything is timestamped.

[2019-05-24 04:41] ecki commented on #1086
Will you remove the option from the adoptopenjdk build script then?

[2019-05-24 10:37] maxpg commented on #682
Does anyone know the progress of this issue? I see in the migration guide that "Relicensed Lucidia Fonts" are "coming soon". It also states Q2 2019.

How is the progress on that? Is it planned to be part of the next Java 8 Update? Is there still potential to slip out of Q2 or is it basically already finished?

[2019-05-24 15:35] karianna commented on #1099
Does the windows host need any other requirements?

[2019-05-24 15:40] karianna commented on #1086
Once we confirm it's the same list, yes

[2019-05-24 15:41] DanHeidinga commented on #1099
Nothing extra required on the machine.  Any machine that builds the regular package can build the XL version as well

[2019-05-24 18:15] karianna commented on #682
@maxpg we have the May 2019 milestone label which means it's in the bucket of things that we want to look at next (May is false in terms of timing though). It's an unassigned issue so unless a volunteer picks it up beforehand we won't tackle it until some other priorities get sorted first.

[2019-05-24 19:11] farmdawgnation opened #1103 "Variant number is not increased when new rpms of the same build is published"
**Platform:** CentOS 7 (but probably affects others)

**Architecture:** x86_64 (but probably affects others)

When changes are released to the rpm packages release branch (not nightly) without changing the version of the JRE or JDK, the variant number on the rpm package should be increased so that the fact that there have been changes is evident _and_ each rpm in the release repo is an immutable a

[2019-05-24 20:37] aahlenst commented on #1103
The necessary facilities are present but haven‘t been used yet. According to my knowledge, no re-release was performed since the [initial announcement](https://mobile.twitter.com/adoptopenjdk/status/1130480089358057472). However, we did multiple re-releases beforehand. Therefore I either need more information or there is no action to take here.

[2019-05-25 15:17] karianna commented on #1103
Should be in openjdk-installers but the transfer function iscurrently broken

[2019-05-25 17:10] ali-ince commented on #946
I've just requested the backport of the fix into 11u and 12u.

[2019-05-25 19:53] jschneider commented on #577
This issue is getting more important since the latest docker image of OpenJDK switched to the JDK from AdoptOpenJDK.
Before it has been possibel to install JavaFX using "apt get install openjfx".

This does no longer work and broke the build for us.
Propably a lot of guys out there are looking for the reasons JavaFX is no longer available in their docker image...

https://github.com/docker-library

[2019-05-25 21:10] rednoah commented on #1065
+1

My app crashes on startup with the `JRE 12` 64-bit Windows build:
[code]

[2019-05-25 23:02] farmdawgnation commented on #1103
My understanding from [our slack conversation](https://adoptopenjdk.slack.com/archives/C09NLQQAV/p1558362472014800) was that there was something to be done here and I should open an issue. Entirely possible I'm mistaken. :)

[2019-05-28 09:21] lumpfish opened #1105 "jdk11 build fails with aarch64-linux-gnu-ar: Command not found on build-packet-centos74-armv8-1"
**Platform:**
linux

**Architecture:**
aarch64

Build of openjdk11-openj9 jdk11 failed on build-packet-centos74-armv8-1 with
[code]
See: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/49/console

[2019-05-28 09:49] #871 closed

[2019-05-28 12:16] karianna commented on #1105
Possibly an infra issue, GitHub's transfer mechanism is broken though :-(

[2019-05-28 13:34] pdbain-ibm commented on #1080
@bobswift
Have you been able to retest per https://github.com/AdoptOpenJDK/openjdk-build/issues/1080#issuecomment-493047169?

[2019-05-28 18:48] sxa555 commented on #1105
Subsequent run https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/50/console appears to have passed the build phase on the same machine

[2019-05-29 09:01] lumpfish commented on #1105
The passing job contains AR=ar on the build configure line :
[code]
The failing job build configure command contains AR=aarch64-linux-gnu-ar :
[code]

[2019-05-29 10:35] sxa555 commented on #1105
Ah ha! This is therefore a result of https://github.com/eclipse/openj9/pull/5451 not being in the release branch (presumably because the branch was created before the patch was put in). Since we are not doing a full release at present I think we can safely ignore this and close the issue.

[2019-05-29 10:35] #1105 closed

[2019-05-29 19:57] le-jawa opened #1106 "Java Web Start not bundled with Windows .msi"
**Platform: Windows**

**Architecture: x64**

According to your migration guide: "Currently, IcedTea-Web is bundled only with the Windows MSI installer for OpenJDK 8 and 11.", but javaws.exe (maybe other components?) is not included in the x64 MSI installer for 8u212.  Your docuemtnation also says "IcedTea-Web is also available as an optional component of the AdoptOpenJDK installer for Windows tha

[2019-05-29 21:12] tresf commented on #1094
With help from an [Eclipse bug report](https://bugs.eclipse.org/bugs/show_bug.cgi?id=480639), I've written a small Python program to get the scale factor from Ubuntu...

On Ubuntu 18.04, this gets the scale factor set from System Preferences.  100% returns `1`, 200% returns `2`.

The bug does warn about compatibility:

[code]

I will attempt to produce a JNA (NOT JNI) binding that is capable of th

[2019-05-30 09:05] PrakashJava007 commented on #1095
Hi any update on the next release with build#4?

[2019-05-30 11:00] sxa555 commented on #1106
It should be in the OpenJ9 build of JDK8 and we're working on getting it into a refresh of HotSpot 8u212 soon. We have decided not to include it in the current JDK11 installers. You can download it as a separate component from https://adoptopenjdk.net/icedtea-web.html for now though - it's the same build that will be incorporated into the 8u212-b04

[2019-05-30 13:55] karianna opened #1107 "git-hg 3.0"
After a discussion with @andrew-m-leonard and @johnoliver we will attempt to do the following:

1. For `git-hg-jdk8u` - Document how the script really works in the README and in the Jenkins job configuration.  For example, the `move-release-to-next-tag` option needs to be manually executed, it creates a branch with that tag and that is what a subsequent build would need to build from.

2. For `git

[2019-05-30 14:16] karianna opened #1108 "Split out contents of openjdk-build into openjdk-build and openjdk-build-farm"
The build farm code should be kept separate from the code used to actually build openjdk for folks at home.

[2019-05-30 15:35] karianna commented on #1094
@tresf Oh nice!  I was still bumbling down the JNI route - JNA - interesting idea.

[2019-05-30 15:38] karianna commented on #1095
@PrakashJava007 Hoping for next week (we've managed to get our git-hg working again)

[2019-05-30 18:00] tresf commented on #1094
The project we use has JNA as a dependency for other components, so it would serve as a stop-gap until the JDK offers it.

[2019-05-30 18:39] le-jawa opened #1109 "Cisco ASDM does not work with OpenJDK 8 (deploy.jar missing)"
**Windows, Linux & Mac:**

**x64:**

Not sure if this is a problem for Cisco or OpenJDK; it depends on where the actual problem is.  ASDM requires Java 8, but does not work with OpenJDK 8.  If the libraries required for ASDM are not intended to be there (ie, Oracle intentionally did not include them), then oh well I guess.  Hopefully we can convince Cisco to support OpenJDK if that's the case.  Ho

[2019-05-31 07:23] XenoAmess opened #1110 "[ERROR] Exit code: 1 - javadoc: error - The code being documented uses modules but the packages defined in https://docs.oracle.com/javase/8/docs/api/ are in the unnamed module."
**Platform:**
win10

**Architecture:**
x64

**Version:**
jdk-12.0.1+12

**Bug:**
When build javadoc for language level 8, it throw such error.

**Full log:**
[code]
**My Java Code:**
[x8l.zip](https://github.com/AdoptOpenJDK/openjdk-build/files/3240205/x8l.zip)

**Maybe Related Issue:**
https://bugs.openjdk.java.net/browse/JDK-8212233

[2019-05-31 11:42] karianna commented on #1109
Which version of OpenJDK are you using?  Is it AdoptOpenJDK's binary?  If so can you also try with an alternative provider (e.g. Azul's Zulu) and see if you get the same error?

[2019-05-31 11:50] karianna commented on #1110
This is indeed the upstream bug - we'll pick up the fix in the nightlies once we fix the git-hg scripts.

[2019-05-31 11:50] #1110 closed

[2019-05-31 15:33] le-jawa commented on #1109
Martin,
Thanks for getting back with me.  Yes, it was AdoptOpenJDK’s build of Java 8; I even tried both VMs and both the JRE and JDK packages.  All had the same problem.

I’ve seen some of the builds from other providers; I’ll give those a try and put the results here.

Sent from my iPhone

[2019-06-03 07:50] casper5822 commented on #1057
Hello, is there any new about this problem?

Thank you

[2019-06-03 10:03] karianna commented on #1057
@SueChaplain Any news from your side?  I'll chase Azul formally.

[2019-06-03 10:07] karianna commented on #1057
Have sent formal request into Azul

[2019-06-03 11:53] casper5822 commented on #1057
I tried also the other tool suggested @keirlawso. It seems working but  is not clear how to pass the extra tz files for the openjdk version. So it uses only the standard files so it has an incomplete documentation or functionalities.

[2019-06-03 12:30] SueChaplain commented on #1057
@karianna - discussions still ongoing here to confirm originality of code. Will prod.

[2019-06-03 12:46] casper5822 commented on #1057
Hope a tzupdater will be soon available, we have a  critical timezone cloud platform, with payments and invoices, timezone is a vital part of our microservices.

[2019-06-03 16:27] andrew-m-leonard commented on #1107
@karianna @johnoliver Hi guys, could you review this proposal for the new jdk11+ merge script please?

[2019-06-03 19:41] karianna commented on #1107
C&P from Slack so far

[code]

[2019-06-04 12:09] yansendao opened #1112 "win32 jdk run jtreg testcase TestCapacityUntilGCWrapAround fail"
**Platform:**
windows 32bit

**Architecture:**
intel x86

Please describe the issue that you are having with our binaries and if possible how to recreate it.
**binary:**
[code]

**test command:**

jtreg -va -w tmp -nr jdk8u/hotspot/test/gc/metaspace/TestCapacityUntilGCWrapAround.java

**actual result:**
[code]

**expetc result:**
run pass

[2019-06-04 20:35] benbrummer commented on #577
As my company needed openjfx 8 for adoptopenjdk, I compiled it. You can build it yourself https://benjamin-brummer.de/2019/06/03/build-openjfx-8-for-adoptopenjdk/ or trust me and take the latest build from here https://benjamin-brummer.de/downloads/. Simply extract it into your jdk.

[2019-06-04 22:09] tresf commented on #1094
FYI, a downstream workaround using JNA is available here, for anyone that needs it: https://github.com/qzind/tray/commit/7ff0d043117a36218c43e005c6d777123245d08e#diff-1aeef540797c8551c39d0e5bcd12df43

This code is intended to cover compatibility with Gtk2/Gtk3 for detecting the scaling factor.

Worth noting, some other scaling issues with the Java interface are present suggesting that the underlyi

[2019-06-05 13:13] Siedlerchr commented on #577
@benbrummer  Thanks for the build, however yours is missing the libjfxwebkit:
`Caused by: java.lang.UnsatisfiedLinkError: Can't load library: C:\Program Files\AdoptOpenJDK\jdk-8.0.212.03-hotspot\jre\bin\jfxwebkit.dll`

[2019-06-05 19:09] benbrummer commented on #577
@Siedlerchr i uploaded a build with WebKit and Media

[2019-06-05 19:32] polyn0m commented on #577
@benbrummer maybe create pull request?

[2019-06-05 20:32] benbrummer commented on #577
Not sure where to pull to https://github.com/AdoptOpenJDK/openjdk-jfx is empty.

Assumption
1. PR for changing git-hg to get the sources to Github.
2. PR for changing the code on Github to be buildable with AdoptOpenJDK as target
3. PR for Building against other Platforms (At its best no need for this)
4. Integration in the Build System?

Second PR would be easy, but i only build OpenJFX for Windo

[2019-06-05 21:18] jsoref commented on #577
https://github.com/javafxports/openjdk-jfx is a mirror...

[2019-06-06 11:44] #1099 closed

[2019-06-06 12:15] karianna commented on #577
We may not need to even do that assuming we don't need to hold patches over what's in https://github.com/javafxports/openjdk-jfx - @johanvos - if we build OpenJFX at Adopt do we need to set a vendor string or anything like that?

I think it would just be a case of setting up a Jenkins build pipeline to build OpenJFX (nightly) and release versions

All part of the pipeline above.  I think one of th

[2019-06-06 13:55] DanHeidinga commented on #1099
A big thank you to everyone involved in getting this done!

[2019-06-06 14:13] karianna commented on #1099
@DanHeidinga Well let's see if it works first :-D

[2019-06-06 20:27] ghollies commented on #698
Still seeing this issue on 5.11
Tested using `RHEL-5.11_GA-20141003-x86_64-2-Hourly2-GP2 (ami-3268da5a)` on AWS
Pulled down the Linux x64 JDKs from https://adoptopenjdk.net/archive.html

[code]
Environment info:
[code]

[2019-06-07 00:33] muyinliu commented on #1057
Seems OpenJDK itself provide a tool: [ZoneRulesBuilder.java](https://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/make/src/classes/build/tools/tzdb/ZoneRulesBuilder.java) in path `/make/src/classes/build/tools/tzdb/`

[2019-06-07 00:36] muyinliu commented on #1057
see also: [ZoneRulesBuilder.java](https://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/make/src/classes/build/tools/tzdb/ZoneRulesBuilder.java) in path `/make/src/classes/build/tools/tzdb/`

[2019-06-07 02:37] jt214 commented on #871
I created another PR #1113 for 64-but builds.

[2019-06-07 10:07] saikiran40cs opened #1115 "Unable to execute JAR files using OpenJDK-11.03"
**Platform:**
openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.3+7, mixed mode)

**Architecture:**
64 bit OS - Windows 10

Please describe the issue that you are having with our binaries and if possible how to recreate it.

Whenever trying to run a package JAR (Created from Maven Eclipse Project) it give

[2019-06-07 11:02] karianna commented on #1115
@saikiran40cs Can you give us the exact command that you're trying to execute and the error log?

[2019-06-07 13:02] smlambert opened #1116 "Update how tests are launched via Build Pipelines"
2 part feature request:

1) Change updateTests()
We are generating new test jobs (with a name change) so need to update the way tests are launched (currently based on old job names), see [updateTests()](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L96-L130)

2) Re-introduce the ability to add 1 or more levels of testing
We should al

[2019-06-07 19:17] pdbain-ibm commented on #1080
@DanHeidinga I suggest closing this unless @bobswift has further input.

[2019-06-08 03:52] DanHeidinga commented on #1080
I don't have rights to close it on this repo.  @sxa555 Can you close this?

[2019-06-08 05:10] saikiran40cs commented on #1115
The command used is as follows
java - jar automation.jar

Output
MavenInvoker exception
However the logs also show the same error

When I run the same using Oracle jdk it works flawlessly. Please help me in resolving this issue

[2019-06-08 17:57] karianna commented on #1115
@saikiran40cs Are you able to upload the jar somewhere so we can take a look?

[2019-06-08 22:22] rtenjarl opened #1117 "test"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

[2019-06-08 22:22] #1117 closed

[2019-06-09 12:29] ali-ince commented on #1095
@PrakashJava007 jdk8u212-b04 is now released and available for download at https://adoptopenjdk.net/. Would you please verify that it resolves your problem?

[2019-06-10 12:12] saikiran40cs commented on #1115
@karianna Thank you for the help. It was classpath exception which was creating issue.

Now i'm able to run the tests using OpenJDK . Hail Adopt OpenJDK

[2019-06-10 12:12] #1115 closed

[2019-06-10 12:25] andrew-m-leonard commented on #1107
Updated above strategy comment with latest: https://github.com/AdoptOpenJDK/openjdk-build/issues/1107#issuecomment-498329062

[2019-06-10 17:09] Mekadrom opened #1119 "Update rendering library to be consistent with other vendors of OpenJDK"
After a brief conversation with others in the AdoptOpenJDK slack, I decided to open a ticket with an example of the differences between AdoptOpenJDK's chosen rendering native library and those of other OpenJDK vendors.

![image](https://user-images.githubusercontent.com/1545535/59212397-4b7bf380-8b80-11e9-8c97-2536c5cef688.png)

Note: Yes, the AdoptOpenJDK title bar size is now consistent with the

[2019-06-11 10:46] karianna commented on #1119
Related: https://github.com/AdoptOpenJDK/openjdk-build/issues/716 and https://github.com/AdoptOpenJDK/openjdk-build/issues/835

[2019-06-12 02:19] bobswift commented on #1080
Sorry, didn't have time to do anymore scenarios. We had to stop using OpenJ9. If I have time in the future to try again I will open another issue.

[2019-06-12 23:42] jkinross opened #1121 "Linux arm32 build only has the JDK"
The Linux arm32 builds only have the JDK. Should there and/or will there be a Linux arm32 JRE build.

[2019-06-13 17:20] pdbain-ibm commented on #1080
@bobswift Please let us know if there is anything we can do to facilitate you using OpenJ9.

[2019-06-15 04:11] k7aravind opened #1122 "IcedTea-Web for AdoptOpenJdk"
I have been trying to use IcedTea-Web in AdoptOpenJdk. I have not been successful using either latest builds or the nightly builds. I have also tried to use the IcedTea-Web in AdoptOpenJdk website. It looks like AdoptOpenJdk is using 1.8 version IcedTea-Web.
Recently I used 1.7.x version of IcedTea-Web available in http://icedtea.wildebeest.org/download/icedtea-web-binaries/. And it worked. I also

[2019-06-17 10:19] karianna commented on #1122
@k7aravind 1.8.1 is the latest production release (1.7.x should be considered deprecated).  Can you tell us what error you are getting?

[2019-06-17 14:20] sxa555 commented on #1108
I'm not yet convinced by this. If you take the scenario where someone wants to setup up a build system and run our builds then some of the details (the environment files) are only invoked when you run our build-farm scripts. Separating these out into another repository would currently make that use case unnecessarily complex by introducing another repository into the mix.

[2019-06-17 14:21] gdams commented on #1108
Certainly things like the git-hg scripts can be pulled out IMO

[2019-06-17 14:22] gdams commented on #1108
Certainly things like the git-hg scripts can be pulled out IMO

[2019-06-17 16:15] grzesuav commented on #1108
@sxa555 When I tried to use the scripts last time for building java8, the gradle complains that java used there (zulu-7) is too old - it needs jdk8. So IMHO those code should be kept separate.

[2019-06-17 16:46] smlambert opened #1123 "Trigger Docker builds from main build pipelines"
Currently Docker builds are triggered via a schedule separate from the main build pipelines.  This issue is to discuss whether we initiate those builds from the main build pipelines.

Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/773 - we currently trigger Docker image testing off of the main build pipelines, which is incorrect, as there may not be a new Docker image to test, if th

[2019-06-18 05:55] benbrummer commented on #577
https://github.com/javafxports/openjdk-jfx is not sufficient
We need a mirror of
http://hg.openjdk.java.net/openjfx/8u/rt/
http://hg.openjdk.java.net/openjfx/9/rt/ (eol)
http://hg.openjdk.java.net/openjfx/10/rt/ (eol)
http://hg.openjdk.java.net/openjfx/11/rt/
http://hg.openjdk.java.net/openjfx/12/rt/
http://hg.openjdk.java.net/openjfx/jfx-dev/rt would be 13

The instructions from https://github.co

[2019-06-19 17:27] le-jawa commented on #1109
karianna,
Sorry to be so long getting back.

I tried out Zulu, Corretto (Amazon) and Liberica (Bell SW).  Zulu and Corretto behaved exactly as AdoptOpenJDK's build (The login screen showed, then when login is attempted, I got an error box stating that the device can't be reached.)  Liberica wouldn't even run ASDM at all.

[2019-06-20 17:21] lherschi opened #1126 "connection problems behind forced proxy"
**Platform:** Windows 7

**Architecture:** x64

I have connection problems inside netbeans 8.2 in conjunction with AdoptOpenJDK 8. The problem only occurs when you have to connect via a proxy. The problem exists since update 212, both b03 and b04 with HotSpot JVM. The problem is not with OpenJ9 JVM nor with Oracle JDK or openjdkbuild. You can easily readjust this via the netbeans menu Help -> Chec

[2019-06-20 20:51] willtconq opened #1127 "OpenJDK 8 has major security vulnerabilities"
Hello,

It appears OpenJDK 8 u212 has some major security issues

Windows
Component | Version | Latest version | Major
freetype | 2.5.3 | 2.10.0 | 10
freetype | 2.5.3 | 2.10.0 | 10
xerces-j | 2.7.1 | 2.12.0 | 1

Linux
Component | Version | Latest version | Major
giflib | 5.1.1 | 5.1.9 | 2
lcms | 2.9 | 2.9 | 1
xerces-j | 2.7.1 | 2.12.0 | 1

Component | Version | Latest version | CVE
giflib | 5.1.1

[2019-06-21 08:54] moschinski commented on #682
@karianna The issue is a major one if you want to ship your (on-premise) application with AdoptOpenJDK as the application may not work correctly on some Linux distributions. Considering this, I hope that you can give the issue a higher priority and a reliable milestone (waiting half a year because [your page](https://adoptopenjdk.net/migration.html#relicensed-lucida-fonts) states _"expected to com

[2019-06-22 10:37] ali-ince commented on #1085
@outsidecave any chance that you could share reproduction steps with us?

[2019-06-24 09:56] karianna commented on #1107
In conversation with @johnoliver we discussed how we could keep the existing repo (so that we didn't lose release binaries).  We thought we would be able to clone/archive the `source` code and run the new scripts on the existing repo.

[2019-06-24 13:37] karianna commented on #1109
@le-jawa, Hmm, interesting - is there a `${java.home}/lib/deploy.jar` file in the AdoptOpenJDK installation?  Is there one in the Oracle one?

[2019-06-24 14:00] karianna commented on #1127
Much of this is a case of OpenJDK 8 being pinned to older versions of those libs.  That said, we should explore them on a case by case basis and document the risk

[2019-06-24 14:06] karianna commented on #682
We do our best to prioritize issues that impact the most folks, but this is a community/volunteer project.  If you'd like this particular issue looked at more quickly then we're always looking for more help and/or there are support options listed at adoptopenjdk.net/support.html

[2019-06-24 14:16] karianna opened #1128 "Build Beta JFR builds for OpenJDK 8"
See https://github.com/AdoptOpenJDK/TSC/issues/84

[2019-06-24 14:20] lherschi commented on #1126
I've tried the nightly builds. The described problem I have here from the build OpenJDK8U_x64_windows_hotspot_2018-09-20-18-33. Until build OpenJDKU_x64_windows_hotspot_2018-09-19-15-36 there are no problems. If I look at the differences here, I can see immediately that there has been a change in Visual C++ from 2010 to 2012. The same change happened during the releases between update 202 and 212.

[2019-06-24 14:45] karianna commented on #1126
I'll assign this to @ali-ince who is juggling a few of these. We need to unblock him on an infra piece I think and then the toolchains will get upgraded.

[2019-06-24 18:21] le-jawa commented on #1109
@karianna It is in the Oracle installation (both JRE and JDK), but is neither in AdoptOpenJDK JRE nor JDK.

[2019-06-25 13:44] ffissore commented on #1091
Is there a `C:\Program Files\AdoptOpenJDK\jdk-8.0.212.03-hotspot\jre\bin\awt.dll` ? I don't have it, which is surprising since I have it on my linux box, same openjdk version

[2019-06-25 14:27] tkie opened #1130 "MacOS hardened runtime support"
I would like to bundle the AdoptOpenJDK into a MacOS application. To use Apple's notary service all executables in my app have to be codesigned with hardened runtime support.

The ApoptOpenJDK executables are codesigned already, but unfortunately without hardened runtime support.

I can re-sign them myself like this:

`codesign --verbose --options runtime --force --sign "Developer ID Application:

[2019-06-27 10:30] maru-sama opened #1132 "Build icedtea-web nightlies"
Hello,

To be able to test fixes with icedtea-web I kindly ask to create nightly builds there as well. As far as I understand right now only release builds are configured.

Thank you very much in advance,
Michael

[2019-06-30 16:24] RichardTetra opened #1134 "RXTXComm Problem with OpenJDK 11.0.3+7"
**Platform: OpenJDK 11.0.3+7**

**Architecture: Windows64**

I try to run Java Code using the RS232 Interface. Was working well with JDK8.
Now I got a runtime error when accessing the RS232 interface.

Any support is appreciated ...

<details><summary>View Log</summary>
<p>

[code]
</p>
</details>

[2019-07-01 13:07] karianna commented on #1134
@RichardTetra Can you try with Oracle's JDK or another OpenJDK to see if it's a generic bug or just with the AdoptOpenJDK binary.

[2019-07-01 15:30] benbrummer commented on #577
We just realised that Windows dlls are missing for AdoptOpenJDK 8u212 + OpenJFX 8 Overlay. To run a javafx application we had additionally to install Visual C++ 2015-2019 Redistributable https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads.

[2019-07-01 19:18] RichardTetra commented on #1134
I will do…

Regards

Von: Martijn Verburg [mailto:notifications@github.com]
Gesendet: Montag, 1. Juli 2019 15:08
An: AdoptOpenJDK/openjdk-build
Cc: RichardTetra; Mention
Betreff: Re: [AdoptOpenJDK/openjdk-build] RXTXComm Problem with OpenJDK 11.0.3+7 (#1134)

@RichardTetra <https://github.com/RichardTetra>  Can you try with Oracle's JDK or another OpenJDK to see if it's a generic bug or just with

[2019-07-02 09:14] se35710 opened #1136 "32-bit Windows OpenJ9 builds for Java 8"
**Platform:**
Windows

**Architecture:**
i386

No builds listed in [API](https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=openj9&os=windows&release=latest&type=jdk) nor in [Github](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u-2019-07-02-06-29)

[2019-07-02 09:26] sxa555 commented on #1136
This looks like another "directory has failed to delete properly" problem on Windows - will address once machine is quiesced.

[2019-07-02 11:57] sxa555 commented on #1136
Fixed - the problematic directory was not present on the filesystem on [build-softlayer-win2012r2-x64-1]/(https://ci.adoptopenjdk.net/computer/build-softlayer-win2012r2-x64-1/) so had got into a very odd state which prevented me taking any explicit action on the system to resolve it. Have rebooted and the build has run through. Assuming there are no further problems, should come up on the next nig

[2019-07-02 11:57] #1136 closed

[2019-07-02 21:03] RichardTetra commented on #1134
Ok ..

I tested oracle jdk12, openjdk11 and apachejdk11 – all same behavior – sending serial interface ok

But receiving via serial event – crash as before.

RXTXcomm V2.2 – Windows 64 bit

Going back to oracle jdk8 – all works fine.

Any suggestion whom I could contact is highly appreciated.

Thanks and best Regards,

Richard

Von: Martijn Verburg [mailto:notifications@github.com]
Gesendet: Monta

[2019-07-03 00:04] Pr0methean opened #1145 "dpkg-reconfigure should set default version"
Switching Java version on Ubuntu means a list of `update-alternatives` calls that's impossible to keep track of, but those calls are performed automatically when I install or `apt-get reinstall` one of the AdoptOpenJDK Ubuntu packages. It would be nice if there were a way to set the default version to an already-installed one without having to download the package again; why can't `dpkg-reconfigur

[2019-07-03 06:25] aahlenst commented on #1145
Use `update-java-alternatives`. `-l` displays all the available JDKs. `-s` is used to activate one and runs all the `update-alternatives` for you.

http://manpages.ubuntu.com/manpages/bionic/man8/update-java-alternatives.8.html

[2019-07-03 14:04] johnoliver commented on #1107
think we are done on this? @andrew-m-leonard

[2019-07-04 11:20] positron96 opened #1148 "Netbeans method profiler crashes JVM (8.0 as well as 11.0.3)"
**Platform:**
Windows 10

**Architecture:**
OS: x64, Java: x64

I recently upgraded my OS to Windows 10 and reinstalled everything, Java was installed from adoptOpenJDK. Now all attempts to profile methods of a java application on my PC using Netbeans leads to JVM crash.

I've tried
 * Netbeans 11.0
 * Netbeans 8.2,

 * JDK 11.0.3+7
 * JDK 8.0_212-b03 (both from adoptOpenJdk)

and every combinatio

[2019-07-04 11:30] axel1200 opened #1149 "Java fx native crash in build pipline"
Enviroment Linux inside Docker (Ubuntu 14.04.5 LTS)

In our travis build pipeline our unit tests (which load java fx Elements) fail.
https://travis-ci.org/FAForever/downlords-faf-client/builds/553860824?utm_source=github_status&utm_medium=notification
For the full error log see line 744 in the Travis build.

[code]
If you wanna see what exactly we called see https://github.com/FAForever/downlords-

[2019-07-04 11:42] axel1200 commented on #1149
We did not really change anything on that code segment of ours since it keeps happening.

[2019-07-04 11:47] axel1200 commented on #1149
This is probably the wrong repo right?

[2019-07-04 14:24] axel1200 commented on #1149
Happens since travis switched to AdoptOpenJDK

[2019-07-04 18:52] karianna commented on #1134
Hi Richard,

I suggest reporting this upstream at corelibs-dev mailing list at openjdk.java.net - it's important to provide as much detail as you can (stack trace etc) and the same information that you relayed here (confirming it's a Java 8 vs Java > 8 issue irrespective of the provider.

[2019-07-04 18:52] #1134 closed

[2019-07-04 19:29] karianna commented on #1148
Hi @positron96 What happens when you use an Oracle JDK or an alternative OpenJDK from say Azul?

[2019-07-04 19:32] karianna commented on #1149
@johanvos I'm assuming this is because AdoptOpenJDK needs to be bundled with a certain freetype lib or that travis needs to run an apt-get install of freettype?

[2019-07-04 19:33] karianna commented on #1149
Aslo see #577

[2019-07-04 19:37] axel1200 commented on #1149
Well we have added javfx our selves and it worked with normal openjdk before

[2019-07-04 19:37] axel1200 commented on #1149
I switched back to openjdk https://openjdk.java.net and it started working again

[2019-07-04 19:53] karianna commented on #1149
OK, thanks - I'm not sure what's causing that crash but I can only imagine it's a difference in freetype version.

[2019-07-04 20:19] axel1200 commented on #1149
Yeah i am not sure either. Not too much into this.

[2019-07-06 17:13] positron96 commented on #1148
I will try in a day or two. Cannot use Oracle jdk though since it's not free anymore (isn't it?)

[2019-07-08 09:06] positron96 commented on #1148
Well, Zulu (Zulu11.31+11-CA) (11.0.3+7) (build 11.0.3+7-LTS)) crashes as well.

[2019-07-08 15:26] andrew-m-leonard commented on #1107
git-hg mirroring for jdk11+:
- openjdk-jdkNNu git repo mirror:

[2019-07-08 16:00] andrew-m-leonard opened #1151 "jdk11u+ dev vs release branch patch "verifier" job"
The new jdk11u+ git-hg mirrors now have 2 branches:
- dev = master(HEAD) + adopt patches
- release = master(latest build tags) + adopt patches
Developers of "adopt patches" must ensure they deliver patches to the "release" branch which are then auto-merged nightly into the dev branch.
To ensure an oversight of just patching "dev" directly and not "release", we should introduce a job to verify "dev

[2019-07-09 16:59] karianna commented on #1148
@positron96 OK, in that case, can you please report this upstream in the OpenJDK project.

In the https://mail.openjdk.java.net/mailman/listinfo/serviceability-dev mailing list

[2019-07-09 16:59] #1148 closed

[2019-07-09 17:02] positron96 commented on #1148
ok

[2019-07-10 12:52] ca-stefan-cordes opened #1154 "+ (plus sign) in the zip folder is not a good idea for windows"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

Even the "+" sign is a valid file name it breaks e.g. automatic scripts with "copy" command:
* unzip OpenJDK11U-jdk_x64_windows_hotspot_11.0.3_7.zip
* copy jdk-11.0.3+7 jdk-11.0.3+7-original
=> fails with "The system cannot find the file specified."
as t

[2019-07-10 13:09] karianna commented on #1154
A workaround is `copy "jdk-11.0.3+7 jdk-11.0.3+7-original"`

[2019-07-11 09:49] ca-stefan-cordes commented on #1154
Thanks for workaround.
My workaround was to rename the folder in the Zip to jdk-11.0.3-7

[2019-07-11 16:00] ruiumbelino opened #1156 "JVM 11.0.3_7 Error"
**Platform:**
Windows Server 2016 Standard x64

**Architecture:**
OpenJDK11U-jre_x64_windows_hotspot_11.0.3_7

I'm using an application, that needs JVM.

When I use AdoptOpenJDK (HotSpot and OpenJ9), I get an error, but with Oracle OpenJDK works fine.

Here are the logs with both versions:
[error_with_AdoptOpenJDK_(jre_x64_windows_hotspot_11.0.3_7).txt](https://github.com/AdoptOpenJDK/openjdk-buil

[2019-07-11 19:59] tony-- commented on #1127
@karianna you had recently checked this for me and the freetype used for jdk8u212-b03 is 2.9.1 which is not vulnerable to any of the listed CVEs.
I don't have the evidence handy, but I believe that
lcms is 2.9.1
xerces-j is 2.10.0
giflib is 5.1.4
None of these are vulnerable to the listed CVEs.

@willtconq how did you generate this list?  AFAIK it is not possible to identify the version of freetyp

[2019-07-11 20:09] le-jawa commented on #1109
Hey guys,
This bug is still labelled "Waiting on OP".  Was there something else you needed from me?

[2019-07-12 03:53] toto6038 opened #1157 "Language selection for Chinese should be divided into Chinese(Simplified) and Chinese(Traditional)"
**Website Issues:** https://github.com/AdoptOpenJDK/openjdk-website

The language selection toggle on the AdoptOpenJDK website only provides the option 中文 which stands for Chinese, however, Chinese is divided into Traditional Chinese and Simplified Chinese. I recommend AdoptOpenJDK can either rename the option 中文 to 中文(简体) or to provide both option for 中文(简体) and 中文(正體). This can allow people who

[2019-07-12 14:39] ruiumbelino commented on #1156
I saw that you also have the "OpenJDK Project Builds", so I tried with "OpenJDK11U-x64_windows_11.0.3_7", and also works fine...

[2019-07-12 18:22] karianna commented on #1127
Thanks, @tony-- for digging in.  Our Jenkins builds and the build scripts are all OSS so you can check the exact versions (and if you can't it's a bug!).  https://ci.adoptopenjdk.net is our build farm URL - Please do spelunk through as you like and if you get stuck then that's also a bug and so send us a Q on the #general channel in the adopt slack

[2019-07-12 18:23] karianna commented on #1109
My bad - I've removed that label.  I'll ping the build channel to see if anyone has any insights.

[2019-07-12 18:47] karianna commented on #1156
@ruiumbelino Can you try with Spring 5.1.8 and also separately try with an alternative OpenJDK provider (Azul Zulu for example)?

[2019-07-12 23:02] ruiumbelino commented on #1156
@karianna , same error with Azul Zulu (zulu11.31.11-ca-jre11.0.3-win_x64).

To try Spring 5.1.8 I have to replace the current spring*.jar, inside lib folder, with the new ones?

[2019-07-15 11:58] ARavichand opened #1162 "Looking for Linux 32 bit JRE (jdk8u212-b04)"
Hi,

We are looking for Linux 32 bit JRE. We have not found the 32 bit Linux JRE for download. But in the Support Matrix we have gone through the below statement :
" Note: Any other Linux distributions that have a minimum glibc version 2.12 on x86 or version glibc version 2.17 on other architectures are expected to function without problems."

As per the above note, we tried 64 bit Linux JRE on Li

[2019-07-15 12:45] karianna commented on #1156
OK, so chances are it's an OpenJDK issue as opposed to an Adopt specific one so that's good.  For Spring, you probably want to change the version in your build tool (Ant, Maven, Gradle)

[2019-07-15 13:31] karianna commented on #1162
#986

[2019-07-15 13:31] #1162 closed

[2019-07-15 13:48] torakiki opened #1165 "ESCEPTION_ACCESS_VIOLATION jlinked 11.0.3+7 32 bits"
**Platform:**
Windows 10
adoptjdk 11.0.3+7 32 bits

**Architecture:**
32 bits

I run jlink as part of a build script to create a runtime containing only the needed modules. I used this build script for a while on 64 bits platforms and everything works fine. Now I'm trying to create a 32 bits version, I downloaded the 32bits version of the jdk but when I run the command `java` in the resulting jlin

[2019-07-15 13:49] karianna commented on #1165
Are you able to try with an alternative OpenJDK provider (e.g. Azul's Zulu) and see if it's a common upstream issue?

[2019-07-15 14:10] s3b- opened #1166 "JVM 11.0.3+7 crash"
**Platform:**
 Windows Server 2012 R2 64 bit
**Architecture:**
OpenJDK11U-jdk_x64_windows_hotspot_11.0.3_7

I tested SonarQube 7.9.1 on my virtual machine. After I started SonarQube I ran an analysis. I stopped the SonarQube server by pressing CTRL-C and restarted it. During startup, the VM crashes when it tries to read the elasticsearch database. If I delete the database, there is no crash and So

[2019-07-15 15:08] torakiki commented on #1165
I get the same error
[hs_err_pid7988.log](https://github.com/AdoptOpenJDK/openjdk-build/files/3392858/hs_err_pid7988.log)

[2019-07-15 15:26] karianna commented on #1166
Hi @s3b-, In that case, you'll want to report this upstream to the Jackson JSON library in the first instance.  They may have used an illegal byte code weave.  They'll report it to OpenJDK proper if they think it's a genuine VM bug.

[2019-07-15 15:26] #1166 closed

[2019-07-15 15:31] karianna commented on #1165
Hi @torakiki - In that case, I'd report this upstream at OpenJDK proper (with both log files and the full explanation that this is occurring with multiple vendors).  `jigsaw dash dev at openjdk dot java dot net` is the mailing list you wan (you may need to sign up first)

[2019-07-15 15:31] #1165 closed

[2019-07-15 16:33] ruiumbelino commented on #1156
I don't understand when you say that it's an OpenJDK issue, when with the OpenJDK works fine.

This OpenText program is an already compile software, but I changed the spring*5.1.3.RELEASE.jar with the new spring*5.1.8.RELEASE.jar, and still works with OpenJDK, but not with AdoptOpenJDK...

In the log you can see that it load the new version of Spring.

[error_with_AdoptOpenJDK_.jre_x64_windows_hot

[2019-07-15 19:26] tomeppsva opened #1170 "Solaris OpenJDK - can it be used on the UltraSparc IV+ / JS9"
The build for Solaris is using the V9.  Can it be used on a newer processor?

[2019-07-15 20:01] karianna commented on #1156
Ah sorry, so it's broken for Azul and us but not the upstream build.  OK we'll have to dig in.

[2019-07-15 20:06] karianna commented on #1170
@tomeppsva I'm personally not too sure - are you able to quickly test it out?

[2019-07-15 20:09] tomeppsva commented on #1170
Unfortunately, it's at a client site who is looking to use the OpenJDK, so, alas, no.

[2019-07-15 20:11] karianna commented on #1170
OK I've asked our solaris channel

[2019-07-16 06:56] gdams commented on #1170
Our Solaris expert replied with this:

Should work on any SPARC processor supported by Solaris 10/11 or illumos - anything from the UltraSparc II through to the things currently for sale. (All 64-bit sparc cpus are sparcv9.)

[2019-07-16 06:57] gdams commented on #1170
Closing for now. Please let us know if you have any issues.

[2019-07-16 06:57] #1170 closed

[2019-07-16 10:03] cmbntr opened #1173 "Enable USDT probes for eBPF tracing on Linux"
Please enable (or provide a build variant) with enabled USDT probes.

These probes can be used with the eBPF tracing on Linux:
  http://www.brendangregg.com/blog/2019-01-01/learn-ebpf-tracing.html
  https://github.com/iovisor/bcc
  https://github.com/iovisor/bpftrace

  ["Profiling JVM Applications in Production"](https://www.usenix.org/sites/default/files/conference/protected-files/srecon18americ

[2019-07-16 17:32] tony-- commented on #1127
@karianna I looked into the freetype version a bit more and found the default setting is 2.9.1:
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/common/config_init.sh#L324

However it appears that windows builds get overridden to 2.5.3:
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/windows.sh

Am I reading it correctly?

[2019-07-16 17:35] karianna commented on #1127
I think you are correct - @ali-ince can you give us some insight as to why we're on 2.5.3?

[2019-07-16 21:48] ali-ince commented on #1156
Hi @ruiumbelino,

Is there any possibility that the distributions that you use from Oracle and OpenJDK is `jdk` distributions whereas the ones you tried from AdoptOpenJDK and Azul are `jre`s?

[2019-07-16 22:28] ali-ince commented on #1127
@karianna Freetype was explicitly set as `2.5.3` in infrastructure builds even before when I joined the project and I always thought that it was a requirement. Later versions of freetype include significant changes regarding its rendering engine (which can be defaulted to previous engine implementations) but we need to take special consideration while upgrading (if we'll upgrade).

Yes, for JDK11u

[2019-07-16 22:35] karianna commented on #1127
OK, thanks - not something to change last minute this release cycle.  We can always push out a security release if we really need to.

[2019-07-16 22:51] ali-ince commented on #1126
Hi @lherschi,

I wasn't able to reproduce this on my Windows 10 environment but I'm trying to get a clean Windows 7 installation to verify.

In the meantime, would you please verify if copying `<jdk_home>\jre\bin\msvcp120.dll` to `<jdk_home>\bin` folder helps to resolve the issue?

[2019-07-17 08:11] ruiumbelino commented on #1156
Hi @ali-ince ,

I also tried with AdoptOpenJDK and Azul Zulu JDK versions, without success...

[2019-07-17 08:29] alexnb commented on #1091
Another workaround is to add jre/bin to the PATH.

[2019-07-17 09:22] lherschi commented on #1126
I've just verified the connection problem again with windows 7, 8.1 and 10. Copying the file has not helped any of the system.
Maybe you can reproduce the following. As soon as a newer AdoptOpenJDK has been installed I get an exception in Netbeans as soon as I click on the Reload button of "Use System Proxy Settings" in the Tools-> Options menu in the General tab.

Exception:
`java.lang.NoClassDef

[2019-07-17 16:46] lherschi commented on #1126
I have looked at the netbeans sources and it probably fails loading winhttp.dll

[2019-07-17 21:22] ali-ince commented on #1126
It seems that netbeans ships with its own native DLLs which depend on `msvcr100.dll` and we no longer ship with this native DLL due to our move to MSVC 2013 with 8u212 (which results in `msvcr120.dll` to be bundled in the binaries).

One temporary workaround would be to install [Microsoft Visual C++ 2010 Service Pack 1 Redistributable Package](https://www.microsoft.com/en-us/download/details.aspx?

[2019-07-18 07:54] #1126 closed

[2019-07-18 11:23] PhilipMorrisJones commented on #897
Hi, I just downloaded and ran 11.0.4+11 and the release file now has a git sha in it :-)

The source tree for that sha is https://github.com/AdoptOpenJDK/openjdk-jdk11u/tree/381c817fa41d549420b1f3a173d9147aa7a679cd

Is there a way to see the link between that and the source on openjdk.java.net?

The tag there is 6a4d57474e1c971cccf4165b3d9d023928510010 and that occurs in openjdk-jdk11u/.hgtags

[c

[2019-07-18 17:27] karianna commented on #897
You can compare against the 11.0.4+11 tag in mercurial (which will have a commit hash) - we don't have a direct mapping yet (since our git source does technically deviate)

[2019-07-19 01:08] wallbank opened #1179 "apt-get update failing for ubuntu installation of adoptopenjdk"
Issue occurs on multiple Ubuntu agents. Looks like the repo is not correct. Worked for me on the 18th July AEST and now failing on the 19th.

sudo add-apt-repository --yes https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/

sudo apt-get install -y software-properties-common
Reading package lists... Done
Building dependency tree
Reading state information... Done
software-properties-common is already t

[2019-07-19 04:48] antman-health opened #1180 "jconsole from jdk8u222-b10 will not launch on solaris"
**Platform:**
Sun Solaris 11

**Architecture:**
Sparc sun4v

Please describe the issue that you are having with our binaries and if possible how to recreate it.

The jconsole program will not launch from AdoptOpenJDK jdk8u222-b05.
Using X-11 forwarding in putty and X-ming xserver on Windows 10.
Same issue with jdk8u212-b04.
jconsole will launch ok from Oracle jdk1.7.0_80 on same server.

To reprod

[2019-07-19 06:42] aahlenst commented on #1179
Sorry about that. That seems to happen sometimes. The Artifactory indices have been recreated. It's working now, at least on my machine.

[2019-07-19 09:38] derreisende77 commented on #1065
My apps crash as well using Java 11 JRE

[2019-07-19 11:00] gdams commented on #1180
@antman-health did this work with the previous release? or has this never worked?

[2019-07-19 11:06] keirlawson commented on #1057
Is there any update on either the Azul or IBM solutions?

[2019-07-19 11:13] karianna commented on #1179
@wallbank Can you try again and close this issue if resolved?

[2019-07-19 11:21] karianna commented on #1180
And should that be `jdk8u222-b10`?

[2019-07-19 11:22] karianna commented on #1057
Hi Sue,

Did you have any further luck?

[2019-07-19 13:15] wallbank commented on #1179
Thanks @karianna for jumping on this so quickly. It is working for us now also. Cheers.

[2019-07-19 13:15] #1179 closed

[2019-07-19 19:15] jogray72 commented on #1041
Hi Martijn,

The adoptOpenJDK 11.0.4 version came out and it doesn't appear to have the
fix for https://bugs.openjdk.java.net/browse/JDK-8222358 like we were
hoping it would.

I don't understand the process of when fixes get into adoptOpenJDK.   You
had mentioned in a previous e-mail that you didn't know what "11-pool"
is.   I know even less than you do about how this works as I'm not an
Oracle de

[2019-07-19 19:30] karianna commented on #1041
Hi @jogray72 - thanks for re-opening - it is disappointing that this didn't get picked up but I think I understand how/why.

I think what `11-pool` represents is a group of issues that anyone can pick up to fix in the JDK 11 Updates project (which Red Hat now actually now leads).  I suspect what happened here is that the original Oracle author/engineer didn't have the time/capacity to backport and

[2019-07-20 20:49] paulocesarcuneo commented on #1057
This seems to work on zulu, openjdk, corretto (or at least it doesn't throw).

https://bell-sw.com/pages/iana-updater/

[2019-07-20 23:29] muyinliu commented on #1057
@paulocesarcuneo

Please execute `make rearguard_tarballs` instead of `make` in folder `tzdb-xxx`(IANA Time Zone Database Complete Distribution) to generate valid input for [tzdbgen](https://github.com/akashche/tzdbgen), [TZUpdater](https://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html) or [IANAUpdater](IANAUpdater)

[2019-07-21 11:02] robnugent opened #1183 "Fatal runtime error: guarantee(chk == -1 || chk == 0) failed: Field too big for insn"
Fedora Linux 28; AArch64; Raspberry PI 3.

Running some of the system test bucket for our Java application on Raspberry PI 3 running on 64 bit Fedora core 28 Linux, we get the following hard error:

    [junit] #
    [junit] # A fatal error has been detected by the Java Runtime Environment:
    [junit] #
    [junit] #  Internal Error (assembler_aarch64.hpp:251), pid=7849, tid=7857
    [junit] #  g

[2019-07-21 12:14] robnugent commented on #1183
I'm attaching a zip file of what I think is the class that has caused the problem. Please note the following:

1) The java source file is emitted by our COBOL-to-java translator. The output Java therefore looks pretty horrible to a Java programmer.
2) The offending method READ_DATA_LINE() is very heavily nested.
3) Thest testcases  all work fine on all other JDKs (Linux Intel; Linux Windows; etc).

[2019-07-21 12:15] robnugent commented on #1183
Closed by accident - reopening,

[2019-07-21 22:27] antman-health commented on #1180
Sorry for late reply, back at work now.

No didn’t work with the previous release which was jdk8u212-b04.

Thanks
AY

From: George Adams <notifications@github.com>
Sent: Friday, 19 July 2019 9:01 PM
To: AdoptOpenJDK/openjdk-build <openjdk-build@noreply.github.com>
Cc: Anthony Youngman <Anthony.Youngman@health.qld.gov.au>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/openjdk-buil

[2019-07-21 22:28] antman-health commented on #1180
Yes, should be jdk8u222-b10. Jconsole not launching X window with that version as well.

Thanks
AY

From: Martijn Verburg <notifications@github.com>
Sent: Friday, 19 July 2019 9:22 PM
To: AdoptOpenJDK/openjdk-build <openjdk-build@noreply.github.com>
Cc: Anthony Youngman <Anthony.Youngman@health.qld.gov.au>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/openjdk-build] jconsole fro

[2019-07-21 23:17] mbien opened #1184 "jdk-12.0.2+10 fails to start on aarch64"
**Platform:**
uname -a
Linux 4.19.0-5-arm64 #1 SMP Debian 4.19.37-5+deb10u1 (2019-07-19) aarch64 GNU/Linux
**Architecture:**
raspberry pi 3b+ running in 64bit mode with debian mainline kernel

the builds jdk-12+33, jdk-12.0.1+12 and latest JDK 11 worked fine while jdk-12.0.2+10 crashes right away.

reproduce with:
`java -version` in shell

result:
JVM crash by SIGSEGV, no version printed

[2019-07-22 02:50] kmdrp opened #1185 "adopt open jdk 8u212 jvm options does not working?"
**Platform:**
CentOS Linux 7 _64

**Architecture:**
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_212-b04)

Please describe the issue that you are having with our binaries and if possible how to recreate it.

I had these option for tomcat startup
-Xms1024M \
-Xmx2048M \
-XX:MetaspaceSize=256M \
-XX:MaxMetaspaceSize=512M \

and I check jvm status with our monitoring system

I found an some

[2019-07-22 08:17] jerboaa commented on #1184
Please attach the hs_err.log file, if there is one. Usually there is for SEGVs.

[2019-07-22 08:37] SueChaplain commented on #1057
@karianna - @andrew-m-leonard and team have been taking a look and can let you know how that's going.

[2019-07-22 09:27] gdams commented on #1180
Okay so I have confirmed the following steps work on Solaris 10:

[code]

But I also get the same issue when I try to run the above steps on Solaris 11. I do get the same issue with the Bellsoft Liberica binary here (https://download.bell-sw.com/java/8u222/bellsoft-jdk8u222-solaris-sparcv9.tar.gz). @antman-health could you also confirm for me that the Bellsoft binary doesn't work for you?

I'm goi

[2019-07-22 09:40] gdams commented on #1180
This is also a bug in the latest Zulu OpenJDK build: https://cdn.azul.com/zulu/bin/zulu8.40.0.25-ca-jdk8.0.222-solaris_sparcv9.zip

I did however manage to get an Oracle Java 8 binary to work so this looks like an OpenJDK bug.

[2019-07-22 11:06] gdams commented on #1180
@antman-health I've found the fix. This is almost certainly to do with the fact that you don' have any fonts on your system. The big difference between openjdk and oracle's builds is that they ship the base fonts with their jdk, whereas openjdk is left entirely at the mercy of the OS to provide fonts.

give this a try:

[code]

I will close this issue as this worked for me. Please re-open if you s

[2019-07-22 11:06] #1180 closed

[2019-07-22 11:20] gdams commented on #835
@birkoffe have you got any fonts installed? please try this `pkg install  font/truetype/dejavu` and then see if it works.

[2019-07-22 17:16] sridharbaratam opened #1188 "AdoptOpenJDK - How to check for HotSpot JVM Vs OpenJ9 JVM"
**API Issues:** https://github.com/AdoptOpenJDK/openjdk-api
**Website Issues:** https://github.com/AdoptOpenJDK/openjdk-website

I understand that AdoptOpenJDK comes with two JVMs - HotSpot and OpenJ9. Is there a way to determine the version of JVM from the command line?

Here is the output from java -version:

HotSpot JVM:

openjdk version "1.8.0-adoptopenjdk" OpenJDK Runtime Environment (build 1

[2019-07-22 17:59] casper5822 opened #1189 "Docker - no matching manifest for linux/amd64 in the manifest list entries"
Hello,
i don't know if this is the right place where putting my problem.
If the repo is wrong, i will close the issue.
Anyway this is my problem:
i tried to pull the official docker image adoptopenjdk/openjdk12-openj9
and i get this error:

[INFO] Pulling from adoptopenjdk/openjdk12-openj9
[ERROR] no matching manifest for linux/amd64 in the manifest list entries

This is my dockerfile dockerfile p

[2019-07-22 18:50] mbien commented on #1184
sorry, didn't realize you could attack files via drag&drop

[hs_err_pid1519.log](https://github.com/AdoptOpenJDK/openjdk-build/files/3418798/hs_err_pid1519.log)

[2019-07-22 19:32] smlambert commented on #1188
You are correct that the jvm version format could change at any time.  Contents of vendor or vm.name properties are less likely to...

The command `java -XshowSettings:properties -version` gives you java.vendor (Eclipse OpenJ9 or AdoptOpenJDK) or java.vm.name (Eclipse OpenJ9 or OpenJDK 64-Bit Server VM) to differentiate between the binaries.

[2019-07-22 21:56] antman-health commented on #1180
That’s excellent, great work, thanks for the quick response.

Thanks
AY

From: George Adams <notifications@github.com>
Sent: Monday, 22 July 2019 9:06 PM
To: AdoptOpenJDK/openjdk-build <openjdk-build@noreply.github.com>
Cc: Anthony Youngman <Anthony.Youngman@health.qld.gov.au>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/openjdk-build] jconsole from jdk8u222-b10 will not launch

[2019-07-22 21:57] karianna commented on #1185
@kmdrp Can you try again with the latest 8u222-b10 release?

[2019-07-22 22:48] #1188 closed

[2019-07-23 02:32] kmdrp commented on #1185
thanks
I will try it soon and Share the result here
but G1GC didnt show the issue like that So Using G1GC is the better choice I think

[2019-07-23 08:32] leeharland commented on #967
Apologies for the very long delay in responding, i was trying to find the time to do some proper investigation.

The first thing was i tried a bunch of different binaries as suggested. All of these failed .
[code]

However, the open J9 version worked absolutely fine, no problems at all
[code]

Originally i thought it was consistent in the class, but its not, on performing many more iterations it w

[2019-07-23 08:33] groeges commented on #1057
The IBM Timezone Updater currently only supports updates being made to IBM Java  1.4.2, 5.0, 6, 7 and 8. It does not support updates being made to OpenJDK8 or OpenJDK9+ (for both Hotspot or OpenJ9 variants). We are currently investigating what needs to be done in order to make the Timezone Updater work with these versions. Will keep you posted on progress of this work.

[2019-07-23 09:06] leeharland commented on #967
Further to this - i did some more digging and i think i've come up with a reproducible test case. It turns out it was not the temporary files but the logging. We use tinylog in some of the modules and it was here we see the crash. I'd be interested if the attached test breaks on your machine. I have tested this on multiple Mac's and  see consistent crashes under the JVM11's outlined above.

Please

[2019-07-23 18:57] karianna commented on #967
OK, so I think this is an upstream issue that should get reported at OpenJDK itself.  Apologies for bouncing you around! Can you post your findings to the gc-dev mailing list: http://mail.openjdk.java.net/mailman/listinfo/hotspot-gc-dev

Thanks!

[2019-07-23 18:57] #967 closed

[2019-07-23 20:09] le-jawa commented on #1109
@karianna
Thanks for all the work on this so far.  Is there any news?

[2019-07-24 08:29] karianna commented on #1109
Nothing so far but I've put the July Milestone on so we keep it close to the top

[2019-07-24 16:13] gdams commented on #1154
can this be closed?

[2019-07-24 18:28] karianna commented on #1154
Probably not - I think we could make the Ux easier for the downloader here

[2019-07-25 02:14] kmdrp commented on #1185
@karianna
I tried again with same configuration at same server with the latest 8u222-b10 release
but there was no big difference

I share my test result for you

Test 1
JDK :  adoptopenjdk 8u212b04
TEST TIME : 5h 14min
RESULT :  Full GC was occured 13 times => 2.48times/hour

Test 2
JDK : adoptopenjdk 8u222b10
TEST TIME : 12h
RESULT: Full GC was occured 31 times => 2.58times/hour

[VM OPTIONS]
-Xm

[2019-07-25 07:45] karianna commented on #1185
Ah OK - can you send me your GC log?  Add `-Xloggc:<filename> -XX:+PrintGCDetails -XX:+PrintTenuringDistribution` to the java process to create one

[2019-07-26 13:35] aahlenst opened #1191 "jdk13u does not produce any JREs"
In https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk13-pipeline/lastSuccessfulBuild/artifact/target/linux/x64/hotspot/ and https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk13-pipeline/lastSuccessfulBuild/artifact/target/linux/x64/openj9/, I just see JDKs.

Is this just temporary, an error or are they gone for good?

[2019-07-26 14:17] gdams commented on #1119
@Mekadrom what java version are you using? Is this a fonts issue or a rendering issue?

[2019-07-26 18:47] karianna commented on #1191
https://github.com/AdoptOpenJDK/openjdk-build/pull/1192

[2019-07-26 19:26] Mekadrom commented on #1119
@gdams This would be in 1.8u212b03, the change was noticed after upgrading from 1.8u181.

[2019-07-29 14:57] gdams commented on #1130
when I try and add this flag I get the following error:
`error: invalid or inappropriate API flag(s) specified`

[2019-07-29 20:43] leeharland commented on #967
np thanks have reported as suggested

[2019-07-30 07:42] karianna commented on #1130
@tkie Do you have any further insights here?

[2019-07-30 08:09] gdams commented on #1130
looking at https://help.apple.com/xcode/mac/current/#/dev033e997ca it suggests that we may need to codesign on macOS 10.13 or above, let me have a play here.

[2019-07-30 10:05] tkie commented on #1130
I use XCode Version 10.3 (10G8) on MacOS 10.14.6.
I don't know which is the minimum XCode version to support the hardened runtime, but it is a rather new feature.

[2019-07-30 10:09] gdams commented on #1130
okay so I've made a bit of progress here, I can sign enable a jdk12 build. In order to work around the error:
[code]
you need to add entitlements in the form of a plist:

[code]

and then add `--entitlements <path to entitlements.plist>` as a flag when you codesign.

[2019-07-30 10:15] gdams commented on #1130
@tkie can you confirm that the above also works for you? If it does then I'll get that change added to the build scripts.

[2019-07-30 10:24] sxa555 opened #1194 "mac builds failing on certificate check on www.apache.org for freemarker"
[code]

[2019-07-30 10:24] gdams commented on #1130
I've also managed to make this work on jdk11 and jdk8

[2019-07-30 10:25] sxa555 commented on #1194
Ref https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/304/console and others

[2019-07-30 10:30] sxa555 commented on #1194
Also got this error on https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/330/console

[code]

[2019-07-30 14:27] gdams commented on #1130
test jdk11 app notarization: [report](https://osxapps-ssl.itunes.apple.com/itunes-assets/Enigma113/v4/a0/09/43/a00943dc-e874-96ec-3dfc-267d17685fc2/developer_log.json?accessKey=1564691192_3112663805905665763_625vmFcaY6Kex4aBMuWnTS826HY1u%2BOvPv1%2FwlINNFq7ZrWgafpMWiZchEh1FpZ3%2Ff1%2Bqbbad%2BLa7twMQf3oDuizwrfwp%2BgqXxR2rEI%2Bm7jSsFVB1lp3f16x%2BqUiq9vQhFvRJD99qtsGP8VlUKXkNvl0K5grqZu6nJZchcIBDGQ%3D)

[2019-07-30 15:17] tkie commented on #1130
@gdams I'm sorry, I have never built the JDK myself. I have always downloaded binary distributions. Maybe you could make your today's JDK 11 test build for MacOS available for download somewhere? Then I could try to get a notarization from Apple for my application into which I would like bundle the JDK. So I could confirm whether your change works.

[2019-07-30 17:07] karianna commented on #1165
Fixed as part of 11.0.4

[2019-07-30 17:48] #1194 closed

[2019-07-30 19:33] dhfreinkel opened #1197 "Printing to a printer connected via USB, fails"
I am using OpenJ9 with IBM's ACS application.
I am using TN5250 sessions and when I print the screen it fails, basically the application hands off the print to Java and Java will not allow the print to happen via a USB attached printer.

[2019-07-30 20:06] karianna commented on #1197
@dhfreinkel Can you give us the O/S and version of AdoptOpenJDK you're using?

[2019-07-30 20:19] dhfreinkel commented on #1197
I am using Windows 10.

JDK-11.0.4+11

Darryl Freinkel

Tel: 770.321.8562 Ext 111 | Cell: 678.355.8562

From: Martijn Verburg <notifications@github.com>
Sent: Tuesday, July 30, 2019 4:07 PM
To: AdoptOpenJDK/openjdk-build <openjdk-build@noreply.github.com>
Cc: dhfreinkel <darryl.freinkel@assignment400.com>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/openjdk-build] Printing to a

[2019-07-30 20:28] sxa555 commented on #1011
Done and all platforms are available at https://adoptopenjdk.net/archive.html?variant=openjdk10&jvmVariant=hotspot

Closing (If you disagree @karianna feel free to reopen)

[2019-07-30 20:28] #1011 closed

[2019-07-30 22:39] RangaSamudrala opened #1198 "v11 of Mac OS X download fails"
**Platform:**
Mac OS X
**Architecture:**
x86_64

Every time I try to download installer pkg file, the download stops at 58MB and fails.

[2019-07-31 10:24] gdams commented on #1130
@tkie I've landed a fix that fixes anything on JDK11+. Please note that this change won't be noticeable until our next release (I'll discuss with the Adopt folks the possibility of a re-release so that people can consume this immediately.

On JDK8 we still have an issue:
[code]

My suggestion would be that we investigate shipping a JDK8 build that is optimized for bundling (i.e built on a later to

[2019-07-31 11:33] gdams commented on #1130
@tkie I have a JDK12 build you can try here: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-mac-x64-hotspot/

[2019-07-31 15:38] tkie commented on #1130
@gdams Thank you for the JDK12 build. I can confirm that my application including the JRE from OpenJDK12U-jre_x64_mac_hotspot_2019-07-31-11-04.tar.gz was notarized by Apple.

[2019-07-31 16:06] tkie commented on #1130
@gdams I have also tested with OpenJDK11U-jre_x64_mac_hotspot_2019-07-31-11-27.tar.gz. Notarization with it was also successful.
From my point of view the issue is solved and it would not be necessary to investigate Java 8.
Thank you for having solved this issue for Java 11 and above.

[2019-07-31 18:30] keithc-ca commented on #1197
@dhfreinkel I'm not familiar with ACS or TN5250: can you help us reproduce this problem with fewer dependencies? Alternatively, some more details on what you mean by 'allow the print to happen' would be helpful. Does some dialog or error message appear, or does some exception occur that your could share here (with a stack trace)?

[2019-07-31 19:05] dhfreinkel commented on #1197
Apologies, I should have added more detail.

ACS and TN5250 are IBM products that are written in Java and provide many functions to provide access to the IBMi system example TN5250 is a Telnet application.

I had switched from Oracle’s Java to OpenJ9 last week. Everything worked great until I tried to do screen prints. The printer is attached as a USB printer. Last week I was on site printing usin

[2019-07-31 19:48] keithc-ca commented on #1197
Thank you for those extra details. If you have further issues with OpenJ9, I invite you to reach out for help by opening an issue at https://github.com/eclipse/openj9/issues.

[2019-08-01 08:27] nvaert1986 commented on #1109
I've got the exact same error. I've tried using Cisco ASDM 9.12.2 with both the openjdk and regular variant of ASDM (as there are 2 versions now), but both throw the same error. I've also tried the 9.10 and 9.8 versions, but those throw the same exception too.

I'm running on Gentoo BTW and I'm using the portage version of the package, which is the HotSpot version and it throws the exception below

[2019-08-01 12:32] sxa555 opened #1202 "macos/JDK8/hotspot failing with C code warning building klass.cpp"
JDK8 hotspot bulids failing with the following error. OpenJ9 and JDK11 unaffected
[code]
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/334/console

[2019-08-01 16:26] birkoffe commented on #835
@gdams
Installed package + jdk8u222, no changes.
Unlike @scriptwang, I don't have any errors in log file.

[2019-08-01 19:09] energy-cloud opened #1203 "Installer issues with OpenJDK 8 on Debian 10 Stretch"
Please raise an issue at https://github.com/AdoptOpenJDK/openjdk-installer or https://github.com/AdoptOpenJDK/homebrew-openjdk if it's an issue with our brew casks

Following install instructions here: https://adoptopenjdk.net/installation.html#linux-pkg
but it's failing on install.

OS
Description:	Raspbian GNU/Linux 10 (buster)
Release:	10
Codename:	buster

Issues happen even when running the fo

[2019-08-02 01:19] mbien commented on #1184
i tested the latest jdk13 build and it seems to work fine.

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-linux-aarch64-hotspot/24/

[2019-08-02 01:38] kmdrp commented on #1185
@karianna  I'm going to try more test I will share test result to you

[2019-08-02 07:06] aahlenst commented on #1203
We don't publish separate packages for Raspbian. You can use the Debian packages, though:

[code]

Please note that there are only releases for `arm64`, not `armhf`. `armhf` should become available in a few days.

[2019-08-05 11:31] jerboaa commented on #967
This is: https://bugs.openjdk.java.net/browse/JDK-8229016

[2019-08-06 13:28] DanielMartensson commented on #577
On Lubuntu 19.04 OpenJDK-8-JDK is missing JavaFX. Does it mean that it's not possible anymore with JavaFX for Java 8? I have to go to Java 11 if I want to make Android apps?

[2019-08-06 15:06] shawnz commented on #577
It is still possible to use JavaFX with Java 8 @DanielMartensson .

The problem here is just that some distributions of Java don't include JavaFX or include it seperately.

To further complicate things, Ubuntu used to have a seperate openjfx 8 package but they got rid of it and now only have an openjfx 11 package. As a possible workaround you might be able to add repositories for the old version o

[2019-08-06 15:12] jschneider commented on #577
This is the docker file that works for me - including JavaFX:

[code]

[2019-08-06 16:10] shawnz commented on #577
Hey @jschneider , which version of Ubuntu have you tested this on? As I noted above I think the "openjfx" package has now been changed to only support Java 11 in the new version of Ubuntu (since 18.10) so this script might no longer work.

Also if you don't mind me asking, why not just set JAVA_HOME to /usr/lib/jvm/java-8-openjdk-amd64/ instead of copying all those files to the other directory?

[2019-08-06 16:24] jschneider commented on #577
I am extending the image from "openjdk:8".
The last time I checked it worked fine.

If they updated that image, it may be broken. I just build once a week.

JAVA_HOME is set to /usr/local/openjdk-8/ since the location of the JDK has changed in the base image.

[2019-08-06 16:37] chilcho1939 commented on #577
@jschneider that's useful, it works for me on CentOS 7. Thank you!

[2019-08-06 16:39] shawnz commented on #577
Ah, understood. I am not too familiar with docker so I didn't realize it provides a copy of the JDK in that way. Makes sense. Also that image seems to be based on Debian Stretch so the bug I was talking about doesn't apply. Sorry for the confusion

[2019-08-06 19:55] DanielMartensson commented on #577
I solved my issue:

[code]
Done

[2019-08-06 20:38] rafik777 commented on #577
Can we expect resolving this issue in the near future?
This year?

[2019-08-06 21:15] karianna commented on #1197
Closing this as an upstream issue - please reopen here if need be!

[2019-08-06 21:15] #1197 closed

[2019-08-06 21:19] karianna commented on #1202
I think this might be a --disable-warnings-as-errors flag not being applied anymore issue?

[2019-08-06 21:31] karianna commented on #1184
@jerboaa - Is this something the RH experts can look at?

[2019-08-06 21:32] karianna commented on #1185
@kmdrp Any luck?

[2019-08-07 02:42] smlambert commented on #248
I would like to request this gets addressed within the next 1 or 2 milestones, it is blocking us from enabling native openjdk tests in the pipelines.

[2019-08-07 11:44] karianna opened #1205 "Upgrade our build scripts to Bash4+ as we held Bash back for Mac OS X reasons."
Interestingly the PR below would allow us to upgrade our build scripts to Bash4+ as we held Bash back for Mac OS X reasons.

_Originally posted by @karianna in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/876#issuecomment-519060713_

[2019-08-07 11:46] tomdw opened #1206 "upgrade from 11.0.3 to 11.0.4 breaks native unix/mac socket usage, e.g. docker-maven-plugin accessing docker through sockets"
**Platform:**
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.4+11, mixed mode)

**Architecture:**
Mac OS Mojave 10.14.5

When upgrading adoptopenjdk from 11.0.3+7 to 11.0.4+11 our maven build is no longer able to use unix sockets for accessing docker daemon. More specifically the fabric8 docker-maven-

[2019-08-07 12:30] karianna commented on #1206
@tomdw Can you grab the very latest 11.0.4+11.2 build we released yesterday?  It's a properly notarized binary which might help (reading your error message).

[2019-08-07 12:34] gdams commented on #1206
yup looks like it's to do with using the original 11 release. give this one a try? https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot#x64_mac

[2019-08-07 13:13] tomdw commented on #1206
@karianna @gdams I re-downloaded through the link you provided which shows on the website as 11.0.4+11.2. I still get the same error. Strange thing is that the java --version output is still openjdk version "11.0.4" **2019-07-16**
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.4+11, mixed mode)

Are you sure that the download link alrea

[2019-08-07 13:48] tomdw commented on #1206
[pom.xml.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/3477290/pom.xml.txt)

this pom is a small example maven build which fails with the mentioned error, allows to reproduce

after some debugging with @gdams it seems that the build on https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.4%2B11/OpenJDK11U-jdk_x64_mac_hotspot_11.0.4_11.tar.gz does NOT have the pr

[2019-08-07 13:52] smlambert commented on #1206
I have picked up:  https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.4%2B11.2/OpenJDK11U-jdk_x64_mac_hotspot_11.0.4_11.tar.gz
and running jdk_net, jdk_nio tests against it.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1853
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1854

Seems we need to check that the build pipelines to trigger testing afte

[2019-08-07 14:28] karianna commented on #577
Probably this year yes, but there's a bunch of higher priorities we're tackling first.  If you need something expedited then there are a couple of commercial support options (adoptopenjdk.net/support)

[2019-08-07 14:39] karianna commented on #248
I've pinned the issue

[2019-08-07 15:16] #1206 closed

[2019-08-07 18:27] tresf opened #1209 "Switching Gtk themes deadlocks UI"
**Description:**
Switching themes on Ubuntu 18.04 using Gnome Tweak Utility deadlocks the Swing UI if the Gtk theme is being used.

**Platform:**
Linux (Ubuntu 18.04)
AdoptOpenJDK 11.0.3

**Architecture:**
x86_64

**Steps:**

1. Install the `gnome-tweak-tool`

[code]

2. Run the following code snippet

[code]

3. Observe that the "Ok" button can be clicked.
4. Launch Gnome Tweak Tool.  From the "A

[2019-08-07 18:34] tresf commented on #1209
Cross-linking a JDK7 bug report which reads very similar in description:
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=7123957
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=7166433 (duplicate)

[2019-08-08 08:15] zakkak opened #1210 "Wrong link for bundle/Libraries/libserver.dylib"
**Platform:**

AdoptOpenJDK hotspot 8u222-b10
macOS Mojave

**Architecture:**

x86_64

**Description**

Link `/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home/bundle/Libraries/libserver.dylib` is broken.

[code]

[code]

Fixes the issue for me.

[2019-08-08 09:04] vbanchenko commented on #1130
I have the same problem, but this decision didn't help me. Can you, please, tell how do you build your Java application into .app bundle with hardened runtime support? P.S: I am using appbundler plugin.

[2019-08-08 10:56] timyates commented on #1210
Also seems to be broken in 11.0.4 🤔

[2019-08-08 13:17] karianna commented on #1209
Is this also the case with Adopt 11.0.4?  Is the end-user also able to try Azul's Zulu?  That should help us understand if this needs to get reported upstream.

[2019-08-08 14:16] gdams commented on #1210
@zakkak @timyates did this work on our previous releases  (is this a breaking change or has it always been broken?)

[2019-08-08 14:18] gdams commented on #1210
ahh yes I am aware of this error... We currently do this for the installers but not the tar.gz binaries (https://github.com/AdoptOpenJDK/openjdk-installer/blob/master/pkgbuild/pkgbuild.sh#L64). I need to get the scripts moved across so that it happens at build time rather than installer creation.

[2019-08-08 16:17] tresf commented on #1209
Yes.

[2019-08-08 20:21] zakkak commented on #1210
FWIW this was present in 8u212-b04 as well (not sure about earlier versions) and I am installing using the `*.pkg` file from https://adoptopenjdk.net/archive.html

[2019-08-09 09:31] Sharkking commented on #698
Facing the same error. Every Version > jdk8u172-b11 showing the error. Redhat Enterprise 5.11 Final

[2019-08-09 11:02] timyates opened #1211 "Native Libraries cannot be loaded with 11.0.4 on Mojave"
**Platform:**

OSX Mojave

Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64

**Architecture:**

x86_64

**Issue description**

When attempting to load native libraries on the above platform with any of the 11.0.4 builds, I get an exception:

[code]

When running with 11.0.3, everything works as expected.

**Reproducible test**

There is a java app o

[2019-08-09 11:12] timyates commented on #1211
Tested on Ubuntu, and both version work as expected...

This seems to be just an OS X issue

[2019-08-09 14:17] taubeklavs commented on #1211
I am also experiencing the same issue on macos with `jdk-11.0.4+11.2`, reverting to `jdk-11.0.3+7` works.

[2019-08-10 18:25] tresf opened #1212 "Printer listings take a long time to refresh on CUPS"
**Platform:**
MacOS, Linux (Issue does NOT occur on Windows)

**Architecture:**
x86_64 (AdoptOpenJDK 11.0.4.  Also occurs on Oracle Java 8).

**Description**
Java's `PrintService.lookupPrintServices()` does not return newly added (and thus still returns newly removed) printers in a timely fashion unless the Java application is restarted.

**Steps**

1. Run the following code:
[code]
2. Add or remo

[2019-08-11 11:53] karianna commented on #1209
Does not occur with ubuntu provided OpenJDK

[code]

[2019-08-11 12:10] karianna commented on #1209
When I swap the 2 lines of code around in your example the OK button can be clicked on the fly after a theme change.  Is that a possible workaround for you?

[2019-08-11 13:16] tresf commented on #1209
Swapping them around constructs the dialog with a non-Gtk theme, essentially calling the `UIManager.getCrossPlatfomLookAndFeelClassName()`.  The bug isn't reproducible when they're swapped because it's not using the correct theme.

The correct theme for a Gnome3 desktop is the Gtk theme, so order is an important component in our use-case so that we can leverage this theme.

[2019-08-11 15:43] jperedadnr commented on #1004
Today I was trying on my Raspberry Pi the 11.0.1+13 version that I had installed. It was working fine a few months ago, but today I was refreshing my gradle build, and when trying to retrieve a new version of one of the plugins, I noticed that gradle failed to access any HTTPS resource, with the above exception.

I've tried installing 11.0.4+11 and 12.0.2+10 (from releases, and also latest build f

[2019-08-12 08:31] gdams commented on #1202
I can confirm that this is a source code issue rather than a build script/infra issue, I was able to build `jdk8u222-b10` no issues on the same machine.

[2019-08-12 08:39] gdams commented on #1202
Initial research points to a change 12 days ago in https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/hotspot/src/share/vm/oops/klass.hpp

[code]

[2019-08-12 08:42] gdams commented on #1202
This appears to then throw the error we're seeing in https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/hotspot/src/share/vm/oops/klass.cpp#L218

[2019-08-12 08:57] gdams commented on #1202
looks like this [backport](https://bugs.openjdk.java.net/browse/JDK-8152856) into `jdk8u232-b01` has broken the builds for us.

[2019-08-12 11:21] eckig commented on #1065
Any update on this?

[2019-08-12 12:16] djphillyp commented on #1057
Hi it seems that the Azul ziupdater jar version 1.0.2.2 now seems to correctly update the timezone data, when using a rearguard formatted 2019b timezone file, with Java 11

[2019-08-12 12:32] andrew-m-leonard commented on #1057
@djphillyp Does the Azul updater work for jdk8 as well?

[2019-08-12 12:43] andrew-m-leonard commented on #1057
Just read the doc! it does support jdk8 :-)

[2019-08-12 16:27] davehobbs commented on #1057
@karianna As Azul already have a publicly available timezone updater which works with Java 11  is there any reason to use the IBM Timezone Updater? The only function which the IBM tool has which is not in the Azul package is the ability to update a set of Java installs on a hard drive from a settings file and optionally generate the settings file using a set of include/exclude criteria.

[2019-08-12 16:30] davehobbs commented on #1057
For anyone wanting a later version of the 'rearguard' format, you can build your own. See https://stackoverflow.com/questions/56908541/update-to-tzdata2019b-is-failing-tzupdater-version-2-2-0-b01

[2019-08-13 06:01] mduft commented on #682
We're having issues here as well (on AdoptOpenJDK10):

[code]
It happens for us on vanilla Fedora 30 (just boot the live CD). Whenever AWT or Swing is used, things go bad... I have no idea what the problem is, libfontconfig.so.1 is present, so I guess it must be something else...

I did test this with the reference build as well (https://jdk.java.net/java-se-ri/10), and this works. So it must be s

[2019-08-13 08:59] lumpfish opened #1214 "openjdk-systemtest JLINK test failures with jdk-11.0.4+11.3"
**Platform:**

MacOS

**Architecture:**

x64

The openjdk-systemtest JLINK tests have started failing with messages like:
[code]
This started with the packaging changes introduced in jdk-11.0.3+11.3 to address notarization requirements and enabling the loading of unsigned dylibs.

Tests are now failing on all nightly builds - e.g. https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.system_x86

[2019-08-13 11:06] kittylyst opened #1216 "Docker builds failing on MacOS"
**Platform:** MacOS 10.14.6

**Architecture:** x64

**Related:** 1073

The command:

[code]
fails out of the box.

Adding --debug-docker and --ssh

causes the Docker container to start, but the build command now fails.

Setting:

[code]

enables the build to find a JVM, but this still fails:

[code]

[2019-08-13 11:12] johnoliver commented on #1216
this is probably because the pipelines directory required at https://github.com/AdoptOpenJDK/openjdk-build/blob/fd939c142a0370cda48eebca9f5dee9d22f0dfc1/sbin/build.sh#L46 is not brought into the docker container

[2019-08-13 12:48] karianna commented on #1211
@gdams likely related to the other issues you're working on...

[2019-08-13 13:02] gdams commented on #1211
@taubeklavs we have a fix in place for this and are in the process of creating a `jdk-11.0.4+11.3` release. Apologies for the inconvenience

[2019-08-13 13:04] karianna commented on #1212
Can confirm that this works correctly (as per the code) for Ubuntu's 11.0.4 but not for Adopt's

[2019-08-13 13:11] karianna commented on #1202
@gdams Are you happy to report this to the build-dev mailing list upstream - I think you'd got enough relevant details