[2018-04-02 20:08] #198 closed

[2018-04-02 20:09] karianna commented on #273
Yeah - private key doesn't get passed through to the Docker container.  But that said -ssh is really not required as all repos we pull from have https anon access (or should do)

[2018-04-02 20:09] #169 closed

[2018-04-02 21:50] gdams commented on #273
This is because the docker container does not copy your private keys. We should probably just add a step to the docker container to copy your `id_rsa` if `--ssh` is specified

[2018-04-03 09:37] karianna commented on #146
We're working with a major cloud provider for Windows hosts, stay tuned!

[2018-04-03 16:38] sxa555 commented on #182
Yeah always possible to pull random ones from places but would prefer to use something vaguely official (or perhaps grabbing the source from an official repo and utilising that would be the right answer)

[2018-04-03 17:38] sxa555 opened #287 "Extra configuration parameter required by Eclipse OpenJ9 v10 release builds"
Separated out from @andrew-m-leonard's comment on https://github.com/AdoptOpenJDK/openjdk-build/issues/272

Now that https://github.com/ibmruntimes/openj9-openjdk-jdk10/pull/9 is merged, Adopt will need to specify the following "configure" parameters for "RELEASE" type builds:
JDK10:

`--with-version-string="10+<build>" --with-version-date="<date>"`

eg:

`--with-version-string="10+46" --with-vers

[2018-04-03 17:41] sxa555 commented on #272
Closing this as the initial pipeline creation has been completed and the nightly builds from it are appearing at https://github.com/adoptopenjdk/openjdk10-openj9-nightly

[2018-04-03 17:41] #272 closed

[2018-04-03 17:53] smlambert commented on #272
(note: updated pipeline script here: https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/openjdk10_openj9_nightly_pipeline.groovy - which Jenkins job now pulls directly from git)

[2018-04-03 18:14] gdams commented on #264
should this not be `exit 1` rather than `exit -1`? I might be wrong?

[2018-04-04 13:27] sxa555 commented on #243
@vsebe I can't install the debugging tools as it insists that I uninstall the VC2010 redistributable (I hit this issue: https://support.microsoft.com/en-gb/help/2717426/windows-sdk-fails-to-install-with-return-code-5100) which I'm not overly keen on doing on the production machine right now.

[2018-04-04 14:04] vsebe commented on #243
@sxa555 have you tried to install only the Debugging Tools?

[2018-04-04 14:29] sxa555 commented on #243
Yes

[2018-04-04 14:30] sxa555 commented on #243
If I install it onto another clean windows box and copy across the debugging SDK directory and point INCLUDE at it it seems to run through ok, but that's obviously not a sensible solution going forward.

I also had to do the same PATH fix I had to do for AO9/J9 (Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/267)

[2018-04-04 14:44] lumpfish opened #289 "openjdk10-openj9 java -version output incorrect"
java -version on openjdk10-openj9 is missing the 'based on' string:

openjdk version "10-adoptopenjdk" 2018-03-20
OpenJDK Runtime Environment (build 10-adoptopenjdk+0-adhoc.jenkins.openjdk)
Eclipse OpenJ9 VM (build master-093b330a, JRE 10 Linux amd64-64 Compressed References 20180403_18 (JIT enabled, AOT enabled)
OpenJ9   - 093b330a
OMR      - f5937ead
JCL      - f1e2849a04 based on )

Looks very

[2018-04-04 17:50] sxa555 commented on #281
Well this is ridiculous:

[code]
configure is trying to use the short version of the directories that vcvars would normally set as the `INCLUDE` and `LIB` vaitables. On the machine [build-softlayer-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/build-softlayer-win2012r2-x64-1) which that log is taken from `progra~2/micros~2.0` maps to the `Microsoft Visual Studio 9` directory which does not

[2018-04-04 17:55] DanHeidinga commented on #262
For JDK8, `make images` creates both a JRE and a JDK:
[code]

[2018-04-04 17:56] DanHeidinga commented on #262
I see a JRE package as being more important for Java 8 than for later releases as Java 9+ can use `jlink` to create a stripped runtime.

[2018-04-04 20:30] vsebe commented on #243
@sxa555  it looks the PATH was missing C:\cygwin64\bin.
The ansible playbook adds cygwin to the PATH see [cygwin role](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml)).

[2018-04-05 11:56] sxa555 commented on #243
See also https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/300

[2018-04-05 11:57] sxa555 commented on #281
For reference, it still needs to be run on an `buildj9`tagged machine otherwiske ikt fails to locate `freemarker.jar`:
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/5/console

[2018-04-05 11:58] sxa555 commented on #281
Previous statement wasn't accurate - `microso~2.0` is indeed the VC12.0 directory. `microso~3.0` is the VC9.0 one. Continuing to investigate ...

[2018-04-05 13:25] sxa555 commented on #281
Adding the correct directory into the `INCLUDE`  environment variable before running the build solved the issue, although it then failed to find `windows.h`

[2018-04-05 13:49] vsebe commented on #281
@sxa555 please do port the PR.
What are the configure options you used?

[2018-04-05 14:59] sxa555 commented on #281
It's from this job: https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/
So at the moment it's these ones:

`--with-version-pre=adoptopenjdk --with-version-string=  --with-boot-jdk=/cygdrive/c/openjdk/jdk9 --with-freetype-src=/cygdrive/c/openjdk/freetype-2.5.3 --with-toolchain-version=2013 --with-freemarker-jar=/cygdrive/c/openjdk/freemarker.jar --disable-ccache`

[2018-04-05 15:15] vsebe commented on #281
This path is also missing: https://github.com/ibmruntimes/openj9-openjdk-jdk9/commit/5f21c78b772bb6fe5634c2d386bede28be07e25d#diff-617c26e9ef7bc8368ae2e2671aa0ae88

[2018-04-05 16:43] sxa555 commented on #281
@vsebe So I update the `.m4` file, run `autogen.sh` and check in the changes it'll make to the generated-configure.sh files?

[2018-04-05 17:02] sxa555 commented on #281
Update my PR with another commit to match the PR referred to two comments above

[2018-04-05 17:50] Param-S opened #292 "Tools like jstack not working with OpenJDK 8-OpenJ9"
The commands like jstack, jinfo is available with the build. But when I tried to use it, it reports error. Are we supporting the hotspot specific tools with OpenJ9.

[code]

[2018-04-05 19:53] DanHeidinga commented on #292
@Param-S Good question.  OpenJ9 currently provides similar information using its javacore files which can be generated by sending `kill -3` to the JVM.  We're considering supporting the j* suite of tools but haven't had a chance to dig into this yet.

[2018-04-05 19:56] DanHeidinga commented on #292
@karianna Can you close this item out?  I've mirrored it to the OpenJ9 project and discussion can continue there.

[2018-04-05 20:31] karianna commented on #292
Done, thanks!

[2018-04-05 20:31] #292 closed

[2018-04-06 14:01] karianna commented on #251
I'm going to try to apply the `rsl` naming

[2018-04-06 15:56] sxa555 commented on #266
Kicked `-2` again. Wonder how long it's going to be before I set up a cron job to just run the umount command on a weekly (ish) basis ...

[2018-04-06 17:20] sxa555 opened #294 "openjdk10-openj9 build failure in InlinerTempForJ9.cpp (getClass missing)"
From https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/20/consoleFull
[code]

[2018-04-06 17:38] andrewcraik commented on #294
Known issue - OpenJ9 OMR acceptance build is running and once passed this should be resolved - you jut caught a transient bad state.

[2018-04-06 19:14] Mesbah-Alam opened #295 "Enable openjdk10-openj9 systemtest build"
This issue is create to track the work to automatically trigger system test builds once openjdk10-openj9 build jobs complete.

[2018-04-06 19:15] Mesbah-Alam commented on #295
The following two openjdk10-openj9 systemtest builds were run manually in Adopt
1) https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_j9_systemtest_x86-64_linux/
2) https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_j9_systemtest_ppc64le_linux/

[2018-04-06 19:28] Mesbah-Alam commented on #295
The following PR enables automatic triggering of systemtest one x64 and ppc64le linux platforms for openjdk10-openj9: https://github.com/AdoptOpenJDK/openjdk-build/pull/296

[2018-04-06 19:30] andrewcraik commented on #294
This should now be resolved - the necessary OpenJ9 internal build process has completed and passed.

[2018-04-06 19:41] karianna commented on #294
@andrewcraik Thanks!

[2018-04-06 19:41] #294 closed

[2018-04-06 23:50] sxa555 commented on #294
Latest bulid succeeded :-D
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_windows/21

[2018-04-07 12:44] sxa555 commented on #281
PR merged and builds working. Also subsequent transient issue https://github.com/AdoptOpenJDK/openjdk-build/issues/294 has been resolved, therefore closing

[2018-04-07 12:44] #281 closed

[2018-04-09 18:17] sophia-guo commented on #249
Run with latest jtreg https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/.
 jtreg-4.2-b12.tar.gz and jtreg-4.2.0-tip.tar.gz have same behavior.
Test passed. However at the end of test we got:
java.lang.IllegalStateException
	at com.sun.javatest.TestResult.setTestDescription(TestResult.java:1919)
	at com.sun.javatest.TestResultTable.getCachedResult(TestResultTable.java:2193)
	at com.sun.javate

[2018-04-10 10:36] karianna commented on #249
This one might need to get reported to the jtreg-dev list on openjdk - @sophia-guo are you a member?

[2018-04-10 13:53] sophia-guo commented on #249
No, I'm not

[2018-04-10 15:15] karianna commented on #249
@sophia-guo So is this any test that fails with that message?

[2018-04-10 20:29] sophia-guo commented on #249
Wait, I need to double check if I messed up with different version. I ran it today for other issues it seems ok. I will double check and update it.

[2018-04-11 08:58] karianna commented on #249
You may have had a previous bad binary with the same version number (bug in the build system) if you grab the latest successful build, hopefully that'll work..

[2018-04-11 13:31] ctron opened #299 "Contact page suggests slack, but isn't open to sign-ins"
The contact page (https://adoptopenjdk.net/support.html) suggests slack as a medium to contact.

However the slack workspace seems to be closed off:

[2018-04-11 15:29] karianna commented on #299
Closing and reopening over in https://github.com/AdoptOpenJDK/openjdk-website/issues/246

[2018-04-11 15:29] #299 closed

[2018-04-12 12:09] sxa555 commented on #262
Hmmm they're not showing up in our build directories (e.g. https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/ws/openjdk/) and that does claim from [the log](https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/144/consoleFull) to be executing `make images`

[2018-04-12 15:04] sophia-guo commented on #249
I'm confused now.

I have run test with latest jtreg-4.2-b12.tar.gz and jtreg-4.2.0-tip.tar.gz against openjdk9 tests and openjdk10 tests. All is good.

However running test with  latest jtreg-4.2-b12.tar.gz, jtreg-4.2.0-tip.tar.gz and earlier good treg-4.2.0-tip.tar.gz against openjdk8 test will get the exception same as mentioned in earlier comment:
TEST RESULT: Passed. Execution successful
----

[2018-04-12 22:27] neomatrix369 commented on #249
@sophia-guo @smlambert Could this be environment specific, is this reproducible with other test suits from other versions of OpenJDK? If not, it should be reported to the [jtreg mailing list](http://mail.openjdk.java.net/mailman/listinfo/jtreg-dev)

[2018-04-13 01:32] JamesKingdon commented on #194
I tried `./makejdk-any-platform.sh --version jdk9 -bv openj9` which behaves very strangely. It seems to do a fair amount of building docker images and installing cacerts. Then there's a series of error messages:
[code]
I get the `Not reconfiguring due to the presence of config.status in /openjdk/build` message, then it does *something* which doesn't take long enough to be an actual build and claim

[2018-04-13 14:27] sxa555 commented on #243
Default install of the SDK appears to put `wdbgext.h` in place based on my installs for the openj9 machine

[2018-04-13 14:31] sophia-guo commented on #249
I'm using same test java/math/BigDecimal/AddTests.java against openjdk8/9/10. Only against openjdk8 have this issue. I also tried other simple test, same behavior.

Command without specify report and work dir:

sophiaguos-mbp:adoptjdktest sophiag$ /Users/sophiag/adoptjdktest/jtregnew/jtreg/bin/jtreg -verbose:all -jdk:/Users/sophiag/adoptjdktest/openjdk8binary/jdk8u172-b03/ /Users/sophiag/adoptjdkt

[2018-04-13 14:37] sophia-guo commented on #249
If I specify the work and report directory it would be fine:

sophiaguos-mbp:adoptjdktest sophiag$ /Users/sophiag/adoptjdktest/jtregnew/jtregb12/jtreg/bin/jtreg  -verbose:all -w /Users/sophiag/adoptjdktest/work -r /Users/sophiag/adoptjdktest/report -jdk:/Users/sophiag/adoptjdktest/openjdk8binary/jdk8u172-b03/ /Users/sophiag/adoptjdktest/openjdk8/openjdk-jdk8u/jdk/test/java/math/BigDecimal/AddTests

[2018-04-13 14:41] sophia-guo commented on #249
That's also the reason why we didn't get the issue before. As most of time we have specified the work and report directory instead of using the default. @neomatrix369 I'm not a member of jtreg-dev, do I have the permission to report it?

[2018-04-13 14:55] sxa555 commented on #243
The silent install parameters in https://support.microsoft.com/en-us/help/2498225/installing-windows-sdk-7-1-in-silent-mode don't appear to work but that might be due to the fact it pops up a dialog about it not liking the .net framework version.

[2018-04-13 15:14] sophia-guo commented on #249
@karianna this issue should be good to close. The issue I mentioned  should be reported to jtreg-dev as you and mani mentioned.

[2018-04-13 22:26] neomatrix369 commented on #249
@sophia-guo you don't need permissions, signing up is very easy, just go to http://mail.openjdk.java.net/mailman/listinfo/jtreg-dev and enter your email.

I highly recommend everyone using jtreg to signup to the mailing list, queries/issues posted there are answered in a timely manner.

Pls also consider signing up on jtreg-use ==> http://mail.openjdk.java.net/mailman/listinfo/jtreg-use

/cc @smla

[2018-04-15 10:30] karianna commented on #249
I'll set this to reported upstream until we get a fix from them

[2018-04-15 10:40] karianna commented on #194
yep, existing scripts are pretty broken :-|

[2018-04-17 15:57] sxa555 commented on #262
@karianna No it's not in the hotspot build at https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_linux/ws/openjdk/ either. Will need some investigation I feel.

[2018-04-17 18:49] sophia-guo commented on #264
It happened to AIX now. Looking at the recent AIX openjdk10-openj9 build: https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_ppc64_aix/

6 out of 8 successful builds are actually failure ones.

Java version sanity check doesn't work as expected.

[2018-04-17 19:08] sophia-guo opened #302 "FULL_MAKE_COMMAND exitCode doesn't work as expected."
FULL_MAKE_COMMAND exitCode check in sbin/build.sh doens't work as expected.

[code]

The failing check of ` if [ "${exitCode}" -ne 0 ]; then` makes 6 out of 8 successful openjdk10-openj9 AIX builds are actually failure ones. (https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_ppc64_aix/)

[2018-04-17 19:11] sophia-guo commented on #302
similar issue #264

[2018-04-18 12:53] andrew-m-leonard commented on #289
Please check the latest jdk10 builds, we changed the "OpenJ9 openjdk extensions" latest tag search logic just last week, that may fix this.

[2018-04-18 15:42] lumpfish commented on #289
Fixed on latest build:

C:\openj9java\jdk-10+46\bin>java -version
openjdk version "10-adoptopenjdk" 2018-03-20
OpenJDK Runtime Environment (build 10-adoptopenjdk+0-adhoc..openjdk)
Eclipse OpenJ9 VM (build master-1fa41d71, JRE 10 Windows 7 amd64-64 Compressed R
eferences 20180416_28 (JIT enabled, AOT enabled)
OpenJ9   - 1fa41d71
OMR      - ef9dd6fd
JCL      - a91ffe0d9a based on jdk-10+46)

[2018-04-18 15:42] #289 closed

[2018-04-19 08:42] lumpfish opened #303 "Create openjdk8-hotspot builds which align with Oracle Apr 2018 quarterly update"
On 17th Apr 2018 Oracle released the latest quarterly updates. This means the AdoptOpenJDK can create builds at the same code level and make them available on the main download page.

This issue is to create openjdk8-hotspot builds.

We need to decide whether to base the release on the CPU (jdk8u171) or PSU (jdk8u172) code level (Oracle recommends people pick up the CPU code as this has had more t

[2018-04-19 08:46] lumpfish opened #304 "Create openjdk8-openj9 builds which align with Oracle Apr 2018 quarterly update"
On 17th Apr 2018 Oracle released the latest quarterly update. This means the AdoptOpenJDK can create builds at the same code level and make them available on the main download page.

This issue is to create openjdk8-openj9 builds.  The production level releases should pick up the next release of eclipse/openj9, but some early testing of the new openjdk code level with the current eclipse/openj9 re

[2018-04-19 08:51] lumpfish commented on #214
openjdk9-openj9 builds aligning with the Jan18 were created and tested, but the issues around building the correct level of openjdk8-hotspot were still ongoing at the time of the Oracle Apr 2018 quarterly update.
The build issues would now be better continued by building the new update level.
See https://github.com/AdoptOpenJDK/openjdk-build/issues/303 and https://github.com/AdoptOpenJDK/openjdk-b

[2018-04-19 08:55] lumpfish opened #305 "Create openjdk10-hotspot builds which align with Oracle Apr 2018 quarterly update"
On 17th Apr 2018 Oracle released the latest quarterly updates. This means that AdoptOpenJDK can create openjdk10 builds at the same code level (10.0.1) and make them available on the main download page.

This issue is to create openjdk10-hotspot builds.

We need to decide whether to base the release on the CPU or PSU code level (Oracle recommends people pick up the CPU code as this has had more th

[2018-04-19 08:56] lumpfish opened #306 "Create openjdk10-openj9 builds which align with Oracle Apr 2018 quarterly update"
On 17th Apr 2018 Oracle released the latest quarterly updates. This means the AdoptOpenJDK can create builds at the same code level (10.0.1) and make them available on the main download page.

This issue is to create openjdk10-openj9 builds. The production level releases should pick up the next release of eclipse/openj9, but some early testing of the new openjdk code level with the current eclipse

[2018-04-19 11:54] smlambert opened #307 "Add perf and external tests to build pipeline as non-gating"
Now we have system and openjdk regression tests plugged into the build pipelines, we will like to add perf, external (and jck remote triggers) to them.  None of these will block the deployment of the SDKs, but we do want to trigger them in the same way other tests are triggered.

[2018-04-19 15:53] sxa555 opened #310 "Travis build checks failing on PRs while attempting to install shellcheck"
Public key error.
Blocking https://github.com/AdoptOpenJDK/openjdk-build/pull/308 and https://github.com/AdoptOpenJDK/openjdk-build/pull/309
[code]

[2018-04-19 16:50] #264 closed

[2018-04-19 17:06] mbvreddy opened #311 "Enable openjdk11 & openjdk11-openj9 builds in AdoptOpenJDK"
OpenJDK 11 builds with both hotspot and openJ9 are not enabled in AdoptOpenJDK build farm.

[2018-04-19 17:28] sxa555 commented on #305
@lumpfish Do you know the tag we need to build from for this? Is it `jdk-10+46`?

[2018-04-19 17:29] sxa555 commented on #305
Assigning to myself as I think this will be straightforward for us (unlike openjdk8) once I know how the level is identified.

[2018-04-20 15:13] sxa555 commented on #266
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_ppc64_aix/32/consoleFull failed - kicked `-2` again.

[2018-04-23 14:43] sxa555 opened #312 "openjdk9_openj9_build_docker hung earlier today"
Ref: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_docker/210 which @adamfarley killed earlier today.

Something similar happened last week on the openjdk10 docker job: https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_docker/16/console

Both appear to have got stuck while doing `g++` compilations.

[2018-04-24 15:48] sxa555 commented on #305
Looks like it might be `jdk-10.0.1+10`  based on http://hg.openjdk.java.net/jdk-updates/jdk10u/tags although that's not in our git repo.

[2018-04-24 18:36] karianna commented on #305
I think our git-hg jobs are still failing. I'll ping George and see what's going on there.

[2018-04-25 17:31] smlambert commented on #307
#313 fixes this

[2018-04-25 17:31] #307 closed

[2018-04-26 20:40] sophia-guo commented on #248
#263 build test-image, which is under same folder level of jdk or ${OPENJDK_REPO_TAG} - named test. However when doing archive only ${OPENJDK_REPO_TAG} is tar-ed. createOpenJDKTarArchive() need to update so when untared jdk folder `createOpenJDKTarArchive()` and `test` are expected.

[2018-04-27 13:51] sophia-guo commented on #248
Given it a second thought we probably need to tar the JDK and TestImage separately as TestImage should not be part of released sdk? The story would be like:  SDK build create SDK and testImage , test build consume SDK and testImage, and then if test build is good SDK itself will be published (testImage is ignored as it should not be part of releases) ?

[2018-04-27 14:09] adamfarley commented on #306
I've been digging through the release notes for 10.0.1, and though I have found reference to the CPU release (10.0.1+10), I'm not seeing any reference to a PSU release.

Right now I'm thinking there isn't one. I'm going ahead with integrating the CPU code until someone can point out a PSU release.

[2018-04-27 22:15] #302 closed

[2018-04-28 13:18] smlambert opened #314 "Add aarch64 platform to the nightly/release pipelines."
Relates to https://github.com/AdoptOpenJDK/openjdk-website/issues/251

We changed to incrementally release builds to the website (to ensure nightlies were regular, as we had some platforms that were failing to build for various issues, that would block all platforms from being released).  By doing so, the aarch64 build is no longer being pushed to the website, as the
aarch64 platform is being buil

[2018-05-01 09:18] lumpfish commented on #303
On the AdooptOpenJDK call we discussed briefly the CPU vs. PSU issue, and the feeling was generally that AdoptOpenJDK should publish the PSU build, despite this statement from Oracle (from the link in the issue Description above:
"Java SE Patch Set Updates (PSU) contain all of fixes in the corresponding CPU, as well as additional non-critical fixes. Java PSU releases should only be used if you are

[2018-05-01 12:17] karianna commented on #303
https://github.com/AdoptOpenJDK/openjdk-build/wiki/CPU-and-or-PSU-Levels-we-build-to

[2018-05-01 12:31] lumpfish commented on #303
@karianna - thank you, very clear.

[2018-05-02 10:39] adamfarley commented on #306
Update: my fork of the jdk10 extensions repo has been updated, after some changes to the updating script. I've confirmed that we have all the changes up to the Oracle Apr 2018 CPU tag (jdk-10.0.1+10), but none of the changes beyond that. This is what we wanted.

Right now I'm running a jdk10 build using the modified source to confirm that it still builds. If it does, I'll create a PR into jdk10 he

[2018-05-02 12:51] adamfarley commented on #306
Update: The build passed on xLinux. I plan to make a PR and launch a cross-platform build on Adopt's build system to make sure we're OK on the other platforms too. If it goes well, the PR will be closed and the merge will happen directly so we can retain the tags.

PR for OpenJ9 branch:https://github.com/ibmruntimes/openj9-openjdk-jdk10/pull/24

[2018-05-03 11:09] adamfarley commented on #306
All done. Repos updated.

[2018-05-07 11:29] gdams commented on #314
@smlambert any updates on this?

[2018-05-07 11:30] gdams opened #317 "Remove "Release" build that are actually nightly builds"
There are multiple release builds on the website that are actually just nightly binaries from a long time ago. These should now be removed and we should plan proper releases. This will make the website look rather empty but I think that it must now be done! Once that has been done then I will update the website to be caled "Latest Release" rather than "Latest Build". FYI @tellison

[2018-05-07 12:49] smlambert commented on #314
Sorry, I actually delayed to add them, because it wasn't clear whether @karianna build rewrite was going to use the build pipeline scripts or change up the underlying stuff radically.  But I will proceed with my PR and deal with any changes later.

[2018-05-07 14:30] smlambert commented on #314
So an update, is that we did add it to the build pipelines, and the build and tests are triggering properly, the problem must lie with the checksum/release_tool step, investigating further now.

[2018-05-07 15:55] smlambert commented on #314
fixed by #318

[2018-05-07 15:55] #314 closed

[2018-05-07 19:28] karianna opened #319 "Build Jemmy for Mission Control / FlightRecorder"
We have a build https://ci.adoptopenjdk.net/job/jemmy/ but need to install something like fluxbox in order to pass tests.  Patrick is working with OpenJDK folks to patch the Maven build for Maven central deployment

[2018-05-10 11:45] smlambert commented on #295
Closing as completed (with merge of #296)

[2018-05-10 11:45] #295 closed

[2018-05-12 11:46] mbidewell opened #321 "Builds for MacOS are not recognized by Java Tools"
If I follow the instructions for installing AdoptOpenJDK builds on MacOS, I get a functioning command line, however /usr/libexec/java_home does not recognize the install (Even if placed into /Library/Java/JavaVirtualMachines) due to the directory structure and lack of an Info.plist file.  The Java 10 build from http://jdk.java.net/10/ contains the correct information, however builds from adoptopen

[2018-05-12 12:41] gdams commented on #321
This is the file structure that macOS expects:

[code]

[2018-05-13 08:59] karianna commented on #321
This may be one for the installer project, but lets see.

[2018-05-15 06:32] agilob opened #323 "Images are out of date"
I build my .war file on Debian testing:

[code]

then copy generated .war file to `adoptopenjdk/openjdk10:alpine` or `adoptopenjdk/openjdk10` and use generated docker image to start my service.

Application doesn't start:
[code]

Do you have any image that supports class file version 54 or should I build own image and update java?

[2018-05-15 08:39] karianna commented on #323
Hi @agilob - Is this an image you got from DockerHub?

[2018-05-15 08:39] karianna commented on #323
Note to self - this is likely an issue for the openjdk-docker repo

[2018-05-15 09:04] agilob commented on #323
yes.

[2018-05-15 09:13] karianna commented on #323
Actually I'll leave open so @agilob can be notified when we resolve this.

[2018-05-15 10:40] agilob commented on #323
I subscribed to the other issue :+1:

[2018-05-15 10:40] #323 closed

[2018-05-16 11:12] sxa555 opened #324 "AIX test failures on AO8/J9"
From https://ci.adoptopenjdk.net/view/Weekly%20Tests/job/openjdk8_j9_openjdktest_ppc64_aix_weekly/lastCompletedBuild/#showFailuresLink

The following 57 tests are currently failing (first time we've run this on the current builds - some may of course be environmental. Logging here for reference and to cover what we've done to resolve them

    java/io/File/SetLastModified.java.SetLastModified

[2018-05-16 13:37] sxa555 opened #326 "AO8/HotSpot was building with --variant openj9"
Problematic job: https://ci.adoptopenjdk.net/job/openjdk8_build_s390x_linux
Removed --variant openj9

[2018-05-16 13:51] ashu-mehra opened #327 "openjdk8_openj9 linux builds are failing"
openjdk8_openj9 linux builds have not promoted for almost a week - https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/.
Latest build job reported this error:
[code]

[2018-05-16 13:51] ashu-mehra commented on #327
fyi - @sxa555

[2018-05-16 13:56] sxa555 opened #328 "Linux/s390x AO9/J9 builds are failing - unable to find a boot JDK"
Following error occurring on https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_s390x_linux/187/console

This has been building recently on [build-marist-ubuntu1604-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-ubuntu1604-s390x-3/) which has a `JDK8_BOOT_DIR` variable set but not `IBM_JDK8_BOOT_DIR`
[code]

[2018-05-16 13:56] sxa555 commented on #328
Switched jenkins job to use `JDK8_BOOT_DIR`

[2018-05-16 14:02] sxa555 commented on #327
@keithc-ca has indicated that this is due to the use of the gcc 4.4.7 compiler which is the default on CentOS 6.9. There is a 4.8.2 installed int he `/opt/rh/devtoolset-2/...` I'll modify the job to set the `CC`/`CXX` variables and see if that resolves it.

[2018-05-16 14:05] keithc-ca commented on #327
There _were_ some obstacles to relying on environment variables CC and CXX (e.g. see https://github.com/eclipse/openj9/pull/1891); hopefully there aren't too many more.

[2018-05-16 14:07] sxa555 commented on #327
Yep this should be a good test ...

[2018-05-16 14:16] sxa555 commented on #327
That's odd:
[code]
Despite earlier in the job I do an `ls -l` on it:

[code]
Any idea why @keithc-ca ?

[2018-05-16 14:35] keithc-ca commented on #327
After the `ls` command, try adding `/opt/rh/devtoolset-2/root/usr/bin/gcc --version` and `/opt/rh/devtoolset-2/root/usr/bin/g++ --version` to get a better sense of whether to expect those compilers to work.

[2018-05-16 14:40] sxa555 commented on #327
`--version` certainly works when logged into the machine, but the error message seems to be suggesting it can't even find them

[2018-05-16 15:09] sxa555 commented on #327
Setting `PATH` to have `/opt/rh/devtoolset-2/root/usr/bin/` at the start [appears to allow it to get further](https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/179/console), although if there's an issue with setting the `CC`/`CXX` variables we should address that.

[2018-05-16 15:35] keithc-ca commented on #327
The failures noted here are troubling (and confusing).
[code]
likewise for g++
[code]

[2018-05-17 09:52] sxa555 opened #330 "openjdk9 builds failing on macos"
Ref: https://ci.adoptopenjdk.net/job/openjdk9_build_x86-64_macos/
Builds appear to succeed on [build-macstadium-macos1010-1](https://ci.adoptopenjdk.net/computer/build-macstadium-macos1010-1) and fail on [build-macstadium-macos1010-2](https://ci.adoptopenjdk.net/computer/build-macstadium-macos1010-2).

[code]

[2018-05-17 09:52] sxa555 commented on #330
Have cleared out the workspace on that machine and will attempt a re-run to see if that's enough to clear the problem

[2018-05-17 10:00] sxa555 commented on #328
This has resolved the problem, although i've had to change the timeout strategy away from `likely stuck` as builds were being aborted after 53 minutes

[2018-05-17 10:00] #328 closed

[2018-05-17 10:03] sxa555 commented on #330
Didn't work ... Manually deleting workspace on the machine and retrying

[2018-05-17 10:18] sxa555 commented on #330
Confirmed that it is on `-1` - https://ci.adoptopenjdk.net/job/openjdk9_build_x86-64_macos/208 passed

[2018-05-17 10:27] karianna commented on #324
Should be in tests repo?

[2018-05-17 10:30] sxa555 commented on #330
Need to understand what the `openjdk_build-refactor` directory is for and why the builds are referencing it - it doesn't exist on `-2`

[2018-05-17 10:45] sxa555 commented on #262
Ahhh we seem to have a `j2re-image` directory under `openjdk/build/linux-x86_64-normal-server-release/images` in the workspace so hopefully this won't be too difficult. We currently rename the `j2sdk-image` directory to something that matches the bulid name e.g. `jdk8u172-b03` but leave the `j2re-image` directory as-is ... Will continue to work this.

[2018-05-17 11:35] sxa555 opened #332 "arm32 build of openjdk10_build_arm32_linux failing"
Ref https://ci.adoptopenjdk.net/job/openjdk10_build_arm32_linux/8/console

[code]

[2018-05-17 11:37] sxa555 commented on #332
build is using gcc 5.4.0 whereas the passing 64-bit build is using 4.8.5

[2018-05-17 15:49] sxa555 opened #333 "openjdk10/openj9 builds failing due to missing jdk9 release on the main web site"
There are a couple of reasons why they're failing but this one looks like it could have been the result of some release cleanup work that was done today.

From https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_ppc64le_linux/49/console

[code]

[2018-05-17 15:55] sxa555 opened #334 "SIGSEGV when running openjdk8/HotSpot on Linux/s390x"
Happens on the Ubuntu 16.04 -2 and -3 machines.
Job reference https://ci.adoptopenjdk.net/job/openjdk8_build_s390x_linux/209/ (210) was on the other machine:

[code]

[2018-05-17 16:04] sxa555 opened #335 "openjdk9/openj9 builds are aborting"
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_s390x_linux/

Reasons currently unknown, but seem to be happening on multiple systems. I've adjusted the strategy for aborts a couple of times and have now disabled automatic aborts completely from build #193 so we'll see how it goes ...

[2018-05-17 16:05] sxa555 commented on #326
Fixed

[2018-05-17 16:05] #326 closed

[2018-05-18 00:38] smlambert commented on #324
We have been reporting test issues in openjdk-tests, investigating, and if the failures belong upstream or are already raised upstream, we add/track them at the appropriate projects openj9, openjdk or other adopt repos where appropriate (related: [tests/345](https://github.com/AdoptOpenJDK/openjdk-tests/issues/345),  [tests/346](https://github.com/AdoptOpenJDK/openjdk-tests/issues/346) )

[2018-05-18 11:14] sxa555 commented on #330
Tactical fix implemented until @johnoliver returns from vacation - I have copied the `/Users/jenkins/workspace/openjdk_build-refactor` directory from `build-macstadium-macos1010-1` to `build-macstadium-macos1010-2` so the files it's looking for are present.

[2018-05-18 11:31] sxa555 commented on #330
Removed important tag as we're now unblocked after the actions in my previous comment

[2018-05-18 12:24] sxa555 opened #336 "openjdk10/openj9 builds failing for various reasons"
1. `Linux/s390x` and `Linux/ppc64le` #333  (v9 Release builds no longer available through API)
2. `Linux/x64` `[build-scaleway-x64-ubuntu-16-04-2](https://ci.adoptopenjdk.net/computer/build-scaleway-x64-ubuntu-16-04-2)` doesn't have `JDK9_BOOT_DIR` variable defined which [the job](https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_linux) is expecting (`[build-cloudcone-ubuntu1604-x64-1]

[2018-05-18 12:49] sxa555 commented on #333
I'm going to put recent builds that appear ok into `~jenkins` on the following machines and set `JDK9_BOOT_DIR` in the environment of those machines to `/home/jenkins/jdk-9+181`:

build-osuosl-ubuntu1604-ppc64le-1: https://github.com/AdoptOpenJDK/openjdk9-nightly/releases/download/jdk-9%2B181-20180517/OpenJDK9_ppc64le_Linux_20180517.tar.gz
build-marist-ubuntu1604-s390x-[12]: https://github.com/Ado

[2018-05-21 07:31] karianna commented on #334
Is this when running the build or running a test on the artifact?

[2018-05-21 07:31] karianna commented on #335
Did this resolve itself?

[2018-05-21 09:15] karianna commented on #324
I'd prefer the test repo :-)

[2018-05-21 09:56] sxa555 commented on #303
https://github.com/AdoptOpenJDK/openjdk-jdk8u/releases/tag/jdk8u172-b11 should now contain the correct code level. This has been built and "released" at https://adoptopenjdk.net/?variant=openjdk8
Automated JCK testing has been initiated.

[2018-05-21 10:04] #303 closed

[2018-05-21 10:10] sxa555 commented on #214
I'm going to close this as we will not be completing a release of the Jan 18 quarterly update as it has been superceded by the April releases which we have done under https://github.com/AdoptOpenJDK/openjdk-build/issues/303

[2018-05-21 10:10] #214 closed

[2018-05-21 10:11] sxa555 commented on #304
Blocked on Eclipse OpenJ9's 0.9.0 release https://github.com/eclipse/openj9/issues/1381

[2018-05-21 11:45] karianna commented on #7
This should get shifted to the test repo

[2018-05-21 11:46] karianna opened #339 "git-hg 2.0"
The various scripts in the `openjdk-build/git-hg` folder are being pared down to just 3:

* `updateforesttags.sh` (this will get renamed to `mirrorMercurialIntoGitForJava8And9.sh` - For Java 8 and 9 mirroring
* `mirrorMercurialIntoGit.sh` - For Java 10+ mirroring (including amber, valhalla etc)
* `import-common.sh` - Common Functionality between the two scripts

- [x] Rename _updateforesttags.sh_

[2018-05-21 15:32] sxa555 commented on #324
Moved to https://github.com/AdoptOpenJDK/openjdk-tests/issues/418, therefore closing

[2018-05-21 15:32] #324 closed

[2018-05-22 13:07] sxa555 commented on #335
Since I removed the timout it hasn't recurred ... Have switched it back to "likely stuck" again for the next build (197)

[2018-05-22 13:56] theresa-m opened #341 "OpenJ9 Large Heap (noncompressedrefs) build"
OpenJ9 has created a "Large Heap" package for the non-compressedrefs mode to support users that need > ~57 gig heaps. We would like to have these built & tested with AdoptOpenJDK for **xLinux** for **JDK8 and newer releases (JDK10+).**

We would like this to also be JCK certified, though we can live without it initially.

This is the OpenJ9 issue tracking this project: https://github.com/eclipse/o

[2018-05-22 15:46] karianna commented on #334
Do we still have _/home/jenkins/workspace/openjdk8_build_s390x_linux/openjdk/hs_err_pid55463.log
#_?

[2018-05-22 15:50] karianna commented on #341
@theresa-m do you or another OpenJ9 person know what the additional parameters are required to build this variant over and above the regular OpenJ9 build?

[2018-05-22 16:33] karianna commented on #341
OK, it may be awhile before we pick this up - we have some underlying build script fixes we need to get out before we add more variants, do poke us if it's more than a few weeks!

[2018-05-23 14:08] ChengJin01 opened #342 "Create Win32 release builds of openjdk8+openj9"
Given that we already provided support on JDK8 32bit + OpenJ9 at https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md#windows, we'd like to get the JDK8 builds (Windows 32bit) built and tested at AdoptOpenJDK for the next OpenJ9 release.

[2018-05-23 14:13] DanHeidinga commented on #342
@ChengJin01 Was there additional machine configuration required to build the 32 bit JDK?  Can you highlight any differences here?

[2018-05-23 17:22] sxa555 opened #343 "Add openjdk10 aarch64 builds to the pipelines"
As discussed with @smlambert in #build on slack the builds at https://ci.adoptopenjdk.net/job/openjdk10_build_arm64_linux/ aren't being run regularly via the pipelines and are not publishing so there are no regular nightlies popping up

[2018-05-23 17:34] gdams commented on #343
should just be a case of adding some code to https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_build_arm64_linux/ws/build/buildoutput/

[2018-05-23 19:32] smlambert commented on #343
buildMaps['arm64'] = [test:['openjdktest'], ArchOSs:'arm64_linux']

[2018-05-23 20:49] gdams commented on #341
thanks for creating this @theresa-m! I'll try and take a look at setting up a test build this week

[2018-05-23 20:53] gdams commented on #341
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-64_linux_largeHeap/ has been created

[2018-05-24 02:51] vielmetti commented on #343
Thanks for looking at this.

[2018-05-24 14:13] theresa-m commented on #341
thanks @gdams these look great! I'm running some tests on the jdk just to be thorough but the build looks right.

[2018-05-24 14:32] smlambert commented on #341
If you are happy with the build @theresa-m, we can also enable some automated testing on it at ci.adoptopenjdk

[2018-05-24 14:37] gdams commented on #341
we probably want to add a cron to it so that it builds perodically

[2018-05-24 14:39] smlambert commented on #341
Do you want it on a weekly cadence?  We can add a schedule in the Jenkins config, and I will trigger test runs from the build directly (unless we go the route of adding to full nightly pipelines, but that may be overkill).

[2018-05-24 14:42] theresa-m commented on #341
@DanHeidinga what do you think for Shelley's question?

[2018-05-24 16:09] ChengJin01 commented on #342
Given that all issues with freeType were fixed, the remaining configuration should be fine with --target=x86 --with-target-bits=32 before compilation (we already made changes at Eclipse/OpenJ9 to get this mk/config work).

[2018-05-24 16:17] sxa555 commented on #342
Initial run now executing at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-32_windows

[2018-05-24 17:22] gdams commented on #342
FYI you'll need to modify the release job here https://github.com/AdoptOpenJDK/openjdk-website-backend/blob/master/sbin/Release.sh#L48

[2018-05-24 18:19] sxa555 commented on #342
Initial builds created at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-32_windows/

(Also hotspot job created but not yet succeeding at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_build_x86-32_windows/)

[2018-05-24 18:54] sxa555 commented on #341
I think we're probably ok from a build machine perspective in terms of running these on a regular basis - our xLinux builds are reasonably performant and not currently a limiting factor in our pipeline times so unless there are any fundamental objections (tagging in @karianna as he probably hasn't been following this) I suspect we could contain it being run nightly at the moment.

@DanHeidinga Wil

[2018-05-24 19:01] DanHeidinga commented on #341
We've been targeting this to xLinux only based on the initial interest for the larger heap builds.

I can't rule out extending this to other platforms in the future if the demand is there but there are no immediate plans to do so.

[2018-05-24 23:22] cwsolee opened #345 "openJDK9 with openJ9 seems to be missing jps binary files."
We're trying to use nightly but we notice something is missing in this https://github.com/AdoptOpenJDK/openjdk9-openj9-nightly/releases/download/jdk-9%2B181-20180523/OpenJDK9-OPENJ9_s390x_Linux_20180523.tar.gz , jps binary file is not included in this build. The open source package that we tried to build is elasticsearch. Hotspot is ok.

[2018-05-24 23:42] #343 closed

[2018-05-25 03:47] ChengJin01 commented on #342
[_sanity.functional_jdk8u172-b11_openjdk8_openj9_build_x86-32_windows.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/2037882/_sanity.functional_jdk8u172-b11_openjdk8_openj9_build_x86-32_windows.txt)

I ran sanity tests from functional/Java8andUp locally with the build created at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-32_windows/  (via Cygwin o

[2018-05-25 09:35] sxa555 opened #347 "build-scaleway-x64-ubuntu-16-04-2 doesn't have JDK7_BOOT_DIR"
Causing failures of e.g. https://ci.adoptopenjdk.net/job/openjdk10_sap_build_x86-64_linux/ when run on that machine.

[2018-05-25 10:03] karianna commented on #347
This is usually set on the jenkins node itself, do you have permission to set those?

[2018-05-25 10:14] gdams commented on #347
This isn't meant to be a build machine. I'm not sure why it has the build label. It is the docker machine with no build deps installed. I'm removing the build label now.

[2018-05-25 10:14] #347 closed

[2018-05-25 10:19] karianna commented on #347
OK, I'll revert my change of setting that boot dir.  I'll let you close this when you've made the label change.

[2018-05-25 10:20] sxa555 commented on #347
Should we consider renaming the host so it doesn't have build in the name too? That could lead people to re-add the tag

[2018-05-25 10:21] gdams commented on #347
at some point I was thinking of creating a `docker` group of machines but hadn't got around to doing that yet

[2018-05-25 10:23] sxa555 commented on #345
@Andrew-m-leonard @DanHeidinga can one of you take a look at this one please?

[2018-05-25 10:47] sxa555 commented on #342
I have also verified that the builds work on a purely 32-bit OS (Well, they get a far as running `java -version` correctly :-)

[2018-05-25 11:32] smlambert commented on #347
If you are creating a docker group of machines please let me know... I have opened this https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/347 to get it installed on as many test machines as possible, since we will continue to extend our container-based testing.  (tests look for machines labelled sw.tool.docker - which I added to test machines where docker is installed).

[2018-05-25 11:47] #310 closed

[2018-05-25 13:39] DanHeidinga commented on #345
OpenJ9 doesn't currently support the OpenJDK commandline tools like jps, jstack, etc.  Let's move this discussion to the OpenJ9 project in the existing issue: https://github.com/eclipse/openj9/issues/1621

@sxa555 Can you close this?

[2018-05-25 16:49] ChengJin01 commented on #342
@smlambert  @llxia ,  is there any other test we are able to run to verify the 32-bit build created at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-32_windows/ (not manually run) ?

[2018-05-25 19:43] llxia commented on #342
No, I think that is the only one we have so far. @sophia-guo is working on wins builds. She maybe able to tweak something for you, but we do not have one ready to use. As far as I know, the win machine configuration is not finalized. AdoptOpenJDK and OpenJ9 wins machines are configured differently.

[2018-05-26 11:18] gdams opened #350 "Archive jdk9 and jdk10 repos in favour of new jdk9u and jdk10u repos"
- [x] Delete https://github.com/AdoptOpenJDK/openjdk-jdk10 in favour of https://github.com/AdoptOpenJDK/openjdk-jdk10u
- [x] Perform a mirror of jdk9u
- [x] Then delete https://github.com/AdoptOpenJDK/openjdk-jdk9 in favour of a new https://github.com/AdoptOpenJDK/openjdk-jdk9u

[2018-05-26 11:44] gdams commented on #350
All JDK10 jobs have been configured to now build from the 10u repo

[2018-05-26 12:17] karianna commented on #350
I'll tackle this once I've double checked a few references and warned everyone.

[2018-05-27 11:05] karianna commented on #339
See also #349

[2018-05-28 13:09] keithc-ca commented on #350
Why is the plan to *delete* the existing repos? Can't we just adjust the source URL that is mirrored?

[2018-05-28 14:08] karianna commented on #350
Hi Keith,

Unfortunately not this time as we are actually recreating the repo mirror
from scratch using a more accurate tool (especially with regards to tag
retrieval).  In future we will follow that policy though.

Cheers,
Martijn

On Mon, 28 May 2018 at 14:09, Keith W. Campbell <notifications@github.com>
wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2018-05-29 13:35] #345 closed

[2018-05-29 14:38] pshipton opened #351 "OpenJDK release level for OpenJ9 nightly builds incorrect"
On the OpenJ9 nightly build pages the release levels shown do not match the actual levels used in the builds.

https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9
For Java 8 the OpenJDK release level shows jdk8u162-b12 but its actually jdk8u172-b11

https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9
For Java 9 the OpenJDK release level shows jdk-9+181-20 but its actually jdk-9

[2018-05-29 14:41] pshipton commented on #351
@sxa555 fyi

[2018-05-30 13:59] sxa555 commented on #351
[AO10/J9 pipeline](https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk10_openj9_nightly_pipeline_scm/) updated to default to the correct tag too

[2018-05-30 16:30] #351 closed

[2018-06-04 14:23] BeverlyXu opened #353 "Java10 class version in the docker image is lower than that in the nightly build at Adopt"
At Adopt the Java10 nightly build of OpenJ9 has a

  (see below); whereas the docker image has a version of 53. This has prevented us from running the Spring Boots benchmark, which requires the minimum class version of 54. We expect both to be in sync.

[code]

Docker image from this link has a version of 53.
https://hub.docker.com/r/adoptopenjdk/openjdk10-openj9/
[code]
This is the error message

[2018-06-04 14:49] smlambert commented on #353
FYI, @dinogun

[2018-06-04 15:17] karianna commented on #353
https://github.com/AdoptOpenJDK/openjdk-docker/issues/27 and #323

[2018-06-04 15:17] karianna commented on #353
Closing as a duplicate

[2018-06-04 15:17] #353 closed

[2018-06-04 16:04] sxa555 opened #354 "freetype cannot be copied in JDK8+JDK9 builds on macos"
From https://ci.adoptopenjdk.net/job/openjdk9_build_x86-64_macos since I rebuilt the openjdk9 repository:
[code]

[2018-06-04 17:42] llxia commented on #341
Test Jenkins files need to be updated for noncompressedrefs
fyi @sophia-guo

[2018-06-04 17:50] smlambert commented on #341
Working on a combined PR for this and Win32 build in https://github.com/smlambert/openjdk-build/tree/addNewSpecs and https://github.com/smlambert/openjdk-tests/tree/addMoreSpecs

[2018-06-05 02:56] sophia-guo commented on #341
@gdams  The job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_openj9_build_x86-64_linux_largeHeap/  is configured to @sxa555  personal branch create_jre. Probably need to update. I guess it was initially created by copy of https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/ .

[2018-06-05 15:56] ChengJin01 commented on #342
The Win 32-bit has been added to the openjdk8_openj9 nightly build pipelines via https://github.com/AdoptOpenJDK/openjdk-build/pull/355

[2018-06-05 17:31] smlambert commented on #342
Yes, though based on the build failure mentioned above, tonights run will fail, and not trigger any testing.  Once the build issue is corrected and build jobs complete successfully, a subset of ~2900 openjdk regression tests will be triggered against them (we can triage those, and later decide if we should add system tests to the set or not).

[2018-06-06 08:59] karianna opened #356 "Java 11+ JRE images - change in build targets"
From OpenJDK

[2018-06-06 17:00] sxa555 opened #359 "source repository tag incorrectly being identified as v1.0.0"
[code]
It wasn't getting v1.0.0 previously (1-2 days ago) and is causing breakages like this:
[code]

[2018-06-06 17:00] sxa555 commented on #359
Yesterday a v1.0.0 tag was created in the openjdk-build repository. This is almost certainly the cause of it

[2018-06-06 17:17] sxa555 commented on #359
With the change in my PR:
`OpenJDK repo tag is jdk-10.0.1+10`
From https://ci.adoptopenjdk.net/job/openjdk10_build_x86-64_linux/188/console so looks like the fix is good.

[2018-06-06 17:21] sxa555 opened #361 "Windows builds failing (UNIX subsystem issues...)"
Details in https://github.com/eclipse/openj9/issues/2063

TL;DR: If git's shell is in the user's `PATH` before cygwin's shell then bad things happen - cannot execute `cpio` and `error: cannot guess build type`

[2018-06-06 17:34] #359 closed

[2018-06-06 17:52] sxa555 commented on #361
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/23

[2018-06-06 21:35] neomatrix369 commented on #151
Recently, there has been requests for this - we could consider un-iceboxing it

[2018-06-06 21:40] neomatrix369 opened #362 "Move exec block in jenkins job into Github for all code-tool jobs"
The executable part of all the code-tools jobs in Jenkins should be moved to a git-repo just like `openjdk-build`. This includes the below jobs under the [Dependencies](https://ci.adoptopenjdk.net/view/Dependencies/) tab:

- https://ci.adoptopenjdk.net/view/Dependencies/job/asmtools/
- https://ci.adoptopenjdk.net/view/Dependencies/job/jcov/
- https://ci.adoptopenjdk.net/view/Dependencies/job/jthar

[2018-06-06 21:52] neomatrix369 opened #363 "Bundling or providing JavaDoc Diff between last two JDK builds"
https://github.com/AdoptOpenJDK/jdk-api-diff is available to the Adopt OpenJDK org, which can be use to create a diff between the APIs between the current and last JDKs built (or any two JDKs for that matter).

In theory, it can be bundled separately or bundled with the JDK builds by including into our build scripts. I feel its a useful feature.

See discussions on the slack channel https://adopto

[2018-06-07 09:10] karianna commented on #151
I'm afraid we've got other core issues to resolve first, but if a volunteer wants to jump on it then please go ahead!

[2018-06-07 11:32] sxa555 opened #364 "OpenJ9 s390x builds failing (all versions) - ccache-related issue"
Initially raised in the comments in https://github.com/eclipse/openj9/issues/1919
Then raised specifically against OMR at https://github.com/eclipse/omr/issues/2567
Affects all release (8, 9, and 10)
https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_s390x_linux/
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_s390x_linux/
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_s390x_linux

[2018-06-07 15:30] sxa555 commented on #364
Have temporarily renamed `/usr/local/bin/ccache` to `/usr/local/bin/ccache-SXACRIPPLED` and likewise for `/usr/bin/ccache` on build-marist-ubuntu1604-s390x-2 and build-marist-ubuntu1604-s390x-3

[2018-06-07 18:30] gdams commented on #364
you can add a configure arg that skips using ccache

[2018-06-08 21:47] neomatrix369 commented on #151
No worries, will figure out something

[2018-06-11 17:32] pdbain-ibm opened #367 "Please provide the java -version output of a nightly build on the nightly build download page"
Please provide the java -version output of each build on the download so users can track it
back to a git branch and commit.  The "Checksum", i.e.
```b909a21222813fbba0c2484ce33e1c63a503f556ba78a1466a018e41d9514217  OpenJDK10-OPENJ9_x64_Win_20180611.zip```
doesn't appear to correspond to a commit in the OpenJ9 repo on github, nor in the AdoptOpenJDK repo.

[2018-06-12 07:41] karianna commented on #367
Also see #264

[2018-06-12 23:20] neomatrix369 opened #369 "Building jdk8-with-graal on MacOS"
To help the [Graal/GraalVM](http://www.graalvm.org) community it would be a good idea to build `jdk8-with-graal` on the MacOS, as this will facilitate making such binaries available to the growing community. The binary will be based off the [JDK8 built by the Adopt OpenJDK build farm](https://adoptopenjdk.net/releases.html?variant=openjdk8).

Source codes to be used to create the build can be foun

[2018-06-12 23:22] neomatrix369 commented on #369
I have been building JDK8 with graal on Linux, MacOS and inside the docker container on my local machine and it has worked fine when the specific versions of `make` and `xcode` are present.

[2018-06-13 11:31] karianna commented on #369
Hi Mani,

I've assigned to you.  Some new build scripts are about to come in so you might want to build off that.  Ping @johnoliver for details

[2018-06-13 11:47] neomatrix369 commented on #369
Cool! Thanks

The graal build scripts are pretty small and simple, I'll first get it to build an artifact on Adopt and then lets take it from there

[2018-06-13 11:55] neomatrix369 commented on #369
On the current MacOS build box we need to install `xcrun`, based on the following error msg:
[code]

[2018-06-13 12:15] karianna commented on #369
I think it's saying it didn't recognize the option, so perhaps the wrong version of that tool?

[2018-06-13 12:21] neomatrix369 commented on #369
`jenkins` user might not have access to that folder:

[code]

[2018-06-13 15:12] babsingh opened #370 "Need for OpenJ9 Java 9 (0.9) Release at Adopt"
Previously, OpenJ9 Java 9 releases were available at AdoptOpenJDK.

To access OpenJ9 Java 9 releases, the following AdoptOpenJDK API is available: https://api.adoptopenjdk.net/openjdk9-openj9/releases/x64_linux/latest/binary (https://github.com/AdoptOpenJDK/openjdk-api).

In OpenJ9, DockerFile(s) to build Java 10 are dependent on Java 9 as the boot JDK. The above AdoptOpenJDK API was used to get O

[2018-06-13 15:13] babsingh commented on #370
fyi - @pshipton

[2018-06-13 15:30] lumpfish commented on #306
This isn't actually done - the eclipse/openj9 0.9 release is approaching readiness which will allow these builds to be created.

@karianna - shouldn't I be able to reopen the issue?

[2018-06-13 15:57] pshipton commented on #370
@sxa555 fyi

[2018-06-13 16:05] pshipton commented on #370
I expect OpenJ9 will drop all support and builds for Java 9 after the 0.9.0 release. The release at Adopt can be the final build, with no further nightly builds of Java 9 required afterwards.

[2018-06-13 16:18] karianna commented on #306
@lumpfish I've added you as an assignee, you should have been able to reopen...

[2018-06-13 18:05] pshipton opened #371 "Windows 64-bit build is actually 32-bit build"
I received a report from a user that the x64 Windows build in the Java 8 nightlies is actually a 32-bit build. It was unspecified exactly which one was tried, but guessing June 13.

https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9

@sxa555 @smlambert

[2018-06-13 19:31] gdams commented on #371
this will be to do with the naming I imagine

[2018-06-14 08:36] lumpfish opened #372 "Create openjdk9-openj9 builds which align with Oracle Apr 2018 quarterly update"
Same as https://github.com/AdoptOpenJDK/openjdk-build/issues/306 but for openjdk9-openj9 rather than openjdk10-openj9.

[2018-06-14 16:27] sxa555 opened #373 "Windows AO8/J9 builds failing in PdbScanner.cpp"
From the recent logs of https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_windows:
[code]

[2018-06-14 16:32] sxa555 commented on #373
Should be due to the `msdia*.dll` not being registered with `regsvr32 /s` as per the [playbook](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/08ad62f22d16498a68969411471705315d1a3dda/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2010/tasks/main.yml#L23)

[2018-06-14 16:55] sxa555 commented on #373
Resolved with:
`regsvr32 "c:\Program Files (x86)\Microsoft Visual Studio 10.0\DIA SDK\bin\amd64\msdia100.dll`

Passes the error point as of build 82

[2018-06-14 16:55] #373 closed

[2018-06-14 17:22] sophia-guo commented on #248
@renfeiw tesing

[2018-06-14 17:22] sxa555 commented on #364
Not trivially as our scripts add in the enable-ccache flag if it detects that ccache is on the machine IIRC

[2018-06-14 17:22] sxa555 commented on #361
Leaving this open for now until we are sure it's been ansibilised

[2018-06-14 17:23] sxa555 commented on #354
This doesn't occur when building from `jdk-9+181`

[2018-06-14 18:01] dnakamura commented on #364
Still waiting on java side  PRs to be merged, but in the mean time `export CONFIG_SHELL=bash` should resolve the issue

[2018-06-14 18:33] karianna commented on #354
@johnoliver you were seeing this failure as well right?

[2018-06-14 18:49] smlambert commented on #354
Not sure if this old issue #202 and pr #216 give any insights

[2018-06-14 19:17] sophia-guo opened #375 "update jtreg.sh to support different java version"
jdk source, test source , build structure is different for different java version. jtreg .sh need to support this difference.

[2018-06-15 11:09] gdams commented on #163
this is now done. closing

[2018-06-15 11:09] #163 closed

[2018-06-15 11:21] karianna commented on #330
This is fixed in the new build scripts, keeping open until we cut over.

[2018-06-18 14:27] sophia-guo opened #378 "Build configuration of openjdk8_build_aarch64_linux failed openjdk8 tests on aarch64_linux"
openjdk8 build on arm64 is using a separate build story( i.e, not the script from openjdk-build repo.
https://ci.adoptopenjdk.net/job/openjdk8_build_aarch64_linux/configure

Post action of archive the artifacts is also different from other builds. There are lots of different type of files are archived, which failed corresponding test build. https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/open

[2018-06-18 14:28] sophia-guo commented on #378
@gdams FYI

[2018-06-18 15:44] sxa555 commented on #304
Now unblocked. I have modified the build jobs to take a BRANCH parameter to allow this to be made easier in the future. This required https://github.com/AdoptOpenJDK/openjdk-build/pull/376 (bug fix in https://github.com/AdoptOpenJDK/openjdk-build/pull/377) - I have also now modified the pipelines under https://github.com/AdoptOpenJDK/openjdk-build/pull/379 to be able to take an ALT_BRANCH paramete

[2018-06-18 15:45] sxa555 commented on #304
Builds have popped out from the nightly pipeline and appear sane:

[code]

[2018-06-18 15:46] sxa555 commented on #306
NOTE: There are currently no AO10/J9 "release pipelines" - these will need to be created in order to finalise this item

[2018-06-18 15:46] sxa555 commented on #372
NOTE: There are currently no AO9/J9 "release pipelines" in the adoptopenjdk jenkins instance, only nightlies - these will need to be created in order to finalise this item

[2018-06-19 12:42] lumpfish opened #381 "Windows 32 bit build files named incorrectly"
The Windows 32 bit build files contain "_x64_" in their name as opposed to something which denotes x86 32 bit - e.g. OpenJDK8_x64_Windows_201818061138.zip

[2018-06-19 14:01] pradeep-b commented on #371
@pshipton Here is the build I used and later realized it actually has 32-bit binaries!
[code]

[2018-06-19 17:31] smlambert commented on #381
I've updated the jobs to create the artifact with the x32 name, not x64.
<img width="726" alt="screen shot 2018-06-19 at 1 29 37 pm" src="https://user-images.githubusercontent.com/2836948/41613903-ff0975dc-73c4-11e8-9db7-62597b4b8aec.png">

[2018-06-19 17:33] smlambert commented on #381
I believe this will now be properly parsed by the [Release.sh script](https://github.com/AdoptOpenJDK/openjdk-website-backend/blob/master/sbin/Release.sh#L26)  and will then publish to the website as a correctly titled artifact (thus addressing issue #371 as well).

[2018-06-19 17:33] #381 closed

[2018-06-19 17:36] smlambert commented on #371
The resolution of #381 should resolve this as the Release.sh script takes the OS from the artifact name, and publishes the release with it.

I will keep this open, until we see the results of the next openjdk9-openj9 nightly pipeline to confirm there are no other steps that need to occur to correctly publish this build.

[2018-06-19 17:40] pradeep-b commented on #371
Earlier today I used build `OpenJDK8-OPENJ9_x64_Windows_201818061207` and it does have 64-bit binaries as expected.

[2018-06-20 03:21] smlambert commented on #371
<img width="533" alt="screen shot 2018-06-19 at 11 07 46 pm" src="https://user-images.githubusercontent.com/2836948/41635544-5f80488a-7417-11e8-8448-3585cc6a14c7.png">

Confirmed that this has now been corrected on the website.

[2018-06-20 03:21] #371 closed

[2018-06-20 04:47] smlambert commented on #342
openjdk8-openj9 Win32 nightly builds are now being published to the website, this can now be closed.

[2018-06-20 04:47] #342 closed

[2018-06-20 05:37] pradeep-b commented on #371
I believe the info on the website was correct. The problem was in the contents of the x64 zip.

Anyway, as I mentioned [earlier](https://github.com/AdoptOpenJDK/openjdk-build/issues/371#issuecomment-398484137), the latest zip has the 64-bit binaries as expected.

[2018-06-20 11:33] smlambert commented on #371
For 2 consecutive days, we were publishing win32 and win64 nightly builds and pushing them to the website as win64 builds (both in .zip files that had x64_win in the name).  If you happened to click on the slightly larger one (84MB), you would get the x64 build, if you clicked on the slightly smaller one (77MB) you'd get the x32 build.  They are now titled correctly and differentiated on the websi

[2018-06-20 15:25] cruzy opened #384 "openjdk8 x32 build are failing."
https://ci.adoptopenjdk.net/job/openjdk8_build_x86-32_windows/ - these builds are failing for a month.

Also, these builds are not accessible on your site.  Please, do not drop x32 support, it is still required.

[2018-06-20 15:52] karianna commented on #384
@smlambert I'm sure I saw you producing win32 builds in a recent bunch of updates?

[2018-06-20 16:59] smlambert commented on #384
I was actually focussed on the openjdk8-openj9 builds for win32 (as part of the openj9 0.9 release), which are building, being tested and published to the website.  I haven't looked at why the openjdk8 (with hotspot) are not compiling.  I can see if I notice anything obvious, but I think it was @sxa555 that enabled those builds originally.

[2018-06-20 17:18] cruzy commented on #384
@smlambert how did you publish win32 builds? Could you share the link please?

I can't find any win32 release. There is no link to download win32 binaries on this page: https://adoptopenjdk.net/releases.html?variant=openjdk8

[2018-06-20 19:02] gdams commented on #384
@cruzy https://adoptopenjdk.net/nightly.html?variant=openjdk8-openj9

[2018-06-20 23:24] cruzy commented on #384
@gdams many thanks for this info.

Have you declined openjdk8 **hotspot** support for 32-bit platforms?

[2018-06-21 05:46] karianna commented on #384
Nope, but it's not our biggest priority, please do join our community at adoptopenjdk.net/slack if you can help!

[2018-06-21 11:22] dougxc commented on #321
When building the JVMCI JDKs available at http://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html, we preserve the `Contents/Home` prefix for the macOS build for precisely the reasons started in this issue.
[code]

[2018-06-21 11:38] karianna commented on #321
@johnoliver Since you're successfully building via the new build scripts - are you able to take a look at this one?

[2018-06-21 11:42] gdams commented on #321
@karianna I really don't feel that our builds should be churning out the binaries in the stucture! We should probably make this part of the installer for MacOS so that it has the correct structure but our tarballs should remain the same IMO.

[2018-06-21 12:03] sxa555 commented on #384
@cruzy I created that job in jenkins at a similar time to creating the openj9 one. We have so far never had fully working builds with hotspot. As @karianna says we have had specific requests from openj9 to have win32 builds but no-one's so far shouted for hotspot ones, although I'd like us to have parity across the VMs.

Out of interest, what's your need for 32-bit hotspot - is it some specific ha

[2018-06-21 12:58] karianna commented on #321
Yeah I'm not sure if the installer or the build produces the right structure though...

[2018-06-21 13:05] gdams commented on #321
the build doesn't (and I don't think it should) the installer can be configured to produce this structure though

[2018-06-21 22:34] dougxc opened #386 "make OpenJDK8 build on macOS 10.13"
Submitting ticket on suggestion from @neomatrix369

The [supported build platform](https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms) for JDK8 on macOS is Mac OS X 10.8 (Mountain Lion) and requires XCode / gcc 4.2.1. Both this OS version and toolchain are ancient. It would be great if the AdoptOpenJDK scripts could be made to work for building JDK8 on a recent macOS version suc

[2018-06-22 09:53] dougxc commented on #386
Thanks @karianna. Your experience matches mine (unfortunately ;-) ). Time to find an old Mac to add to our build system...

[2018-06-22 09:54] karianna commented on #386
Can I'm curious - are you building your own Mac OS binaries for R&D or?

[2018-06-22 10:08] dougxc commented on #386
The goal is to make a [GraalVM CE](http://www.graalvm.org/downloads/) release for Mac, similar to what @neomatrix369 is doing in #369.

[2018-06-22 10:11] karianna commented on #386
You're very welcome to do that over on the AdoptOpenJDK buildfarm!  We
support all OpenJDK related build activities.  Let me know if that's an
option for you.

Cheers,
Martijn

On Fri, 22 Jun 2018 at 11:08, Douglas Simon <notifications@github.com>
wrote:

[2018-06-22 10:13] dougxc commented on #386
For a number of reasons, we need to build any binaries we distribute ourselves. Thanks for the offer though!

[2018-06-22 13:08] sxa555 commented on #384
I echo @smlambert's comment but for the x64 JRE - unless you're using 32-bit native JNI code with it the 64-bit one should work ok and if there's any issue please let us know.

[2018-06-22 13:11] sxa555 commented on #384
(FYI I've tried another HotSpot win32 build run and it's failed in a different place from what it did previously so will still need some investigation and debugging to get that through)

[2018-06-22 15:28] sxa555 commented on #370
We are working on getting all the release builds back in place (although at the moment 9 is at the bottom of that list) - stay tuned :-)

Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/317

[2018-06-22 15:41] sxa555 commented on #370
The `java_util` one is interesting - difference in fr_FR vs fr:

[code]
No issues with any of the other resource bundle tests, only the French one - will verify whether it happens on HotSpot builds as well as J9

[2018-06-23 08:34] neomatrix369 commented on #93
While building Graal/GraalVM the feedback from others was that the JDK (JDK 8 via Adopt docker image) used did not print a build number in the version string :
[code]
The name of the folder in which the JDK is present is `jdk8u144-b01`.

Ideally, the below would be helpful:
[code]
We must have this information to hand, i'm guessing otherwise we couldn't name the folders.

[2018-06-23 08:35] neomatrix369 commented on #369
Raised a couple of issues:
- https://github.com/AdoptOpenJDK/openjdk-build/issues/93#issuecomment-399652750
- https://github.com/AdoptOpenJDK/openjdk-docker/issues/32

[2018-06-23 08:37] neomatrix369 commented on #93
Is someone looking at something like this? I can have a quick look at the scripts to see how this is done, but will stay away if someone is already onto it or it will be resolved via another process.

[2018-06-24 19:55] karianna opened #387 "openjdk build version breaks maven-enforcer java version check & perhaps other tools"
Originally from: https://github.com/AdoptOpenJDK/TSC/issues/26

Summary - request version strings from adoptopenjdk builds are more similar to existing java builds and work properly with the maven enforcer plugin...

Detail.....

I have been working on Apache Atlas, and our work has now moved to the Linux Foundation->ODPi->egeria project. In both cases the code is java based and makes use of the m

[2018-06-24 19:55] karianna commented on #387
Test repo is at https://github.com/planetf1/adoptopenjdk-mvntest.git

Use maven 3.5.0 or above

Note that the .171/172 info is lost - and so the check will fail

✔ ~/src/adoptopenjdk-mvntest [master|●1✚ 1…5]
23:20 $ mvn enforcer:display-info
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< org.acme.tester:mvntest >-----------------------
[INFO] Building Adoptopenjdktest 0.1-SN

[2018-06-24 19:58] karianna commented on #93
Will pick this up as part of the build script overhaul this week.

[2018-06-25 15:32] sophia-guo opened #388 "Non-openj9 pipelines failed for 'No such property: ALT_BRANCH for class: groovy.lang.Binding'"
All non-openj9 pipelines failed for 'No such property: ALT_BRANCH for class: groovy.lang.Binding'
https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk10_nightly_pipeline_scm/62/console

[2018-06-25 15:32] sophia-guo commented on #388
Related with https://github.com/AdoptOpenJDK/openjdk-build/pull/379

[2018-06-25 15:53] sophia-guo commented on #388
To fix this all non-openj9 openJDK build jobs need to add one more parameter 'BRANCH'. Should we update all non-openj9 openJDK build jobs configuration or just remove this extra parameters from non-openj9 openJDK pipelines script as @sxa555 mentioned this is only likely used by openj9 builds?

[2018-06-25 16:09] karianna commented on #388
@sophia-guo Assuming those code blocks are similar I'd add them.  Then when we go for a DRY reduction later on it'll be a smaller diff.

If the code blocks are pretty disparate I'd remove them from the Hotspot

Hope that made sense!

[2018-06-25 16:35] karianna commented on #388
Ah I see, yeah just remove it in that case.

[2018-06-25 18:08] sophia-guo commented on #388
The real reason is ALT_BRANCH do not have been defined. Curious why openj9 pipeline builds work.

[2018-06-25 20:10] karianna commented on #388
Pop an issue on the infra project and I’ll sponsor

On Mon, 25 Jun 2018 at 19:25, Shelley Lambert <notifications@github.com>
wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2018-06-25 20:24] mickaelistria opened #390 "libfreetype causes link issue (segfault+UnsatisfiedLinkError) for SWT (Eclipse IDE) on Fedora 28"
This is a followup of the issue initially reported at https://github.com/eclipse/openj9/issues/2239.
The same issue happens with HotSpot and OpenJ9 flavors, for all versions of Java.

`libfreetype.so.6` shipped with AdoptOpenJDK builds seems to often conflicts with other libraries installed on a regular Linux workstation.
For example, when starting Eclipse IDE with any AdoptOpenJDK builds, we eith

[2018-06-26 09:23] #388 closed

[2018-06-26 16:21] sophia-guo commented on #388
@sxa555 I tried adding a parameter to non-openj9 and got same error:( .The real reason is ALT_BRANCH do not have been defined. That's why curious why openj9 works.

[2018-06-27 08:07] lenborje commented on #321
I don't know if I point out something everybody already knows, but anyway...

When I build the JDK on my Mac, `make images` builds the requisite MacOS-friendly directory tree under `build/macosx-x86_64-normal-server-release/images/jdk-bundle/jdk-11.jdk/', in addition to the "standard linux tree" under `build/macosx-x86_64-normal-server-release/images/jdk/`.

[code]

So it seems to that a "correct"

[2018-06-27 09:15] planetf1 commented on #387
Is there any outlook on whether any change may get made, the direction the code may go in. WOuld it apply to 1.8?
This issue is preventing my project from moving to openjdk, but I could either slacken the check temporarily, or implement a custom maven enforcer rule as per https://maven.apache.org/enforcer/enforcer-api/writing-a-custom-rule.html using my own java version checker & based on the curr

[2018-06-27 11:47] karianna commented on #387
We'll likely 'fix' this for all builds going forwards.  Hopefully in the next few weeks.

[2018-06-27 14:46] sxa555 commented on #388
Shouldn't have done, but since you removed it before I saw this issue I can't diagnose it ;-)

[2018-06-28 14:45] sophia-guo commented on #388
@sxa555 correct, now I have the access of pipeline jobs's configuration and know the reason. Originally I can only see the build job's configuration and notice openj9 build has extra parameter 'BRANCH'.

[2018-06-28 20:50] tellison commented on #390
Hi Mickael, fair questions.  Could you drop in on [our Slack](https://adoptopenjdk.net/slack.html) #build channel and say "hi" so we can discuss?

[2018-06-29 14:40] theresa-m commented on #341
According to @smlambert this can be closed now. Thanks to all who helped put the build together!

[2018-06-29 14:40] #341 closed

[2018-06-29 15:13] smlambert commented on #341
Thanks @theresa-m !  And for sure, if we want to add more large heap builds for other versions or platforms, we can either reopen or create a new issue.  👍

[2018-07-03 14:53] sxa555 commented on #336
All problems have been mitigated and the builds are now running. Closing.

[2018-07-03 14:53] #336 closed

[2018-07-03 14:55] sxa555 commented on #364
IIRC I tried setting CONFIG_SHELL and it didn't work, but the PR that was put in appears good therefore closing

[2018-07-03 14:55] #364 closed

[2018-07-03 14:57] sxa555 commented on #332
This is now passing (I believe there were changes made upstream to support building on later versions).
Closing this issue

[2018-07-03 14:57] #332 closed

[2018-07-03 14:59] sxa555 opened #394 "Add arm32 into the nightly openjdk10 pipelines"
Now that https://github.com/AdoptOpenJDK/openjdk-build/issues/332 is no longer a problem, we can add these back into the nightly pipelines :-)

[2018-07-04 15:41] smlambert opened #397 "JRE artifacts are no longer being produced in openjdk8-openj9 builds"
Previously the openjdk8-openj9 x64_linux builds were modified to produce both a JDK and JRE artifact.  The JRE artifact appears to no longer be found on the [Jenkins job](https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/)

[2018-07-04 15:52] sxa555 commented on #397
I believe I was temporarily setting the job to build off my branch from this pull request https://github.com/AdoptOpenJDK/openjdk-build/pull/331 in order for the change to only affect that platform, and it got subsequently switched back to the AdooptOpenJDK branch to pick up latest changes before the PR got merged. Once the PR is merged they should show up again.

[2018-07-04 16:10] DanHeidinga opened #398 "openjdk8_openj9 win32 builds aren't being published"
The OpenJ9 win32 builds are missing from the nightly build pages.  The last published nightly win32 build was June 20th.  Recent builds are passing but aren't being published.

It may be due to missing date info in the file name?
[code]
https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-32_windows/44/console

[2018-07-04 16:11] DanHeidinga commented on #398
@smlambert @sxa555 This is the win32 builds not being published issue from this morning's OpenJ9 call.

[2018-07-04 16:14] #262 closed

[2018-07-04 16:29] smlambert commented on #398
The last published [x32_win build is from June 28th](https://api.adoptopenjdk.net/openjdk8-openj9/nightly/x32_win/latest/).  As Stewart notes, this should now be addressed and fresh build being published shortly to the website or through the adoptopenjdk api.

[2018-07-04 17:36] sxa555 commented on #398
x32 build has shown up with the latest build :-)

[2018-07-04 17:36] #398 closed

[2018-07-04 17:38] sxa555 commented on #397
Now fixed under https://github.com/AdoptOpenJDK/openjdk-build/pull/331 - visible at https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/

[2018-07-04 17:38] #397 closed

[2018-07-05 08:08] tellison opened #402 "Actions following OpenJDK code split for JDK11"
Quoting Muneer on the OpenJDK "adoption-discuss@openjdk.java.net" mailing list

On 02/07/2018 10:28, Muneer Kolarkunnu wrote:

We need to switch the source stream for our JDK11 work, e.g.
https://ci.adoptopenjdk.net/view/git-hg/job/git-hg-11/

[2018-07-05 08:49] tellison opened #403 "Add OpenJDK with Hotspot builds for Windows 32-bit architecture"
Despite Win32 not being listed as a [supported build platform](https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms), there are Oracle builds of Win32 available for download, and the build notes state that platform is "Also for creating 32-bit builds."

If this assumption is correct then AdoptOpenJDK should produce Win32 builds.

[2018-07-05 13:50] sxa opened #406 "Make HotSpot builds for Linux/ARM32 production ready"
I might split this into multiple issues since I suspect I'm seeing various underlying issues, but I'll start with this one to track what I'm trying to do ... List of current issues:
- [x] Builds are taking a long time (4-5 hours for JDK8/9, 13-14 hours for JDK10
- [x] ccache is enabled but doesn't appear to be taking effect in all cases (maybe missing C++) unless `/usr/lib/ccache` is put at the st

[2018-07-05 15:50] sxa555 commented on #406
Now have a JIT-enabled openjdk9+hotspot installed in `/home/jenkins/jdk-9+181` on both armv7l machines and updated the `JDK9_BOOT_DIR` definitions in the jenkins configuration for the machines https://ci.adoptopenjdk.net/computer/build-scaleway-armv7-ubuntu16-04-2 and https://ci.adoptopenjdk.net/computer/build-scaleway-armv7-ubuntu16-04-1/ to point to it, so hopefully the next [openjdk10 build](ht

[2018-07-05 17:14] sxa555 commented on #406
Adjusted `JDK8_BOOT_DIR` to point to the default system one - /usr/lib/jvm/java-8-openjdk-armhf - instead of `/home/boot_jdk8` - which should speed up the [openjdk9 builds](https://ci.adoptopenjdk.net/job/openjdk9_build_arm32_linux/).

[2018-07-05 17:31] sxa555 commented on #406
Note that the system openjdk7 at `/usr/lib/jvm//usr/lib/jvm/java-1.7.0-openjdk-armhf` is a "zero" VM and therefore the 8 builds will still be slow unless we bootstrap 8 with 8 which I believe is possible ... Trying at https://ci.adoptopenjdk.net/job/openjdk8_build_arm32_linux/40 (Buiding zero VM)

[2018-07-05 18:01] sxa555 commented on #406
Bumped ccache size up from 1Gb to 2Gb on build-scaleway-ubuntu1604-armv7-1 (build-scaleway-ubuntu1604-armv7-2 in jenkins) to see if that helps things run faster going forward

[2018-07-05 18:04] sxa555 commented on #406
gzipping the tarball at the end takes >10 minutes which is quite a bit of extra time. Perhaps we should install and use `pigz` to use all four CPU cores.

[2018-07-05 19:18] sxa555 commented on #406
JDK8 build times at https://ci.adoptopenjdk.net/job/openjdk8_build_arm32_linux/buildTimeTrend down from 4 hours to about 1 hour after using a JITted JDK8 as the boot JDK. Further enhancements possible:
36 - 4h7 - zero VM openjdk7 boot JDK
38-39 - Attempt to build with `JVM_VARIANT=client` which failed trying to compile with `-march=i586`
40 - 50m - Using system JDK8 as boot JDK
41 - Attempt to bui

[2018-07-05 19:20] sxa555 commented on #406
Both machines have now got adoptopenjdk8/9 JDKs in `/home/jenkins/bootjdks` and the `JDK?_BOOT_DIR` variables set to point to them.

[2018-07-05 21:10] sxa555 commented on #406
openjdk10 doesn't like me adding the ccache directory to the path - rude! :-)
[code]

[2018-07-06 13:58] sxa555 commented on #406
pigz changes integrated: https://github.com/AdoptOpenJDK/openjdk-build/pull/408
Added to openjdk10 pipelines (Although without testing as there are no current jobs/separate machines for testing as on AIX)
Build times are broadly comparable to what we're seeing on AIX so arm32 should not slow down any activities unless there are major changes which cause the ccache cache to be invalidated (may do o

[2018-07-06 14:12] sxa555 commented on #406
Default PIPELINE_TIMESTAMP wasn't being set on the AO9/HS builds - now fixed

[2018-07-06 14:17] jerboaa commented on #406
Try using configure:

   configure [...] --enable-ccache

[2018-07-06 14:32] sxa555 commented on #406
Yep already set that back. It works for openjdk8 though

[2018-07-06 14:34] sxa555 commented on #406
@jerboaa Any idea why I can't seem to compile with `JVM_VARIANT=client` natively on arm32 without it trying to feed in `-march=i586` to the compiler? It seems to be acting as though it's cross-compiling. Fine on openjdk9 and 10 but not 8 at the moment

[2018-07-06 14:36] jerboaa commented on #406
@sxa555 I'm commenting on #405 for the build issue.

[2018-07-06 15:30] karianna opened #411 "Placeholder for JRE image creation on Java 11+"
$ make legacy-jre-image &&
build/linux-x86_64-normal-server-release/images/jre/bin/java --list-modules
Building target 'legacy-jre-image' in configuration
'linux-x86_64-normal-server-release'
Creating legacy jre image
Finished building target 'legacy-jre-image' in configuration
'linux-x86_64-normal-server-release'
make legacy-jre-image  9.82s user 2.09s system 145% cpu 8.183 total
java.base@12-int

[2018-07-06 20:31] karianna opened #412 "openjdk8 nightly not pulling down latest tag (192)"
Probably a git-hg issue.

[2018-07-09 15:46] sxa555 commented on #403
@tellison https://github.com/AdoptOpenJDK/openjdk-build/issues/384 is already kicking around which covers HotSpot/win32

[2018-07-10 05:34] mercer1976 opened #413 "Open jdk build"

[2018-07-10 09:34] #413 closed

[2018-07-11 03:57] pshipton opened #414 "Please start building OpenJDK+OpenJ9 for jdk11"
The jdk11 repo is https://github.com/ibmruntimes/openj9-openjdk-jdk11

Steps needed now that initial prototyping has been done:
- [ ] Confirm from openj9 team that `--with-freetype=bundled` is the right option for JDK11
- [ ] Install suitable JDK10 boot jdk on each machine so each job doesn't need to pull down its own copy
- [x] Expand build jobs to other architectures (Linux ppcle and s390x)
- [

[2018-07-12 13:14] planetf1 commented on #387
Is there any news on this?
Will this be done in time for the next java update 8. 181/182 ?

[2018-07-12 13:35] karianna commented on #387
@johnoliver - Can we take a look at this as part of the 2.0.0 scripts?  I'm not sure we *can* change our version string to match, but we can still be a little flexible to help 3rd party tooling at this stage.

[2018-07-12 13:38] johnoliver commented on #387
I do not believe I have changed anything in that area, so the current behaviour will not have changed. But I can take a look

[2018-07-12 13:51] karianna commented on #387
Yeah I think we need to fix and old outstanding bug here - its the `configuringVersionStringParameter` function starting on line 169 in build.sh in the new build scripts.  I'm going to try one of your recent releases and see what it says.

[2018-07-12 13:56] planetf1 commented on #387
If it helps the algorithm that particular maven tool uses is documented here:
https://maven.apache.org/enforcer/enforcer-rules/requireJavaVersion.html

which seems reasonable.

I had also thought java.vm.version could be an option - less preferable, but would at least then need the same algorithm for oracle+openjdk.. But for 171 at least the number is bad (71 instead of 171)

[2018-07-12 14:20] karianna commented on #387
For reference the latest 10 builds from the new build scripts produce:

[code]

[2018-07-12 15:09] karianna commented on #387
The Java 8 logic is different so we'll need to check that as well

[2018-07-12 15:14] karianna commented on #387
For java 9? and definitely 10+ we can use:

[code]

[2018-07-13 12:12] planetf1 commented on #387
Java 10 looks much closer.. One thing I did note. I think java.vendor.version may be mandatory now in the Java10 spec? Yet on the openjdk build I have (+10, 20180417) there is no such property visible from java -XshowSettings:properties (though that is non mandatory)

[2018-07-13 12:16] planetf1 commented on #387
I note there's a few subtle differences in formatting like use of quotes -- again this may not be a standards issue. Not checked with code yet

19,20c19,20
<     java.runtime.name = Java(TM) SE Runtime Environment
<     java.runtime.version = 10.0.1+10
---

27,28c27
<     java.vendor.version = 18.3
<     java.version = 10.0.1
---

32c31
<     java.vm.name = Java HotSpot(TM) 64-Bit Server VM
---

3

[2018-07-13 12:23] planetf1 commented on #387
Here's differences for my Java 8
[code]
which just confirms that bad java.vm.version plus the runtime.version string differences we've been referring to here

[2018-07-13 15:31] karianna commented on #387
Perfect thanks for that - we'll keep digging here.

[2018-07-17 16:20] sxa555 commented on #414
I understand from @adamfarley that the branch names are now in sync with the other versions so this should "just" be a matter of duplicating the jenkins jobs which  we have for 10.

[2018-07-17 17:27] sxa555 opened #415 "Create openjdk8 HotSpot builds which align with Oracle July 2018 quarterly update"

[2018-07-17 17:28] sxa555 opened #416 "Create openjdk8-openj9 builds which align with Oracle July 2018 quarterly update"

[2018-07-17 17:28] sxa555 opened #417 "Create openjdk10 HotSpot 10.0.2+13 builds which align with Oracle July 2018 quarterly update"

[2018-07-17 17:28] sxa555 opened #418 "Create openjdk10-openj9 builds which align with Oracle July 2018 quarterly update"

[2018-07-17 17:29] sxa555 commented on #416
Requires https://github.com/eclipse/openj9/pull/2344 to be merged into the openjdk 0.9 release branch

[2018-07-17 17:31] sxa555 commented on #394
Added in https://github.com/AdoptOpenJDK/openjdk-build/commit/03128d78f590d09c9fa2bb8ac8146cff9df3d60c

[2018-07-17 17:31] #394 closed

[2018-07-17 18:38] pshipton commented on #414
:fingers crossed:

[2018-07-18 14:16] sxa555 commented on #414
Initial job created for Linux/x64 https://ci.adoptopenjdk.net/view/all/job/openjdk11_openj9_build_x86-64_linux/
Job is currently running from my fork pending integration of https://github.com/AdoptOpenJDK/openjdk-build/pull/419

[2018-07-18 15:30] sxa555 commented on #414
Within that job:
- Boot JDK being dynamically pulled from the hotspot adoptopenjdk release for now
- `FREETYPE_DIRECTORY=bundled` in the environment as the configure command doesn't accept a directory to `--with-freetype=` any more - insists on only `bundled` or `system`

[2018-07-18 16:04] sxa555 commented on #414
Added "Steps needed" to the original description

[2018-07-19 03:13] smlambert commented on #414
Test jobs added:
https://ci.adoptopenjdk.net/view/all/job/openjdk11_j9_openjdktest_x86-64_linux/
https://ci.adoptopenjdk.net/view/all/job/openjdk11_j9_openjdktest_s390x_linux/
https://ci.adoptopenjdk.net/view/all/job/openjdk11_j9_openjdktest_ppc64le_linux/

[2018-07-19 18:47] sxa555 commented on #414
AIX job: https://ci.adoptopenjdk.net/view/JDK11%20WIP/job/openjdk11_openj9_build_ppc64_aix/2/console

Failure to build on AIX (seen by the OpenJ9 team already):
[code]

[2018-07-23 18:46] sxa555 commented on #414
For reference, this tab shows all the current jdk11 "work in progress" builds: https://ci.adoptopenjdk.net/view/JDK11%20WIP/

[2018-07-25 10:46] wfouche opened #422 "AdoptOpenJDK 1.8 (u172) not reporting the Update number."
Running "java -server -version" displays output:

    openjdk version "1.8.0-adoptopenjdk"
    OpenJDK Runtime Environment (build 1.8.0-adoptopenjdk-_2018_05_19_00_59-b00)
    OpenJDK 64-Bit Server VM (build 25.71-b00, mixed mode)

Nowhere does u172 appear. It is critical that the full version number be printed, otherwise it is not possible to determine which Update release of 1.8.0 is installed.

[2018-07-25 12:35] karianna commented on #422
This is a duplicate of various others - we'll sweep this along with the others.

[2018-07-30 16:47] sophia-guo opened #425 "openjdk8_build_aarch64_linux publish story unexpected"
<img width="741" alt="screen shot 2018-07-30 at 12 29 08 pm" src="https://user-images.githubusercontent.com/18030625/43410490-0fed4216-93f5-11e8-80e9-9b4f177747b4.png">

Query OpenJDK 8 with Hotspot nightly got a bunch of Linux aarch64 jdk for same day. Looks like those JDK have a wrong timestamps?
The build itself has a different build story from others.
https://ci.adoptopenjdk.net/job/openjdk8_b

[2018-07-30 18:17] sophia-guo commented on #425
@johnoliver correct, the job configuration didn't check `Delete workspace before build starts`. @gdams as you are the creator of this job can we just check `Delete workspace before build starts`?

[2018-07-30 19:43] karianna commented on #425
I've checked that delete box on the job now.

[2018-07-30 19:44] karianna commented on #425
And I've cleaned up the releases repo

[2018-07-30 19:44] #425 closed

[2018-07-31 00:17] gerrit-photon commented on #249
Hi, we want to run our java9 and java10 based on jtreg latest version. Could anyone help to provide the right link or method to get the right version for openjdk9 and openjdk10?

Thanks,
Michelle

[2018-07-31 10:05] karianna commented on #249
@gerrit-photon You can grab a binary from ci.adoptopenjdk.net - https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/

[2018-07-31 10:05] #249 closed

[2018-07-31 12:39] goafabric opened #426 "Ability to apply http proxy parameters to the build scripts"
Inside my company I am behind a proxy.
The build system (MacOS) is configured to use the proxy, environment variables (http(s) proxy ) are also set.
But the makejdk-any-platform fails with e.g:
Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty/InRelease
The http proxy parameters of the system do not seem to be honoured.
So it would be great to at least have an option to apply them via

[2018-08-01 01:26] pshipton opened #429 "OpenJ9 boot JDKs should be updated"
fyi https://github.com/eclipse/openj9/issues/2519

Now that eclipse/omr#2796 has been merged into OMR, we can gain some extra build performance by updating OpenJ9 boot JDKs to include that fix. It's most significant on Linux 390, but it wouldn't hurt to update all build platforms.

Suggest updating zlinux immediately to take advantage of the faster jvm, and then updating everything once the 0.9.0

[2018-08-01 01:26] pshipton commented on #429
@keithc-ca fyi

[2018-08-01 09:09] sxa555 commented on #429
I need to go through a cycle of updating the boot JDKs for Java 11 anyway as part of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/416 so I'll aim to do all the zLinux ones at the same time

[2018-08-02 05:58] jrivard opened #430 "$PATH doesn't include java binary in adoptopenjdk/openjdk10 docker image"
This makes it impossible to set an entry point as just 'java'.   I ran into this using jib-maven-plugin which has an opinionated build process that only allows 'java' as the entry point.

[2018-08-02 07:17] karianna commented on #430
@jrivard I'm a it confused.  On your O/S do you not have to add $JAVA_HOME/bin to your $PATH?

[2018-08-04 13:13] sxa opened #431 "Simplify mechanism for adjusting flags for openj9 release builds"
Currently involves manually modifying the individual bulid jobs to add in the extra parameters

[2018-08-04 17:25] sxa555 commented on #372
See also #370 - I'm working on this at the moment. Assuming the build passes all the normal tests correctly on OpenJ9 0.9 I expect we'll release it without full JCK certification since this release is effectively obsolete already but we are doing it for completeness.

[2018-08-07 15:41] karianna commented on #431
Is this true with the new build scripts as well?  I think it's still a parameter to be passed in...

[2018-08-07 15:47] johnoliver commented on #431
It is better in that it is checked in to source control rather than modifying the job in jenkins.

However the configuration of every combination of arch+os+impl can still be very unique so it is still not fantastic in that you end up with code like:

https://github.com/johnoliver/openjdk-build/blob/overhaul-build-scripts-6/build-farm/platform-specific-configurations/linux.sh#L39

Where you are ef

[2018-08-08 14:30] sxa555 opened #433 "Add OpenJ9 xLinux large heap buids to JDK11 builds"
Follow on work from doing this on JDK8+OpenJ9 under #341

Ref:
- https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/20
- https://github.com/eclipse/openj9/issues/479

[2018-08-08 15:50] sxa opened #434 "Produce prototype builds of openjdk10/openj9 on ARM"
@JamesKingdon has been aiming to add ARM support to the openj9 "extensions" repository at https://github.com/JamesKingdon/openj9-openjdk-jdk10/tree/arm - it would be interesting to have builds at adoptopenjdk of that for people wishing to experiment with it.

NOTE: That repository may require cross-compliation unlike the current arm HotSpot builds

[2018-08-09 14:49] sophia-guo opened #435 "openjdk8 and openjdk9 hotspot macos builds failed and no SDK published"
Both openjdk8 and openjdk9 hotspot macos builds failed for same issue for more than a month.
https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_macos/
https://ci.adoptopenjdk.net/job/openjdk9_build_x86-64_macos/

Looking at the output SDK is build successfully. Jenkins build failed for some lib missing, which casued no tests builds were triggered and no SDK was published.
**[Error] j2re-image/l

[2018-08-09 15:06] karianna commented on #435
Duplicate of #354 - new build scripts resolve this - should have releases soon.

[2018-08-09 15:06] #435 closed

[2018-08-12 12:56] sxa555 commented on #418
There is currently no AO10/J9 release pipeline - will add one this week to complete this now that OpenJ9 0.9 has been released.

[2018-08-12 12:57] sxa555 commented on #370
Now that OpenJ9 0.9 has been release I'll get this done over the next few days (We don't currently have a release pipeline for AO9/J9 so I'll need to put one together but that won't take long)

[2018-08-13 10:33] sxa555 commented on #418
Release pipeline added in https://github.com/AdoptOpenJDK/openjdk-build/pull/438
I've also had to tweak the pipeline job as it was trying to copy a .zip file as an artifact on LInux/ppc64 instead of a tar.gz

[2018-08-13 10:34] sxa555 commented on #372
Release pipeline added in https://github.com/AdoptOpenJDK/openjdk-build/pull/438

[2018-08-13 10:41] sxa555 commented on #416
Merging taken place - have had to make the following changes:

1. Faulty character in release pipeline causing a syntax error ([PR#436](https://github.com/AdoptOpenJDK/openjdk-build/pull/436))
2. Win32 and xLinux-LH builds weren't in release pipeline ([PR#436](https://github.com/AdoptOpenJDK/openjdk-build/pull/436))
3. Systemtest job doesn't exist for xLinux-LH so had to be removed from the pipeli

[2018-08-13 11:26] sxa555 commented on #418
In progress ... First time we've done a release build of this so there may be unexpected problems:
https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk10_openj9_release_pipeline_scm/1/

[2018-08-13 11:45] sxa555 commented on #416
Release pipeline in progress: https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk8_openj9_release_pipeline_scm/9

[2018-08-13 12:47] sxa555 commented on #372
Scheduling issue in the release pipeline - running again as https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk9_openj9_release_pipeline_scm/2

[2018-08-13 12:47] sxa555 commented on #418
Scheduling issue in the pipeline - running again as https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk10_openj9_release_pipeline_scm/3

[2018-08-13 18:13] sxa555 commented on #416
Not comfortable about the AIX build coming out correct (clash with abnother job that run another AIX build that got picked up when I attempted to release) - rebuilding at https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk8_openj9_release_pipeline_scm/10

[2018-08-13 18:18] sxa555 commented on #416
Freak problem with freetype when running the LinuxLH build - rebuilding at https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk8_openj9_release_pipeline_scm/11

[2018-08-13 18:35] sxa555 commented on #416
Freak problem wasn't so freaky - ftp.acc.umu.se where we get the freetype source from is down.

[2018-08-13 18:39] sxa opened #441 "Remove dependency on ftp.acc.umu.se"
Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/416
We pull other dependencies from https://ci.adoptopenjdk.net/userContent/ and should probably put freetype there too since ftp.acc.umu.se is currently not accessible.

[2018-08-13 20:41] machonerddude opened #442 "Eclipse OpenJ9 VM: Java OutOfMemoryError encountered when more than roughly 67M of Direct Byte Buffers are allocated."
Per J9 documentation (https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.vm.80.doc/docs/xxmaxdirectmemorysize.html), we were under the impression that the amount of memory reserved for Direct Byte Buffers is dynamically expanded from a "soft" limit of 64MB.  We are not finding this in practice.  When our application has allocated roughly 67M of direct memory we see the follow

[2018-08-13 21:11] karianna commented on #442
I believe this is an upstream issue that should be raised at the Eclipse OpenJ9 project.

[2018-08-13 21:37] smlambert commented on #442
I posted to the openj9 slack channel to ask if its a known issue, if not we could raise an [openj9 issue](https://github.com/eclipse/openj9/issues)

[2018-08-14 02:03] DanHeidinga commented on #442
Please raise this at the OpenJ9 project.  It's more likely to get the "right" eyes on it there.

[2018-08-14 12:38] sxa555 commented on #416
Release now available at https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9
Outstanding issues found during this release::

- [Large Heap build is selected as the default on xLinux](https://github.com/AdoptOpenJDK/openjdk-website/issues/283)
- [Website is not showing archived builds](https://github.com/AdoptOpenJDK/openjdk-website/issues/284)
- [Release tool wasn't setting fi

[2018-08-14 12:38] #416 closed

[2018-08-14 14:09] machonerddude commented on #442
I just opened this issue at the OpenJ9 issue.

[2018-08-14 14:27] teamacs opened #443 "Incorrect FontMetrics on Windows via PrinterJob Graphics"
On Windows, the FontMetrics returned from Graphics.getFontMetrics(Font) within a PrinterJob are incorrect if the PageFormat has had the orientation explicitly set to PageFormat.LANDSCAPE or PageFormat.REVERSE_LANDSCAPE.  The issue is not present when explicitly setting the orientation to PageFormat.PORTRAIT. The attached code demonstrates the problem.

[JPSFontMetrics.zip](https://github.com/Adopt

[2018-08-14 14:43] sxa555 commented on #442
Raised at https://github.com/eclipse/openj9/issues/2604 - closing this one.

[2018-08-14 14:43] #442 closed

[2018-08-14 16:10] karianna commented on #443
@teamacs Which binary is this with?

[2018-08-14 16:10] karianna commented on #443
@teamacs which binary is this with?

[2018-08-14 16:54] teamacs commented on #443
- OpenJDK 8 with Hotspot (Latest release)
- OpenJDK 8 with Eclipse OpenJ9 (Latest release)
- OpenJDK 10 with Hotspot (Most recent nightly build)
- OpenJDK 10 with Eclipse OpenJ9 (Most recent nightly build)

[2018-08-14 22:16] karianna commented on #443
@teamacs Have you tried an Oracle JDK (8 or 10)?  I'm suspecting this is an OpenjDK upstream bug.

[2018-08-15 09:35] sxa opened #444 "OpenJ9 release pipelines publish without openj9 version by default"
Pipeline came out as `jdk8u181-b13` instead of `jdk8u181-b13_openj9-0.9.0` (although filenames correctly had the openj9 version included). Need to ensure a strategy for making this come out correctly through the automation. I puiblished manually this time (via the release tool job).

[2018-08-15 10:25] sxa555 commented on #372
Build `9.0.4+12_openj9-0.9.0` released at https://adoptopenjdk.net/archive.html?variant=openjdk9&jvmVariant=openj9

[2018-08-15 10:25] #372 closed

[2018-08-15 10:26] sxa555 commented on #370
Released and on the main download site - all platforms available from the archive page at https://adoptopenjdk.net/archive.html?variant=openjdk9&jvmVariant=openj9

[2018-08-15 10:26] #370 closed

[2018-08-15 10:28] sxa555 commented on #418
Had to seed the initial json files (https://github.com/AdoptOpenJDK/openjdk10-openj9-releases/commit/1e9fa83bfcfda1bf0108162def17abef4ff7e807) but the release of `jdk-10.0.2+13_openj9_0.9.0` is now available. All platform downloads can be seen at https://adoptopenjdk.net/archive.html?variant=openjdk10&jvmVariant=openj9

[2018-08-15 10:28] #418 closed

[2018-08-15 13:57] teamacs commented on #443
Yes, we have tried and confirmed it returns correct FontMetrics using the following:
- Oracle JDK 8 (Windows and Mac OS)
- Oracle JDK 10 (Windows and Mac OS)
- OpenJDK 8 with Hotspot (Latest release on Mac OS)
- OpenJDK 10 with Hotspot (Latest release on Mac OS)

[2018-08-15 14:50] karianna commented on #443
OK this is going to take some digging.  Adopt doesn't apply any source patches over and above OpenJ9 at Eclipse or OpenJDK/Hotspot at OpenJDK upstream so I can only imagine its a bundle lib issue.

[2018-08-15 14:55] sxa555 opened #445 "Glitch in AO10/J9 pipeline"
Ref: https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk10_openj9_release_pipeline_scm/3/console
[code]

[2018-08-16 08:13] dinogun opened #446 "Hotspot builds have openj9 release name"
Using this [API](https://api.adoptopenjdk.net/v2/info/releases/openjdk8?openjdk_impl=hotspot&os=linux&type=jdk&release=latest) for info on hotspot releases, we get this,
[code]

[2018-08-16 09:16] johnoliver commented on #446
A release has been pushed to the openjdk8-releases repo with that tag:

https://github.com/AdoptOpenJDK/openjdk8-releases/releases/tag/jdk-10.0.2%2B13_openj9-0.9.0

[2018-08-16 09:17] karianna commented on #446
@sxa555 I think you were releasing these yesterday and tweaked the release script?

[2018-08-16 10:50] sxa555 commented on #446
Now deleted - yep would have been related to the release yesterday (somehow that one ended up in both repos)

[2018-08-16 10:50] #446 closed

[2018-08-16 14:39] dinogun opened #447 "Inconsistent "release_name" for nightly builds"
Using this [API](https://api.adoptopenjdk.net/v2/info/nightly/openjdk8?openjdk_impl=openj9&os=linux&type=jdk) query, we see different results for the "release_name" string in the JSON. See examples below
``` "release_name": "jdk8u-2018-07-26-21-26" ```
``` "release_name": "jdk8u172-b11-201802081200" ```   ==>  Format expected by docker scripts.
``` "release_name": "201808151726" ```

[2018-08-16 18:39] jrivard commented on #430
@karianna I'm not sure what your asking exactly.  I'm talking about inside the docker image, not on my own OS.  The final image entry point is just 'java' and because that is not in the image's path it won't execute.  This doesn't have anything to do with my O/S.

A test case would be, if you run /bin/bash inside the image, you should just be able to run 'java' without specifying the full path to

[2018-08-17 15:36] szdorant commented on #384
Hi, we are considering AdoptOpenJDK as an alternative JVM due to LTS policy changes by Oracle. Unfortunately some of our clients are still stuck on Win32, and we would like to limit the number of JVMs we test on and support, hence we would go only for Hotspot for now (which also seems to be a safer transition). 64 bit is excellent so far. For us a Win32 Java 8 Hotspot release in time before 2019 J

[2018-08-18 12:28] jrivard commented on #430
@gdams the docker image 'adoptopenjdk/openjdk10'.  I don't know what homebrew is.

[2018-08-20 12:29] lumpfish opened #449 "Symantec Endpoint Protection quarantines adoptopenjdk Windows builds"
On unzipping the adoptopenjdk Windows release
https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/releases/download/jdk8u181-b13_openj9-0.9.0/OpenJDK8-OPENJ9_x64_Windows_jdk8u181-b13_openj9-0.9.0.zip Symantec Endpoint Protection quarantines all executables (.exe and .dll files), and so using the jdk requires that the files be restored from quarantine.

On my laptop it took about 2 hours for t

[2018-08-20 18:18] karianna commented on #384
We've asked the Main Adopt community directly, as of yet no volunteers.  I've cast the net out further to the Java User Groups and Java Champions lists.

[2018-08-20 18:31] karianna commented on #449
Hmm, not sure we can do much about the fact that the package hasn't been downloaded often.  We do have a correctly signed binary as far as we're aware.

[2018-08-20 19:15] sxa opened #451 "Activate gcc 7.3.0 on all Linux builds"
Oracle is starting to build with gcc 7.3.0 so we should install this on our Linux build machines.
See task in the infrastructure repo to make gcc 7.3.0 available which is a prereq for this work: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/438

[2018-08-20 19:17] sxa555 commented on #451
My current plan is to build from source on each of the three platforms (Linux on `x64`, `ppc64le` and `s390x`) with `--prefix=/usr/loccal/gcc --program-suffix=-7.3` then create a tarball of the `/usr/local/gcc` directory that we can use to deploy via ansible in order to save the large amount of time to compile from source on each ansible run.

[2018-08-21 01:42] dinogun commented on #430
@jrivard Can you please update your docker image, I'm suspecting it to a very old one.

[code]
[code]

[2018-08-21 09:46] sxa555 opened #452 "Windows JDK11 builds failing"
Both HotSpot and OpenJ9:
https://ci.adoptopenjdk.net/view/JDK11%20WIP/job/openjdk11_openj9_build_x86-64_windows
https://ci.adoptopenjdk.net/view/JDK11%20WIP/job/openjdk11_build_x86-64_windows/
Passes at the openj9 CI: https://ci.eclipse.org/openj9/job/Build-JDK11-win_x86-64_cmprssptrs/
Note that despite the WARNING at the start of this, the vs2013 toolchain does still work and is the same version

[2018-08-21 10:11] sxa555 commented on #452
[code]

[2018-08-21 10:17] sxa555 commented on #452
Looks like the combination of fixpath with javac is failing:
[code]

[2018-08-21 12:26] sxa555 commented on #452
The `fixpath.c` source in the repository changed between jdk8 and jdk9 but has been unchanged between 9 and 11. Need to compare the behaviour of the binaries as compiled in JDK9/10 and JDK11

[2018-08-21 12:30] sxa opened #453 "Windows jdk8_j9 directories not being cleaned up properly"
Needs investigating and resolving since this is chewing up 3Gb at a time, and looks like it's happening on every run from the date stamps shown here:
[code]

[2018-08-21 14:04] sxa555 commented on #452
This is an issue with the visibility of the location of the JDK10 used for bootstrapping JDK11 builds. As seen from the cygwin and `cmd.exe` command lines, the `jdk10` symlink is not visible from `cmd.exe` but the earlier ones are:
[code]
vs
[code]

[2018-08-21 14:11] sxa555 commented on #452
The cygwin `ln -s` doesn't appear to create a symlink that is visible outside the cygwin subsystem, therefore the following command has to be used to create the symlink:
`mklink /D c:\openjdk\jdk10 "c:\Program Files\jdk-10.0.1+10".

Once this is done, `fixpath` works as expected

[2018-08-21 14:11] #452 closed

[2018-08-21 15:46] keirlawson opened #454 "Produce RPM binaries"
It would be great is AdoptOpenJDK could also ship RPM binaries just as Oracle currently do for their JDK.  Redhat-based distributions are very common deployment platforms and this would ease the transition for people used to getting their JDK RPMs directly form Oracle.

[2018-08-21 17:50] sxa555 commented on #454
We have some initial support for both debs and rpms although it's not finalised yet. @gdams can you comment on the current status (and perhaps hand it over to me? ;-) )

[2018-08-21 17:53] sxa opened #456 "JDK11 build failure on AIX (HotSpot and OpenJ9)"
Creating this to ensure it's on the adoptopenjdk radar - issue is related to the `sigaction` symbol and is documented more fully at https://github.com/eclipse/openj9/issues/2468

[2018-08-21 19:52] AdamBrousseau commented on #453
I think this is what you're looking for
https://issues.jenkins-ci.org/browse/JENKINS-24824

[2018-08-21 20:16] harrykar opened #457 "Impossible to download"
Dunno why but 4 days now i try to download from  https://adoptopenjdk.net/index.html?variant=openjdk10&jvmVariant=openj9 the latest stable release(also nigthly download not work too)  and i can't ; Download suddenly stops at circa 1/4 of the whole package  i tried in different days in different hours without luck; any other link i can use to download?

Best Regards
HArry G.T. KAr

[2018-08-21 20:30] AdamBrousseau commented on #457
I am able to download all 5 platforms without issue. You could download them directly from Jenkins. I'm not too familiar with the setup, otherwise I could perhaps point you directly at the "release build", but here is Linux on x86-64 nightly.
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_linux/

[2018-08-21 21:08] karianna commented on #457
@harrykar might be worth clearing your cookies locally as well.

[2018-08-22 00:03] sxa555 commented on #457
Any particular platform/browser you're having trouble with? I don't believe we've had any other reports of problems (but that doesn't mean there aren't issues of course!)

[2018-08-22 05:44] jabrena opened #458 "Package OpenJDK 11 for Debian"
Currently, the project provides a stable build for OpenJDK 11 for ARM32 (Raspberry Pi) with the following Jenkins Job:
https://ci.adoptopenjdk.net/view/arm/job/openjdk11_build_arm32_linux/

We should consider to design a solution to package and publish on Debian:
https://wiki.debian.org/Java

Once the build, passes the different Test suites from:
https://github.com/AdoptOpenJDK/openjdk-tests/

Jua

[2018-08-22 12:18] sxa555 commented on #417
Starting to move this forward now, in part after someone tweeted me asking for it :-)

[2018-08-22 12:35] harrykar commented on #457
@sxa555 : i am on a old Ubuntu 10.04 LTS sited in Greece,  the browser is firefox 45.0.2
I have to say that (the problem is not on my side ) as almost all work as intended apart the up mentioned download

[2018-08-22 12:42] karianna commented on #457
@harrykar Can you get the exact response / error code + details from Firefox developer tools?  It's a very old Firefox mind you...

[2018-08-22 12:46] harrykar commented on #457
@karianna i have deleted cookies but ...  no luck ; yeah i know is old but essentially worked well till now; what error code you mean?

[2018-08-22 12:49] harrykar commented on #457
![screenshot](https://user-images.githubusercontent.com/465842/44464208-b1a38400-a609-11e8-90d5-71b18277c64e.png)

[2018-08-22 12:52] karianna commented on #457
In the developer tools you can grab the exact response header with the error etc.

[2018-08-22 13:12] harrykar commented on #457
@karianna Unfortunately i am not accustomed with developer tools can you mentioned what need to do?

[2018-08-22 13:18] AdamBrousseau commented on #457
What about just trying to `wget` the URL from a cmd line?

[2018-08-22 13:30] harrykar commented on #457
@AdamBrousseau

can you explain better how ?

[2018-08-22 14:12] AdamBrousseau commented on #457
On that Jenkins page I linked above, there is an sdk artifact attached to each build number. From the main page of the build its called "Last successful artifacts". You can simply click the link to download it. Or wget the url from the cmd line
eg.
https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_x86-64_linux/lastSuccessfulBuild/artifact/OpenJDK10_x64_Linux_201808211700.tar.gz

[2018-08-22 15:39] sxa555 commented on #457
That probably won't let you get to the releasebuid though @AdamBrousseau

[2018-08-22 15:41] sxa555 commented on #457
Would certainly be interested to know what you get with a `wget` of the URL from the command line though. Given that these URLs are direct from github we're rather limited in what control we have over download problems from there.

[2018-08-22 15:43] sxa555 commented on #457
That assumes there is an error code coming back - given that the download is starting I expect the HTTP code is a "good" one, and since it appears to be just stalling instead of failing part way through there's a limit to what that will tell you I think.

[2018-08-22 16:30] sxa555 commented on #330
This specific problem appears to have disappeared although https://github.com/AdoptOpenJDK/openjdk-build/issues/354 still exists (but is understood to be fixed in the new scripts)

[2018-08-22 16:30] #330 closed

[2018-08-22 18:13] harrykar commented on #457
@AdamBrousseau seems that my wget is too old ( GNU Wget 1.12 built on linux-gnu.) to support the newest ssl versions :(

wget https://github.com/AdoptOpenJDK/openjdk10-openj9-releases/releases/download/jdk-10.0.2%2B13_openj9-0.9.0/OpenJDK10-OPENJ9_x64_Linux_jdk-10.0.2.13_openj9-0.9.0.tar.gz
--2018-08-22 21:10:54--  https://github.com/AdoptOpenJDK/openjdk10-openj9-releases/releases/download/jdk-10.

[2018-08-22 20:00] harrykar commented on #457
@AdamBrousseau
I have struggled upon that fact and tried trough cmdline (for output purposes)
the direct Jenkins link. After 13 tries wget seems to download the nightly build

Till now my opinion is : I guess that was possible because
from https://www.ssllabs.com/ssltest/analyze.html?d=ci.adoptopenjdk.net seems that
ci.adoptopenjdk.net (differently than github) use other than TLS 1.2 also TLS 1.0

[2018-08-22 20:50] harrykar commented on #457
@karianna
I can't touch that machine i am obliged to work with, and frankly till now **in absolute** github is the only  site i notice that problem. I can understand the security point of view and the like  but in my humble opinion it's a shame --moreover for  who distribute code (e.g. trough git) -- choose a strategy like that (pose a so strong limit to his users). Things can be different in orga

[2018-08-22 20:52] harrykar commented on #457
Thank all of you for your availability & support

[2018-08-23 11:26] lumpfish commented on #449
I just downloaded the new release for openjdk-hotspot from https://github.com/AdoptOpenJDK/openjdk10-releases/releases/download/jdk-10.0.2%2B13/OpenJDK10_x64_Windows_jdk-10.0.2.13.zip and that was not quarantined.
As far as I can tell the signatures are identical.  Any ideas why openjdk-hotspot and openjdk-openj9 might be treated differently?

[2018-08-23 12:15] lumpfish commented on #449
Hmmm - sometime in the last hour the openjdk-hotspot build has started to be quarantined.  Strange that it first allowed it to be unzippeecuted.

[2018-08-23 12:35] sxa555 commented on #417
Re-released in order to include arm32 and s390x support:
https://adoptopenjdk.net/archive.html?variant=openjdk10&jvmVariant=hotspot

[2018-08-23 12:35] #417 closed

[2018-08-23 12:38] keithc-ca commented on #456
It's not specific to jsig. OpenJDK started using xlc's `-qvisibility=hidden` option (except with xlc version 12.1), but without a change to `JNIEXPORT` so that the link option `-bexpall` doesn't do what is needed.

I have a working fix, but it involves changing one source file to workaround what appears to be an xlc bug.

[2018-08-23 12:56] sxa555 commented on #417
Announced on the adoptopenjdk slack in #general and at https://twitter.com/sxaTech/status/1032608476093136896

[2018-08-23 20:56] karianna commented on #457
Hmm, OK not likely a TLS issue then.  The plot thickens.  I wonder which GitHub mirror you're hitting.  Are you able to traceroute to the URL in question and send us the output?

[2018-08-23 21:05] karianna commented on #449
Is it stating the reason for the quarantine? I know on Mac Os X you really have to dig in to get the reason.

[2018-08-25 06:04] cstroe commented on #259
Looks like this should be fixed by #450

[2018-08-26 08:53] harrykar commented on #457
@karianna

I am not sure about that because my system has OpenSSL mentioned upstairs and FF has that settings shown previously; now dunno if FF is based on system's  OpenSSL or incorporate his own  OpenSSL module ; in the first case make sense be a TLS issue in the second case make not sense be a TLS issue

[2018-08-27 10:44] harrykar commented on #457
@karianna

ci.adoptopenjdk.net

[code]

github.com
[code]

[2018-08-28 07:50] alexhass opened #459 "Provide MSI installer"
As Oracle seems to try to rip off people in nearest future (Jan 2019) we all need to migrate away all products from Oracle Java to OpenJDK.

To be able to deploy OpenJDK and OpenJRE in enterprise we need MSI installers. Currently I only see a ZIP file as download.

Can you create an MSI setup, please?

[2018-08-28 13:07] gdams commented on #454
Hi @keirlawson, we currently produce our installers using Bitrock InstallBuilder which has the capabilities to generate RPM's. Check out https://github.com/AdoptOpenJDK/openjdk-installer

[2018-08-29 11:33] SueChaplain commented on #93
Interesting that the Oracle `java -version` for Java 9 doesn't seem to apply JEP223 completely, although perhaps they left off $PATCH as this is currently "0". Guess the plan needs to cater for the possibility of a $PATCH number.

$MAJOR.$MINOR.$SECURITY.$PATCH

[2018-08-29 11:40] sxa555 commented on #411
Asking the question since it was asked by someone today: Do we still need to produce a JRE package if Oracle aren't producing one in a default openjdk build?

[2018-08-29 11:41] sxa555 commented on #93
We should also document the impact to the other builds in this issue - OpenJ9, amber etc.

[2018-08-29 12:06] don-vip commented on #411
Maintaining a JRE package should help Linux distributions maintainers, see http://mail.openjdk.java.net/pipermail/distro-pkg-dev/2018-July/039894.html

[2018-08-29 14:15] keithc-ca commented on #259
This was fixed earlier, but the build flow has changed dramatically and I'm not sure where the source of the YYYYDDMM pattern is (#450 is targeted to a branch that isn't (yet?) being used as far as I can tell).

[2018-08-29 16:02] sxa555 commented on #456
Full fix also required removing `-lpthread` from the configure options we specify in our jenkins jobs. Now working on OpenJ9 builds.

[2018-08-29 17:38] sophia-guo commented on #259
This should only happen to SDK OpenJDK8_aarch64_Linux_***, as build job openjdk8_build_aarch64_linux is configured differently.  https://ci.adoptopenjdk.net/job/openjdk8_build_aarch64_linux/configure . That is saying this build doesn't use build story from openjdk-build  (though I don't know why).  I've updated the execute shell to

[code]
Which should solve this problem.

[2018-08-29 18:38] karianna commented on #93
For folks following this, I've edited and updated the original problem description to match what we understand today.

[2018-08-29 18:39] karianna commented on #93
@SueChaplain Thank you for that timely reminder!

[2018-08-29 19:39] karianna commented on #457
Hmm, that's fairly typical.  I'm afraid at this point I've exhausted my ideas.  @harrykar Are you able to try from a colleagues machine to see if it's common across your org?

[2018-08-30 13:35] karianna commented on #459
For whomever picks this up, see openjdk-installer project for existing resources to do this.

[2018-08-30 13:54] sophia-guo commented on #259
Today's aarch64 jdk8:OpenJDK8_aarch64_Linux_201808301146.tar.gz. Others look also good, close this for now.

[2018-08-30 15:18] karianna commented on #456
Is this fixed for OpenJ9 and Hotspot builds now?

[2018-08-30 15:52] #259 closed

[2018-08-31 17:09] sxa555 opened #461 "Sanitise + document configure flags"
This came out of a discussion regarding the openjdk11 builds on AIX which weren't working due to the addition of some configure flags that added some specific `pthread`options. We should make sure we understand why we are specifying custom configure flags and ensure that what we have is necessary.

[2018-08-31 17:13] sxa555 commented on #456
Not fully - there's a second error that is fixed in OpenJ9 [but not HotSpot](https://ci.adoptopenjdk.net/view/JDK11%20WIP/job/openjdk11_build_ppc64_aix/) - I've removed the `reported with upstream team` now as the upstream team was OpenJ9 who have fixed their side :-)
[code]
NOTE: I have created https://github.com/AdoptOpenJDK/openjdk-build/issues/461 to cover doing a check of our current configur

[2018-08-31 17:42] alexhass commented on #459
I guess you mean https://github.com/AdoptOpenJDK/openjdk-installer

[2018-08-31 17:44] alexhass commented on #459
I can pick this issue.

I‘m currently only confused by the project here... is this the officially OpenJDK or a fork?

[2018-09-01 06:35] alexhass opened #463 "Implement proper file versions"
The current builds of OpenJDK compiled every version with 8.0.0.0, but Oracle Java uses proper file versions like 8.0.1810.13. This missing file version increase will cause serious issues with MSI installer https://github.com/AdoptOpenJDK/openjdk-build/issues/459. MSI has internal checks for version and requires that you change the file versions or the files are not updated on upgrades.

Can you i

[2018-09-01 07:29] karianna commented on #459
This is not a source fork (we don't make any source code changes from OpenJDK or OpenJ9 upstreams).  We are one of several OpenJDK binary providers, but we're a bit unique in that this is a collaborative community and vendor effort attempting to cover all platforms and variants :-).

Have you joined our slack at adoptopenjdk.net/slack.html?

You raise a good question about where the installer code

[2018-09-01 07:30] karianna commented on #459
I've also invited you to this GitHub org

[2018-09-01 11:41] gdams commented on #459
we can already build `.exe` installers if these are okay for you?

[2018-09-01 12:04] alexhass commented on #459
EXE installers are not okay. EXE should RIP. These cannot deployed via Active Directory. Use MSI only and your are done with installers for both enterprise and end users.

I'm close to finish the MSI installer code... At latest tomorrow it is ready and tested I think.

Not that I need EXE setup, but where are you hiding them and the code? So I can review this code and may migrate missing parts to

[2018-09-01 15:11] don-vip commented on #459
@alexhass I sense a lot of confusion on the whole story, as Oracle has made the situation quite complex. People at Karakun and Azul have made good explanations, you should take a look to these pages:
* https://dev.karakun.com/jdks/
* https://www.azul.com/how-do-we-define-java/
* https://www.azul.com/eliminating-java-update-confusion/

Note the Windows CPL mainly aims at configuring Java WebStart,

[2018-09-01 20:16] alexhass commented on #459
Yeah. On the end Oracle rip you if you are a company. The term "production use" could be read quite flexible. If I run Eclipse on developers machines to develop C++, PHP, JS code I could argue that this is production use. I do not understand how this can be free as developers use an application (Eclipse) in production to develop a website. If I have other end user applications that require java on

[2018-09-02 00:32] AdamBrousseau commented on #459
Speaking of Eclipse IDE. They're planning on shipping with OpenJ9 in the future.
See
https://bugs.eclipse.org/bugs/show_bug.cgi?id=506244
https://twitter.com/mmilinkov/status/1008694123413598208?s=19

[2018-09-02 07:50] karianna commented on #459
Hi @alexhass - A quick note to say that AdoptOpenJDK is working with Oracle, IBM and other OpenJDK providers to offer folks more choice.  This isn't an appropriate place to discuss pros and cons of particular vendors.

On a philosophical point - people do need to put roofs over their heads and food on the table and so I don't think it's unreasonable to charge licensing fees or otherwise monetize s

[2018-09-02 08:30] alexhass commented on #411
If you create a build I can create the Windows MSI installer for JRE, too.

[2018-09-02 08:34] alexhass commented on #459
Can someone tell me how the release cycle of OpenJDK works today? Do you need to build a setup independently for "Hotspot" and "Eclipse OpenJ9" or are both build the same time?

I create a pull against openjdk-installer later or tomorrow.

@karianna: Others have no longer a house and no food in January 2019+ because of the java runtime library they need to pay for yearly; if they cannot get rid of

[2018-09-03 03:04] oakad opened #464 "Consider adding a Gentoo ebuild"
I understand, that this may be a somewhat far fetched request, but still.

Gentoo is a rather convenient distro for testing "unusual" software configurations on "usual" platforms and reigns supreme when deploying "usual" software onto "unusual" hardware platforms (custom embedded boards, etc).

This project had done a most impressive job automating the OpenJDK builds. It appears, that with relativ

[2018-09-03 09:01] karianna commented on #459
The AdoptOpenJKD release cycle is fairly complicated.  In short we mirror the Hotspot based OpenJDK repos from mercurial into Github (for ease of processing and maintaining some of our own patches) and we pull directly from Eclipse OpenJ9.  Those are the two main sources we build from both nightly and on a release schedule (usually matching Oracle's release schedule for Oracle JDK).  We also test

[2018-09-03 10:39] karianna opened #465 "Vendor properties incorrect?"
AdoptOpenJDK builds have the following properties (8u172 as an exampe).  Need to investigate which ones should change.

java.specification.vendor = Oracle Corporation
   java.vendor = Oracle Corporation
   java.vm.specification.vendor = Oracle Corporation
   java.vm.vendor = Oracle Corporation

[2018-09-03 10:41] sxa555 commented on #464
@oakad Do you have the skills to put together what's required? Like you I suspect it wouldn't be too hard although I haven't used gentoo myself for a while and it'll be a while before I personally woulkd be able to spend any time on it

[2018-09-03 10:42] sxa555 opened #466 "Switch builds to using VS2017 on Windows"
Dependent on https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/448

[2018-09-03 12:56] sxa555 commented on #465
Initial gut feel would be `java.vendor` only

[2018-09-03 13:01] sxa555 commented on #465
For OpenJ9 (AdoptOpenJDK 8u181+b13 release build) we get:
[code]

[2018-09-04 01:37] oakad commented on #464
Yes, I am working on an ebuild.

The problem is, Gentoo Java community is basically defunct right now, so the ebuild needs a good home where it will be visible for the community and maintained.

Shall I offer a PR when I'm ready?

[2018-09-04 08:51] karianna commented on #464
@oakad Yes please. Not we'll be swapping build scripts over to #320 shortly.

[2018-09-05 02:10] oakad opened #468 "Provide "minimal"/"headless" JDK tarballs"
Presently, the binary release tarballs are full featured, but rather big. However, modern java use cases do not necessarily require all the functionality provided; even more so, the extra functionality can be seen as detrimental in server/container setup.

It will be very useful to also have a "minimal" release tarball:

1. No debuginfo in lib
2. No desktop and related components
3. No deprecated

[2018-09-05 02:13] j-christ commented on #411
@sxa555 Yes, a JRE is still needed.  Many 3rd party tools expect a JRE but not necessarily a JDK.

[2018-09-05 06:14] spgennard commented on #449
You might be able to use sigcheck/sysinternals in the build process to check the zip file with virustotal option.

https://blog.virustotal.com/2013/10/sigcheck-virustotal.html
https://docs.microsoft.com/en-us/sysinternals/downloads/sigcheck

[2018-09-05 09:28] karianna commented on #468
@oakad Agreed, you may also want to look at our openjdk-docker project where similar work has been done for minimal docker builds.

[2018-09-05 15:35] sxa555 opened #469 "Missing cacerts file on Windows"
We've discussed this previously but since I can't find an issue regarding it I'm creating this one, mostly as it's just been raised on the OpenJ9 call. Here is theyr issue: https://github.com/eclipse/openj9/issues/2696

It would appear that it was explicitly disabled at some point but the discussions suggested no one was quite sure unless it was a technical limitation of being able to perform the

[2018-09-06 01:37] oakad commented on #468
I did a cursory glance and thought to myself that you've probably had the minimal builds already. But it still will be nice to have them as plain tarballs, for cases where docker is not in use (or in use, but in some sort of custom way).

[2018-09-07 03:31] oakad commented on #468
I have made some builds (on Gentoo) with JVM variant set to "minimal" and "--enable-headless-only=yes" in configure. The resulting jdk tarball is 106MB on amd64, when stripped of debug info and source pack and compressed using xz.

Suppose, going below that will require some jlink magic post build, as Openjdk's configure refuses disabling things.

[2018-09-07 15:30] simonis opened #470 "Question regarding Java Compatibility Kit (JCK) Certifications"
Hi,

on your support page at https://adoptopenjdk.net/support.html you mention:

"Furthermore, releases that have passed the Java Compatibility Kit (JCK) test suites are denoted by a blue shield containing a check mark in their download button. This build is JCK certified. We recommend you choose these releases for running your applications."

However, I couldn't find any such "blue shield contain

[2018-09-07 17:06] AdamBrousseau commented on #470
I can't comment on the status of the certification of each build as I'm not involved with that process. However I think the above statement is correct, there just haven't been that many that have been certified yet.

One example that is certified would be the recent 0.9 release of OpenJ9:
https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#x64_linux

[2018-09-07 18:50] simonis commented on #470
Thanks a lot for the quick clarification, Adam!

Now I know what I have to look for.

Regards,
Volker

[2018-09-09 11:12] karianna commented on #470
@AdamBrousseau Has hit the nail on the head.  We do intend to certify more builds going forwards but there's still quite a bit of infrastructure as code going into that so we can divide and conquer the manual tests in particular.

[2018-09-09 11:12] #470 closed

[2018-09-10 09:40] karianna opened #474 "Commit reference for releases should be available via the /releases GitHub API"
_From @Joe-Brady on March 17, 2017 14:25_

Should be part of the automated process.

E.g. added as a tag, or by any method that makes it appear in this JSON:

api.github.com/repos/AdoptOpenJDK/openjdk-releases/releases

_Copied from original issue: AdoptOpenJDK/openjdk8-releases#2_

[2018-09-10 09:40] karianna opened #475 "Generate changelog for each release"
_From @Joe-Brady on March 17, 2017 14:54_

Changelog generation should be automated, and have predictable URLs that can be used on the website.

_Copied from original issue: AdoptOpenJDK/openjdk8-releases#4_

[2018-09-10 09:40] karianna opened #476 "sun.* source code not included in src.zip"
_From @don-vip on October 6, 2017 20:43_

I have downloaded this binary:
https://github.com/AdoptOpenJDK/openjdk8-releases/releases/download/jdk8u144-b01/OpenJDK8_x64_Win_jdk8u144-b01.exe

Once installed, it appears `sun.*` source code is not included in `src.zip`.
As at least the class I'm interested in (`src/share/classes/sun/util/locale/provider/NumberFormatProviderImpl.java`) is licensed under

[2018-09-10 09:40] karianna commented on #476
_From @gdams on October 7, 2017 12:0_

@neomatrix369 any ideas about this?

[2018-09-10 09:40] karianna commented on #476
_From @neomatrix369 on October 7, 2017 21:10_

@gdams No idea why this would be the case, we are archiving the image folder as it is produced by the OpenJDK build process, see [src.zip](https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_windows/ws/openjdk/build/windows-x86_64-normal-server-release/images/jdk8u162-b01/src.zip) in https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_windows/ws/o

[2018-09-10 09:40] karianna commented on #476
_From @neomatrix369 on October 7, 2017 21:13_

@don-vip Can you please point us to OpenJDK Windows builds (produced anywhere else) in which the src.zip does contain the file you are looking for?

I'll also ask the OpenJDK team about this after doing some looking around.

[2018-09-10 09:40] karianna commented on #476
_From @don-vip on October 7, 2017 21:38_

? There is not. I'm asking to include the missing files. If they were already included, I wouldn't have created the ticket :)

[2018-09-10 09:40] karianna commented on #476
_From @neomatrix369 on October 7, 2017 21:45_

@don-vip Thanks for clarifying.

It would mean changing the build script, have a look at http://jdk.java.net/java-se-ri/8 and then the http://download.java.net/openjdk/jdk8u40/ri/openjdk-8u40-src-b25-10_feb_2015.zip, which does not contain the file you are talking about either.

@gdams @karianna what do you think about the request? Our build script wi

[2018-09-10 09:40] karianna commented on #476
@neomatrix369 Worth asking upstream OpenJDK folks why this isn't included (for jdk8u).   I can't see any reason *not* to include it if it's GPLv2 with Classpath and not a closed Sun/Oracle class.

[2018-09-10 09:41] karianna commented on #476
_From @tellison on October 9, 2017 9:34_

FYI it has been true 'forever' that src.zip does not contain all the library source code.  That zip file is produced to assist development tools display relevant source code.  IMHO it should contain *less* source than it already does.

Now that we are all connected, better still we should simply include coordinates to the git repo sources that produced the

[2018-09-10 09:41] karianna commented on #476
@tellison Good point, we could provide the link to the tag in Github in the download.

[2018-09-10 09:41] karianna opened #477 "OpenJ9 Linux/s390x build 152 fails to initialize"
_From @sxa555 on November 30, 2017 14:25_

Running `java -version` on jdk8u152 gives:

`[...]/jre/lib/s390x/server/libjvm.so: No such file or directory`

_Copied from original issue: AdoptOpenJDK/openjdk8-releases#10_

[2018-09-10 09:41] karianna opened #478 "Missing cacert from window build (jdk8u172-b11)"
_From @nrousseau on June 20, 2018 7:3_

Hello,

Actually the file cacert  for the windows build is empty, ie:

jdk8u172-b11/jre/lib/security/cacert

Everything is ok for mac / linux builds, but not windows.

Is it possible to get a new release build with the certificate file?

Thanks

_Copied from original issue: AdoptOpenJDK/openjdk8-releases#11_

[2018-09-10 09:41] karianna commented on #478
_From @DanHeidinga on June 21, 2018 15:15_

FYI @jefrajames - tagging you in this item so you can track the status as we'll close the OpenJ9 issue

[2018-09-10 09:41] karianna commented on #478
_From @donbourne on July 25, 2018 13:7_

I encountered this same issue last week.  We were trying to do maven builds, as part of a lab for a conference.  Since maven was trying to connect to the maven repo it failed on the SSL handshake since the cacerts weren't present in the JDK.  I had to copy the certs from a linux build to get the lab to work... so +1 for fixing this.

[2018-09-10 09:41] karianna commented on #478
_From @planetf1 on July 25, 2018 14:15_

Hit this same problem. Built fine on oracle 172. Switched to openjdk 171, still built fine. Then a few days later a colleague added a new dependency and wham! maven fell over as it couldn't pull an artifact. This is a breakage.

Note that ubuntu 18.04's openjdk build (not adopt) has similar issues - there I ended up copying the cacert file from an oraclejdk

[2018-09-10 09:41] karianna commented on #478
_From @sxa555 on July 25, 2018 14:50_

It looks like it was deliberately excluded on Windows under @neomatrix369' commit at https://github.com/AdoptOpenJDK/openjdk-build/commit/685a9370e4735bf479ae5ef301c4691d328a5697 ... I've just [attempted a build with it re-enabled](https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk8_build_x86-32_win-cacerts/1/console) and it hasn't aborted at t

[2018-09-10 09:41] karianna commented on #478
_From @sxa555 on July 25, 2018 14:50_

@planetf1 Can you clarify where "openjdk 171" came from that you're having an issue with please? The release builds at adoptopenjdk.net are 8u172 not 8u171.

[2018-09-10 09:41] karianna commented on #478
_From @planetf1 on August 2, 2018 12:52_

I said '71' as I assumed the 71 in the bad version string (another issue open on this) was a truncated 171, but perhaps not.

MacOS

13:52 $ java -version
openjdk version "1.8.0-adoptopenjdk"
OpenJDK Runtime Environment (build 1.8.0-adoptopenjdk-jenkins_2018_05_19_02_01-b00)
OpenJDK 64-Bit Server VM (build 25.71-b00, mixed mode)

[2018-09-10 09:41] karianna commented on #478
_From @planetf1 on August 2, 2018 12:55_

It's labelled jdk8u171-b11 when downloaded - yet it's unclear how to resolve that against a command I can run in the installed environment to show what is installed. there should be some match ideally on -version -- but there is when viewing full properties!

In full:
13:54 $ java -XshowSettings:properties
Property settings:
    awt.toolkit = sun.lwawt.mac

[2018-09-10 09:42] karianna opened #479 "sha256 file contains filename with + instead of ."
_From @r15ch13 on September 26, 2017 17:11_

Why is the file name in the `.sha256.txt` written with a plus instead of a dot like the actual file?
Simply running sha256sum to check the hash is not possible this way.
[code]

_Copied from original issue: AdoptOpenJDK/openjdk9-releases#1_

[2018-09-10 09:43] karianna opened #480 "Folder inside zip does not match build tag"
_From @se35710 on May 1, 2018 12:6_

In the build with tag [jdk-10+23-20180430](https://github.com/AdoptOpenJDK/openjdk10-nightly/releases/tag/jdk-10%2B23-20180430) ([OpenJDK8_x64_Win_20180430.zip](https://github.com/AdoptOpenJDK/openjdk10-nightly/releases/download/jdk-10%2B23-20180430/OpenJDK10_x64_Win_20180430.zip)), the folder inside the zip archive is named `jdk-10+46`.

_Copied from original

[2018-09-10 09:43] karianna opened #481 "Edit release notes to include details on supported platforms"
_From @karianna on March 17, 2017 13:4_

It would be good to list in the release notes the exact Linux and Mac OS X platforms supported.

_Copied from original issue: AdoptOpenJDK/openjdk8-nightly#1_

[2018-09-10 09:43] karianna commented on #481
See #3

[2018-09-10 09:44] karianna opened #482 "Enhance README to list supported platforms."
_From @karianna on March 17, 2017 13:5_

_Copied from original issue: AdoptOpenJDK/openjdk8-nightly#2_

[2018-09-10 09:44] karianna opened #483 "Add location of Jenkins build farm once DNS'd to ci.adoptopenjdk.net"
_From @adoptopenjdk-admin on March 21, 2017 10:18_

_Copied from original issue: AdoptOpenJDK/openjdk8-nightly#4_

[2018-09-10 09:44] karianna opened #484 "Folder inside zip does not match build tag"
_From @se35710 on May 1, 2018 11:57_

In the build with tag [jdk8u172-b00-20180430](https://github.com/AdoptOpenJDK/openjdk8-nightly/releases/tag/jdk8u172-b00-20180430) ([OpenJDK8_x64_Win_20180430.zip](https://github.com/AdoptOpenJDK/openjdk8-nightly/releases/download/jdk8u172-b00-20180430/OpenJDK8_x64_Win_20180430.zip)), the folder inside the zip archive is named `jdk8u172-b03`.

_Copied from ori

[2018-09-10 09:45] karianna opened #485 "javaws / Web start"
_From @ildar on September 25, 2017 10:51_

is currently missing but still demanded for some legacy apps. Please add.

_Copied from original issue: AdoptOpenJDK/openjdk9-openj9-releases#2_

[2018-09-10 09:45] karianna commented on #485
@tellison - Is this an upstream task?

[2018-09-10 09:45] karianna commented on #485
_From @stevewallin on November 28, 2017 17:31_

yes this would be an upstream request as the OpenJDK 9 builds for both HotSpot and Eclipse OpenJ9 do not contain javaws

[2018-09-10 09:45] karianna commented on #485
I'm wondering if we simply create alternative builds with JavaFX included as I'm doubtful that OpenJDK would bundle that by default (as they haven't historically).  Not sure about Eclipse OpenJ9 but we could ask over there....

[2018-09-10 09:45] karianna commented on #485
_From @stevewallin on November 29, 2017 9:13_

yes, it might be useful to have a 'fully loaded' build... especially as some of the commercial features land in OpenJDK that have not been available there in the past.

[2018-09-10 09:45] karianna commented on #485
_From @tellison on November 29, 2017 15:46_

@karianna what is the connection you are making between web start and javaFX? or are you just saying we should put in "everything" we can (which doesn't sounds like a great idea to me!).

We can discuss what people would expect to be included in an OpenJDK binary.

[2018-09-10 09:45] karianna commented on #485
@tellison Only because I was tired and misread the issue title :-/ - so ignore my comment!

[2018-09-10 09:46] karianna opened #486 "OpenJ9 s390 - Build failure seen with block overrun error"
_From @namrata-ibm on May 17, 2018 6:44_

While building TensorFlow from source on s390x Ubuntu 16.04 with AdoptJDK facing below error:
[code]
It seems this is related to AdoptOpenJDK on s390x. I have verified that the build with OpenJDK 8 works.
Further, verified the `nasm` file is valid. More discussion can be found here:
https://issues.apache.org/jira/browse/COMPRESS-453
https://github.com/tens

[2018-09-10 09:46] karianna commented on #486
_From @tellison on May 17, 2018 10:2_

Hi @namrata-ibm

Hard to tell from the limited info in the error.

Can you clarify:

Which build works OK for you?  From that we might start to narrow down wether it is a classes of JVM related issue, and then be able to ask you for more specific debug information.

[2018-09-10 09:46] karianna commented on #486
_From @namrata-ibm on May 17, 2018 10:53_

@tellison , Thank you for your response.

I am able to build TensorFlow with Openjdk-8-jdk installed from Ubuntu repository.
[code]
Build had completed with `Openjdk-8-jdk` with earlier minor versions too like `8u162`/ `8u151`.

Here are Jenkins jobs for reference:
1. With AdoptOpenJDK(Failing): https://ibmz-ci.osuosl.org/job/TensorFlow_IBMZ_CI/73/console

[2018-09-10 09:46] karianna commented on #486
_From @namrata-ibm on May 28, 2018 12:30_

After doing some more analysis on this issue, have below observations for further analysis:
While the nasm package is uncompressed using `Apache Commons Compress`, JIT shows some erroneous behavior as below:
For code snippet
[code]
when s=5, while loop should execute 6 times and exit. However due to some bug in JIT, it gets executed 7 times, as per below

[2018-09-10 10:33] sxa555 commented on #486
I would be tempted to try with the latest build from https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#s390x_linux since there have been quite a lot of enhancements between openj9 0.8.0 and 0.9.0.

[2018-09-10 10:36] karianna commented on #486
@namrata-ibm - Are you able to check with a newer build?

[2018-09-10 10:38] karianna commented on #485
@ildar - please open and issue at [Eclipse OpenJ9](https://github.com/eclipse/openj9)

[2018-09-10 10:38] #485 closed

[2018-09-10 10:39] karianna commented on #483
No longer an issue

[2018-09-10 10:39] #483 closed

[2018-09-10 10:40] karianna commented on #482
Covered in the TSC and Infrastructure repos.

[2018-09-10 10:40] #482 closed

[2018-09-10 10:41] #481 closed

[2018-09-10 10:41] #480 closed

[2018-09-10 10:41] karianna commented on #484
From @se35710 on May 1, 2018 12:6

In the build with tag jdk-10+23-20180430 (OpenJDK8_x64_Win_20180430.zip), the folder inside the zip archive is named jdk-10+46.

Copied from original issue: AdoptOpenJDK/openjdk10-nightly#1

[2018-09-10 10:43] karianna commented on #478
See #469

[2018-09-10 10:44] karianna commented on #477
@sxa555 Can you try on a later build?

[2018-09-10 10:46] karianna commented on #475
Not sure if this will be part of the build process or whether we just get release notes from upstream projects (more likely)

[2018-09-10 12:48] namrata-ibm commented on #486
@karianna , @sxa555 , I tried building with 0.9.0, unfortunately it doesn't help, get similar build error:
[code]

Log file with details:

[Adoptjdk090_TensorFlowError.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/2366611/Adoptjdk090_TensorFlowError.txt)

[2018-09-10 13:17] karianna commented on #486
@namrata-ibm Sorry to bounce you around but I suspect this needs to be reported upstream in [Eclipse OpenJ9](GitHub - eclipse/openj9: Eclipse OpenJ9: A Java Virtual Machine for ...) as its a JIT issue in the J9 VM.

[2018-09-10 19:35] fjeremic commented on #486
@karianna it does sound like a JIT issue given that things start going wrong after a while. Likely a method got miscompiled somehow and the bug starts happening related to snippet of code posted in https://github.com/AdoptOpenJDK/openjdk-build/issues/486#issuecomment-419853972.

I suggest that you open an issue over at eclipse/openj9 for this. We will either need specific reproduction steps or a u

[2018-09-10 20:58] karianna opened #489 "LinkError on GUI apps on MacOS"
_From @helenmasters on September 5, 2017 13:7_

We are seeing an issue on OSX when we try to run any GUI applications.  It looks as though /Users/jenkins/workspace is hardcoded so cannot be resolved on the user's machine.

[code]

Here is the output from the otool command suggesting that the path is incorrect...

[code]

_Copied from original issue: AdoptOpenJDK/openjdk-jdk8u-backup#4_

[2018-09-10 20:58] karianna commented on #489
_From @Diagoras on September 6, 2018 16:53_

FWIW, I'm having the same issue. It's currently blocking us from migrating an application to AdoptOpenJDK.

[2018-09-10 20:58] karianna commented on #489
@johnoliver LMK if you want this moved to the build repo as a bug

[2018-09-10 20:58] karianna commented on #489
_From @johnoliver on September 7, 2018 12:15_

I think this was fixed, can you try a recent binary from https://github.com/AdoptOpenJDK/openjdk8-binaries/releases

[2018-09-10 20:58] karianna commented on #489
_From @Diagoras on September 10, 2018 19:36_

@johnoliver Hey, I tried with the Hotspot jdk8u-2018-07-26-16-12 release for MacOS, but ran into the same issue. Specifically:

[code]

Can we reopen this issue?

[2018-09-10 20:58] karianna commented on #489
Reopened, but I'll shift it to the build repo

[2018-09-11 13:53] jefrajames commented on #469
Maybe you know it, but the issue remains with  jdku181-b13.

[2018-09-12 10:26] karol-marcjan-gl opened #502 "`pull access denied` when building the openj9 variant of Linux jdk8u under Windows 10"
OS:
![image](https://user-images.githubusercontent.com/43201948/45418979-41c36f00-b686-11e8-8ccf-27a904a496fa.png)
Docker:
![image](https://user-images.githubusercontent.com/43201948/45417665-02dfea00-b683-11e8-8188-ef0b0e80a6bb.png)
Shell (Git Bash):
![image](https://user-images.githubusercontent.com/43201948/45417740-2c007a80-b683-11e8-892b-95c076fb8ed9.png)

1. I am tried to build an OpenJDK 8

[2018-09-12 10:37] karianna commented on #502
Hmm, So docker on windows uses virtual box under the hood right?

[2018-09-12 10:40] karol-marcjan-gl commented on #502
No, it uses Hyper-V.

[2018-09-12 10:41] karianna commented on #502
OK, I'm trying locally (docker for Mac)

[2018-09-12 10:46] karianna commented on #502
So I get further than you and hit the jdk8u github repo is empty issue - which makes sense as we're trying to rebuild it at the moment.  So you should see something like the output in the log attached
[jdk8u-openj9-docker-build.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/2374744/jdk8u-openj9-docker-build.txt)

[2018-09-12 10:47] karianna commented on #502
I think you'll need to wait until we have that source repo back up - hopefully by the end of today.

[2018-09-12 11:56] AdamBrousseau commented on #502
I'm not sure if you need to use the Adopt build scripts, but if you're just looking to build OpenJ9, there are instructions from the OpenJ9 project which have the option to use Docker.
https://github.com/eclipse/openj9/blob/master/buildenv/Build_Instructions_V8.md

[2018-09-12 18:33] sophia-guo opened #504 "Untar Mac OpenJDK10 and OpenJDK10u-jre got the same packed folder name"
Grab both Mac OpenJDK10 and OpenJDK10u-jre jar
[code]
and untar got same folder name `jdk-10.0.2+13-jre`

[2018-09-12 18:55] karianna commented on #504
Did you grab the binary from openjdk10-binaries or openjdk10-release repo?

[2018-09-12 19:00] sophia-guo commented on #504
Grab from upstream build:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk10u/job/jdk10u-mac-x64-hotspot/19/

[2018-09-12 19:02] karianna commented on #504
OK that's the new scripts - we'll take a look.

[2018-09-13 09:36] johnoliver commented on #504
The jdk I downloaded from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk10u/job/jdk10u-mac-x64-hotspot/19/ is:

`OpenJDK10U_x64_mac_hotspot_2018-09-12-06-01.tar.gz`

It looks to me that in that tar the dir is `jdk-10.0.2+13`.

In your original post you said:

`OpenJDK10U_x64_mac_hotspot_2018-09-11-06-01.tar.gz`

Note this is from the 11th not 12th, I presume it came from: https://c

[2018-09-13 12:33] sophia-guo commented on #504
Interesting I downloaded `OpenJDK10U_x64_mac_hotspot_2018-09-11-06-01.tar.gz` and got the correct dir on my personal Mac.

However if I log in the macos1010-x64-1: {ip: 74.80.250.151, user: admin} and in `/Users/jenkins/workspace/openjdk10_hs_systemtest_x86-64_macos/openjdkbinary`

There are only two zip files and unzip the file ( no any other dirs) `OpenJDK10U_x64_mac_hotspot_2018-09-11-06-01.tar

[2018-09-13 15:08] sxa opened #509 "Trying to set V=1 via MAKE_ARGS_FOR_ANY_PLATFORM fails"
Based on  trying it with the openjdk8_openj9 build:
[code]

[2018-09-13 16:12] karianna commented on #502
@karol-marcjan-gl Source repo is back up - can you try again?

[2018-09-15 11:44] oakad commented on #356
@pbi-qfs That's what `jlink` is supposed to be for these days. If you want to ship a chopped down jvm with your app, just use `jlink` to leave the unnecessary modules out.

If you look at the JDK structure, the actual java compiler bit is not that large - not much is saved by simply shipping a "compiler-less" jvm (as opposed to carefully applied `jlink`).

[2018-09-16 05:41] dbaxa opened #514 "Seemingly insecure import / download of openjdk sources"
Hi this is in relation to a [post](http://mail.openjdk.java.net/pipermail/security-dev/2018-August/018053.html) I sent to openjdk security-dev mailing list.

It appears to me that AdoptOpenJDK has no means of (securely) verifying openjdk mercurial sources that are [imported](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/git-hg/update-without-modules.sh#L36) & hosted on github as part o

[2018-09-17 06:37] pbi-qfs commented on #356
@oakad Thanks, I know about `jlink`, but that unfortunately does not solve the missing JRE problem:
* Afaik you have to modularize your software, and in some situations, that's just not feasible (yet).
* If you allow user extensions via scripting, the user relies on having the full JRE available, not just the modules randomly required by the application core.

[2018-09-17 14:36] karianna commented on #469
Closing this as a duplicate

[2018-09-17 14:36] #469 closed

[2018-09-18 01:33] oakad commented on #356
On the other hand, there is no option in the Openjdk build script which says "build jre". So by necessity, all builds are "jdk" whereupon you can cull that down to obtain a "jre".

So the question is: what exactly do you want to remove from the jdk tarball? If it's only the compiler, I assure you that the volume savings will be rather less than impressive. :-)

[2018-09-18 08:18] karianna commented on #356
There's still a target to make legacy JRE in the 11 code stream, not sure if/when it will be removed.

[2018-09-18 12:01] namrata-ibm commented on #486
Thanks, I'll create an issue with eclipse/openj9.

[2018-09-18 15:18] nohn commented on #458
I'd suggest to change this to be more generic: "Package OpenJDK for Debian"

[2018-09-18 18:23] sxa555 opened #527 "Linux/ppc64le JDK11 not building cleanly with GCC7.3"
Ref: https://ci.adoptopenjdk.net/job/openjdk11_openj9_build_ppc64le_linux
11 failed (GCC73+old ccache)
12 succeeded (GCC48+old ccache)
13 failed (GCC73+no ccache)
14 failed  (GCC74+new ccache)
FYI @sophia-guo
Related: #451

[2018-09-19 02:43] oakad commented on #356
I can't see it in `configure --help`, so while I trust you that it's there somewhere, it's clearly not made to be found easily. :-)

[2018-09-19 09:41] karianna commented on #356
See my original comment, it's reportedly a hidden option :-)

[2018-09-21 09:57] Capa83 commented on #384
Hi, we have the question if the JavaFX components will be part of this distribution as well ? Currently in the nightly we don`t see it.

[2018-09-22 07:53] alexhass commented on #459
https://github.com/AdoptOpenJDK/openjdk-installer/pull/6

[2018-09-22 09:01] alexhass commented on #459
Demo installers can be downloaded from https://www.hass.de/content/openjdk-msi-package-enterprise-deployment-available

[2018-09-23 12:02] rubin55 opened #555 "java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty"
**AdoptOpenJDK 8 on Windows x64 (OpenJDK8_x64_Win_jdk8u172-b11.zip)**

When using a Java application like IntelliJ, Eclipse or Maven, and the application connects to a HTTPS url, an SSLException is thrown:

[code]

Other aspects of the JDK seem to work normally, but this is kind of a showstopper. Note that I run AdoptOpenJDKs build for this version on MacOS also; there I do not get this error, so

[2018-09-24 09:14] karianna commented on #555
We weren't bundling cacerts with windows builds (historical bug).  We've fixed this in the build scripts but need to release 1.8.0._181+b13 this week.

See #478

[2018-09-24 09:14] #555 closed

[2018-09-24 11:59] rubin55 commented on #202
This bug still exists in the currently available for download OpenJDK8_x64_Mac_jdk8u172-b11.tar.gz:

Part of stacktrace when attempting to load libfontmanager.dylib:
[code]

Show Java version:
[code]

Show linker config for libfontmanager.dylib, linking to @rpath/**libfreetype.6.dylib**:
[code]

Show included libfreetype filename to be erroneously named as **libfreetype.dylib.6**
[code]

[2018-09-24 13:04] karianna commented on #202
Yes, those binaries were produced under the old build scripts.  Are you able to try a nightly build:

https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-09-24-11-44/OpenJDK8U_x64_mac_hotspot_2018-09-24-11-44.tar.gz

[2018-09-24 18:08] illingtonFlex opened #561 "No version available for ppc64_linux (Big Endian)"
Looks like OpenJDK had a port for ppc64_linux at one point, as listed here: http://cr.openjdk.java.net/~simonis/ppc-aix-port/index.html

Now the only ppc versions available are ppc64le_linux and ppc64_aix. Can we get binaries for ppc64_linux (non-le)?

[2018-09-24 18:57] karianna commented on #561
We'll need to source a host for this and see if it's still supported.

[2018-09-25 10:11] rubin55 commented on #202
Hi @karianna , mmm still seems to be an issue there:

[code]

[2018-09-25 12:38] nohn commented on #454
@sxa555 @gdams can you please share more details about the Debian build process? I think, we have to move forward with this, see also #458.

[2018-09-25 15:20] karianna commented on #454
This might be more of a openjdk-installer repo issue as well, I'll move it if need be.

[2018-09-26 07:06] dbaxa opened #563 "Consider using https://github.com/agl/extract-nss-root-certs as part of extracting CA certificates from the Mozilla ca bundle."
Consider using https://github.com/agl/extract-nss-root-certs as part of extracting CA certificates from the Mozilla ca bundle.

[2018-09-26 08:12] dbaxa commented on #563
You might find https://github.com/asecurityteam/add-mozilla-ca-certs-to-java-keystore/blob/master/diff_java_keystores.py (I can change the licence if that is desired).

[2018-09-26 12:52] karianna commented on #563
@johnoliver I think this is superseded now correct?

[2018-09-26 12:54] johnoliver commented on #563
Possibly, currently we support shipping both the JEP319 certs and the mozilla cert list, we could go with only supporting the JEP319 list

[2018-09-26 13:13] karianna commented on #563
We'll need to decide on our certs policy - TBD in the security team

[2018-09-26 14:24] karianna opened #568 "Update docs with config_init params"

[2018-09-26 18:20] karianna commented on #568
See #570

[2018-09-27 08:56] karianna commented on #110
@gdams Any ideas?

[2018-09-27 14:06] AdamBrousseau commented on #237
Likely resolved by the new build scripts?

[2018-09-27 14:06] SzentnerTsIT commented on #384
Ok, will do!

[2018-09-27 14:34] SzentnerTsIT opened #577 "JavaFX is missing in OpenJDK 8 Distributions"
Hallo,

currently JavaFX libraries are missing from the OpenJDK 8 Windows Distributions. Is there a plan to include JavaFX in the AdoptOpenJDK Distributions?

Many thanks in advance for your help!

[2018-09-27 14:44] karianna commented on #577
@SzentnerTsIT Yes, we have a few open issues on this already.  It'll be a few weeks at best I'm afraid.  We'll be starting with Java 11 and going backwards

[2018-09-27 16:09] AdamBrousseau opened #579 "Compile OpenJ9 for Linux on ppc64le on Rhel/Cent 7"
Currently the builds are compiling OpenJ9 on Linux ppc64le on Ubuntu16 ([build-osuosl-ubuntu1604-ppc64le-1](https://ci.adoptopenjdk.net/computer/build-osuosl-ubuntu1604-ppc64le-1/))

I believe the Adopt Ubuntu 16 ppc64le machine has a newer glibc version than rhel/cent7. When I try and run these SDKs on a Centos 7 machine I get the error
```glibc_2.22 not found```

https://ci.adoptopenjdk.net/job/

[2018-09-28 00:00] don-vip commented on #411
Even Oracle will finally provide a Server JRE for JDK 11, see https://twitter.com/DonaldOJDK/status/1044970153392427010

[2018-09-28 12:27] karianna commented on #411
@johnoliver Can you give the instructions in the issue description a go for a Linux x86 Java 11 build and see if it just works out of the box?

[2018-09-28 13:08] pbi-qfs commented on #411
Providing a Java-11 Desktop-JRE (as long as the build targets are available in the source) for download as s substantial added value in comparison to what Oracle offers.

[2018-09-28 14:51] karianna opened #583 "docker builds leave volumes behind even when cleaning"
Even when you pass in the --clean-docker-build flag it still uses the old volume.

Another side issue to think about is that even if you wanted to keep the volume, having used a volume for say jdk8u and then building jdk9u means you'll get errors.  So maybe we need to detect and warn about that.

Maybe the volume should only be kept if you use the --keep flag?

[2018-09-28 14:54] karianna commented on #583
potential suggested fix is to suffix the volume with the version and variant of the build

[2018-09-28 14:57] karianna opened #584 "Add some basic docker documentation on how to ssh into the container"

[2018-09-28 14:59] sxa555 opened #585 "Do something to help with docker build not being able to copy back to host if UID!=1000"

[2018-09-28 15:44] karianna commented on #356
Closed via #582

[2018-09-28 15:44] #356 closed

[2018-09-28 15:45] karianna commented on #411
Fixed via #582, but waiting to see if we need to do more to add it to the API/site

[2018-09-28 15:51] karianna commented on #411
Should go all the way through to the website and API, so closing for now, please raise a bug if that's not the case within the next few days.

[2018-09-28 15:51] #411 closed

[2018-09-28 15:52] karianna opened #586 "`-r` and `-s` get mixed up by end users, so either swap them or doc them better"

[2018-09-28 20:05] pdl3 commented on #489
Seeing a possibly related error on MacOS 10.13.6 using AdoptOpenJDK jdk8u172-b11
Setting up a symlink is a workaround for the issue:
`ln -s libfreetype.dylib.6 libfreetype.6.dylib`

Stacktrace
`Exception in thread "main" java.lang.UnsatisfiedLinkError: /Library/Java/JavaVirtualMachines/jdk8u172-b11/jre/lib/libfontmanager.dylib: dlopen(/Library/Java/JavaVirtualMachines/jdk8u172-b11/jre/lib/libfontm

[2018-09-29 07:56] karianna commented on #476
So this was actually a 'bug' with OpenJDK itself.  Severin has submitted a RFR to add these sources for 8.  We may see this come in for 8u202

[2018-09-29 07:57] karianna commented on #306
I think this is now done - we can reopen if need be.

[2018-09-29 07:57] #306 closed

[2018-09-29 08:00] karianna commented on #387
Should be resolved in the latest nightlies, please let us know if you get unexpected results!

[2018-09-29 08:00] #387 closed

[2018-09-29 15:49] don-vip commented on #476
Thanks a lot! [Link for reference](http://mail.openjdk.java.net/pipermail/jdk8u-dev/2018-September/007917.html).

[2018-09-29 22:15] smlambert opened #588 "JDK11 Release status page does not differentiate between largeHeap & not"
The test links on this page:
https://github.com/AdoptOpenJDK/openjdk-build/wiki/OpenJDK11-Release-Status

got to the [same location](https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_linux) for openjdk11_j9_openjdktest_x86-64_linux and openjdk11_j9_openjdktest_x86-64_linux_largeHeap tests (and also for systemtest, but I believe we need to enable systemtests for that 'flavour').

Also

[2018-09-29 22:17] pshipton commented on #588
Not just the test links, but the JVM build as well.

[2018-09-30 12:48] smlambert commented on #588
The build/compile jobs are linked to in the Platform column and those are different:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11/job/jdk11-linux-x64-openj9/
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11/job/jdk11-linux-x64-openj9-linuxXL/

The Release job (which publishes the binaries to the website) are the same.  This one makes some sense as the 2 binaries

[2018-10-01 12:54] DavyLandman commented on #478
I might be looking at the wrong builds, but if I'm reading Jenkins correctly this is the windows build that should have this commit in there:  https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/ And I just downloaded the latest build from there ([build 27](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/27/)

[2018-10-01 18:31] DavyLandman commented on #478
I was going the long way around to get a correct cacerts for my 171 download.

Repo:

[code]

So the zip contains a 32byte cacerts file.

I solved my own problem by reading the buildscript and figuring out it just copies it from the repo, so I took that file. Just thought to leave a comment to point out the build server is not producing the right zip yet.

[2018-10-03 15:37] pshipton opened #604 "Enable and bundle an openssl library with OpenJ9 0.11.0 builds"
The OpenJ9 0.11.0 release is coming in Oct, with final builds created for Oct 19.

One of the features [1] of the release is using the openssl 1.1.x library, which we'd like to bundle with the OpenJ9 Java 8 build for the time being.
[1] https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/112

There is a choice to use a pre-built openssl library installed on the build machines (including header

[2018-10-03 15:41] pshipton commented on #604
@sxa555 @smlambert @DanHeidinga @enasser @mstoodle @mbvreddy

[2018-10-03 15:46] pshipton commented on #604
I expect the openssl 1.1.1 should be used since it is the latest stable version and the LTS version.
https://www.openssl.org/source/

[2018-10-04 03:54] breun commented on #321
I'm the maintainer of the OpenJDK ports in MacPorts. I'm currently using Oracle's OpenJDK builds, but I'm considering AdoptOpenJDK's builds.

I think it would be great if the AdoptOpenJDK releases for macOS would be ready to go when unpacked under `/Library/Java/JavaVirtualMachines`, just like the Oracle OpenJDK builds, because otherwise MacPorts would have to duplicate the stuff the installer doe

[2018-10-04 08:48] karianna commented on #321
Also, see https://github.com/AdoptOpenJDK/homebrew-openjdk/issues/9

[2018-10-05 10:45] JanVomlel opened #608 "IIOException "tEXt chunk length is not proper" on opening png file."
When I try to read some png files, I get exception:

    at java.desktop/com.sun.imageio.plugins.png.PNGImageReader.readMetadata(PNGImageReader.java:891)
    at java.desktop/com.sun.imageio.plugins.png.PNGImageReader.getImageMetadata(PNGImageReader.java:1799)
    Caused by: javax.imageio.IIOException: tEXt chunk length is not proper
    at java.desktop/com.sun.imageio.plugins.png.PNGImageReader.pa

[2018-10-05 13:52] karianna commented on #608
@JanVomlel Can you give us the exact version of the AdoptOpenJDK binary that you are using?

[2018-10-05 14:12] pshipton opened #610 "OpenJ9 0.9 releases are missing the xlinux large heap build"
The OpenJ9 0.9 releases are missing the xlinux large heap builds

https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9

https://adoptopenjdk.net/archive.html?variant=openjdk10&jvmVariant=openj9

[2018-10-05 14:36] sxa555 commented on #610
The good news is that it's still there at https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/releases/tag/jdk8u181-b13_openj9-0.9.0

[2018-10-05 16:42] sxa555 commented on #610
The solution in that PR is a bit of a "tactical fix" and is a result of the filenames being changed from `LinuxLH` to `LinuxXL`. The change in https://github.com/AdoptOpenJDK/openjdk-website/pull/319 was put in for JDK11 and is what caused it to disappear from the JDK8 release

@pshipton Hypothetically, would it be a problem if we left mt fix in place until we did a subsequent JDK8/J9 release with

[2018-10-05 18:51] pshipton commented on #610
@sxa555 I'm a little fuzzy on the meaning of your comment, but I chatted with @DanHeidinga and we think the Java 8 0.9 release should have a large heap download, even if this breaks it for Java 11 until the October release.

[2018-10-05 22:01] alexhass opened #611 "Name all versions the same way"
I feel stressed by the different version schemas you are using. Every release changes the version string. I have no idea why this is so inconsistent.

Could you build with "one" version schema that is always the same, please?

Not:

- jdk8u172-b11
- 10.0.2.13 (good)
- 10.0.2.13_openj9-0.9.0
- 11_28

But simply a semantic version like

- 8.0.172.11
- 10.0.2.13
- 11.0.0.28

Creating a setup builder

[2018-10-05 22:03] alexhass commented on #463
Any chance that this bug get some priority and get fixed soon? Version 11 also has files with 11.0.0.0 only.

[2018-10-06 09:49] karianna commented on #611
Hi @alexhass - unfortunately we have to follow the version strings that upstream OpenJDK and OpenJ9 projects provide.  This ensures that tooling in the ecosystem 'just works'.

[2018-10-06 09:49] #611 closed

[2018-10-06 09:50] karianna commented on #476
I'll close this as our nightly builds will pick this up in due course.

[2018-10-06 09:50] #476 closed

[2018-10-06 09:51] karianna commented on #463
Hi @alexhass - which files are these in particular?

[2018-10-06 11:35] alexhass commented on #463
Every dll, exe and do on.

[2018-10-06 12:49] karianna commented on #463
Thanks - we've just finished wrapping up the Mac installer and will start finishing the exe and your MSI next week.

[2018-10-06 13:41] alexhass commented on #463
Great news. Thanks. I just have a lot of fixes pushed in https://github.com/AdoptOpenJDK/openjdk-installer/pull/11

[2018-10-07 12:37] alexhass opened #616 "Create JRE builds"
I have seen there have been some pulls to allow JRE builds, but I cannot download them. Can you build JRE versions, please?

I'd like to create a MSI setup for JRE asap.

[2018-10-07 15:42] karianna commented on #616
@alexhass Which JRE's are you not seeing?  openjdk11-binaries repo has them for 11...

[2018-10-07 18:36] alexhass commented on #616
Oh - I looked only at https://adoptopenjdk.net/

https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11%2B28 looks good.

[2018-10-07 18:36] #616 closed

[2018-10-07 19:46] alexhass opened #617 "JRE foldername should be "jre-11+28" and not "jdk-11+28-jre""
Just extracted the folder and have seen the folder is named very strange. We should follow Oracle. They name the folder `jre-[version]`, too. Prefixing with JDK is missleading if this is the JRE only.

[2018-10-07 22:06] alexhass commented on #617
Aside, schould it not mean "OpenJRE" where "OpenJDK" is normally used?

[2018-10-08 08:50] karianna commented on #617
Curiously no, it's officially the JRE component of OpenJDK

[2018-10-08 08:52] karianna commented on #608
@JanVomlel and is this also an issue with Oracle's OpenJDK 11 release (You can grab this from https://jdk.java.net).  I'm trying to ascertain if this is an overall OpenJDK problem that needs to be reported upstream.  Which O/S Platform are you running?

[2018-10-08 09:38] JanVomlel commented on #608
Windows x64, OpenJDK 11 with Hotspot
On version 10 it is working well.

[2018-10-08 09:53] karianna commented on #608
Hi @JanVomlel OK I think this is a genuine upstream bug.  Are you familiar with the OpenJDK mailing lists?

[2018-10-08 09:53] #608 closed

[2018-10-08 09:58] minhtran83 commented on #387
@karianna do you know latest nightly build of openjdk8 included the fix? Thanks

[2018-10-08 10:04] karianna commented on #387
I believe that the nightlies should have fixed it, we'd love to know if it hasn't and what the version string is that you're seeing / Maven is complaining about!

[2018-10-08 12:59] karianna commented on #617
agree on the zip file name :-)

[2018-10-08 22:43] minhtran83 commented on #387
@karianna I will give it a try today and will update you later

[2018-10-09 00:32] minhtran83 commented on #387
@karianna I would say the latest binary **OpenJDK8U_x64_linux_hotspot_2018-09-30-17-14.tar.gz** fixed the problem

[2018-10-09 01:46] karianna commented on #387
Great thank you!

[2018-10-09 05:38] minhtran83 commented on #478
@karianna I am still seeing this problem with our Linux builds

It is pretty the same with this issue https://github.com/oracle/graal/issues/493

Adding this flag will help fix it **-Djavax.net.ssl.trustStore=[Path to Adopt OpenJDK 8u181_b13]/jre/lib/security/cacert**

But after that it introduces this bug https://github.com/AdoptOpenJDK/openjdk-build/issues/555

I am running with the latest night

[2018-10-09 11:48] SzentnerTsIT opened #619 "Question about AdoptOpenJDK security patches strategy"
Dear OpenJDK,

we see, that currently AdoptOpenJDK 8 is on security patch 172, but the most up-to-date state is 181. We saw as well, that 181 will come out soon. We have two questions:
- When is it realistic, that 181 will be available ?
- Can it be expected for the future, that the Adopt distributions will have the most up-to-date security patches or will Adopt usually be behind?

Thanks and kind

[2018-10-09 14:18] sxa555 commented on #610
@pshipton The question is "Would you be ok with the Java 8 0.9 large heap release not being visible after we have done the next quarterly release of Java 8 0.11?" - The builds would still be available directly from the github release, but not necessarily from the web site.

[2018-10-09 14:34] DanHeidinga commented on #610
I can live with that.  As long as the current release (what ever it is at any given moment) has a large heap download from the website.

[2018-10-09 15:17] pshipton commented on #604
fyi the openssl build instructions for Windows

Requirement are [ActivePerl](https://www.activestate.com/activeperl/downloads) and [nasm](https://www.nasm.us/pub/nasm/releasebuilds/2.13.03/) to build OpenSSL. Install it and add it to PATH.

**Windows 32-bit**
[code]

**Windows 64-bit**
[code]

[2018-10-09 15:18] pshipton commented on #604
Note only 1.1.0 works for zlinux at this time. https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/122

[2018-10-09 15:20] johnoliver commented on #610
I think the solution here is to identify large heap builds based on the "heap_size" property that the api returns rather than searching for strings in the filename. The heap_size returned is correct between 8/9/10 and binaries release before and after the script migration

[2018-10-09 16:01] karianna commented on #619
Hi Tamas,

We'll try to get a 181 release out this week or next at the latest.  We
anticipate being only a day or 2 behind for future releases

Cheers,
Martijn

On Tue, 9 Oct 2018 at 12:48, SzentnerTsIT <notifications@github.com> wrote:

[2018-10-09 16:45] sxa555 opened #624 "OpenJ9 windows 64-bit JDK8 builds not working"
[code]

[2018-10-09 16:45] sxa555 commented on #624
Possibly due to the wrong version of mingw being used. Adding `mingw-cygwin` and `mingw-standalone` tags to the appropriate machines since OpenJ9 needs a different one for 11, and everything before 11

[2018-10-09 16:46] sxa555 commented on #624
Ref: https://github.com/AdoptOpenJDK/openjdk-build/pull/622

[2018-10-09 17:32] sxa555 commented on #624
Also needs `--skip-freetype` for the freetype include/lib options to take effect. But then I still get this:
[code]

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/67/console

[2018-10-09 17:52] SzentnerTsIT commented on #619
Hallo Martijn,

great, thanks!

Kind regards,
Tamás

[2018-10-09 18:17] sxa555 commented on #624
Issue is caused by the `curl` command on the windows machines always returning with rc=127 for some reason. Switching to using wget under https://github.com/AdoptOpenJDK/openjdk-build/pull/626

[2018-10-09 19:57] AdamBrousseau commented on #624
The test scripts use curl as well. Cc @smlambert

[2018-10-10 11:50] dashorst commented on #465
Using the command:

[code]

I get the following list of vendor-related properties:

[code]

IMO the following properties should note AdoptOpenJDK in some form:

- `java.vm.name` = AdoptOpenJDK OpenJDK 64-Bit Server VM
- `java.vm.vendor` = AdoptOpenJDK
- `java.vendor` = AdoptOpenJDK
- `java.vendor.url` = https://adoptopenjdk.net
- `java.vendor.url.bug` = https://github.com/AdoptOpenJDK/adoptopenjdk

[2018-10-10 17:44] sxa555 commented on #624
Have attempted to build with the old windows script at https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_windows/180/console

[2018-10-10 22:57] sxa555 commented on #624
![image](https://user-images.githubusercontent.com/6487691/46770676-3ba5ca00-cce8-11e8-957a-8a43a1e31a07.png)
^^^ This is from the tmp directory being used by https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/85/console and shows that the file is present

[2018-10-11 10:51] DavyLandman commented on #478
@karianna and @johnoliver I think this issue can be closed, both windows and linux builds contain the same cacerts now.

@minhtran83 if downloading the latest releases from CI haven't fixed your issue, maybe you should open a new issue, and provide some more context in that issue.

## Windows

[code]

## Linux
[code]

[2018-10-11 11:04] #478 closed

[2018-10-11 12:31] sxa555 opened #633 "OpenJ9/JDK11/Linux-ppc64le not able to checkout openj9 branch"
From https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/38/consoleFull
[code]

[2018-10-11 12:41] AdamBrousseau commented on #633
Link is for an 8 build that appears to be fine.

[2018-10-11 12:52] andrew-m-leonard commented on #624
@johnoliver The configure automatically gets the --with-add-source-root=$full_src_root_dir/closed/adds added during configure time... The $full_src_root_dir will be /tmp/tmp.... by the looks of things, and it looks as though no fixpath gets applied to that to prepend /cygwin/... hence javac can't find the source...

[2018-10-11 13:09] andrew-m-leonard commented on #624
As a comparison a win64 build of ours:
[code]
whereas the Adopt log:
[code]

So top-level directory on our build is a cgydrive path, but not in the Adopt build....?

[2018-10-11 13:12] andrew-m-leonard commented on #624
This maybe an issue too:
[code]

[2018-10-11 13:35] sxa555 commented on #633
Removing the old workspace on the machine completely appears to have resolved this

[2018-10-11 13:35] #633 closed

[2018-10-11 14:46] johnoliver commented on #624
Hopefully #635 should fix it, a test on https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-openj9/27/ seemed to go fine. Been tidied up a bit since that build but I think should work

[2018-10-11 16:16] sxa555 commented on #610
@johnoliver I believe https://github.com/AdoptOpenJDK/openjdk-website/pull/333 addresses the concerns therefore I'm closing this issue ... If I'm mistaken please reopen ;-)

[2018-10-11 16:16] #610 closed

[2018-10-11 18:44] Borwe commented on #555
Still missing 🤔

[2018-10-11 18:55] pshipton commented on #610
@sxa555 I cannot re-open this issue. The xlinux large heap build is still not being shown on the jdk8 archive page. https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9

[2018-10-11 18:57] pshipton opened #639 "OpenJ9 0.9 archive lists are missing the xlinux large heap build"
Opened #610 for this issue, which was closed although the issue is not fixed. I cannot reopen #610.

The OpenJ9 0.9 archive lists are missing the xlinux large heap builds

https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9

https://adoptopenjdk.net/archive.html?variant=openjdk10&jvmVariant=openj9

[2018-10-11 18:57] pshipton commented on #610
Opened a new issue #639

[2018-10-11 19:04] karianna commented on #555
@Borwe Which JDK are you using from us?

[2018-10-11 19:06] karianna commented on #639
Suspect this is a website or API issue - https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9 does show a Linux Large Heap variant.

@johnoliver Is this the XL vs LH suffix issue we were discussing?  I think your new properties based solution should avoid that issue....

[2018-10-12 11:59] sxa555 commented on #604
zLinux issue covered and resolved under https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/527. Closing now that PRs have gone in to add the appropriate options to the JDK8/J9 bulids

[2018-10-12 11:59] #604 closed

[2018-10-12 13:49] #639 closed

[2018-10-14 16:31] jsander128 opened #640 "SHA file not correct"
In the SHA file from OpenJDK 11 with Hotspot is a wrong file name.
The tool "sha256sum" can not validate against this SHA file.

`sha256sum -c OpenJDK11-jdk_x64_linux_hotspot_11_28.tar.gz.sha256.txt
sha256sum: target/linux/x64/hotspot/OpenJDK11-jdk_x64_linux_hotspot_11_28.tar.gz: No such file or directory
target/linux/x64/hotspot/OpenJDK11-jdk_x64_linux_hotspot_11_28.tar.gz: FAILED open or read
sh

[2018-10-14 17:54] amczarny commented on #583
The -c will properly clean the voulmes and containers. Thera is also a suffix for diffrent jdk build.
I sugguest to close the issue.

[2018-10-14 18:57] PierreZ opened #641 "Provide a new platform linux-x64 with ZGC enabled"
Hi !

Today, I wanted to play a bit with [ZGC](https://wiki.openjdk.java.net/display/zgc/Main). I downloaded the release `jdk8u172-b11` on [https://adoptopenjdk.net/](https://adoptopenjdk.net/), and I was surprised to see this log when starting my application:

[code]

From what I can see [here](https://wiki.openjdk.java.net/display/zgc/Main), ZGC needs to be enabled with at compile time with a `s

[2018-10-14 21:00] ferstl opened #642 "JDK11 build for Windows is quite different from the java.net build"
Maybe this is not an issue but I didn't find another place to ask/report it.

When looking at the OpenJDK 11 builds for Windows from AdoptOpenJDK and jdk.java.net they look quite different.

First, the build from AdoptOpenJDK is about 45% larger then the one from java.net (415MB vs. 287MB):

[code]

Second, when looking at the `bin/` directory the AdoptOpenJDK build seems to use different DLLs tha

[2018-10-15 09:07] #583 closed

[2018-10-15 09:12] karianna commented on #642
Hi @ferstl - Great questions!

1.) The alternative DLLs are just a reflection of the toolchain that Adopt uses to build OpenJDK.  This happens to be different to Oracle's OpenJDK build and is likely different to OpenJDK builds by other vendors as well.

2.) We have deliberately left in the debug information as of when we started AdoptOpenJDK our primary audience was developers.

We do need to docu

[2018-10-15 13:49] karianna commented on #640
@jsander128 Should now be resolved.

[2018-10-15 13:49] #640 closed

[2018-10-15 14:41] marschall opened #645 "classlist different from OpenJDK built by Oracle"
When I compare the `lib/classlist` files of  OpenJDK 11 built by Oracle and AdoptOpenJDK 11 the contents are different (the contents seem to be unsorted first, so I had to pipe the through `sort` first)

The following is the output of `diff`

[code]

* `<` means present in OpenJDK 11 built by Oracle but missing in AdoptOpenJDK 11
* `>` means missing in OpenJDK 11 built by Oracle but present in Ado

[2018-10-15 14:53] johnoliver commented on #645
well even if it is not listed in `lib/classlist`. At least for DayOfWeek, it is present in `src.zip`.
The class is present when you run `jmod list jmods/java.base.jmod`

And the following program successfully compiles and runs
[code]

So why it is not in `lib/classlist` I dont know, but that class is present

[2018-10-15 16:37] teamacs commented on #443
We have tested the following new releases and confirmed the issue also exists on Windows in these additional binaries:
- OpenJDK 11 with Hotspot (Latest release)
- OpenJDK 11 with Eclipse OpenJ9 (Latest release)
- Oracle JDK 11 (Latest release)

[2018-10-15 16:57] vroyer opened #646 "Build small footprint openjdk8 for profile compact1, compact2 and compact 3"
For dockerised java 8 applications, it would be great to have small footprint openjdk8 JRE with [compact profiles](https://www.oracle.com/technetwork/java/embedded/resources/tech/compact-profiles-overview-2157132.html) (compact1, compact2 and compact3). For exemple, compact3 should be about 24Mb footprint vs. 140Mb for the full JRE. [Here](https://github.com/wkozaczuk/openjdk8_compact_profiles_bui

[2018-10-15 21:35] amczarny opened #647 "Docker run with unused label"
The docker-build.sh uses
[code]
the -lst flag will create an empty label 'st'
[code]
[code]
I propose to remve that unsud flag

[2018-10-16 00:13] s50600822 opened #649 "Unclear issue when run makejdk-any-platform.sh on MacOsx"
Not sure if I'm doing it wrong but I wasn following the readme instruction, no idea what it means though:
_./makejdk-any-platform.sh jdk8u
Starting ./makejdk-any-platform.sh to configure, build (Adopt)OpenJDK binary
Working dir is ./build/
[debug] COPY_MACOSX_FREE_FONT_LIB_FOR_JDK_FLAG=false
[debug] COPY_MACOSX_FREE_FONT_LIB_FOR_JRE_FLAG=true
JDK Image folder name: j2sdk-bundle/jdk*.jdk
JRE Image

[2018-10-16 03:50] minhtran83 commented on #478
Thanks a lot @DavyLandman

[2018-10-16 09:04] #647 closed

[2018-10-16 09:20] karianna commented on #649
I'm unable to reproduce this. Do you have the very latest version of this repo cloned?

[2018-10-16 09:32] karianna commented on #649
Ah OK, I think I see what the problem might be.

What version of OSX are you using and are you using the bash shell when you execute this?

[2018-10-16 09:33] karianna commented on #649
Try manually running:

`$(dirname $(dirname $(readlink $(which javac))))` and see what the response is

[2018-10-17 02:11] s50600822 commented on #649
Hi I no longer have that msg. Currently if I ran that, it will bring me to:
➜  Current pwd
/System/Library/Frameworks/JavaVM.framework/Versions/Current

But yesterday after unable to build it from source I went ahead to switch from Oracle to Adopt with the method and distribution from https://adoptopenjdk.net/installation.html#x64_mac-jdk

Now I no longer have that issue

I think it's no longer ne

[2018-10-17 02:11] #649 closed

[2018-10-17 08:51] #584 closed

[2018-10-17 08:52] karianna commented on #649
Hi @s50600822 - OK you'd need to set the boot JDK to be Java 7 and also have Xcode 4.2 installed.  So probably easiest to use the binary from the website :-).

[2018-10-17 10:08] victornoel commented on #146
@karianna @neomatrix369 I see the build with debug symbols for linux (https://github.com/AdoptOpenJDK/openjdk-build/issues/146#issuecomment-314512338) has been removed. Any way to get it back? It's nice to build it at home but not very practical I find…

[2018-10-17 10:28] karianna commented on #146
We're going to produce these as separate builds yes, not 100% sure of timeframe yet though.

[2018-10-17 10:38] victornoel commented on #146
@karianna thanks for the feedback! You can count me in as a potential user ;)

[2018-10-17 11:12] sxa555 commented on #646
@dinogun Have you looked at these profiles?

[2018-10-17 11:14] sxa555 commented on #617
That's a good shout actually ... As an aside at one point I think I did toy with having the filename say "OpenJRE" when I did the initial work to produce the JRE packages but decided it didn't look right ;-)

[2018-10-17 11:18] sxa555 commented on #579
@AdamBrousseau I am going to close this as a dup of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/256 - as per the PR you've seen (which only appears to affect 10/11 because they were the only ones explicitly locked to Ubuntu) this should now be enough - I did some builds yesterday on our Centos/ppc64le machines and they looked ok, so now that the PR is merged my plan is to remove

[2018-10-17 11:18] #579 closed

[2018-10-17 12:30] karianna commented on #646
IIRC we have to produce them from our pipelines for the openjdk-docker project to utilize.

[2018-10-17 13:36] s50600822 opened #656 "Can the jdk come with jvisualvm"
Oracle JDK include https://visualvm.github.io/ among JAVA_HOME/bin
Recently I switched to AdoptOpenJDK and as a habit I invoke jsivualvm to poke my running JVM when it's running slow, only to realized it wasn't included. Would be cool if it is.

[2018-10-17 13:49] karianna commented on #656
visualvm is no longer provided with OpenJDK but you can get it independently from https://visualvm.github.io/

[2018-10-17 13:49] #656 closed

[2018-10-17 16:58] s50600822 commented on #656
ah yeah that was what I ended up doing. I'm just saying it's kind of a nice "feature" to include. You meant it used to be included but removed for some reason?

[2018-10-17 17:11] alexhass commented on #617
Yeah, but here we should fix it. The install folder is already clear... „C:\Program Files\AdoptOpenJDK\jre-11.0.0.18“ does not require more „jdk“... and it is really the jre. Let‘s follow Oracle naming here, please.

[2018-10-17 18:29] karianna commented on #617
@johnoliver perhaps one to fix before the 192 release

[2018-10-17 21:00] pshipton opened #658 "system tests failing on aix due to libcrypto could not be loaded"
At OpenJ9 the following problem was found https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/129

OpenJ9 is disabling openssl in AIX builds (https://github.com/eclipse/openj9/pull/3334), I expect Adopt should do the same.

[2018-10-17 23:10] zman0900 commented on #489
Problem still exists with the jdk8u181-b13 build:
[code]
Actual lib name does not match rpath:
[code]

[2018-10-18 06:02] p0nder opened #659 "OpenJDK8-OPENJ9_x64_Windows_jdk8u181-b13_openj9-0.9.0 has an empty cacerts"
Despite #478 being closed, the current latest release that can be downloaded via https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9 still contains an empty truststore. Are you planning to have an official release with a populated truststore anytime soon?

[2018-10-18 10:35] p0nder commented on #659
Are you planning to publish a fixed release anytime soon?

[2018-10-18 10:56] sxa555 commented on #659
It'll be fixed when the 192 release comes out which should be in the next few days

[2018-10-18 10:58] johnoliver commented on #659
If you are desperate, there are nightlys with the cacerts https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

[2018-10-18 11:40] p0nder commented on #659
@johnoliver thank you for the alternative!
@sxa555 Thank you for giving me an estimate.

[2018-10-18 12:07] cykl opened #660 "Tarball paths start with a leading './'"
Unlike Oracle JDK,  Oracle builds of OpenJDK and Zulu, AdoptOpenJDK tarballs contain paths with a leading './'

[code]

This is not an issue when you untar the archive using something like `tar xf`, all those JDKs create a subfolder and put their files in it.

Discrepancies appears when you strip top level directory.

[code]

As top level directory naming varies across JDKs, striping it is quite u

[2018-10-18 12:28] sxa555 commented on #660
Interesting. When I tar stuff I usually automatically use `.` instead of `*` as the source to ensure it picks up any subdirs prefixed with `.` ... But yeah I can see why that would be a concern. Good spot!

[2018-10-18 13:07] Alasiac commented on #489
Just ran into this issue because we have a dependency on Apache POI, so we cannot migrate to adopt open jdk 8...

[2018-10-18 18:21] sxa555 opened #667 "boot JDK being set incorrectly for macos / hotspot / jdk10"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk10u/job/jdk10u-mac-x64-hotspot

Works when configure args is set to `-with-boot-jdk=/Users/jenkins/tools/hudson.model.JDK/JDK9.0.1` (as it was in build 39) otherwise objects

[2018-10-18 21:48] cykl opened #669 "./makejdk-any-platform.sh --docker fails on Fedora because of SELinux"
Building a JDK using docker fails on Fedora because SELinux prevents the container to access `/openjdk/target`.

Adding a `Z` mount option fixed the issue. However, I am unsure what happens when `:Z` is set on systems that don't use SELinux or systems other than Linux. Any docker expert or guinea pig here?

[2018-10-19 06:28] Alasiac commented on #489
Here a basic example of what triggers the exception:

[poi-example.zip](https://github.com/AdoptOpenJDK/openjdk-build/files/2494681/poi-example.zip)

The example does run on an Oracle jdk8.

Stack trace when running the test:

runningPoiResultsInLinkError(com.example.poi.link.PoiLinkTest)  Time elapsed: 0.958 sec  <<< ERROR!
java.lang.UnsatisfiedLinkError: /Library/Java/JavaVirtualMachines/adoptop

[2018-10-19 08:44] karianna commented on #660
I don't think we'll be impacting too many consumers at this stage.

I think we only use `--strip-components=2` when we pull in an AdoptOpenJDK 10 build in order to bootstrap an 11 build.  I'd go ahead and submit a PR and we can discuss it further.

[2018-10-19 09:02] amczarny commented on #669
We use :Z with docker on Windows, Ubuntu and Fedora - no issues and Fedora can properly use -v

[2018-10-19 09:28] cykl commented on #669
@amczarny Thanks for the feedback. I will open a PR then.

[2018-10-19 10:29] sxa555 commented on #403
Done by @ali-ince on Sept 2 as per https://github.com/AdoptOpenJDK/openjdk-build/issues/384#issuecomment-417926977 therefore closing

[2018-10-19 10:29] #403 closed

[2018-10-19 10:41] sxa555 opened #671 "Win32 support split between build-softlayer-win2012r2-x64-1 (OpenJ9) and build-azure-win2008r2-x64-1 (HotSpot)"
OpenJ9 Win32 support was added in May under https://github.com/AdoptOpenJDK/openjdk-build/issues/342 and is built at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-openj9/ on [build-softlayer-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/build-softlayer-win2012r2-x64-1/)
Hotspot Win32 support was added in September under https://github.com/AdoptOp

[2018-10-19 19:53] amczarny commented on #273
This issue should be closed

[2018-10-19 20:06] #273 closed

[2018-10-20 12:36] alexhass opened #674 "Strange letter "U" in ZIP filename"
`OpenJDK8U-jdk_x64_windows_hotspot_8u181b13`

No idea what the "U" after "OpenJDK8" should mean.

And after it is extracted the folder is now named `jdk8u181-b13`, but should be `jdk-8u181+b13` I guess or at least `jdk-8u181-b13`. This every release name changes really suxxx.

[2018-10-20 22:13] ali-ince commented on #671
@sxa555 I've also downgraded `grep` on that machine and also on all other windows boxes. I'll pick up this after I complete JDK11 builds for windows 32-bit.

[2018-10-22 03:37] detouched opened #676 "Missing CA certificates in jdk8u181-b13"
The jdk8u181-b13 update lost roughly half of `cacerts` entries: it has only 80 entries while jdk8u172-b11 has 157.

This causes SSL errors like this (tried with some domains of Google and Amazon):
[code]

I tried Docker images as well as downloadable tar.gz – they both have the same version of truncated `cacerts` file.

[2018-10-22 04:19] ColinHebert commented on #478
@karianna @DavyLandman, should we expect a new release of AdoptOpenJDK8 with those certificates? Or are we expecting to download/run nightlies?

[2018-10-22 04:19] ColinHebert commented on #478
@karianna @DavyLandman, should we expect a new release of AdoptOpenJDK8 with those certificates? Or are we expecting to download/run nightlies?

[2018-10-22 04:20] ColinHebert commented on #478
@karianna @DavyLandman, should we expect a new release of AdoptOpenJDK8 with those certificates? Or are we expecting to download/run nightlies?

[2018-10-22 08:29] planetf1 commented on #321
I think the last point is salient ... The oracle jdk install will copy itself into that directory. The user needs to do nothing else to 'just use' the JDK.

On docs... many don't read the docs, so at a minimum a warning or info in the actual install or otherwise very obvious would help if this isn't automated.

Also as a software engineer building java apps I need to work with multiple jdks, so I

[2018-10-22 08:47] planetf1 commented on #387
I can confirm this fixes my originally reported issue. (tested on the latest macos published 181 openjdk) . Thanks.

[2018-10-22 16:45] pshipton opened #678 "The lastest OpenJ9 releases for jdk8 and jdk11 are missing "_openj9-0.11.0""
The latest OpenJ9 release jdk8u192-b12 is missing the "_openj9-0.11.0" from the release name.
i.e. the earlier releases are "jdk8u162-b12_openj9-0.8.0" and "jdk8u181-b13_openj9-0.9.0" but the latest release is named "jdk8u192-b12"
https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9

The "_openj9-0.11.0" is also missing from the file names of all the downloads.

Its also missin

[2018-10-22 17:32] pshipton opened #680 "The jdk8u192-b12 and jdk-11.0.1+13 links are not found"
Looking at https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9 the link for "jdk8u192-b12" which is https://github.com/AdoptOpenJDK/openjdk8-openj9-releases/releases/tag/jdk8u192-b12 does not exist.

Similarly at https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9 the link for "jdk-11.0.1+13" which is https://github.com/AdoptOpenJDK/openjdk11-openj9-relea

[2018-10-22 17:52] sxa555 commented on #676
Which platform were you seeing this on @detouched?

[2018-10-22 17:55] sxa555 commented on #680
The link is to the wrong repo - Should be openjdk11-binaries and openjdk8-binaries. Will look at sorting that.

[2018-10-22 18:18] sxa555 commented on #674
The openjdk repository we seed our source code from is called jdk8u (See http://hg.openjdk.java.net/jdk8u for the original source we pull from) therefore the `U` is correct.

Why do you want an extra `-` after jdk?

Ref "This every release name changes really suxxx." what are you seeing as inconsistent? Oracle put the build identifier (e.g. `192`) into their directories in the tarball too. The `+`

[2018-10-22 19:44] karianna commented on #478
@ColinHebert New release will be coming out u192

[2018-10-22 19:55] karianna commented on #678
Also reported as a website bug in https://github.com/AdoptOpenJDK/openjdk-website/issues/338

[2018-10-22 20:10] karianna commented on #680
@sxa555 probably an API code change?

[2018-10-22 20:11] #674 closed

[2018-10-22 20:50] detouched commented on #676
Pretty much all for "OpenJDK 8 with Hotspot" option, just double checked these all:
[code]

I also tried following Docker images where I initially faced this issue:
[code]

I then compared `cacerts` to the one shipped in `adoptopenjdk/openjdk8:jdk8u172-b11`, which works fine, and found that the newer one is truncated.

[2018-10-23 00:46] zxj5470 opened #681 "add JDK11 startup in readme.md"
[code]
needs to add an item `jdk11`
and there's no `jdk11u` because https://github.com/AdoptOpenJDK/openjdk-jdk11u is an empty repository.

[2018-10-23 05:40] Ganeshgautam commented on #676
I am getting following exception as well and have found out that its an issue with the certs coming in the jdk build.
javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

I am attaching an image below showing the number of ce

[2018-10-23 08:43] karianna opened #682 "There was no fonts in Linux version"
_From @JamesMung on October 23, 2018 3:54_

JDK Version ; jdk8u181-b13

When I use jasper print PDF in Windows is fine, but for Linux found the error as follow:
[code]

Can you help for solve this problem in current version ? And please fix it in future version.

_Copied from original issue: AdoptOpenJDK/openjdk8-releases#16_

[2018-10-23 08:46] karianna commented on #681
I'll add this once we get the 11.0.1 release out

[2018-10-23 09:16] bmhm opened #683 "Missing openj9 build for mac"
Dear devs,

the macos openj9 build is [available for macos as a download](https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9#x64_mac).
At least for JDK11.

I've seen closed source j9-jdk8 builds bundled with IBM Notes.

The matrix in the Readme.md file is missing macosx-openj9 alltogether.

Could you please look into, why:
* … why openj9 builds for jdk8 (and possibly jdk9/1