[2018-10-23 09:40] sxa555 commented on #683
I'm working on JDK8 (spent [most of yesterday on it](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/524) as it happens!) but there are some issues with the build process as they are introducing extra prereqs. There are no plans for any OpenJ9 builds with JDK9/JDK10

The current builds can be downloaded from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-m

[2018-10-23 09:50] ben-walsh commented on #683
My Notes install on Mac doesn't appear to utilise any j9-jdk8 build ...
[code]
[code]

[2018-10-23 11:16] xtbe opened #684 "Double-click on JAR doesn't launch the application"
When you double-click on a JAR the application it contains doesn't launch.
This is different behaviour compared to the Oracle JDK/JRE. With this version this works.

Tested on Windows 10 x64

[2018-10-23 11:18] xtbe opened #685 "Launching JAR gives a registry error on Windows"
When launching a JAR via the command line on Windows x64 you might get this Warning/Error message. This was tested on a system without any Oracle JDK/JRE

“Could not open/create prefs root node Software/JavaSoft/Prefs at root. Windows RegCreateKeyEx(...) returned error code 5.

[2018-10-23 11:18] xtbe commented on #685
The warning/error is gone if you manually create the key in the registry

[2018-10-23 11:51] karianna commented on #684
Was the Oracle JDK installed with an actual installer (MSI/EXE)?

[2018-10-23 11:51] karianna commented on #684
Which Adopt binary did you try this with?

[2018-10-23 12:06] xtbe commented on #684
Oracle JDK was installed via the EXE, removed via Add/Remove programs
Downloaded Adopt Binary was : OpenJDK8U-jdk-x64_windows_hotspot_8u181b13.zip

Think it's clear because it's not an exe/msi that some things are not registered. Think I got the ZIP file just because it was the default one presented on the page. When the installer is ready to be released it would probably be  good to default the i

[2018-10-23 12:11] karianna commented on #684
Cool, yeah hopefully this is an installer issue that we can quickly address.

[2018-10-23 13:00] ccmtaylor commented on #563
it would be great to reach a decision on this. The cacerts that ship with adoptopenjdk-jdk8 don't allow successful requests to very common sites, e.g. https://google.com/. In the meantime, would it make sense to call out this difference from oracle's JDK more explicitly? I imagine many people will transition from oracle JDK-8 due to the expiring support timeframe.

[2018-10-23 13:03] sxa555 commented on #683
@bmhm Ref your confused reaction on Ben's post - he was asking if you had the `java -version` output from the JVM you've seen in Notes, since we're not aware that there has been an IBM J9 VM on macos.

[2018-10-23 13:06] sxa555 commented on #682
HI @JamesMung - I haven't used jasper before - do you have a quick set of instructions to reproduce the error? Also which Linux distribution are you using (it's unclear if this is a JDK issue or something that's supposed to be on the underlying OS).

[2018-10-23 13:07] sxa555 commented on #685
Which was the key you created to resolve this?

[2018-10-23 13:09] sxa555 commented on #684
(Thought I'd replied to this but apparently not)
Yeah I would expect that to be just because we're a ZIP and we're not performing any postinstall tasks to set up associations. I suppose we could provide a postinstall script to do it but if we get our installers production ready we can stuff like this in the installer instead

[2018-10-23 13:15] ccmtaylor commented on #563
Apparently there was a regression in jdk8u181-b13, see #676.

[2018-10-23 13:15] sxa555 commented on #671
@ali-ince So was it just downgrading grep and putting 32-bit freetype libs on the machines?

It looks like you've used a different directory for the freetype install. For the 32-bit hotpost freetype you're using  `--with-freetype-lib=/cygdrive/c/openjdk/freetype/lib32` whereas the openj9 builds were already configured to use `--with-freetype-lib=/cygdrive/c/openjdk/freetype-2.5.3/lib`

We need to

[2018-10-23 13:50] bmhm commented on #683
@sxa555 I was told it was Notes, but now I was told it might have been another IBM product which included a OpenJ9 JRE (no JDK). Sorry for the false information!

[2018-10-23 14:30] xtbe commented on #685
HKLM/SOFTWARE/JavaSoft/**Prefs**

[2018-10-23 15:45] sxa555 commented on #683
@bmhm No worries. To my knowledge there has never been a J9 on macos until this one :-)

[2018-10-23 16:01] ChristianCiach commented on #616
If not for this ticket, I would have never found the JRE downloads. I think the JRE releases should be offered at https://adoptopenjdk.net/

[2018-10-23 17:45] sxa555 commented on #669
Closing as PR669 should have fixed this

[2018-10-23 17:45] #669 closed

[2018-10-23 19:17] pdbain-ibm opened #686 "Please add Large Heap OpenJ9 build for MacOS"
At present, Eclipse IDE is not compatible with MacOS compressed references builds, cf. https://github.com/eclipse/openj9/issues/3371. However, non-compressedrefs OpenJ9 works.  Please add the latter as a standard build for use with Eclipse IDE.

[2018-10-23 22:12] mosi0815 opened #687 "Add Win32 build of JDK11"
Due to the fact that some JNI libraries are only available for 32 bit windows we are forced to use such a JDK for a couple of our projects. Currently we are using a JDK 10 Hotspot build from Azul. It would be really great to use AdoptOpenJDK builds in the future. Hotspot would be cool and OpenJ9 amazing. :)

[2018-10-23 23:18] matt404 commented on #676
My team is attempting to move to AdoptOpenJDK and just encountered a related error.  The issue was encountered running on MacOS.  This looks like a major bug.

`[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.3.0.603:sonar (default-cli) on project esom-load-bgservice: Unable to execute SonarQube: Fail to get bootstrap index from server: sun.security.validator.Vali

[2018-10-23 23:35] Ganeshgautam commented on #676
After some digging, I have found that the certificate which is popular and missing in jdk8u181-b13 is "Starfield Services Root Certificate Authority" root cert, now acquired by Amazon. Oracle JDK 8 and jdk8u172-b11 bundles this certificate in cacert. Various amazon trust root CAs are listed here: https://www.amazontrust.com/repository/

[2018-10-24 04:00] Ganeshgautam commented on #676
As a workaround People can install the cert from Amazon Trust Repository. Following command might help with verifying whether a "Starfield Services Root Certificate Authority" cert is present or not:
echo 'changeit'|keytool -list -v -keystore $(find ${JAVA_HOME} -name cacerts) -name cacerts)|grep 'Owner'|grep 'Star'

And use the below command to install the above cert in cacert:
wget https://www.a

[2018-10-24 08:10] karianna commented on #683
So this can be closed?

[2018-10-24 08:14] karianna commented on #616
I'll open a website ticket

[2018-10-24 08:19] karianna commented on #687
Done, please see the nightly builds.

[2018-10-24 08:19] #687 closed

[2018-10-24 08:59] planetf1 commented on #683
How do you want to track Java 8 J9 issues?
@sxa555 I just got this when doing a 'maven clean install' within IntelliJ idea on macOS with the J9 build. The regular adoptopenjdk openjdk hotspot builds (18x) are fine.

/Users/jonesn/java/jdk8u192-b12/Contents/Home/bin/java -Dmaven.multiModuleProjectDirectory=/Users/jonesn/IdeaProjects/egeria -Dmaven.home=/Users/jonesn/IdeaProjects/maven/apache-maven-

[2018-10-24 09:10] karianna commented on #683
That looks like a VM crash to me and should be reported at the Eclipse OpenJ9 upstream project.  Reporting issues here initially is fine (in case it's an Adopt Binary issue).

[2018-10-24 09:30] mosi0815 commented on #687
Really?
https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=hotspot

I don't see a 32 bit variant. Also not on Github.

[2018-10-24 09:40] karianna commented on #687
Apologies - you'll see it appear in tonights nightly build.

[2018-10-24 09:47] JamesMung commented on #682
Hi @sxa555, I tried to use Oracle JDK of Linux version and it's no problem to print PDF. So I compare between Windows and Linux version. I found Windows version has fonts and config in `jre` directory. But I can't found it from Linux version. So I think this is the problem.

And I tried to copy the font and config from Oracle JDK to Adopt JDK. but it's not work. Can you kindly give the solution to

[2018-10-24 10:00] mosi0815 commented on #687
Cool thanks!

[2018-10-24 10:12] planetf1 commented on #683
Any thoughts @sxa555 - I know we've had some issues with libraries etc so I'm a little doubtful if it is just an upstream issue. Will try on windows shortly as a comparison

[2018-10-24 11:14] sxa555 commented on #683
@planetf1 I'd definitely raise it at https://github.com/eclipse/openj9 ... Bear in mind that JDK8/J9/macos has so far undergone minimal testing, so this information will be useful to the OpenJ9 team whether it's a dependency issue or an underlying problem. Please link back to this issue once you raise it :-)

[2018-10-24 11:15] sxa555 commented on #683
Indeed - plus it gives us awareness of it in case someone else reports it to us!

[2018-10-25 07:32] planetf1 commented on #683
I went one step further in the build - this time to run some unit tests only to hit another core dump

[INFO] Surefire report directory: /Users/jonesn/IdeaProjects/egeria/open-metadata-implementation/frameworks/open-connector-framework/target/surefire-reports
JVMDUMP010I System dump written to /Users/jonesn/java/jdk8u192-b12/Contents/Home/bin/core.20181025.082618.45081.0001.dmp
JVMDUMP032I JVM req

[2018-10-25 10:06] karianna commented on #676
The nightly builds should now produce a version with the new cacerts.  The next release 8u192 should also pick up these changes (hopefully next week)

[2018-10-25 10:09] karianna commented on #683
We run a full pipeline of tests on the builds, might be interesting to add your ones to that?  Is it an OSS project?

[2018-10-25 15:34] LupusUmbrae commented on #80
The only remaining references to `HTTP` seem to be;

[code]

Where only the `Ubuntu` repositories are not using HTTPS but their certificate is not valid so can't be changed at the moment

[2018-10-25 16:09] sxa555 commented on #686
Prototype job created at https://ci.adoptopenjdk.net/view/work in progress/job/SXA-build-macos-jdk11-LH. Hopefully something suitable will pop out soon :-)

[2018-10-25 17:22] grzesuav opened #689 "makejdk-any-platform.sh is not suitable way to run build trough docker"
Currently to run dockerized build we need to execute
`./makejdk-any-platform.sh --docker --clean-docker-build jdk10u  `
where we passing option in cmdline to execute build in docker.

Configuration part of this script (`config_init.sh`) is executed on local machine, and setting configured here are passed inside docker container, which is incorrect.

Alternative would be to create wrapper to run ev

[2018-10-25 18:27] sxa opened #690 "Figure out what Windows builds are doing with the tag parameter"
jNeed to understand this in order to attempt to fix https://github.com/AdoptOpenJDK/openjdk-website/issues/338 / https://github.com/AdoptOpenJDK/openjdk-build/issues/678 - I'm creating this issue mostly to track what I'm doing ;-) I could possibly make use of `ADDITIONAL_FILE_NAME_TAG` but that likely wouldn't fix the tag on the main web site.

[Build 42](https://ci.adoptopenjdk.net/job/build-scri

[2018-10-25 19:39] karianna commented on #80
Correct, this can be closed now

[2018-10-25 19:39] #80 closed

[2018-10-25 19:44] karianna commented on #690
I'd ping @johnoliver to see where that gets set

[2018-10-26 07:19] alexhass commented on #674
This is how oracle names it.

I'm also not the fan of "+" in file names. In MSI setup I removed this crap, too.

My point main point is about consistency and readability and not change the name in every minor release. This is what happened in last ~3 minor releases. Every time I need to change scripts to build the MSI setup. This waste a lot of time for nothing.

[2018-10-26 09:20] karianna commented on #463
I think the new Visual Stuido toolchain choices have fixed this yes.  Please do let us know if not!

[2018-10-26 09:20] #463 closed

[2018-10-26 15:31] karianna commented on #339
New Plan:

- [ ] Make each module in mercurial have a submodule equivalent in git
- [ ] For tags - When applying a 'regular' patch simply apply it on each tag.  When applying a patch that's part of the generated build script set then rerun that script
- [ ] For nightlies - When applying any patch, un-apply the patch, merge code in from mercurial and then reapply the patch and any auto-generate scr

[2018-10-26 16:39] nelsongraca commented on #464
@oakad Hi are you still working on this? I too would like to have ebuilds since I use Gentoo on a daily basis.

[2018-10-26 16:45] chewi commented on #464
I am working on an official Gentoo source ebuild. It should be ready within days.

[2018-10-26 16:52] nelsongraca commented on #464
@chewi Thank you. Any chance of supporting 8 too? From what I see it exists only for 11. 9 and 10 since they are not LTS I don't care much, but I guess someone might find them useful too.

[2018-10-27 00:32] lwahonen commented on #642
Hi,

I just downloaded the AdoptOpenJDK java 8 build, and it doesn't seem to contain any PDB files.

Please make a debug build available for us poor developers who were actually using those :(

Cheers,
Will

[2018-10-27 06:33] karianna commented on #464
Hi @chewi - thanks for your support of Adopt on this.  Are you able to connect us to the new maintainer for Java on Gentoo?

[2018-10-27 06:38] karianna commented on #642
We will, it's just a bit behind in the queue at the minute.  If you'd like to help out then you can join the us at adoptopenjdk.net/slack

[2018-10-27 12:09] chewi commented on #464
@karianna, as @oakad said, the team is almost defunct. The best contact going forwards is @monsieurp but I don't know how much work he is going to put into the JVM packages.

[2018-10-27 14:17] nelsongraca commented on #464
I am willing to help on the efforts of keeping the ebuilds up to date, my knowledge is still limited but I have been keeping some ebuilds on a personal overlay in order to support some other software, so I believe that with some base to continue maintain them I can help.

[2018-10-27 15:38] karianna commented on #464
@nelsongraca Thanks!  Are you a member of our slack org?

[2018-10-27 15:56] nelsongraca commented on #464
I am not, but I will happily join

[2018-10-27 18:19] Flandoll opened #692 "OpenJ9 HealthCenter agent failed to start"
An error occurred while trying to use the `-Xhealthcenter` parameter on Windows

`PS D:\AdoptOpenJDK\jdk-11.0.1+13\bin> ./java -Xhealthcenter -version
JVMJ9TI001E 代理程序库 healthcenter 无法打开（找不到指定的模块。 ）
JVMJ9VM015W 在库 j9jvmti29(-3) 中发生初始化错误 JVMJ9VM009E J9VMDllMain 失败`

[2018-10-29 00:02] thistle1990 commented on #682
Hi there, our team hit this problem on various Linux distributions too. (Ubuntu, Centos, Debian etc)
JDK version: jdk8u181-b13

We hit this problem even at a very early phase, when installing our product using installer4j, stack trace as follows:

`java.lang.NullPointerException
    at sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264)
    at sun.awt.FontConfiguration.readFontConfig

[2018-10-29 00:06] oakad commented on #464
@nelsongraca My version of the ebuild is here, btw: https://github.com/gentoo/gentoo/pull/9835

[2018-10-29 01:18] xinyi9 opened #693 "NPE at sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264) when using install4j caused by font config missing"
Hi there,
Our team hit a NPE problem on install4j on various Linux distributions. (Ubuntu, Centos, Debian etc)
JDK version: jdk8u181-b13

When installing our product using installer4j, we got a null pointer exception caused by missing fontconfig, stack trace as follows:

`java.lang.NullPointerException at sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264) at sun.awt.FontConfiguratio

[2018-10-29 02:38] JamesMung commented on #682
Hi @xinyi9, Thanks for your solution. BTW, @sxa555 I tried use these code in my program :
[code]
And it appear `NullPointerException` same as @xinyi9 provided. I wish it would helpful for you.

Distribution : `jdk8u181-b13` `Linux x64`

[2018-10-29 05:50] enasser commented on #682
The fonts in jre/lib/fonts directory are taken from closed code in Oracle JDK and missing from openJDK. We need to understand why it is failing only on Linux and not on Windows. Which fonts were trying to create when the failure occurred. @mbvreddy FYI

[2018-10-29 09:19] ChristianCiach commented on #693
See also https://github.com/AdoptOpenJDK/openjdk-docker/issues/75

[2018-10-29 10:49] henrik242 opened #694 "Missing Amazon (Starfield) and Google (Globalsign) CA certificates for jdk8"
It looks like the jdk8 builds (at least hotspot) lacks CA certificates that are used for Amazon AWS / Starfield (e.g kinesis.eu-west-1.amazonaws.com) and Google / Globalsign (e.g oauth2.googleapis.com and accounts.google.com).

Any plans on adding these?

The problem is not present with jdk10 and 11.  Also, Oracle's jdk8 builds work fine.

Example exception:
[code]

[2018-10-29 10:55] sxa555 commented on #694
Probably dup of #676

[2018-10-29 10:58] henrik242 commented on #694
Yeah, looks like it.  Thanks for the heads up,  I'll just close this.

[2018-10-29 10:58] #694 closed

[2018-10-29 11:39] henrik242 opened #696 "Guard against a sudden drop of certificates in the keystore"
jdk8u181-b13 was released lacking a lot of commonly used CA certificates, notably the ones used by Amazon AWS (Starfield CA, e.g kinesis.eu-west-1.amazonaws.com) and Google (Globalsign CA, e.g oauth2.googleapis.com and accounts.google.com).

The certificates are back in the nightly builds, but tests should be added that guard against this happening again in the future.

Ref: #694 #676 #688

[2018-10-29 11:44] karianna commented on #696
Some background to this: OpenJDK 8 doesn't come with any certs and so at the time of the u181 release we backported the OpenJDK 10 cacerts (which didn't cover Amazon et al).  Now that OpenJDK 11 is out we backport its cacerts which do include the Amazon et al ones.

That said we could guard against certs dropping (e.g. when we backport from 12+)

[2018-10-29 13:24] ChristianCiach opened #697 "Missing jdk-11.0.1 releases including Hotspot JVM"
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.1%2B13 offers only downloads including the OpenJ9 JVM. Downloads including Hotspot are missing.

[2018-10-29 14:48] karianna commented on #697
Yep - we're aware of this one :-). Working on it this week.

[2018-10-29 17:01] gnobiron opened #698 "libjvm.so: ELF file OS ABI invalid"
Hello,

When I try to use AdoptOpenJDK 8u181-b13 on RHEL 5.5 (reproduceable with a simple "java -version") I get the following error:

The previous version 8u172-b11 is working correctly.
The latest openJDK8 version 8u192 built by Oracle is also working without error.

I can't find a page containing the officialy supported os versions for AdoptOpenJDK. Have the support for RHEL 5 been Dropped ?

[2018-10-29 20:15] karianna commented on #698
Hi @gnobiron can I ask you to try one of the nightlies?

[2018-10-30 03:58] minhtran83 commented on #693
@karianna The installer bootstraps the `JEditorPane.setText()` and that goes through this code path

[code]

That happens because the font directory that Adopt OpenJDK should provide does not exist

It is great if we can backport that from Java 11 to 8u project.

[2018-10-30 07:19] gnobiron commented on #698
Hi, I have the same error with nightly build OpenJDK8U-jdk_x64_linux_hotspot_2018-10-29-17-46.
ldd on jdk8u181-b13/jre/lib/amd64/server/libjvm.so returns "not a dynamic executable"

But version jdk8u181 is working on a newer kernel (Centos 6.5 with kernel 2.6.32). It looks like a compilation instruction have changed between jdk8u172 and jdk8u181. Or perhaps the binary was built on a newer os versi

[2018-10-30 10:59] apjanke commented on #645
I am seeing similar, but apparently backward results. Many of these classes are present in the `lib/classlist` for an AdoptOpenJDK build I did from source, but are absent from the Oracle JDK 11.0.1 that I downloaded from oracle.com.

This is on macOS 10.13.6.

[code]

Does anyone know where the code that generates `lib/classlist` lives?

[2018-10-30 11:48] karianna commented on #698
@gnobiron We'll look into it but it won't be a major priority as RHEL 5.5 was EOL in May 2015.

[2018-10-30 12:41] karianna commented on #645
Adopt hasn't released an 11.0.1 yet....

[2018-10-30 12:42] SzentnerTsIT opened #699 "Question about applet and WebStart usage with AdoptOpenJDK"
Dear OpenJDK community,

we plan to use the AdoptOpenJDK 8 Windows 32 and 64 bit Hotspot distribution, but ran into following open topic. We still have some legacy products using applets and Webstart.

Our question: How can we run those using the above Adopt distribution?
Can we consider the post below as the suggested way?
https://blog.adoptopenjdk.net/2018/10/using-icedtea-web-browser-plug-in-wi

[2018-10-30 12:49] karianna commented on #699
Yes, the way described in the blog post is the best way forward.

[2018-10-30 12:49] #699 closed

[2018-10-30 13:03] gnobiron commented on #698
@karianna That's OK, we will use the version 8u172 if we absolutely need to stay on RHEL5.
Thanks.

[2018-10-30 15:50] pshipton opened #700 "OpenJ9 switching to use Clang 7 instead of mingw"
As per https://github.com/eclipse/openj9/pull/2979, OpenJ9 will shortly be switching to use clang 7 instead of mingw to compile some of the VM files. Clang 7 needs to be installed on the Windows build machines. Also note AdoptOpenJDK/openjdk-infrastructure#514

[2018-10-31 10:00] limes007 commented on #697
Why did you remove the first 11 release (11.0.0) from the download page?

[2018-10-31 10:10] karianna commented on #697
They shouldn't be removed - looking into it...

[2018-10-31 10:14] alexhass commented on #459
@karianna : How are things going with the build server?

[2018-10-31 10:18] karianna commented on #459
Apologies - it's a bit stuck in my queue after the git-hg work and 11.0.1 release we need to get out.  Hopefully, we'll dig ourselves out of the hole this week and get onto installers next week.  Appreciate your patience!

[2018-10-31 18:06] limes007 commented on #697
It's back, thanks. Now I'm hoping for a 11.0.1 hotspot verison... ;-)

[2018-11-01 07:40] kuglo opened #703 "Missing Windows x64 (jre and jdk) in jdk8u192-b12 "OpenJDK 8 with Hotspot" release"
https://adoptopenjdk.net/installation.html?variant=openjdk8&jvmVariant=hotspot# offers only "Windows x32" option. Option for "Windows x64" is missing.
The same for https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=hotspot and the "jdk8u192-b12"-section on https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=hotspot

[2018-11-01 09:16] Ganeshgautam commented on #703
@kuglo I am not sure if you have checked the slack message board or not... but, as per the conversations, its should be released tomorrow.

"martijnverburg [5:12 AM]
Nice one - I’ll release again tonight with the full test suite actually might as well do the other platforms tonight as well

martijnverburg [6:31 AM]
Build has kicked off - for those waiting for the aarch64 port it’s going to be tomo

[2018-11-01 09:34] karianna commented on #703
Yep - Win64 failed we're looking into it

[2018-11-01 11:40] pshipton opened #704 "Support for OpenJ9 milestone builds"
The [Eclipse handbook](https://www.eclipse.org/projects/handbook/) suggests doing milestone builds before a release. This is a pre-release build that is distinguished from typical nightly builds. It would be built from a branch and not the main line. It gives users a chance to try out a pre-release driver containing new features and report any problems. Which provides development a chance to fix t

[2018-11-01 14:57] pshipton commented on #704
Edited the description to add the Dec 17 OpenJ9 milestone date.

[2018-11-01 21:19] datallah opened #706 "jdk8u192-b12 Windows x64 Build doesn't work on my Windows 10 Enterprise machine"
When I try to run java.exe (or anything else that use the jvm), I run into the following error:
[code]
jdk8u181-b13 works on the same machine

I confirmed that the checksum of the downloaded zip file is correct.

The version of Windows 10 Enterprise is Version 1803 (OS Build 17134.376)

I have been able to successfully run the same binary on a Windows Server 2008r2 machine.

@karianna suggested th

[2018-11-02 10:38] karianna commented on #706
@datallah Can you test the binary at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/74/ please

[2018-11-02 12:52] datallah commented on #706
That build works

[2018-11-02 13:14] karianna commented on #703
Released

[2018-11-02 13:14] #703 closed

[2018-11-02 13:44] tico-tico opened #709 "nightly jdk11 Win32 jshell error"
I'm not sure whether it's a known issue or not. Tried nightly 01-11-2018 on Windows 7 Home, SP1, 32-bit.

[code]

[2018-11-02 14:12] karianna commented on #709
Do `javac` and `java` run OK?

[2018-11-02 14:14] karianna commented on #709
Also are `dt_socket.dll` and `dt_shmem.dll` in the $JAVA_HOME/bin/ directory or anywhere else on your PC?

[2018-11-02 14:46] #706 closed

[2018-11-02 14:46] karianna commented on #706
resolved!

[2018-11-02 14:46] karianna opened #710 "Add AdoptOpenJDK build numbers to builds"
This avoids confusion when we respin a release if there's a catastrophic failure.

[2018-11-02 22:58] ali-ince commented on #709
I can reproduce the issue on my local computer as well. It seems it's related with exported symbol names on dll's, that's the main difference on 32-bit and 64-bit `dt_socket.dll`.

I'll try to figure out what causes this difference.

[2018-11-03 07:18] tico-tico commented on #709
Yep, just for fun I using hex-editor changed `jdwpTransport_OnLoad` to `_jdwpTransport_OnLoad@16` in **jdwp.dll** and now **jshell** runs OK.

[2018-11-03 17:50] karianna commented on #709
Oh, nice find!

[2018-11-05 00:57] Ganeshgautam commented on #465
Hi Team,

I have a use case to identify the JRE vendor for analytics in my software. It would be great if we can get the java.vendor or java.runtime.name or java.vm.vendor to tell AdoptOpenJDK.
Do you plan to pick this bug in short-term?

Thanks,
Ganesh

[2018-11-05 03:02] Ganeshgautam commented on #465
It would also be helpful if we can even get the proposed strings for the final properties. We will be able to put some code in our software which allows to stay compatible with AdoptOpenJDK.

[2018-11-05 07:51] ecki commented on #465
With the new versioning infrastructure in Java11 things are much better (even for other vendors)- Here is an example from Zulu:

    java.runtime.name = OpenJDK Runtime Environment
    java.runtime.version = 10+46
    java.specification.name = Java Platform API Specification
    java.specification.vendor = Oracle Corporation
    java.specification.version = 10
    java.vendor = Azul Systems, Inc.

[2018-11-05 11:30] karianna commented on #465
That Java vendor version will be useful, we may even backport that.

[2018-11-05 13:50] slandelle commented on #489
Same thing here, Swing doesn't work with `u192-b12`:

[code]

[2018-11-05 15:13] slandelle opened #712 "Don't use extended attributes for MacOS"
On MacOS, extracting from `OpenJDK8U-jdk_x64_mac_hotspot_8u192b12.tar.gz` generates a directory with extended attributes. As is, this directory can't be open in Finder and can't be accessed by eclipse (can't find compatible JRE in `Execution Environments`).
Workaround is to `xattr -c` on the directory.

[2018-11-05 15:29] karianna commented on #712
This might be Mac OS X's automatic quarantine kicking in.  Will need to check the Apple code signing.  Can you tell us what the attribs are?

[2018-11-05 15:35] slandelle commented on #712
Indeed

[code]

[2018-11-06 12:11] pshipton opened #714 "OpenJ9 release jdk8u192-b13-0.11.0 misnamed"
Somebody created a second OpenJ9 release build jdk8u192-b13-0.11.0 on October 26.
This build is misnamed, as it is not jdk8u192-b13 but jdk8u192-b12

Also, to match the previous releases (0.8.0, 0.9.0), it should have the extension "_openj9-0.11.0" not "-0.11.0".

The difference from the previous release build is https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/159

[2018-11-06 13:11] sxa555 commented on #714
Yep that was me running a test and it took way longer than I expected to come out so I didn't handle it on Thursday. Going to delete it now which will revert it to the previous (non-suffixed) name then we can get another one out with the correct name

[2018-11-06 13:12] sxa555 commented on #714
Will close this since we still have https://github.com/AdoptOpenJDK/openjdk-build/issues/678 around which this was a test fix for.

[2018-11-06 13:12] #714 closed

[2018-11-06 14:10] DanielMartensson opened #715 "arm32 builds on armv6 pi fail with Atomic store(jlong) unsupported"
Hello!

I have Eclipse on my Ubuntu where I have installed OpenJDK 8 for running Eclipse IDE.

[code]

In Eclipse I use the Linux 64 OpenJDK-10.0.2+13 as compiler. I also use arm32 OpenJDK-10.0.2+13 on Raspberry Pi B+ v1.2

[code]

I installed the OpenJDK-10.0.2+13 on Raspberry Pi B+ v1.2 by using:

[code]

When I run my java program I have compile from Eclipse IDE. I got this error:

[code]

You

[2018-11-06 14:42] Matze2 opened #716 "Busy loop hang in PiscesRenderingEngine in OpenJDK 8"
As discussed in the Slack #general...

# Problem Description
While testing our application with AdoptOpenJDK instead of Oracle JDK we faced a busy loop problem that is maybe similar to the one described for Marlin (Java 9+) in https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8191815

In our case sun.java2d.pisces.Dasher.lineTo(NaN, NaN) is called. But it seems that also using 0 and very high v

[2018-11-06 16:18] Matze2 commented on #716
A valid workaround seems to be the use of the Marlin renderer from https://github.com/bourgesl/marlin-renderer

I did the following steps:
- Downloaded marlin jar from the github page above
- Added the following VM arguments to the command line:
    `-Dsun.java2d.renderer=org.marlin.pisces.MarlinRenderingEngine -Xbootclasspath/a:/path/to/marlin-0.9.3-Unsafe.jar`

This cured the described problem.

[2018-11-06 16:59] karianna commented on #716
I'm going to reopen this as a docs issue for our support site.  @Matze2 Thanks for your excellent analysis.

[2018-11-06 17:04] karianna commented on #715
@DanielMartensson Ohhhhhh this makes sense.  You've compiled a feature from a runtime which arm32v6 doesn't support.  I think you need to compile the same program on your Pi and see what happens.  This is a rare case where WORA is broken.

[2018-11-06 18:06] z0mb1ek opened #718 "dns cache in jvm"
Hi. cannot find networkaddress.cache.ttl in /lib/security/java.security in jdk 11, can you please say what default parameter is?

[2018-11-06 18:12] karianna commented on #715
@DanielMartensson Can you compile without eclipse?  e.g. on the Command line using Ant/Maven et al?

[2018-11-06 18:17] karianna commented on #718
The default is usually 30 seconds with no security manager installed.  I'd recommend explicitly setting it if you want to avoid defaults.

[2018-11-06 18:17] #718 closed

[2018-11-06 18:28] DanielMartensson commented on #715
I think so. Well, I got lot's of jar files included and I don't know how to include them when I do the "javac" command in the terminal at my Pi. Have you download the package?

I always using an IDE when I compile.

[2018-11-07 11:09] DanielMartensson commented on #715
@karianna I will try to compile a simple hello world project. Or do I need to use the same libraries like Pi4J?

[2018-11-07 11:17] karianna commented on #715
IIRC in eclipse, you'll have a file called `.project`, which lists all of your dependencies.  I can then give you a sample script to run that from the Command Line.  It will look something like:

`javac -cp "Path's to all of your JARs" YourClass.java`

[2018-11-07 11:19] DanielMartensson commented on #715
What if I have multiple of classes?

?

[2018-11-07 21:33] jamiekrug opened #719 "Missing CA certificates in jdk8u192-b12 for OpenJ9 only (Hotspot build fixed by #676)"
I ran into this error, which should have been fixed by #676:

[code]

I downloaded the jdk8u192-b12 with OpenJDK 8 and the OpenJ9 JVM option, but the problem persisted. I tried downloading the jdk8u192-b12 build with the Hotspot JVM option, and the problem was resolved. The Hotspot version's cacerts file contains 92 entries, while the OpenJ9 version has only 80, so it seems #676 only resolved that

[2018-11-08 23:14] chewi commented on #464
That's the openjdk package in the official repo now.

[2018-11-09 00:17] oakad commented on #464
@chewi Those are good news.

But if you are stepping down from the java maintenance, whom do we turn to for ongoing support in the future?

[2018-11-09 09:35] VizuroiuV opened #724 "We have an application running on OpenJDK11 from oracle and we want to switch to AdoptOpenJava11 But we get this of error messages:"
Hello there, we have an application running on OpenJDK11 from oracle and we want to switch to AdoptOpenJava11
But we get this  of error messages:

09 Nov 2018 10:47:09,844 - AbstractApplicationContext.refresh(490) | Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springfram

[2018-11-09 09:49] karianna commented on #724
See https://stackoverflow.com/questions/15678417/error-when-using-aspectj-aop-with-java-7 and https://stackoverflow.com/questions/31427112/error-the-annotation-pointcut-expression-is-only-supported-at-java-5-compliance - chances are you have an older aspectj dependency in your dependency tree that needs upgrading.

[2018-11-09 10:14] VizuroiuV commented on #724
Hey, thanks, unfortunately we already tried that but it doesn't work.

[2018-11-09 10:29] karianna commented on #724
`CXF 2.7.x no longer supports Java 5. In order to upgrade to 2.7.x, you must be using Java 6 (or newer).` So the version you're using must be at a language level >5 - I'm surprised that you're getting this error message

[2018-11-09 10:31] karianna commented on #724
Also Pivotal recommends you move to Spring 4 for Java 8 support and Spring 5 for Java 11 support.  I'm not 100% sure you'll be able to run 3.2.18 on Java 11....

[2018-11-09 10:50] sxa opened #725 "Windows/JDK8/J9 production 0.11.0 builds currently failing"
Reason unclear but the resulting java execution is resulting in:

`The application has failed to startt because it's side-by-side configuration is incorrect. Please see the application event log or use the command line sxstrace.exe tool for more detail`

In the build log when trying to execute it we get:

[code]

[2018-11-09 10:53] VizuroiuV commented on #724
Yes we simply tried to swap and it's Windows not Linux. We use org.apache.cxf (2.7.18) , org.springframework  (3.2.18.RELEASE ) java 11 on level 11

[2018-11-09 12:04] DanielMartensson commented on #715
@karianna Can you compile this and then upload it so I can run it with AdoptOpenJDK 10.0.2+13 ?

https://ufile.io/99cdb

[2018-11-09 12:12] sxa555 commented on #719
Thanks for the report :-)

PR https://github.com/AdoptOpenJDK/openjdk-build/pull/688/files is the PR that provided the HotSpot fix and was done on 24th October. The OpenJ9 8u192 build was created on 20th October so pre-dated the fix. I'm working on a full set of newer builds at the moment for 8u192/OpenJ9 for other reasons and these have the updated file. All platforms except Windows which I'm wor

[2018-11-09 12:12] #719 closed

[2018-11-09 12:16] sxa555 commented on #725
Related issues: https://github.com/AdoptOpenJDK/openjdk-build/issues/719 https://github.com/AdoptOpenJDK/openjdk-build/issues/690
Related PRs: https://github.com/AdoptOpenJDK/openjdk-build/pull/726
Doing test builds under https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/3/console for now

[2018-11-09 12:19] Matze2 commented on #716
I was asked to summarize all our findings about visual and functional differences between Oracle JDK and AdoptOpenJDK (and Zulu) regarding Graphics2D and their possible workarounds.

## Busy loop hang in PiscesRenderingEngine
This refers to this issue. The workaround is to replace Pisces with Marlin using the following steps:

* Download marlin jar from https://github.com/bourgesl/marlin-renderer/

[2018-11-09 12:21] karianna commented on #724
Last thing I can think of... Oracle OpenJDK 11+28 or 11.0.1?

[2018-11-09 12:48] sxa555 commented on #692
Thanks for raising this - the HealthCenter shared library is not currently included in the adoptopenjdk+openj9 builds which is why this is failing

[2018-11-09 13:03] VizuroiuV commented on #724
We are using org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer for loading properties in spring unfortunately the bean is not created.

[2018-11-09 13:04] karianna commented on #724
Sorry, I meant the version of Oracle's OpenJDK - is it 11.0.1 or 11+28?

[2018-11-09 13:59] karianna commented on #715
OK, from your commandline on the Pi you can run:

[code]

[2018-11-09 14:16] sxa555 commented on #725
Worked ok at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/3 with
[code]

[2018-11-09 14:17] sxa555 commented on #725
Testing at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/4 with
[code]

[2018-11-09 14:18] sxa555 commented on #725
Testing at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/5 with just ADDITIONAL_FILENAME_TAG set

[2018-11-09 14:21] sxa555 commented on #725
Testing at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/6 with
[code]

[2018-11-09 14:55] karianna commented on #715
OK - let me try to find an ARM expert.

[2018-11-09 14:56] karianna commented on #715
You can join us on adoptopenjdk.net/slack.html and jump on the #arm channel

[2018-11-09 15:19] jamiekrug commented on #719
No problem. Sounds good. Thanks, @sxa555 .

[2018-11-09 15:22] sxa555 commented on #715
For what it's worth I can replicate this on my Pi Zero-W

[2018-11-09 15:41] DanielMartensson commented on #715
@sxa555 Try to write

    cat /proc/cpuinfo

And see if you have the same CPU as me does:

    processor : 0
    model_name : ARMv6-ompatible processor rev 7 (v6l)
    Hardware : BCM2835

[2018-11-09 16:32] sxa555 commented on #715
Yeah the Zero-W is more or less the same as an original model A I think but with the wifi adapter added so all three lines are identical to what you've posted

[2018-11-09 17:38] DanielMartensson commented on #715
@karianna @sxa555 Has anyone tried ARM64 bits singleboard computers with AdoptOpenJDK? That worked or not?

[2018-11-09 18:19] sxa555 commented on #725
Testing at  https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build/9 with
[code]

[2018-11-09 18:32] sxa555 commented on #690
Based on investigations in #725 on the https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk8_j9_win64_build job the failure there occurs of there is an `_` character in the `TAG` field. The filename can be overridden using the `ADDITIONAL_FILENAME_TAG` option on the individual jobs, but that can't be set from the top level jobs at present.

[2018-11-09 18:33] sxa555 commented on #690
We could either:

1. Identify and fix what's broken in the Windows build with the underscores in the tag (Windows resource/rc issue?)
2. Allow the `ADDITIONAL_FILENAME_TAG` to be passed through from the top level build jobs.

@johnoliver Any ideas on this one?

[2018-11-11 04:44] taku0 commented on #697
JDK 11.0.1 with Hotspot JVM is available now, but JRE is not (i.e. `OpenJDK11-jre_x64_linux_hotspot_11.0.1_13.tar.gz` is missing at the [release page](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.1%2B13)). Is this temporary or JRE builds will not be provided anymore?
What does `U` in filename `OpenJDK11U-jdk_x64_linux_hotspot_11.0.1_13.tar.gz` means? Is it a *U*nified v

[2018-11-11 21:31] JakubVanek commented on #715
Hi,
I think that the problematic thing might be enabled AssumeMP flag. Could you please try running java like this:
[code]
Alternatively, could you try running a JDK build from https://ci.adoptopenjdk.net/view/ev3dev/job/openjdk11_build_ev3_linux/ ? We are patching OpenJDK to run on an ARMv5 processor in a LEGO Mindstorms kit and it seems to work well so far.
Regards,
Jakub Vaněk

[2018-11-11 22:14] xinyi9 commented on #693
Hey @karianna thanks for the comments.

Would there be an estimated timeline that this issue will be addressed, say in short-term(weeks), or longer term(months)?
This information will be helpful for us to plan support for our customer and reduce negative impact.

[2018-11-12 09:30] wfouche opened #730 "https://api.adoptopenjdk.net/openjdk8/releases web service not returning the latest AdoptOpenJDK8 binaries."
A call to https://api.adoptopenjdk.net/openjdk8/releases returns information for Java 8 (u172) instead of Java 8 (u192).

[code]

[2018-11-12 09:54] karianna commented on #693
Probably longer term at this stage.

[2018-11-12 09:58] karianna commented on #730
This is a duplicate of https://github.com/AdoptOpenJDK/openjdk-api/issues/124

[2018-11-12 09:58] #730 closed

[2018-11-12 11:30] DanielMartensson commented on #715
@karianna @sxa555 @JakubVanek

It worked! I need to use sudo to control the GPIO pins.

[2018-11-12 11:49] JamesKingdon commented on #715
Hi Daniel, could you show the output of

cat /proc/cpuinfo

on your board? I'm curious why -AssumeMP seems to have made a difference.

[2018-11-12 11:52] DanielMartensson commented on #715
@JamesKingdon

[2018-11-12 13:01] JamesKingdon commented on #715
Oh, ok. Well that fits then :)
Ah, I got my wires crossed, for some reason I thought it was Pi 2 you were using, so was expecting multi-core.

[2018-11-12 13:30] DanielMartensson commented on #715
@JamesKingdon

Do you know what's the solution for the issue why I need to use -XX:-AssumeMP to make it work?

[2018-11-12 13:38] JakubVanek commented on #715
OpenJDK 12ea detects multiprocessor systems on the fly, so that probably the best solution. Otherwise, we have a source patch that disables AssumeMP in code:
https://github.com/ev3dev-lang-java/openjdk-ev3/blob/2f9d939e984d93ad391e5ab8dfdbca4099258b65/scripts/jdk10.patch#L181
AFAIK ARMv6 and older depend on that nobody breaks the remaining supporting infrastructure.
Also, to run the java as root,

[2018-11-12 13:40] karianna commented on #715
Closing this as resolved - a document is being worked on our ARM channel in slack

[2018-11-12 13:40] #715 closed

[2018-11-12 14:15] tico-tico commented on #709
OK,  i did some reading. It turns out that C-function names are decorated by VS only for x86 and not for x64, thats why we have the issue. See here https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2012/x7kb4e2f(v%3dvs.110) .

Simplest workaround is to patch *openjdk-jdk11/src/jdk.jdwp.agent/share/native/libjdwp/transport.c*
[code]

Sorry, i can't test it myself, consid

[2018-11-12 14:22] karianna commented on #709
@ali-ince If you're able to lest this then I think we can submit a patch upstream.

[2018-11-12 14:57] sxa555 commented on #725
Parameter has been added to expose `ADDITIONAL_FILENAME_TAG` which we will use for the production builds https://github.com/AdoptOpenJDK/openjdk-build/pull/732

[2018-11-12 14:58] sxa555 commented on #690
https://github.com/AdoptOpenJDK/openjdk-build/pull/732 has been submitted in order to implement option 2 from the previous comment. Will keep this open since I want to understand why this is gone wrong in such an odd way ...

[2018-11-12 16:53] sxa555 commented on #704
Related: https://github.com/AdoptOpenJDK/openjdk-website/issues/217 (Could handle both under the same concept of "significant prerelease build")

[2018-11-12 18:12] pshipton commented on #704
Works for me.

[2018-11-12 23:40] ali-ince commented on #709
@tico-tico, @karianna I've created a PR for JDK11 which doesn't change the source code but fixes the exported function name to be `jdwpTransport_OnLoad`.

[2018-11-13 00:10] babsingh opened #735 "Changes to OSX JDK8/JDK11 Setup"
- For OSX JDK8, `gcc49` is no longer needed. So, `gcc49` should be uninstalled from machines: `brew uninstall gcc49`.
- Changes to [mac.sh](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/mac.sh):
  - Set `MACOSX_DEPLOYMENT_TARGET` to `10.9.0` for both JDK8 and JDK11 [`mac.sh` L21 and L62]. In the extensions repos,`MACOSX_VERSION_MIN` is used t

[2018-11-13 00:11] babsingh commented on #735
fyi - @sxa555

[2018-11-13 00:18] babsingh commented on #735
I was supposed to create the issue in AdoptOpenJDK/openjdk-infrastructure/. Thus, closing this issue and creating a new one in AdoptOpenJDK/openjdk-infrastructure. Link to the new issue: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/561.

[2018-11-13 00:18] #735 closed

[2018-11-13 10:58] sxa555 commented on #725
Re-opening as I'm still hitting issues:
[code]
This appears to only be the case when the `TAG` variable is set, which we may not need any more now that we're using the `ADDITIONAL_FILE_NAME_TAG`

[2018-11-13 11:34] sxa555 commented on #725
11 was built with the `pre` branch of my openjdk-build repo. 14 will be built with what was hopefully the same as 9

[2018-11-13 14:13] sxa555 commented on #725
I think the variable issue with the `)` was down to having the jenkins agent started as the wrong user. Now passing that point running as jenkins

[2018-11-14 09:09] VizuroiuV commented on #724
Hi Karianna,

I am getting this error at runtime:

StackTrace
:org.apache.jasper.JasperException: An exception occurred processing [/jsp/list/activityList.jsp] at line [361]

358:                   <s:param name="value">isoAndName</s:param>
359:                   <s:param name="selected" value="actFilter.areCountry"/>
360:                   <s:param name="list" value="countries"/>
361:

[2018-11-14 13:47] sxa555 opened #742 "--with-milestone=fcs not valid for JDK11"
All JDK11 build logs currently have:
[code]
Should probably be removed for JDK11 from https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L134 (Use is in https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/common/autoconf/spec.gmk.in#L179)

Based on the [openj9 release document](https://github.com/eclipse/openj9/blob/master/doc/processes/release_process.md), the `--withou

[2018-11-14 14:51] lumpfish commented on #459
@alexhass  - thank you for creating these demo installersI'm looking into providing autoupdaters for openjdk-openj9 builds.  I've downloaded and run the openjdk8-jdk_x64_windows_openj9-8.0.192.12.msi and have a few observations and questions:

1. The jdk is installed to C:\Program Files\AdoptOpenJDK\jdk-8.0.192.12  (OK by me)
2. This entry is created in the Registry: HKEY_LOCAL_MACHINE\SOFTWARE\Ad

[2018-11-14 15:04] lumpfish commented on #459
@alexhass - fyi, there is now an 'installer' slack channel at https://adoptopenjdk.slack.com/messages/C9C272Z1T

[2018-11-14 15:43] lumpfish commented on #459
Another observation:
```JAVA_HOME=C:\Program Files\AdoptOpenJDK\jdk-8.0.192.12\bin```
should not include the bin directory

Raised https://github.com/AdoptOpenJDK/openjdk-installer/pull/21 to fix

[2018-11-14 15:44] sxa555 commented on #678
I'm going to close this one as a duplicate of the one in the website repo now that https://github.com/AdoptOpenJDK/openjdk-build/commit/8924f49e5b4cf3a9b8c0d0c5486dc44adce679f1 has gone in - the next builds (in progress at the moment will result in this being fixed.

[2018-11-14 15:44] #678 closed

[2018-11-14 16:24] sxa555 opened #744 "JDK11/J9/macos large heap builds not labelled on website"
We seem to be producing two nightly macos builds, one of which is probably the large heap / XL version, but they are not labelled as such.

[2018-11-14 16:25] DanHeidinga commented on #390
@sxa555 Can you take a look at this?  Thanks

[2018-11-14 16:25] alexhass commented on #459
karianna - said I need to use the eclipse license.

Oracle is not installing a file to „C:Windows\System32\java.exe„ since 7.x if I remember correctly. They moved to programdata with strange mklink‘s folders and hash subfolders and a path rule like I implemented - that points to this folder. I guess their installer is too stupid to add paths to environment. I‘m not aware of issues with my much cle

[2018-11-14 16:54] karianna commented on #724
Ah, I see it now - yes this is the old Java version number problem.

`at org.apache.commons.lang.SystemUtils.getJavaVersionAsFloat(SystemUtils.java:1133)` is the one causing the problem.  If you put a debug point in there can you tell me what the value being passed in is?

[2018-11-14 17:15] lumpfish commented on #459
@alexhass - regarding "As I have no interest in bad custom action like they are doing, I cleaned this up."
Are you saying that your installer only adds \bin to PATH and sets up JAVA_HOME by design?  I am just trying to understand possible implications for users migrating from Oracle java releases to AdoptOpenJDK releases.

[2018-11-14 18:25] karianna commented on #459
That was my assumption, but @lumpfish is actually correct, my apologies for putting you wrong there!

I'll need to look into this, I'll try to be quick!

[2018-11-14 19:29] don-vip commented on #459
It might be interesting to take a look at what Amazon does with @corretto.
They provide a preview [MSI installer](https://docs.aws.amazon.com/corretto/latest/corretto-8-ug/windows-7-install.html) which installs OpenJDK to `C:\Program Files\Amazon Corretto\`. There we get two folders `jdk1.8.0_192` and `jre8`. The Windows registry key is `HKEY_LOCAL_MACHINE\SOFTWARE\Amazon\Amazon Corretto\1.8.0.192

[2018-11-14 19:42] karianna commented on #459
Thinking about this further it probably is safest to have:

`HKEY_LOCAL_MACHINE\SOFTWARE\AdoptOpenJDK\AdoptOpenJDK\8.0.192.12\MSI\Path = C:\Program Files\AdoptOpenJDK\jdk-8.0.192.12`

@alexhass Does that impact the way you deal with JDK vs JRE?

[2018-11-14 20:53] alexhass commented on #459
Sorry, that was a misunderstanding... my mobile screen was too small and I thought for unknown reason you talked about the path. So you found a bug... I will fix asap JAVA_HOME path and not only this - after your note I have seen for JRE it need to be JRE_HOME. This requires another small change.

[2018-11-14 21:01] alexhass commented on #459
I will change to:

`HKEY_LOCAL_MACHINE\SOFTWARE\AdoptOpenJDK\JDK\8.0.192.12\MSI\Path = C:\Program Files\AdoptOpenJDK\jdk-8.0.192.12
HKEY_LOCAL_MACHINE\SOFTWARE\AdoptOpenJDK\JRE\8.0.192.12\MSI\Path = C:\Program Files\AdoptOpenJDK\jre-8.0.192.12`

The key need to be unique and we cannot use "AdoptOpenJDK". I need to make sure JRE and JDK do not override each others registry keys.

[2018-11-14 21:02] karianna commented on #459
Perfect thank you!

[2018-11-14 21:41] breun commented on #321
I believe the original issue is fixed with the current AdoptOpenJDK 8u192 and 11.0.1 releases for macOS.

[2018-11-14 21:42] #321 closed

[2018-11-14 21:43] breun commented on #311
I see OpenJDK 11 releases with Hotspot and OpenJ9 on https://adoptopenjdk.net so I guess this is fixed?

[2018-11-14 21:44] #311 closed

[2018-11-14 21:54] breun opened #745 "More accurately identify macOS builds in Info.plist"
I think it might be a good idea to use more precise descriptions in `Contents/Info.plist` for the macOS builds that show AdoptOpenJDK and indicate the included JVM (HotSpot/OpenJ9).

Currently I see this on my machine:

[code]

Currently both the HotSpot and OpenJ9-based OpenJDK 11.0.1 builds from AdoptOpenJDK show up with the same description.

I think output like this would be more helpful:

[co

[2018-11-14 23:38] alexhass commented on #459
Hopefully we can get the MSIs out of the door now.

[2018-11-15 09:50] lumpfish commented on #459
Regarding Oracle's use of symbolic links to the latest installed java via C:\ProgramData\Oracle\Java\javapath - can you confirm that AdoptOpenJDK does not plan to mimic that behaviour?

(@alexhass - thanks for pointing out java.exe is no longer put into ```c:\Windows\System32```!  Shows how often I actually install java (rather than unzipping / untarring!))

[2018-11-15 17:40] alexhass commented on #459
I analyzed what they are doing and do not see a single technical reason why they are doing this. As said a few time they are doing bad things and I will not mimic bullsh**.

I guess they are doing it to break the current end user msi setup *intentionally* if manually extracted by admins. I can show you the mst to repair their setup... it is shocking. And this only to force customers to license the

[2018-11-15 20:14] pshipton opened #748 "Use the appropriate jdk tag when building OpenJ9 releases"
When looking for OpenJDK tags for OpenJ9 release builds, only tags of the appropriate `jdk` format should be used.

i.e.
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/a98b32fb3bb156b8545235b7735bb2744d45c6d6/jdk/make/closed/autoconf/custom-hook.m4#L258

https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/6465e98ad3b609913c57cfe5b68a284396eddf98/closed/autoconf/custom-hook.m4#L311

T

[2018-11-15 20:14] pshipton commented on #748
@sxa555

[2018-11-16 16:35] karianna opened #749 "Use new prebuilt freetype libs on windows"
See https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/566

[2018-11-18 10:23] io7m opened #750 "Group-writable permissions in some (all?) tar.gz builds"
Hello.

It seems as though some of the builds delivered in .tar.gz archives have group-writable permissions, leading to files being group-writable when extracted.

An example of this is the `OpenJDK11-jre_ppc64le_linux_openj9_11.0.1_13.tar.gz `:

[code]

This seems to be the case with at least:

https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.1%2B13/OpenJDK11-jre_ppc6

[2018-11-19 09:06] wfouche commented on #422
Fix tested. Issue resolved. Thank you.

[2018-11-19 09:06] #422 closed

[2018-11-19 09:46] lumpfish commented on #459
Regarding the End User License Agreement to be presented when installing openjdk-openj9 builds, this should be the license from the Extensions for OpenJDK8 for Eclipse OpenJ9 repository: https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/LICENSE (GPLv2 with Classpath Exception) not the Eclipse/openj9 license: https://github.com/eclipse/openj9/blob/master/LICENSE.

[2018-11-19 09:58] jrivard commented on #430
Closing due to adoptopendjk11 release and this issue seems to be solved there.

[2018-11-19 11:04] jrivard opened #753 "adoptopenjdk11 build is broken: error while loading shared libraries: libjli.so"
The instructions at https://hub.docker.com/r/adoptopenjdk/openjdk11/ say to run the following test command:

`docker run --rm -it adoptopenjdk/openjdk11:x86_64-ubuntu-jdk11-nightly java -version`

This results in the error:
`java: error while loading shared libraries: libjli.so: cannot open shared object file: No such file or directory`

The expected output is the java version/build info.

I've tr

[2018-11-19 14:49] a-roberts opened #754 "Linux/PPCLE+AARCH64 missing libfreetype"
I want to switch from openjdk 8 to the adoptopenjdk binaries, specifically https://hub.docker.com/r/adoptopenjdk/openjdk8-openj9/tags/ and ppc64le-ubuntu-jdk8u192-b12, for Jenkins performance.

I have an existing openjdk 8 based image and it performs terribly slow on my Power LE ICP 3.1 stack.

So slow that my readiness probes (the ones by default in the real Jenkins chart) fails repeatedly. I kno

[2018-11-19 15:48] sxa555 commented on #686
For completeness https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9-macosXL/ has the final build job for macos/ large heap

[2018-11-19 15:49] #430 closed

[2018-11-19 17:53] jarnbjo commented on #682
We also ran into this problem today with JDK 11.0.1 and it affects at least the Linux version, but not the Windows version of AdoptOpenJDK.

The NullPointerException in FontConfiguration.java:1264 is caused by a missing font configuration file, which is not included with the Linux version of AdoptOpenJDK. It is important to notice that the direct cause of the exception is a missing _configuration_

[2018-11-19 17:54] jarnbjo commented on #693
The NullPointerException in FontConfiguration.java:1264 is caused by a missing font configuration file, which is not included with the Linux version of AdoptOpenJDK. It is important to notice that the direct cause of the exception is a missing _configuration_ file and not that actual font files are missing.

When the AWT font subsystem is initialized, it will look for a font configuration file in

[2018-11-19 17:56] jarnbjo commented on #682
Initially commented on issue 693, but also relevant here:

The NullPointerException in FontConfiguration.java:1264 is caused by a missing font configuration file, which is not included with the Linux version of AdoptOpenJDK. It is important to notice that the direct cause of the exception is a missing _configuration_ file and not that actual font files are missing.

When the AWT font subsystem is

[2018-11-19 20:10] ericparton commented on #659
Is this being fixed for OpenJDK11 as well? I have OpenJDK11U-jdk_x64_mac_hotspot_11.0.1_13 and I don't see a jre/lib/security/cacert file in the JAVA_HOME there either.

[2018-11-19 20:46] karianna commented on #659
11 should have them, that's a bug.

[2018-11-21 09:20] lwahonen opened #755 "The README file gives no instructions for installing Cygwin"
Windows can't run the makejdk-any-platform.sh (or any of the other tools) natively, and needs Cygwin or something similar installed. This dependency should be properly documented.

[2018-11-21 16:39] sxa555 commented on #686
Seems to be absent on the website - reopening ;-)

[2018-11-21 17:36] ericparton commented on #659
@karianna should I create a different issue for that?

[2018-11-21 22:10] karianna commented on #146
Looking for Pull Requests on this one for it to happen quickly.

[2018-11-21 22:17] karianna commented on #659
Yes please.

[2018-11-22 06:31] arastoul commented on #577
Is still have this  issue with AdoptOpenJdk 1.8u192b12,
should it be resolved or is it planned in a future build ?
TIA for your answer

[2018-11-22 11:11] karianna commented on #577
See #245 as well - this is also possibly an installer issue - repoening.

[2018-11-22 11:21] sxa555 commented on #744
Related: https://github.com/AdoptOpenJDK/openjdk-build/issues/588 https://github.com/AdoptOpenJDK/openjdk-build/issues/686 https://github.com/AdoptOpenJDK/openjdk-build/issues/433

[2018-11-22 11:30] sxa555 commented on #755
FYI In general we have the ansible playbooks in https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible/playbooks/AdoptOpenJDK_Windows_Playbook that cover all the prerequities needed to run the build which has generally been the master source of such information (although the Windows one isn't 100% complete just now but we are working on that)

I'm not against updating the READM

[2018-11-22 11:34] #750 closed

[2018-11-22 11:49] lwahonen commented on #755
I tried to find a ”for dummies” guide in that repo too, with little luck.

Right now, it seems that for *nix users making a build is a trivial exercise (git clone, makejdk-any-playform.sh). For Windows users, it looks extremely complicated.

I would assume many aspiring developers would prefer building the JDK on their workstation, not putzing around with Ansible build cluster automation.

[2018-11-22 11:59] sxa555 commented on #755
Nah we actually have a load of specific packages needed for UNIX based platforms too (In fact the list is longer), although it's a bit more likely that UNIX users will have more of the ones we need available by default.

The intention of ansible is to make it as easy as possible to set up machines in a suitable way as simply as possible without requiring people to do it manually, although the "as

[2018-11-22 12:19] sxa555 opened #757 "Duplicate OpenJ9 builds in some releases"
e.g. as reported by @dinogun ref https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.1%2B13 :

`Build seems to be producing two binaries for some of the arches with different names (Eg. OpenJDK11-jdk_ppc64le_linux_openj9_11.0.1_13.tar.gz and OpenJDK11U-jdk_ppc64le_linux_openj9_jdk-11.0.1_13_openj9-0.11.0_11.0.1_13.tar.gz)`

And by mosi0815 on slack:

`Why does this call return

[2018-11-22 12:59] sxa555 commented on #659
@ericparton Looks to me like Contents/Home/lib/security/cacerts is present in the mac JDK11/J9 downloads - can you clarify exactly which download you're using that doesn't appear to have it?

[2018-11-22 13:09] sxa555 commented on #757
Removed the following files from the release which have been superceded with later ones - this should resolve the duplicates:

[code]
API call now returning just one build:

. We've lost a few from the download count as a result of this though.
[code]
I have backups of the original files in case we need them. It should also be noted that we have lost the download counts for the deleted artefacts,

[2018-11-22 13:09] #757 closed

[2018-11-22 14:57] sxa555 commented on #754
@a-roberts Build seems to have completed without issues and tarball has the freetype lib in it - can you grab it and check if it looks ok for you?

[2018-11-22 16:20] sxa555 commented on #750
Verified as resolved on the builds at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u- linux-aarch64-hotspot/11/ - assuming other builds are also good unless someone tells me otherwise.

[2018-11-22 16:37] sxa555 commented on #748
Relevant code is in getFirstTagFromOpenJDKGitRepo() in https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L478

[2018-11-22 16:44] sxa555 commented on #748
The logic around that makes it non-trivial to switch it to only check tags of a particular format with a `grep` for example.

In the case of the current failing builds it looks like the old (now deleted tag) has been removed from the repository but the clone on the machines (Except on Linux/s390x which I'd wiped for some reason a few days ago) still have the tag present in the clone and that hasn'

[2018-11-22 16:54] sxa555 commented on #748
`CLEAN_WORKSPACE` option does not appear to have done what I expected it to - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/28/console has not resulted in a full clone and the failure due to the deleted tag `openj9-0.11r1` is still preventing the builds from succeeding :-(

[2018-11-22 16:55] sxa555 commented on #748
CLEAN_WORKSPACE option does not appear to have done what I expected it to - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/28/console has not resulted in a full clone and the failure due to the deleted tag openj9-0.11r1 is still preventing the builds from succeeding :-( Have contacted @johnoliver

[2018-11-22 16:55] sxa555 commented on #748
`CLEAN_WORKSPACE` option does not appear to have done what I expected it to - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/28/console has not resulted in a full clone and the failure due to the deleted tag openj9-0.11r1 is still preventing the builds from succeeding :-( Have contacted @johnoliver

[2018-11-22 17:12] sxa555 commented on #700
Installed on both windows openj9 build machines, merged https://github.com/AdoptOpenJDK/openjdk-build/pull/701 (now that https://github.com/eclipse/openj9/pull/2979 is in) and running a build at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/167/

[2018-11-22 17:16] sxa555 commented on #700
NOTE: I have **NOT**  removed the old compiler from the machines at the time of writing.

[2018-11-22 17:47] linghuchong123 opened #760 "Microsoft Visual C++ Runtime Assertion Failed"
I don't know what's going on, but something should happen! I hope it will be resolved soon

OpenJDK11U-jdk_x64_windows_openj9_jdk-11.0.1_13_openj9-0.11.0_11.0.1_13
Microsoft Visual C++ Runtime Assertion Failed

[screenshot is here](http://i1.bvimg.com/669744/92a81f6246239779.png)

[2018-11-22 19:01] io7m commented on #750
I'll let you know if not. I hope to test every available non-nightly build via the coffeepick work.

[2018-11-22 19:11] sxa555 commented on #760
Looks like it's somewhere in the OpenJ9 code, therefore have raised an issue against OpenJ9.

[2018-11-22 19:14] sxa555 commented on #760
Actually I'll close that one as it's a duplicate of an existing OpenJ9 issue: https://github.com/eclipse/openj9/issues/3441

[2018-11-22 19:54] sxa555 commented on #748
Related: https://github.com/AdoptOpenJDK/openjdk-build/issues/725
Have cleared up the workspace for  in order to be able toprogress https://github.com/AdoptOpenJDK/openjdk-build/issues/744

[2018-11-22 21:43] #754 closed

[2018-11-22 23:44] linghuchong123 commented on #760
Ok

[2018-11-23 04:09] #760 closed

[2018-11-23 04:14] linghuchong123 commented on #760
Thank you (^_^)

[2018-11-23 10:59] a-roberts commented on #754
@sxa555 thanks, confirmed it's in your tarball and looks ok 👍

[2018-11-23 11:35] sxa555 commented on #748
Yep I understand Peter - I'm just hijacking your issue to cover the immediate issue (since it's all symptoms of a problem under the category of the "unexpected tag") and won't close it once I've resolved it. The clean workspace option isn't doing what I expected (https://github.com/AdoptOpenJDK/openjdk-build/pull/761 may resolve) so have manually cleared all the workspaces on the machine. Now reru

[2018-11-23 12:42] sxa555 opened #762 "Stabilise OpenJ9 builds"
We've had a few issues recently including the items in the comments of https://github.com/AdoptOpenJDK/openjdk-build/issues/748 - now that the issues with the tag are all gone we are still seeing some underlying issues which I'm going to use this work item to document while we resolve.

1. [JDK8: Mac:](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9/)  `./

[2018-11-23 12:45] sxa555 commented on #762
macos issue raised half an hour ago at https://github.com/eclipse/openj9/issues/3810 as it is also in the OpenJ9 CI

[2018-11-23 13:43] sxa555 commented on #762
JDK11/s390x still broken after clearing workspace at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/31/console
[code]

[2018-11-23 15:03] sxa555 commented on #762
Linux/s390x worked on next buid which happened on the same machine, therefore only left with the macos build failure which is with the openj9 team.

[2018-11-24 13:46] Ev1lC opened #763 "Problems with runtime built from jdk-11.0.1+13 (Windows x86)"
On Windows 32 bit.

I built a runtime using jlink for my app using:

jlink --no-header-files --no-man-pages --compress=2 --strip-debug
	--module-path jmods
	--add-modules=java.base
	--add-modules=java.datatransfer
	--add-modules=java.desktop
	--add-modules=java.logging
	--add-modules=java.management
	--add-modules=java.naming
	--add-modules=java.prefs
	--add-modules=java.scripting
	--add-modules=j

[2018-11-24 16:46] karianna commented on #763
Can you forward the log it mentioned - we will need to dig into this and
see if it’s a build issue or an upstream code issue

On Sat, 24 Nov 2018 at 13:46, Ev1lC <notifications@github.com> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2018-11-24 19:16] io7m opened #766 "Missing checksums for 11.0.1+13 builds"
Hello!

The following checksum files are missing (GitHub gives 404 errors):

https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.1%2B13/OpenJDK11-jdk_ppc64_aix_openj9_11.0.1_13.tar.gz.sha256.txt
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.1%2B13/OpenJDK11-jdk_ppc64le_linux_openj9_11.0.1_13.tar.gz.sha256.txt
https://github.com/AdoptOpenJDK

[2018-11-25 13:55] Ev1lC commented on #763
Thanks for getting back.

I ran java.exe again from the jlink generated runtime and here's the console error followed by the log file.

Note the java.exe from the SDK works fine. The only unusual thing here is it's running on a 64-bit AMD CPU running 32-bit Windows. I have no idea why, but it's quite old and it shouldn't make any difference.

Any help would be gratefully received.

===============

[2018-11-25 17:43] karianna commented on #766
@sxa555 One for you I think

[2018-11-25 17:54] karianna commented on #763
@ali-ince Are you able to look at this one?  It may be https://bugs.openjdk.java.net/browse/JDK-8213961 but I'm not sure.  Assuming it's not something that you think is obvious then we can take this to the openjdk mailing lists (I can guide you to which one)

[2018-11-25 22:02] alexhass commented on #577
What Windows releases include JavaFX?

[2018-11-25 23:35] ali-ince commented on #763
Yes, I'll have a look at it @karianna. Another possible issue can as well be the one about `__stdcall` and name decoration problem - but I need to reproduce this first.

@Ev1lC Is it possible for you to verify the same runtime on a 64-bit machine as well? Do you think that it's possible to get a consistent reproduction steps?

Thanks.

[2018-11-26 09:03] Ev1lC commented on #763
Hi @ali-ince,

1. Every time I build the runtime using jlink, I get the same issue. I can BUILD it on 32-bit or 64-bit and the same crash occurs, each and every time.

2. Same thing occurs if I RUN (the same runtime) on 32-bit or 64-bit.

So yes, it's totally reproducible. If you can't get a 32-bit Windows machine try it on a 64-bit and you should get the same issue.

Hope this helps.

[2018-11-26 09:09] Ev1lC commented on #763
Just read my response and I don't think I answered fully. Steps to reproduce:

1. Download and unzip jdk-11.0.1+13 (Windows x86) on 32-bit or 64-bit Windows.

2. Prepend the jdk/bin directory to your path.

3. Generate a jre using:

 jlink --no-header-files --no-man-pages --compress=2 --strip-debug
 --module-path jmods
 --add-modules=java.base
 --add-modules=java.datatransfer
 --add-modules=java.d

[2018-11-26 09:57] alexhass commented on #577
2 weeks ago I tested PDFsam on windows with 8.x and it complained that it cannot detect java. I just assumes it is not embedded. Maybe a bug in pdfsam.

[2018-11-26 13:30] sxa555 commented on #766
@io7m The 11.0.1+13 build was rebuilt and re-released and the older files were removed - those SHA files were from the old release and have therefore gone to avoid confusion (although I still have a backup of them all!) . The release now has updated files and corresponding SHA sum files are present. Had you stored a direct link to the old ones?

https://adoptopenjdk.net/archive.html?variant=openjd

[2018-11-26 14:20] io7m commented on #766
Are you sure? The current `releases.json` file is actually completely empty...

https://github.com/AdoptOpenJDK/openjdk11-binaries/blob/master/releases.json

For that file, I just see `[]`.

Nope. I `GET` https://raw.githubusercontent.com/AdoptOpenJDK/openjdk11-binaries/master/releases.json and then parse the results each time. Is it possible that GitHub is doing some sort of caching?

[2018-11-26 16:07] ericparton commented on #659
@sxa555 It looks like it is there in at Contents/Home/lib/security. I'm on the mac, and I was trying to find it in the same location that the Oracle jdk used to have it at, which was jre/lib/security. Thanks for the clarification

[2018-11-26 19:49] karianna commented on #766
I'm pretty sure that `releases.json` file is no longer used.

[2018-11-26 20:05] io7m commented on #766
Er... If the `releases.json` file isn't used, how am I expected to get a list of releases from the git repository? From where is the API sourcing release data?

[2018-11-26 20:09] karianna commented on #766
I believe the API is sourcing directly from the GitHub API.  So you should use openjdk-api v2.

[2018-11-26 20:18] io7m commented on #766
The problem is that the v2 API doesn't provide sufficient metadata, and it also means I'm going through another layer of indirection when it comes to bug fixes and updates. I don't mean to be disparage anyone, but I waited over eight months for what should have been a simple bug fix on the v1 API. I would rather grab the data directly from source myself and cut out all of the middlemen. If I need

[2018-11-26 20:21] sxa555 commented on #766
If you really want to bypass the AdoptOpenJDK API you can get the info from e.g. https://api.github.com/repos/adoptopenjdk/openjdk11-binaries/releases

Further details on their APi is at https://developer.github.com/v3/repos/releases/

@karianna We should probably do something with that file to indicate to anyone browsing it that it's now obsolete

[2018-11-26 20:45] io7m commented on #766
Primarily these:

https://github.com/AdoptOpenJDK/openjdk-api/issues/75
https://github.com/AdoptOpenJDK/openjdk-api/issues/118

But to be honest, I'd rather just get hold of the raw data myself and do all of the interpretation/filtering/searching locally rather than go through another layer of JSON and Javascript. That way I can get the exact semantics I want. Going through "someone else's Javascr

[2018-11-27 03:59] netroby commented on #641
Need zgc, jdk 11 now can use zgc

[2018-11-27 09:55] karianna opened #769 "Provide a OpenJDK 10 Mac build with the correct layout for completeness"
See https://github.com/AdoptOpenJDK/homebrew-openjdk/pull/46

[2018-11-27 10:30] gdams commented on #769
I'm going to try and kick off a build today

[2018-11-27 14:35] gdams commented on #769
closing https://github.com/AdoptOpenJDK/openjdk10-binaries/releases/tag/jdk-10.0.2%2B13

[2018-11-27 14:35] #769 closed

[2018-11-27 21:47] gchauvet opened #774 "Add linux x86 jre release"
I've noticed there is no linux x86 JRE archive from adoptopenjdk.
Is it scheduled to add this target ?

[2018-11-27 23:50] alexhass commented on #577
I download `jdk8u192-b12-jre` and checked path `\lib\ext\` again and there is **NO** `jfxrt.jar`

[2018-11-28 06:59] arastoul commented on #577
You have to look at jre directory under jdk not jre outside jdk directory tree.
Here on a windows machine with jdk 191 (screenshot taken yesterday, I did not install 192 since it is not my machine):
![jdk-jfxrt](https://user-images.githubusercontent.com/24301754/49134104-ba7bb400-f2e2-11e8-8ca8-b30ccd423c23.png)
I noticed the problem because I have some code that compiles with oracle jdk and who d

[2018-11-28 08:17] alexhass commented on #577
You refer to Oracle Java. But I talk about AdoptOpenJDK‘s JRE.

The AdoptOpenJDK package is missing JavaFX.

[2018-11-28 10:22] karianna commented on #774
There is yes, we were producing these and then stopped a few weeks ago, this is a bug.

[2018-11-28 12:09] p0nder commented on #659
I forgot to answer here that I've downloadedOpenJDK8U-jdk_x64_windows_openj9_8u192b12 a couple of days ago and the truststore was populated. Thanks for fixing it!

[2018-11-28 12:09] #659 closed

[2018-11-28 14:05] gchauvet commented on #774
Great ! Is downloading from https://adoptopenjdk.net/releases.html will be automatically added ?

[2018-11-28 15:38] sxa555 commented on #774
@gchcuvet - to clarify - are you talking about 32-bit x86?

[2018-11-28 15:40] gchauvet commented on #774
yes, 32-bit x86.

[2018-11-28 15:43] sxa555 commented on #774
Hmmm I didn't think we had ever produced them but maybe @karianna's seen something I missed ;-)

[2018-11-28 16:35] sxa555 commented on #766
I understand, although bear in mind there are other package management tools out there and I'd generally prefer them to use our API since if we ever move away from storing releases in github to our own servers then such tools will keep working :-)

[2018-11-28 16:42] gchauvet commented on #774
That's why I don't see this target on your release page :-)
Unfortunately, we have some users who always used a x86 32-bits linux :/

[2018-11-28 19:06] bjhargrave opened #775 "New jdk-10.0.2+13 build for Linux,x64,Hotspot is bad; working jdk-10.0.2+13 now deleted"
**Platform:**
Linux

**Architecture:**
x64

On Nov 27, a replacement jdk-10.0.2+13 build was released. Using the API

[code]

You can see 2 versions of jdk-10.0.2+13 (the second and third entries.) The third entry was released Nov has a binary_size of 206829381 which is way different than the second entry's binary_size of 389638224.

Furthermore, as I write this bug, I see you have deleted <https:

[2018-11-28 22:14] karianna commented on #774
Ah apologies for some reason I saw ARM and not x86 - no I don't think we've ever built those..

[2018-11-28 22:17] karianna commented on #775
@gdams My understanding is that this is now resolved?

[2018-11-28 22:51] bjhargrave commented on #775
I am not aware that it is resolved. The prior release URLs are still dead. And build using the updated API still fails for my project: https://travis-ci.org/bndtools/bnd/jobs/460953701#L461.

[2018-11-28 23:30] karianna commented on #775
OK, I've pinged George but given timezones, this might not get resolved until tomorrow.  Apologies for this, we clearly need a more robust mechanism around this.

[2018-11-29 07:03] arastoul commented on #577
Yes, I checked Oracle jdk .
It looks like the javafx libraries are missing both in linux and windows AdoptOpenJDK builds.

[2018-11-29 08:37] Horcrux7 opened #776 "EXCEPTION_ACCESS_VIOLATION and SIGSEGV with 11.0.1+13"
We have a crash in our test system on Linux and Windows on the same code position. Attached are crash dumps for both platforms.
[hs_err_pid590.log](https://github.com/AdoptOpenJDK/openjdk-build/files/2628221/hs_err_pid590.log)
[hs_err_pid11476.log](https://github.com/AdoptOpenJDK/openjdk-build/files/2628223/hs_err_pid11476.log)

The crash is reproducible on our docker based test system of every ru

[2018-11-29 11:35] karianna commented on #776
@Horcrux7 And do you get the same crash if you run the Oracle OpenJDK build from jdk.java.net?  I'm trying to identify if this is an issue with our build process or an OpenJDK upstream bug.

[2018-11-29 13:27] shannah opened #778 "Exception in thread "Swing-Shell" java.lang.InternalError: Could not initialize COM: HRESULT=0x80010106"
**Platform:**
Windows 10

**Architecture:**
x64

opening JFileChooser deadlocks the Swing EDT and freezes the application, drag-n-drop not working, etc.

This bug https://bugs.openjdk.java.net/browse/JDK-8189938 is present in the jdk-11.0.1+13 Win64 builds in OpenJDK.  It is not present in the jdk-11.0.1 win64 builds on https://jdk.java.net/11/

The fix:

So it looks like the toolchain for buildin

[2018-11-29 14:47] gchauvet commented on #774
note: I've successfully build the linux x86-32bits target on my computer with your scripts.
However, i'm not able to build openJ9 variante (unsupported arch i686)

[2018-11-29 17:16] karianna commented on #778
So basiucally use Visual Studio 2017 toolchain for our 11u build.  I think that's now the case.  But we can check.

[2018-11-29 18:03] sxa555 commented on #774
Thanks. Hopefully it won't prove too hard to make that work, although I don't think anyone's tried it for a while ;-)

[2018-11-29 18:49] Ev1lC commented on #763
Hi @ali-ince, Just wondered whether you managed to reproduce the error on the x86 JDK?

[2018-11-29 19:01] sxa555 commented on #406
An update to this - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/ is now running cleanly

[2018-11-29 19:32] io7m commented on #766
The original `releases.json` file... Where was that file coming from? It looked to be a straightforward dump of the GitHub API data.

[2018-11-29 19:56] karianna commented on #406
So this can be closed now I think?

[2018-11-29 20:03] sxa555 commented on #406
I left it open on the basis that I don't believe we don't have regular JDK8 ones running at present

[2018-11-29 21:07] smlambert opened #781 "build-scripts/openjdk11-pipeline git fetch failure"
**Platform:**
win64

**Architecture:**
x86

Please describe the issue that you are having with our binaries and if possible how to recreate it.

Not sure if a build or infra issue, but from https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/54/console output, see that pipelines fail to launch test jobs failing on jdk11 windows builds:

 Started by upstream pr

[2018-11-29 21:14] AdamBrousseau commented on #781
That comes from the Job config
![image](https://user-images.githubusercontent.com/6430052/49252368-dcb02780-f3f1-11e8-9649-2a66e06b03cb.png)

[2018-11-29 21:16] smlambert commented on #781
haha, thanks, closing.

[2018-11-29 21:16] #781 closed

[2018-11-29 22:06] ali-ince commented on #763
Hi @Ev1lC,

Yes, I could reproduce the same error locally with the steps you've provided.

I'll need to do more investigation on what's wrong with the built image though - which I assume will need more time. I'll keep the issue updated as I hopefully find out what's going wrong.

Thanks.

[2018-11-30 03:27] netroby opened #782 "JDK 11 ZGC needed."
JDK 11 ZGC needed.
The current build not ship with ZGC , please enable it . thanks

[2018-11-30 08:33] Horcrux7 commented on #776
The tests ran before with Oracle JDK 8, which work. Currently we switch to JDK 11 and switch the JDK vendor because known reasons.

I will try to run the test with Oracle JDK 11 and post the result here.

Currently it is confusing where bug reports should be published. In the crash, this site is suggested.

[2018-11-30 09:38] ksilz commented on #202
Hi @karianna, as of Nov 30, this is a still a problem with the nightly build for Mac OS:

    $ tar tvzf OpenJDK8U-jdk_x64_mac_openj9_2018-11-29-11-20.tar | grep -i freetype
    -rwxr-xr-x  0 jenkins staff   872912 29 Nov 09:48 jdk8u192-b12/Contents/Home/jre/lib/libfreetype.dylib.6

[2018-11-30 12:42] sxa555 commented on #748
@pshipton Is the intent that your tags will always have `openj9` in them? I'm weighing up a whilelist (`^jdk*`) via blacklist (exclude `openj9`) approach here.

[2018-11-30 13:11] sxa555 opened #784 "JDK8/Hotspot/macos builds failing"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot

Failure is quite cryptic:
[code]

[2018-11-30 13:15] sxa555 commented on #784
Re-running with the clean workspace option set to true appears to have resolved it. Running past that point at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/92/console

[2018-11-30 13:15] #784 closed

[2018-11-30 15:41] Horcrux7 commented on #776
Yes, it crash also with the Oracle JDK: `JRE version: OpenJDK Runtime Environment (11.0.1+13) (build 11.0.1+13)`

[2018-11-30 16:26] dougxc opened #786 "openjdk-jdk mirror is out of date"
I find this mirror of http://hg.openjdk.java.net/jdk/jdk very useful for searching and linking to JDK code. However, it seems like the mirror was last updated Sept 3rd. Is that just some issue in the mirroring process?

[2018-11-30 17:56] karianna opened #785 "Add Amazon Corretto Build to the pipeline"
See https://github.com/AdoptOpenJDK/TSC/issues/39

[2018-11-30 18:41] karianna commented on #776
@Horcrux7 Thank you for testing!  That confirms the bug report should be passed upstream (we triage her first).

The place to report this is In the HotSpot group at OpenJDK --> https://mail.openjdk.java.net/mailman/listinfo/hotspot-dev

You can send them your original bug report and the 2 hs files (OpenJDK mailing lists sadly do not support attachments, so I recommend hosting them on Pastebin).  Y

[2018-11-30 18:41] #776 closed

[2018-11-30 18:43] karianna commented on #786
Yes, it's a git-hg bug for sure

[2018-11-30 19:09] pshipton commented on #748
@sxa555 It seems an undue restriction that ignored tags must contains `openj9`. We know the format of the openjdk release tags, as shown in the github links in the original description.

[2018-12-01 13:01] don-vip commented on #476
How can I get the fix?
* I downloaded [JDK8u202 b03](https://jdk.java.net/8/) from Oracle and src.zip is still 20Mb. I don't understand why, as JDK-8073327 is supposedly fixed in 8u202 b01
* AdoptOpenJDK 8u nightly refers to 8u192. I thought "nightly" meant master on jdk8u mercurial repository?

[2018-12-01 15:33] don-vip opened #787 "Add jdk8u202-b01"
**Platform:**
All
**Architecture:**
All

Can you please build `jdk8u202-b01`? It contains fix for https://github.com/AdoptOpenJDK/openjdk-build/issues/476 / https://github.com/AdoptOpenJDK/openjdk8-releases/issues/9

[2018-12-03 17:12] sxa555 commented on #748
See comment in the PR - the aarch64 tags are not always a direct `^jdk*u???-b??$` tag as a counter example

[2018-12-04 10:43] sxa555 opened #788 "macos openj9 JDK11 build failing"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-mac-x64-openj9

Failing on job 40, passed on job 39 yesterday on same machine [build-macstadium-macos1010-2](https://ci.adoptopenjdk.net/computer/build-macstadium-macos1010-2/)

[code]

[2018-12-04 11:00] sxa555 opened #789 "Build failure on JDK8/OpenJ9/linux-ppc64le"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9/
Worked on build 104, failed today on 105. Both ran on [build-osuosl-centos74-ppc64le-2](https://ci.adoptopenjdk.net/computer/build-osuosl-centos74-ppc64le-2/)

PIcking up an old git which doesn't support `-C`

[code]

[2018-12-04 11:07] sxa555 commented on #788
No failure at https://ci.eclipse.org/openj9/job/Build-JDK11-osx_x86-64_cmprssptrs/

[2018-12-04 11:34] sxa555 commented on #788
Passed on 41 which I kicked off .. Closing as odd.

[2018-12-04 11:34] #788 closed

[2018-12-04 14:14] sophia-guo opened #790 "job openjdk11_j9_openjdktest_x86-64_linux_largeHeap was not triggered by upstream project"
Job openjdk11_j9_openjdktest_x86-64_linux_largeHeap is not triggered by upstream project . Job openjdk11_j9_openjdktest_x86-64_linux are triggered twice per upstream project.

Details
https://github.com/AdoptOpenJDK/openjdk-tests/issues/724

[2018-12-04 14:52] sophia-guo opened #791 "RELEASE_TAG is not passed to test pipeline"
According to console output RELEASE_TAG is not passed to test pipeline.
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/91/consoleFull

Suspect that should use value of  releaseTag instead of TAG in https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/openjdk_build_pipeline.groovy#L83  ?

[2018-12-04 14:57] sophia-guo commented on #791
@karianna

[2018-12-04 17:50] karianna commented on #791
@sophia-guo That's correct, we were only setting that for release jobs.  It seems the wrong naming convention to set that value for nightly builds.  If tag/value is required then maybe it needs to be renamed as something like `testVersion`?  Maybe there's a better name?

[2018-12-05 08:47] GitHubHans1 opened #792 "JRE distribution for commercial use"
Hello,
We are planning to distribute the JRE from AdoptOpenJDK (OpenJDK 8, Hotspot, Windows x32) with a commercial purpose.
In our understanding, this scenario should be license-compliant, since it is based on the GPL2withClasspathexception license.
However, we found the file named "THIRD_PARTY_README" in the downloaded zip file. In this file, however, many more licenses are listed. Now we ask our

[2018-12-05 08:51] GitHubHans1 opened #793 "Higher memory consumption with AdoptOpenJDK"
Hello,
We are currently planning to switch our product from Oracle JRE to AdoptOpenJDK. Here we use the following variants:
Oracle JRE: Version 8u192, Windows x32
AdoptOpenJDK JRE: Version 8u192, Hotspot, Windows x32

If we analyze the memory consumption and the performance of the main use case in our product with these two runtimes, we get the following values:
Oracle JRE:
- Performance: 47 secon

[2018-12-05 13:43] mharvey-gresham commented on #577
Is there an E.T.A on when JavaFX may be included in the 8.x releases?

[2018-12-05 16:24] andrew-m-leonard opened #794 "Nightly JDK11U builds are not being published...?"
There have been no nightly jdk11u builds published for 2 days here: https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

[2018-12-05 18:10] gabibau commented on #489
I have the same Issue. Even with code as simple as this (running with Netbeans):
[code]
[code]
I cannot migrate to AdoptOpenJDK because of this.

[2018-12-06 03:33] slandelle commented on #489
The workaround is to create a symlink: libfreetype.6.dylib -> libfreetype.dylib.6

[2018-12-06 11:49] sxa555 commented on #794
Not specific to OpenJ9 - also true for HotSpot/JDK11, but not JDK8

[2018-12-06 11:53] sxa555 commented on #794
I think this may be a side effect of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/612 as some of the arm jobs were blocked. Will get things freed up ...

[2018-12-06 12:33] sxa555 commented on #794
Killed the following which were stuck at `Cannot contact build-scaleway-armv7-ubuntu16-04-[12]: java.lang.InterruptedException`
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/9/
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/12/
Machines had fallen over for the second time in the last few days - pos

[2018-12-06 13:07] karianna commented on #792
It's GPLv2+CE so you're safe to use it as you describe.

[2018-12-06 13:07] #792 closed

[2018-12-06 13:09] karianna commented on #793
@GitHubHans1 The `-Xincgc` should work for the AdoptOpenJDK JRE - what occurs if you use that?

[2018-12-06 14:03] sxa555 commented on #794
Seems to have now caught up - closing

[2018-12-06 14:03] #794 closed

[2018-12-06 20:31] Diagoras commented on #489
@slandelle Is the root cause just that the filename has "6" and "dylib" in the wrong order? Because that's be pretty funny, and hopefully an easy fix.

[2018-12-06 22:09] ali-ince commented on #763
Hi All,

Sorry for the delay, but it took some time to get on, debug and identify what's going wrong.

As I suspected, this is related to removal of `JNICALL` modifiers from `zip.dll` exports (specifically the function [ZIP_InflateFully](https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/src/java.base/share/native/libzip/zip_util.h#L284)) but still keeping the `JNICALL` on the function typ

[2018-12-06 22:16] tony-- opened #796 "Missing JDK11 JRE builds"
Originally I noticed that OpenJ9/macOS JRE builds were missing, but @sxa555 responded that "there haven't been any published JREs anywhere for a while".

[Related thread on Slack](https://adoptopenjdk.slack.com/archives/C09NLQQAV/p1544056768014000).

Looking at [JDK11+OpenJ9 nightlies](https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9), the most JRE recent builds for Mac/Li

[2018-12-07 11:19] karianna commented on #489
It appears to be a subtle difference between versions of Mac OS X.  Hope to have this resolved next week for future builds!

[2018-12-07 11:21] karianna commented on #763
No worries - this was a tough one to track down clearly.

That seems like a reasonable approach yes.  Hopefully (like the other conversation on a win 32 patch) the upstream folks may have some creative ideas as well.

[2018-12-08 06:56] taku0 commented on #796
Maybe related: https://github.com/AdoptOpenJDK/openjdk-build/issues/697

[2018-12-08 10:07] Ev1lC commented on #763
Many thanks for looking into this. Is the patch available now or should I just wait for the next release?

[2018-12-10 13:12] ali-ince commented on #763
There's now an in-progress patch for this at OpenJDK https://bugs.openjdk.java.net/browse/JDK-8215123.

I think it would make more sense to wait for the next release than have a downstream patch here and looking into the above bug report, it seems that passing `--compress=0` or ` --compress=1` can be a temporary workaround for the issue.

[2018-12-10 16:12] karianna commented on #26
This is being done in the security repo.

[2018-12-10 16:12] #26 closed

[2018-12-10 16:14] karianna commented on #16
Not needed as OCA's are signed for upstream patches.

[2018-12-10 16:14] #16 closed

[2018-12-10 16:16] karianna commented on #21
Our README docs should point to the script where developers should look.

[2018-12-10 16:20] #34 closed

[2018-12-10 16:21] karianna commented on #38
There's a plan in place for this in the security repo.

[2018-12-10 16:21] #38 closed

[2018-12-10 16:21] #41 closed

[2018-12-10 16:22] karianna commented on #46
Covered by test pipelines

[2018-12-10 16:22] #46 closed

[2018-12-10 16:32] karianna commented on #132
Done in re-write

[2018-12-10 16:32] #132 closed

[2018-12-10 16:34] karianna commented on #127
Duplicate of #60

[2018-12-10 16:34] #127 closed

[2018-12-10 16:37] karianna commented on #126
Jenkins has a cleanWorkspace option and local builds, you can just remove the `workspace` dir

[2018-12-10 16:37] #126 closed

[2018-12-10 16:38] karianna commented on #123
all coloring was removed.

[2018-12-10 16:38] #123 closed

[2018-12-10 16:39] #116 closed

[2018-12-10 16:40] karianna commented on #115
Resolved some time ago

[2018-12-10 16:40] #115 closed

[2018-12-10 16:50] karianna commented on #98
Upstream has landed, not backported.  We'll just suffer along but make adjustments in the API project.

[2018-12-10 16:50] #98 closed

[2018-12-10 16:52] karianna commented on #93
See #465 to continue this exciting saga.

[2018-12-10 16:52] #93 closed

[2018-12-10 16:54] karianna commented on #87
Let's confirm this is resolved.

[2018-12-10 16:55] #10 closed

[2018-12-10 16:57] karianna commented on #11
The output of Configure should hopefully do the trick + some extra Meta info from infra

[2018-12-10 17:01] #182 closed

[2018-12-10 17:06] karianna commented on #173
This is also really an API issue - we could provide the metadata via the API (source TBA) and greatly simplify the file names

[2018-12-10 17:48] gabibau commented on #489
It Works here. I hope it helps to fix the issue soon.
Thanks!

[2018-12-10 20:18] sophia-guo commented on #791
@karianna  I think releaseTag is fine. I've opened an issue in https://github.com/AdoptOpenJDK/openjdk-tests/issues/739, will close this one.

[2018-12-10 20:18] #791 closed

[2018-12-11 04:11] netroby commented on #782
ping @karianna would you  please provided us ZGC?
I read the source code of JDK 11, seems zgc include in the source code, but adoptopenjdk not built with zgc

[2018-12-11 09:52] karianna commented on #782
We're currently triaging our build issues and will put everything into milestones, realistically we're unlikely to do this one until Jan 2019 unless another volunteer picks it up.

[2018-12-11 12:14] Cynthiahaha commented on #489
#1 cd to the jdk path lib "/Contents/Home/jre/lib"
#2 then "sudo ln -s libfreetype.dylib.6 libfreetype.6.dylib"
It worked for me.

[2018-12-11 18:02] jeffgeek2018 opened #798 "Handle Leak on Windows - OpenJDK 10, 11"
**Platform: ** Windows 64 bit

**Architecture:** Intel

I have a multi-threaded long running Java application. This works fine with Oracle JRE 1.8. However, when i use OpenJDK 10.0.2 or 11.0.1+13, i see the number of handles used by the Java process constantly growing (100 handles every 5 mins). My application creates a number of short lived threads as it performs its tasks.

When i check with the

[2018-12-11 19:17] karianna commented on #798
@jeffgeek2018 Can you try with an OpenJDK build by Azul or Amazon as well?  I'm trying to figure out if this is an upstream issue.

[2018-12-12 01:09] jeffgeek2018 commented on #798
Yes, will check and report. I had tried the download from https://openjdk.java.net/ and that has the same issue as well.

[2018-12-12 03:48] jeffgeek2018 commented on #798
Tested with Azul. Same issue.

[2018-12-12 06:21] jeffgeek2018 commented on #798
[test.zip](https://github.com/AdoptOpenJDK/openjdk-build/files/2670695/test.zip)

Here is the code that i am having an issue with.  Run this code and check handle leaks in Windows task manager.

[2018-12-12 09:33] jeffgeek2018 commented on #798
![handles_used](https://user-images.githubusercontent.com/45798507/49860003-e7da5e80-fdc6-11e8-966b-3ba7880c1513.png)
Comparison of handles used with JDK 1.8 and 10.0.2 for the same test program. JDK 1.8 seems to reclaim the handles, whereas JDK 10 does not.

[2018-12-12 13:18] karianna commented on #798
OK this needs to be reported upstream then - you'll want to report it at the jdk-dev list:  https://mail.openjdk.java.net/mailman/listinfo/jdk-dev - you can point them to this issue if they need to see the screenshot etc.

[2018-12-12 13:18] #798 closed

[2018-12-12 13:54] danielsun1106 opened #800 "JVM 11.0.1 crashes"
JVM 11.0.1 crashes, here is the generated log, please look into the issue. Thanks!

[code]

[2018-12-12 14:08] XenoAmess opened #801 "How to make an openjdk to an jre?"
I downloaded your jdk11 x64 version here.
https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot
Really thanks.
But I wanna know if there be some way to make it an jre, in order to reduce the size.
In short, what files can I safely delete without affecting the JVM's functions for users?

[2018-12-12 19:04] karianna commented on #800
Hi @danielsun1106 - Can you try the OpenJDK from jdk.java.net or perhaps one from Azul?  I'm trying to ascertain if this is an Adopt Issue or whether this should be reported upstream.

[2018-12-12 19:07] danielsun1106 commented on #800
Hi @karianna , I am trying zulu, so far so good :-)

[2018-12-12 19:12] karianna commented on #801
See #792

[2018-12-12 19:12] #801 closed

[2018-12-12 19:58] karianna commented on #800
Is this an intermittent failure or is there a particular code path that causes this?

[2018-12-13 02:54] danielsun1106 commented on #800
No. At the beginning, I can build project apache/groovy well, but fails since the day before yesterday.

[2018-12-13 17:17] sxa555 opened #803 "ccache OpenJ9+JDK11 failures when building OpenSSL"
Happening on Linux when openssl is being built from source. Didn't seem to be failing for me outside jenkins with the same build options, so not sure why this is happening. Have put a temporary fix in as https://github.com/AdoptOpenJDK/openjdk-build/pull/802 to just disable ccache on those builds for now (Also been testing with https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-jdk11j9-

[2018-12-14 10:58] ceejatec commented on #262
Why was this closed? There are still no JRE downloads available...

[2018-12-14 11:00] gdams commented on #262
@ceejatec the website is hosting JDK and JRE packages and has been for a while

[2018-12-14 11:07] ceejatec commented on #262
I've been hunting around https://adoptopenjdk.net/ for a while and I can't find any... am I missing something obvious?

[2018-12-14 13:52] yamadamn commented on #262
@ceejatec You can download both JDK and JRE for OpenJDK 8 from https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=hotspot
JRE are still not hosted for OpenJDK 11 with HotSpot, but instead, JRE are already hosted for OpenJDK11 with OpenJ9.

[2018-12-14 18:44] pshipton opened #805 "docker adoptopenjdk/openjdk11-openj9 latest sets obsolete JAVA_VERSION"
The "latest" docker file contains `ENV JAVA_VERSION jdk-11+28` however this is the GA release. The last and current "latest" release is jdk-11.0.1+13 and the next release in Jan will be jdk-11.0.2+ something.

[2018-12-14 18:44] pshipton commented on #805
@dinogun

[2018-12-14 18:48] B0BAI commented on #805
Setting the `Environment` dynamically too (as an argument) will be great.

[2018-12-14 18:49] pshipton commented on #805
Moving this to https://github.com/AdoptOpenJDK/openjdk-docker/issues/94

[2018-12-14 18:49] #805 closed

[2018-12-15 04:15] ceejatec commented on #262
@yamadamn I could have sworn that wasn't there last night! And at the moment it does appear that there ARE HotSpot OpenJDK 11 JRE packages. Although the naming convention befuddles me - under jdk-11.0.1+13, the JRE download is https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11%2B28/OpenJDK11-jre_x64_linux_hotspot_11_28.tar.gz ... any idea what 11_28 is? Is that build in fa

[2018-12-15 10:10] mrbray99 commented on #443
I have just come across this issue in an App that has been upgraded to OpenJDK 11.  Is there a known workaround?

[2018-12-15 22:04] karianna commented on #800
@danielsun1106 Are you able to send us a sample program/snippet that causes this crash?

[2018-12-16 07:51] NaotoE0 opened #806 "Add JRE docker image"
I'm planning to replace OpenJDK to AdopetOpenJDK in my project that using docker.

Could you provide JRE container image like [OpenJDK](https://github.com/docker-library/openjdk/blob/7a33416016b60c045cf0ba99e82617ed6c130595/8/jre/Dockerfile)?

[2018-12-16 16:04] danielsun1106 commented on #800
The issue was found when I ran groovy tests:

1) clone https://github.com/apache/groovy.git
2) cd groovy
3) ./gradlew test

[2018-12-16 16:16] karianna commented on #800
Perfect, thanks we'll take a look

[2018-12-17 13:43] tumagonx commented on #577
Hope this solved before Oracle Java 8 reach EOL in two? more releases (u211).

[2018-12-17 16:32] rarguello commented on #774
What OS did you use?
I build it on CentOS 6.10 (32 bits) and it works. I'll post the instructions here soon.

[2018-12-17 20:50] bennofs commented on #796
There used to be OpenJ9/macOS jre builds, as http://blog.io7m.com/2018/11/18/choosing-coffee.xhtml confirms:

[code]

The link for it (https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.1%2B13/OpenJDK11-jre_x64_mac_openj9_11.0.1_13.tar.gz) doesn't work anymore though.

[2018-12-18 11:49] GitHubHans1 commented on #793
Hi karianna,

Thank you very much for your quick answer.
In the meantime we have done further tests with various parameters.
Unfortunately, if we use this switch, the memory consumption will increase even further.

Can you help us to get memory consumption to a level similar to Oracle JRE?

[2018-12-18 11:53] GitHubHans1 commented on #792
Hi karianna,

Thank you very much for your quick answer.
We still don't know what relevance this file has. However, your answer strengthens us in our approach.

[2018-12-18 14:21] yamadamn commented on #262
@ceejatec  I think 11_28 means "11GA build 28"; so, it's not same as 11.0.1+13.
You can see in the archive or tag as below.
https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=hotspot
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11%2B28

Is your concern related to #796? If so, you'd better to comment in #796.

[2018-12-18 14:48] #748 closed

[2018-12-18 15:05] karianna commented on #793
Can you run `-XX:+PrintFlagsFinal` for both the Oracle JDK and the AdoptOpenJDK and attach them here?

[2018-12-18 15:39] mduft opened #807 "Windows OpenJ9 builds of JDK10/11 not working after jlink'ing"
(Not entirely sure whether this is the correct place to report this, so please forgive if not :))

**Platform:**
Windows

**Architecture:**
x64

Please describe the issue that you are having with our binaries and if possible how to recreate it.

I'm trying to jlink a windows JRE from my linux. Using both JDK10 and JDK11 builds (OpenJ9) this seems to produce a VM which is not healthy.

Running this

[2018-12-18 15:40] mduft commented on #807
[core.zip](https://github.com/AdoptOpenJDK/openjdk-build/files/2691179/core.zip)

[2018-12-18 16:44] pshipton commented on #807
Does it work on Hotspot?

[2018-12-18 16:46] pshipton commented on #807
Create https://github.com/eclipse/openj9/issues/4098 so the OpenJ9 project has a view of this problem.

[2018-12-19 13:16] GitHubHans1 commented on #793
[OracleJDK8_AllFlags.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/2694943/OracleJDK8_AllFlags.txt)
[OpenJDK8_AllFlags.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/2694944/OpenJDK8_AllFlags.txt)

Thank you very much for your fast answer.

Attached you will find the Flags.

[2018-12-21 14:56] gchauvet commented on #774
@rarguello Ubuntu Server 16.04.5 32 bits (Virtual Box)

[2018-12-21 15:21] sxa555 opened #813 "openjdk8+OpenJ9 win32 builds failing (error: unknown target CPU 'pentium4')"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-openj9/79/console

[code]
https://ci.eclipse.org/openj9/job/Build-JDK8-win_x86/ seems unaffected

[2018-12-21 17:57] sxa555 commented on #813
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA_AO8J9_Win32/25/consoleFull worked ok ...Need to understand difference between that and the real builds ...

[2018-12-23 18:07] pppq commented on #478
Can confirm that the u192 HotSpot download archive for Windows, https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u192-b12/OpenJDK8U-jdk_x64_windows_hotspot_8u192b12.zip contains a ~100 KB cacerts file in `jre/lib/security`, and I don't get a "do you accept this certificate" confirmation dialog in Java-based desktop applications.

[2018-12-24 09:52] neilstevenson opened #814 "HotSpot error on 11.0.1+13, libjvm.dylib"
I get a HotSpot error consistenly on Mac with

[code]

Occurs on iOS 10.14.2, on i386 i5, not managed to make it recur on other hardware yet.

See https://github.com/hazelcast/hazelcast/issues/14319

Steps to recreate
[code]
(Maven 3.6.0)

[2018-12-24 10:51] karianna commented on #814
Hi Neil, thanks for sending this in.  Does that same issue occur with Azul's Zulu? Trying to ascertain if this is an upstream issue.

[2018-12-24 11:17] tezc commented on #814
@karianna yes, it occurs with Zulu as well.

[2018-12-25 12:11] karianna commented on #814
@neilstevenson Can you report this upstream at OpenJDK in that case? The correct mailing list is probably hotspot-dev.

[2018-12-25 12:11] #814 closed

[2018-12-27 12:46] nebhale opened #815 "OpenJDK 11 JDK Builds Have Inconsistent Root"
**Platform:**
Linux (at least)

**Architecture:**
x64 (at least)

Currently, the tarball containing JDK 11 (both Hotspot and OpenJ9) are rooted at a different directory than the JRE 11 and JRE/JDK 8 tarballs:

[code]

Note that most of the archives have two levels (e.g. `.` and `jdk8u192-b12-jre`) where JDK 11 has only one level (e.g. `jdk-11.0.1+13`).  This makes handling all AdoptOpenJDK archive

[2018-12-29 12:46] karianna commented on #815
@johnoliver can you comment on this?  IIRC we changed the layout recently on purpose and so I *think* the 11.0.1+13 case should be canonical going forwards.

[2019-01-07 14:35] takiguc opened #824 "java.lang.UnsatisfiedLinkError: sun/print/CUPSPrinter.initIDs()Z exception happens"
Hello.

I used OpenJDK JDK11 for AIX.
Desktop printer feature cannot detect by following exception.
```Caused by: java.lang.UnsatisfiedLinkError: sun/print/CUPSPrinter.initIDs()Z```

Version Information:
[code]
Test instruction:
(Please configure AIX printer)
1. Run following command
[code]
2. Click "JTable demo" button (3rd button from right side)
3. Click "Print" button, then following exception

[2019-01-07 15:54] sxa555 commented on #813
Last comment was incorrect - it was building Win64 now Win32

[2019-01-07 16:01] sxa555 commented on #813
Problem was that there was a clang in the cygwin directory which was being picked up forst (not visible from windows shell but it was `clang -> clang-5.0.exe`

Have renamed the Symlink to `clang-REMOVE` but we need to really prevent it from getting installed, although just forcing the "correct" one to the start of the `PATH` would also be a good insurance policy

[2019-01-07 16:11] #813 closed

[2019-01-07 17:11] stooke opened #823 "Fix Jenkins setup for jcov tests"
The jcov tests keep failing [1] (note especially the "override ignored" lines), because the Jenkins script downloads and specifies ASM-6.0 [2].
However, this commit [3] in OpenJDK modifies jcov to require ASM 7.0:
The fix is to change the Jenkins script to specify ASM-7.0 as appropriate.

[1] https://ci.adoptopenjdk.net/view/Build%20Monitor/job/jcov/144/console
[2] https://ci.adoptopenjdk.net/view

[2019-01-07 18:30] scmikes commented on #577
Any ETA with Oracle Java 8 EOL comming up?

Thanks
Michael

[2019-01-07 18:42] llxia commented on #790
Test job [openjdk11_j9_openjdktest_x86-64_linux](https://ci.adoptopenjdk.net/job/openjdk11_j9_openjdktest_x86-64_linux/) is triggered by both compressedrefs and non-compressedrefs JDK upstream build:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9-linuxXL/

[2019-01-08 01:40] yamadamn commented on #577
I think that developers who needs bundled JavaFX (OpenJFX) can use below distributions.
- Azul ZuluFX: https://www.azul.com/downloads/zulu/zulufx/
- BellSoft Liberica JDK: https://www.bell-sw.com/java.html
- Amazon Corretto: https://docs.aws.amazon.com/ja_jp/corretto/latest/corretto-8-ug/downloads-list.html

ZuluFX and Liberica are supported JDK 8/11, Corretto is now JDK 8 only and in preview.

[2019-01-08 09:59] gdams commented on #684
This is something that should be handled in the installers. Closing

[2019-01-08 09:59] #684 closed

[2019-01-08 10:01] gdams commented on #561
@illingtonFlex would you be in a position to help us source ppcbe linux?

[2019-01-08 11:22] VizuroiuV commented on #724
We made it work guys. Thanks!

[2019-01-08 14:52] karianna commented on #577
We're hoping to have something in place by the end of Q1 at the latest

[2019-01-08 17:42] bdw429s commented on #774
I'm bundling Adopt builds with a couple products and since we started, we've had a few users asking about 32 bit Linux builds.  Looking forward to this not only being added, but backfilled into previous versions as well.

[2019-01-08 19:52] sophia-guo commented on #790
Same to systemtest: [openjdk11_j9_systemtest_x86-64_linux](https://ci.adoptopenjdk.net/job/openjdk11_j9_systemtest_x86-64_linux/198/) , which is triggered twice by upstream jobs Started by upstream project jdk11u-linux-x64-openj9-linux and large heap jdk11u-linux-x64-openj9-linuxXL.

[2019-01-08 20:38] smlambert commented on #790
Raising importance of this bug, as its effectively blocking proper testing of XL builds.

[2019-01-08 21:39] becvar opened #825 "EXCEPTION_ACCESS_VIOLATION OpenJDK 11.0.1+13 when opening DirectoryDialog or FileDialog"
**Platform:**
Windows 10

**Architecture:**
64 bit Build 17134 (10.0.17134.1)

We have consistent JVM crash on our test machine when opening  DirectoryDialog or FileDialog.

So far we managed to reproduce the issue only on our test machines and only when our product (large Eclipse based application) is run using QFTest GUI test tool (https://www.qfs.de/en.html).

Crash report is attached.
[hs_err_

[2019-01-09 16:58] karianna commented on #776
Correct, going forwards we will be triaging here and we now have a JBS team who can open bugs directly.

[2019-01-10 15:08] #205 closed

[2019-01-10 15:10] karianna commented on #224
Refactored a long time ago.

[2019-01-10 15:10] #224 closed

[2019-01-10 15:10] karianna commented on #241
@sxa555 Is this still an issue?

[2019-01-10 15:11] karianna commented on #243
Resolved.

[2019-01-10 15:11] #243 closed

[2019-01-10 15:13] karianna commented on #245
@johanvos Can you comment on where we should build or bundle OpenJFK from?

[2019-01-10 15:20] karianna commented on #248
@sophia-guo Is this needed for Java 11?  If not then we'll close as we're no longer supporting Java 10.

[2019-01-10 15:21] karianna commented on #265
Effectively resolved and we're no longer concerned with 10.

[2019-01-10 15:21] #265 closed

[2019-01-10 15:22] karianna commented on #266
Resolved and no longer supporting 10 so closing

[2019-01-10 15:22] #266 closed

[2019-01-10 15:23] lumpfish commented on #304
This release was made available some time ago.  Closing

[2019-01-10 15:23] #304 closed

[2019-01-10 15:25] karianna commented on #267
Converted to pipeline scripts and is working.

[2019-01-10 15:25] #267 closed

[2019-01-10 15:25] karianna commented on #269
Resolved some time ago

[2019-01-10 15:25] #269 closed

[2019-01-10 15:30] karianna commented on #282
Pretty sure this is resolved and we no longer support Java 10?

[2019-01-10 15:30] #282 closed

[2019-01-10 15:31] karianna commented on #287
Resolved and Java 10 no longer supported.

[2019-01-10 15:31] #287 closed

[2019-01-10 15:31] karianna commented on #305
Done

[2019-01-10 15:31] #305 closed

[2019-01-10 15:32] karianna commented on #312
Let's reopen this if it happens again with more info

[2019-01-10 15:32] #312 closed

[2019-01-10 15:33] karianna commented on #317
Resolved some time ago

[2019-01-10 15:33] #317 closed

[2019-01-10 15:34] karianna commented on #327
Resolved

[2019-01-10 15:34] #327 closed

[2019-01-10 15:34] karianna commented on #333
This is resolved / no longer supported.

[2019-01-10 15:34] #333 closed

[2019-01-10 15:36] karianna commented on #335
No longer supporting 9 builds.

[2019-01-10 15:36] #335 closed

[2019-01-10 15:38] sxa555 commented on #334
We're no longer building on Ubuntu and the current build is running ok, therefore closing

[2019-01-10 15:38] #334 closed

[2019-01-10 15:42] karianna commented on #354
I'll install and run a GUI app

[2019-01-10 15:47] karianna commented on #369
This seems to be working on CI https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_macos/

[2019-01-10 15:48] #369 closed

[2019-01-10 15:48] karianna commented on #375
Defunct, this is all done in test

[2019-01-10 15:48] #375 closed

[2019-01-10 15:49] karianna commented on #378
@sophia-guo Can you detail what you're missing or what is causing the test scripts to fail?

[2019-01-10 15:56] sxa555 commented on #241
They are still slow compared to almost everything other than arm32, but it's no causing us any major problems at the moment, so let's clear it off the books for now.

[2019-01-10 15:56] #241 closed

[2019-01-10 18:42] sophia-guo commented on #248
yes, this is also required for Java11. It is required for 10+.

[2019-01-10 19:05] sophia-guo commented on #378
I don't think [the build](https://ci.adoptopenjdk.net/job/openjdk8_build_aarch64_linux/) is active any more, which is replaced by [the new one](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-aarch64-hotspot/). So we can just close this isse and better to delete [the old one.](https://ci.adoptopenjdk.net/job/openjdk8_build_aarch64_linux/)

[2019-01-10 19:05] #378 closed

[2019-01-11 15:50] gdams commented on #202
Coretto had the same issue as us: https://github.com/corretto/corretto-8/issues/6

[2019-01-11 18:31] eed3si9n commented on #202
Could someone provide a summary of what's going on with this bug, especially for JDK 8 please?
We thought previous PR #225 fixed it but it didn't, or the PR did resolve the issue for JDK 11, but not for JDK 8? Is there anyone working on this, if not are there something community can help? Thanks.

[2019-01-11 22:20] ryandesign commented on #489
On non-macOS UNIX-like operating systems, the shared library suffix is "so" and it occurs before any version number (e.g. "libfreetype.so.6").  On macOS, the dynamic library suffix is "dylib" and it occurs after the optional major version number (e.g. "libfreetype.6.dylib"). All versions of macOS follow this convention. Probably there is somewhere in the build system where an assumption that the v

[2019-01-14 18:10] justinnichols commented on #489
Thanks for this workaround.  This affected creating PDFs as well (via a backend service), not just on a GUI app.

[2019-01-15 09:58] lumpfish opened #832 "Create openjdk8-openj9 0.12 milestone 2 builds"
eclipse/openj9 have created a milestone branch which includes the features targeted for the Jan 2019 0.12 openj9 release to be incorporated into the Jan 2019 quarterly update.
This issue is to create a build from that branch to provide users with early access to a jdk8 which will be close in content to the actual quarterly release.

Links to nightly builds:
win_x86-32: https://github.com/AdoptOpen

[2019-01-15 10:00] lumpfish commented on #832
Pipeline kicked off to build the openj9-openjdk-jdk8 repository openj9-0.12 branch which fetches the required eclipse/openj9 0.12-m2 branch.

Pipeline job:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9/159/

win_x86-32:
Build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-openj9/95/consoleFull
openjdk tes

[2019-01-15 11:21] lumpfish opened #833 "Create openjdk11-openj9 0.12 milestone 2 builds"
eclipse/openj9 have created a milestone branch which includes the features targeted for the Jan 2019 0.12 openj9 release to be incorporated into the Jan 2019 quarterly update.
This issue is to create a build from that branch to provide users with early access to a jdk11 which will be close in content to the actual quarterly release.

Links to nightly builds:
win_x86-64: https://github.com/AdoptOpe

[2019-01-15 11:23] lumpfish commented on #833
Pipeline kicked off to build the openj9-openjdk-jdk11 repository openj9-0.12 branch which fetches the required eclipse/openj9 0.12-m2 branch.

Pipeline job:
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/249/

linux_x86-64LH
Build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9-linuxXL/86/console
openjdk tests (fail due to -Xcomp

[2019-01-15 11:35] lumpfish commented on #832
Updated description with nightly build links

[2019-01-15 12:08] lumpfish commented on #833
Updated description with nightly build links.

[2019-01-15 13:40] birkoffe opened #835 "Does not draws graphs in javamelody [sparc build]"
Does not draws graphs in javamelody
In log file there is no errors and warns

$ uname -a
SunOS test 5.11 11.3 sun4v sparc sun4v

$ /site/share/java/jdk8u192-b12/bin/java -version
openjdk version "1.8.0_192"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_192-201901120427-b12)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.192-b12, mixed mode)

![adoptopenjdk](https://user-images.githubuse

[2019-01-15 17:10] johnoliver commented on #563
I think we should probably just remove support for non-JEP319 certs

[2019-01-15 17:12] johnoliver commented on #339
this should be done

[2019-01-15 17:19] #339 closed

[2019-01-15 17:20] karianna commented on #563
Do we know what the diff between them are?

[2019-01-15 18:38] karianna commented on #489
@helenmasters @justinnichols @ryandesign @breun @Cynthiahaha @gabibau  et all can you please try

Can you try the JDK/JRE at: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/148/

[2019-01-15 18:39] karianna commented on #202
@eed3si9n @ksilz @rubin55 @smlambert

Can you try the JDK/JRE at: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/148/

[2019-01-15 19:08] eed3si9n commented on #202
@karianna I see `libfreetype.6.dylib` and `libfreetype.dylib.6` under `Contents/Home/jre/lib` with slightly different file size:

[code]

Does that make sense?

[2019-01-15 22:26] chrixm opened #838 "SplashScreen-Image in Manifest not working with OpenJDK 11.0.1+13 on x86"
Platform: Windows 7 x64

Architecture: OpenJDK 11.0.1+13 x86 running on Windows 7 x64

I have a JAR file that uses a SplashScreen-Image within the MANIFEST.MF file defined as follows:
SplashScreen-Image: images/splash.png

The image is within the JAR at the above location.

If I attempt to run this using OpenJDK 11.0.1+13 x64 (main distribution and not jlink created runtime) with the following com

[2019-01-16 09:53] karianna commented on #202
@johnoliver Is there a reasonable explanation for that? I'd have thought a copy should mean == bytes.

[2019-01-16 09:55] karianna commented on #838
If you can supply a JAR that would be most helpful thanks.

[2019-01-16 13:53] breun commented on #489
@karianna They seem to fix the issue I had with running `groovysh`.

I did notice these builds have both `libfreetype.6.dylib` and `libfreetype.dylib.6` and they are not identical:

[code]

Is this necessary/intentional?

[2019-01-16 14:08] karianna commented on #489
@johnoliver Same question as other issue.

[2019-01-16 16:06] johnoliver opened #840 "jdk8 ppc64le differences"
It appears as though the java8 ppc64le patches have been brought in upstream, we however still have the following diffs between our branches and upstream:

[code]

Can we confirm if these lines are needed or not?

For these diffs the `-` lines are lines that we have but upstream does not

[2019-01-16 16:40] DanHeidinga commented on #744
@sxa555 I checked the website and don't see the mac large heap builds.  Do you know if they're still being produced?  I'd really like to see them on the website if we can get them there for the upcoming openj9 `0.12.0` release

[2019-01-16 19:10] rainbowgoblin opened #843 "openjdk11-binaries latest_release.json is broken"
The latest_release.json file in the root of the openjdk11-binaries repo currently contains only the word "undefined" instead of the JSON list of latest releases for each platform. It looks like it was broken on November 24th.

We use this file in a cron script to maintain local updated versions of Adopt for the platforms we're interested in.

Sorry, I know this isn't the right place to report this

[2019-01-16 21:22] pshipton opened #841 "OpenJ9 zlinux minimum gcc level updating to 7.4"
OpenJ9 is changing the minimum gcc level for zlinux to 7.4
https://github.com/eclipse/openj9/issues/4306
https://github.com/eclipse/openj9-docs/issues/191

[2019-01-16 21:45] pshipton opened #842 "OpenJDK + OpenJ9 openssl support to remove bundling"
OpenJDK + OpenJ9 is preparing to remove the openssl bundling, and use openssl installed on the system. Both OpenSSL 1.0.x and 1.1.x will be supported. When the feature is delivered, `--enable-openssl-bundling` should be removed from the configuration for all platforms.

Adopt should have openssl installed on all test systems in order for openssl acceleration to work in the tests.

Openssl could al

[2019-01-16 23:22] karianna commented on #744
These are now being produced via the API, I think @sxa555 had a PR open for the website that he needs to test

[2019-01-17 12:06] tkrzeminski commented on #815
Same for me, this makes automated deployment a bit tricky.

[2019-01-17 19:16] #790 closed

[2019-01-18 11:15] gdams commented on #787
we've just shipped jdk8u202-b08

[2019-01-18 11:15] #787 closed

[2019-01-18 16:32] rainbowgoblin commented on #843
releases.json is just an empty list, as well. If you're not using these files anymore I'd appreciate knowing so I can come up with a new solution for my shell script.

[2019-01-18 16:33] gdams commented on #843
We no longer used this JSON file. I didn't realise that people depended on it. You can either use the github API on the binaries repo to get the same JSON back, or consider using api.adoptopenjdk.net

[2019-01-18 16:54] rainbowgoblin commented on #843
That's much easier, thanks for the tip. I'm going to close this issue now.

[2019-01-18 16:54] #843 closed

[2019-01-18 21:14] don-vip commented on #787
Thank you, I confirm #476 is fixed !

[2019-01-21 09:47] webtomyfd opened #851 "jdk8u202-b08 broken on ubuntu 18.04 LTS missing libpng12.so.0"
Hello Team,

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic
Linux x06-usudai01 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

jdk8u202-b08 does not work because of missing libpng12.so.0.
The previous release jdk8u192-b12 worked (with libpng16)

Good Job Guys :-)

Thomas

[2019-01-21 09:49] #775 closed

[2019-01-21 09:53] gdams commented on #796
JRE builds for JDK11 are now working

[2019-01-21 09:53] #796 closed

[2019-01-21 09:57] gdams commented on #766
@io7m it was a dump of the GitHub API. Does this need to be open still or can I close it now?

[2019-01-21 10:00] #681 closed

[2019-01-21 13:59] ksilz commented on #202
Latest nightly build `OpenJDK8U-jdk_x64_mac_openj9_2019-01-21-09-29.tar.gz` still shows two different files with different sizes. I think there should be only `libfreetype.6.dylib`:

[code]

[2019-01-21 15:40] johnoliver commented on #202
I believe the difference in size was introduced during signing

[2019-01-21 21:19] #202 closed

[2019-01-22 16:05] gdams commented on #712
When you open the directory in finder what error do you get? Mine opens a terminal shell but that's expected behaviour.

[2019-01-22 16:07] gdams commented on #449
@lumpfish is this still an issue? we should be code signing all windows builds.

[2019-01-22 17:06] lumpfish commented on #449
I have downloaded the latest Windows release from https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u192-b12_openj9-0.11.0 and Symantec Endpoint Protection did not quarantine it.

[2019-01-22 21:06] #449 closed

[2019-01-23 10:36] karianna commented on #851
Respun and resolved.

[2019-01-23 10:36] #851 closed

[2019-01-23 10:46] pwagland commented on #851
Will a "8u202b09" be released with this fix?

[2019-01-23 11:43] johnoliver commented on #354
Think this should be done

[2019-01-23 11:44] johnoliver commented on #489
think this is done

[2019-01-23 11:50] johnoliver commented on #815
Looking at the latest builds they all look consistent

[2019-01-23 12:43] johnoliver commented on #851
as far as I can tell there is no `jdk8u202-b09` tag. `jdk8u202-b08` is still tagged as the `ga`

[2019-01-23 12:56] johnoliver commented on #800
I have followed these instructions with 11.0.2+7 and it worked without crashing (on linux, you appear to be on windows)

[2019-01-23 15:47] nebhale commented on #815
If you’re up for it, I’d like to wait for a round of OpenJ9 builds to be generated as well just to double check consistency there.  If everything matches up, then I thin we can close out the issue.

[2019-01-23 16:22] victornoel commented on #851
@johnoliver @karianna I'm not clear: is this fix available in the latest image available on docker hub?

[2019-01-23 17:27] gdams commented on #489
can it be closed @johnoliver

[2019-01-23 20:42] io7m commented on #766
I think you can close this now.

[2019-01-24 03:17] vkeertz commented on #693
@jarnbjo Thanks for your solution. I was able to mitigate the problem with the NullPointerException in FontConfiguration.java:1264 on alphine Linux

Currently facing
[code]
Any help is appreciated!!
Distribution : jdk8u202-b08 Linux x64

[2019-01-24 09:03] #766 closed

[2019-01-24 10:39] johnoliver commented on #489
I think so, can be reopened if someone has an issue

[2019-01-24 10:39] #489 closed

[2019-01-24 11:01] johnoliver commented on #851
jdk8u202-b08 on docker hub claims to have been updated 14 hours ago, the re-release of the jdk8u202-b08 binary happened 2 days ago, so I presume it does have the updated version. The ci job also looks like it should have pulled in the latest.

[2019-01-24 11:07] victornoel commented on #851
@johnoliver that's what I thought but I couldn't make it work :/
Neither with `adoptopenjdk/openjdk8:latest` nor the `adoptopenjdk/openjdk8:alpine` one (which is the one I would ultimately want to use), I still get this error:
[code]

[2019-01-24 11:11] johnoliver commented on #851
Out of interest if you manually download extract and run https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08/OpenJDK8U-jdk_x64_linux_hotspot_8u202b08.tar.gz inside the docker, does it still happen?

[2019-01-24 12:00] johnoliver commented on #851
I just ran the adoptopenjdk/openjdk8:latest docker and it ran fine. I would check to see if you have something cached

[2019-01-24 12:01] victornoel commented on #851
@johnoliver I am double-checking everything right now :)

[2019-01-24 12:57] victornoel commented on #851
@johnoliver indeed, my bad, I got mixed up in errors: this error does not happen anymore but I'm seeing a variant of https://github.com/docker-library/openjdk/issues/73 with both images.
This is out of scope of this issue though, so I will open an issue if I think this should be fixed in this project.

[2019-01-24 13:31] johnoliver commented on #851
There is another issue about this that we need to address, the version number `jdk8u202-b08` is controlled by the upstream project so we cannot change/bump it when we need to re-release it to fix packaging mistakes. The issue here is we need to add our own version number in somewhere that we can bump on re-releases

[2019-01-24 14:04] #354 closed

[2019-01-24 14:47] karianna commented on #800
I ran on a Windows Machine on a client site and 11.0.2+7 was OK, closing for now.

[2019-01-24 14:47] #800 closed

[2019-01-24 15:17] karianna commented on #815
Sounds good!

[2019-01-24 16:58] karianna commented on #851
And @johnoliver Has helpfully opened a PR on this which should land after some discussions around how our metadata file is going to work.

[2019-01-25 11:48] gdams commented on #774
Is someone able to champion this and help us setup the builds/provide additional hardware if needed?

[2019-01-25 14:25] taku0 opened #861 "OpenJ9 on macOS cannot run GUI applications"
**Platform:**
macOS 10.14.2

**Architecture:**
x86_64

Running a GUI app results in the following error:

[code]

Sample code: https://github.com/taku0/JavaSample

Build used: https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.1%2B13/OpenJDK11U-jdk_x64_mac_openj9_jdk-11.0.1_13_openj9-0.11.0_11.0.1_13.tar.gz

`java --version`:

[code]

OpenJ9 on Linux works fine.

[2019-01-25 15:37] adalton opened #862 "AdoptOpenJDK (build 11+28) doesn't include jdk.internal.jvmstat in lib/modules"
**Platform:**
Linux

**Architecture:**
x86_64

Please describe the issue that you are having with our binaries and if possible how to recreate it.

I have an application that uses `sun.jvmstat.monitor.MonitoredHost`.  I can build that application with the latest nightly JDK, but I cannot run it with the latest nightly JRE.

# Example Program

    $ cat Example.java
    import sun.jvmstat.monitor.M

[2019-01-25 15:50] sxa555 commented on #842
With all machines running ssh servers, openssl should be on all the test systems (other than Windows) by default already.

[2019-01-25 16:31] sxa555 opened #863 "Implement "Queue" stage in build pipelines"
The test pipelines have a "queue" stage - this can be used to determine how long jobs have been waiting for available executors (See https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/ for an example) ... We should add this information into he build pipelines as well

[2019-01-25 16:34] sxa555 commented on #725
Since we've shipped it I'm going with this now having finished successfully. Closing

[2019-01-25 16:42] sxa555 commented on #667
Don't care about JDK10 any more - closing

[2019-01-25 16:42] #667 closed

[2019-01-25 16:45] sxa555 commented on #624
Nothing seems broken at the moment so this has presumably been fixed. Also we've switched the compiler from mingw to clang/LLVM so the original problem has almost certainly been made irrelevant.

[2019-01-25 16:45] #624 closed

[2019-01-25 16:48] sxa555 commented on #527
Builds are running now - closing

[2019-01-25 16:48] #527 closed

[2019-01-25 16:50] sxa555 commented on #477
This was fixed somewhere along the line via `jvm.cfg` I think, therefore closing

[2019-01-25 16:50] #477 closed

[2019-01-25 16:53] sxa555 commented on #451
OpenJ9 is using 7.3 on all builds, although will soon be 7.4 on Linux/s390x only.

HotSpot currently still using gcc 4.8

[2019-01-25 16:55] sxa555 commented on #445
Pipeline has been superceded - assigning to myself to take credit for closing ;-)

[2019-01-25 16:55] #445 closed

[2019-01-25 16:56] sxa555 commented on #433
Building at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9-linuxXL/ and being shipped at https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9 - closing

[2019-01-25 16:56] #433 closed

[2019-01-25 16:57] marianogonzalez opened #864 "XML Signing with ENVELOPING type no longer works in JDK 11"
**Platform:** Open JDK 11.02, running on Ubuntu 18.04 or MacOS Mojave 10.14.2

**Architecture:** 64 bit

Please consider this test case: https://github.com/marianogonzalez/jdk11-xml-crypto-enveloping-issue/blob/master/src/test/java/com/mg/sign/enveloping/EnvelopingTestCase.java.

When run with JDK 1.8, that code works perfectly and outputs the following XML:

[code]

When the same code is run with

[2019-01-25 16:57] sxa555 commented on #414
@smlambert @pshipton I presume you are both happy for this now to be closed :-)
I'm going to close it, please reopen if any concerns remain

[2019-01-25 16:57] #414 closed

[2019-01-26 12:09] tumagonx commented on #577
@karianna if so, that would be final EOL release of Java 8 right? I need 32-bit version.
IBM will also "have" it (J9 not OpenJ9) long after incoming EOL if you search "Ship Java 8 APAR FOR WAS"

[2019-01-27 20:32] karianna commented on #862
Access to those internal modules was deliberately removed with Java 9.  You may find the following SO Q&A helpful for the --add-exports workaround:

https://stackoverflow.com/questions/51440683/java-10-replacement-for-sun-monitoredhost-class

Alternatively you'll need to look into the jlink tool to provide that module in your own custom jlinked 'JRE'

[2019-01-27 20:32] #862 closed

[2019-01-27 20:43] karianna commented on #864
@marianogonzalez Does this occur with both an AdoptOpenJDK 11.0.2 binaries and an Oracle Java 11.0.2 binary?  Trying to narrow down whether this should be reported upstream.

[2019-01-27 20:45] #863 closed

[2019-01-27 20:49] karianna commented on #577
We'll add it to AdoptOpenJDK as an option in the installers most likely.  For win-32 that may be tricky.  @johanvos and @ali-ince will have to comment on the feasibility of that.

[2019-01-28 14:33] sxa555 commented on #451
8u192 and 8u201 have been built with gcc 7.3.0:

[code]

[2019-01-28 17:56] gyakovlev commented on #782
looks like jdk 11.0.3+ builds will enable it by default according to this page
https://wiki.openjdk.java.net/display/zgc/Main

[2019-01-28 17:56] gyakovlev commented on #641
looks like jdk 11.0.3+ builds will enable it by default according to this page
https://wiki.openjdk.java.net/display/zgc/Main

[2019-01-28 20:35] #700 closed

[2019-01-29 05:31] 4val0v opened #867 "Another JDK installation option (OS X)"
Installation can be made easier.
`tar -xf OpenJDK11U-jdk_x64_mac_hotspot_11.0.2_9.tar.gz`
`sudo mv jdk-11.0.2+9/ /Library/Java/JavaVirtualMachines/`
_and everything, taking into account that jdk was not installed before_
_**Tested on:**_ 10.14.3 (18D42) Mojave

_If it was installed, you can select the desired version as follows:_
`ls /Library/Java/JavaVirtualMachines`
`export JAVA_HOME=$(/usr/libe

[2019-01-29 09:42] gdams commented on #867
If you want to install OpenJDK to `/Library/JavaVirtualMachines/` then I would suggest that you take a look at our brew casks. They automate the above: https://github.com/AdoptOpenJDK/homebrew-openjdk

[2019-01-29 09:45] gdams commented on #745
We are currently overriding this in the brew casks. We should probably do this as part of the build. FYI https://github.com/AdoptOpenJDK/homebrew-openjdk/blob/master/Casks/adoptopenjdk10.rb#L24-L42

[2019-01-29 09:46] gdams commented on #415
@sxa555 did this happen?

[2019-01-29 09:48] gdams commented on #61
Closing as the scripts were heavily refactored.

[2019-01-29 09:48] #61 closed

[2019-01-29 10:35] karianna commented on #867
Is this potentially a website issue (how to install the tarball on Mac OS X)?

[2019-01-29 10:35] karianna commented on #415
Yes

[2019-01-29 10:35] #415 closed

[2019-01-29 11:48] sxa555 opened #868 "Nominate myself for the build team"
Hopefully no-one has any objections given that I'm already doing a lot of build stuff, and ran the project build call yesterday ;-)

Just spotted that I'm not in https://github.com/orgs/AdoptOpenJDK/teams/build/members so don't get notified when someone mentions @AdoptOpenJDK/build so if I could be formally approved and added that would be appreciated ;-)

[2019-01-29 11:50] #868 closed

[2019-01-29 11:53] ben-walsh opened #869 "Missing Nightly builds"
There seems to be a problem with nightly builds ...

For example ...

The current latest URL returned for Linux using https://api.adoptopenjdk.net/v2/binary/nightly/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk&heap_size=normal is https://github-production-release-asset-2e65be.s3.amazonaws.com/140419044/fba8ef80-2017-11e9-8175-f984ea7c60c6?X-Amz-Algorithm=AWS4-HMAC-SHA256

[2019-01-29 11:53] ben-walsh commented on #869
^ @sxa555

[2019-01-29 13:49] mclay opened #871 "Windows x32 8u202-b08 Hotspot JDK/JRE build is missing file jre/bin/client/jvm.dll"
**Platform:**

Windows

**Architecture:**

x32

The following build obtained from the link below is missing the file jre/bin/client/jvm.dll.

https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08/OpenJDK8U-jre_x86-32_windows_hotspot_8u202b08.zip

[2019-01-29 16:36] jgha99user commented on #682
I also encountered this issue with jdk8u181-b13 on centos 7. I was not able to resolve the issue using this adoptopenjdk. I agree, it would be nice if future releases of adoptopenjdk has font support. Another option, outside java seems to be getting the fonts loaded directly to the linux OS (as the os is the fallback if fonts are not available in java). We didn't test this yet.

[2019-01-29 16:41] sxa555 commented on #871
Extra info:

From  from @mclay on Slack: "the packages from oracle/azul contains both the `jre/bin/server/jvm,dll` and the `jre/bin/client/jvm.dll`"
From @sunnythepooh "There is no client hotspot for 64bit"

[2019-01-29 17:54] karianna commented on #871
Hmm, I wonder if we need to build with a client flag somewhere.

@mclay Any reason why you're looking for a client build vs a server build?

[2019-01-29 22:54] knaccc opened #878 "Missing DLLs means users are forced to download the Microsoft Visual C++ Redistributable"
AdoptOpenJDK does not include DLLs such as api-ms-win-core-console-l1-1-0.dll

This means that JavaFX apps running on AdoptOpenJDK will fail to run unless users also install the Microsoft Visual C++ Redistributable on their system.

An example of these errors is documented here: https://github.com/javafxports/openjdk-jfx/issues/365#issuecomment-458720720

[2019-01-30 09:42] karianna commented on #878
@johanvos - Is this something you'd expect our distro to have or is that part of the JavaFX package on top?

[2019-01-30 12:04] johanvos commented on #878
It is part of the OpenJDK distribution, so for consistency reasons, I think it should be part of the AdoptOpenJDK distribution as well?

[2019-01-30 13:41] sxa555 commented on #725
Still issues - currently the builds are producing filenames of `OpenJDK8U-jdk_x64_mac_openj9_jdk8u202-b08_openj9-0.12.0_8u202b08.tar.gz` when building with:
[code]

[2019-01-30 19:57] gyakovlev commented on #464
Adding ebuilds for 8 soon.
I'm now maintaining  openjdk related ebuilds in gentoo.

[2019-01-30 21:08] pshipton opened #882 "OpenJ9 0.12.0 release build problems"
Looking at the OpenJ9 jdk8 0.12.0 release build u202-b08
https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=openj9

- the date is Jan 18, although OpenJ9 0.12.0 didn't ga until Jan 30 and was built at Adopt on Jan 30

- there is no 0.12.0 in the release name

- Linux x64 has 4 downloads, I assume 2 are for XL, but there is no label

[2019-01-30 21:11] pshipton commented on #882
Looking at the jdk11 0.12.0 release build 11.0.2+9
https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9

- there are a number of extra downloads
i.e. Linux x64 has 6
Windows x64 has 4
macOS x64 has 6
etc

[2019-01-30 21:15] mclay commented on #871
@karianna It was just an observation when migrating from an Oracle x32 JRE 8 Build from 2017 to the mentioned adopt build (and a subsequent comparison with the packages from Oracle and Azul)

[2019-01-30 21:16] karianna opened #883 "Add a 12u cloned repo and produce Java 12 binaries"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

We can now clone and build http://hg.openjdk.java.net/jdk-updates/jdk12u/

- [x] Mirror job created
- [x] Diff job created

[2019-01-30 22:56] sxa555 commented on #882
Two of these symptoms are linked - I believe the "release" `jdk8u202-b08` was created on the 18th and the openj9 items were added to it today. The build scripts have had a number of issues today relating specifically to producting release OpenJ9 builds and we've had to work around them. Part of doing that involved having to compromise on the release name ... for now ... in order to get this out.

[2019-01-31 01:31] wangweij commented on #864
This also fails with Oracle's JDK and it has been reported to https://bugs.openjdk.java.net/browse/JDK-8217878.

[2019-01-31 07:48] taku0 commented on #861
It works on `jdk-11.0.2+9`. Thank you.

[2019-01-31 07:48] #861 closed

[2019-01-31 10:00] johnoliver commented on #882
I believe a lot of the issue you are seeing wrt the UI are due to the fact that you are no longer adding openj9 to the tag, your releases are getting added to the same release as hotspot. Previously as the name of the release is set by the tag your assets went into a separate release: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u192-b12_openj9-0.11.0
Which the Ui picks up on

[2019-01-31 10:16] lumpfish commented on #882
We ended up with the current names as a compromise - when we specified a releaseTag of jdk8u202-b08_openj9-0.12.0, an extra 8u202b08 was inserted into the filename, and if additionalFileNameTag was not used the windows executables for some reason were not executable.  @sxa mentioned https://github.com/AdoptOpenJDK/openjdk-build/issues/725.
See slack thread https://adoptopenjdk.slack.com/archives/C

[2019-01-31 10:43] lumpfish commented on #882
Also, the openjdk test jobs check out the releaseTag (git clone --branch releaseTag), so jdk8u202-b08 had to be used to run those tests.  (Why --branch releaseTag is being issued looks wrong, the intent appears to be to check out the level of tests which matches the jdk being built, on which case it is the BRANCH parameter in the pipeline which should be cloned).

[2019-01-31 13:08] sxa555 opened #884 "Add "release publish" checkbox on the top level build pipelines"
In order to be able to properly test release pipelines I think we should modify the top level pipeline jobs so that `releaseTag` isn't what causes the release to be published as a release build.

If we use a separate checkbox then we can test adjustments to the production release process without making the releases live, and we can "elevate it" to full release status retrospectively. This would av

[2019-01-31 13:14] sxa555 commented on #882
Duplicates now removed (except on on the macos JRE, but that may be a caching issue. macosXL JDK11+J9 is not showing up yet, and s390x JDK11+J9 JRE has not been published for some reason.

[2019-01-31 13:24] lumpfish opened #885 "openj9 jdk11 release pipeline does not build linux s390x jre"
**Platform:**

linux

**Architecture:**

s390x

The 11.0.2+9 release build for linux_390-64 did not create a jre, just a jdk.

The build job was https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/127/consoleFull

The ppcle build from the same pipeline is https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-ppc64le-openj9/11

[2019-01-31 15:38] niecore commented on #406
Is there a technical problem in building linux-aarch32hf (armv7/8/6) JDK8/HotSpot vm's?

[2019-01-31 15:43] andrew-m-leonard opened #886 "pipeline job "releaseTag" has multiple uses that don't currently align"
**Platform:**
ALL

**Architecture:**
ALL

The pipeline build job has a "releaseTag" parameter which has multiple purposes:
  - Defines what level of code to checkout to build
  - Defines what level of openj9 extensions to checkout for openjdk-test jobs
  - Defines the "label" to be used for the published "released" build on the website

This currently means for openj9 we cannot specify a releaseTa

[2019-01-31 17:01] karianna commented on #864
OK thanks, we'll close that here then

[2019-01-31 17:01] #864 closed

[2019-01-31 18:15] #885 closed

[2019-01-31 23:16] nebhale commented on #815
Verified OpenJ9 Java 8 and 11 are consistent as well.  Feel free to close as complete.

[2019-01-31 23:45] #815 closed

[2019-02-01 09:14] gyakovlev commented on #464
both openjdk8 and openjdk11 are in gentoo now, both source and binary flavors, so this probably should be closed.
there are no plans to add 9 or 10, sorry, only LTS.

[2019-02-02 09:44] karianna opened #888 "Consider using hidden Bitbucket Hg repos as our source of truth"
Given that we regularly battle the git / hg ecosystem it may be worth building from bitbucket hg repos and only providing the GitHub repos as a read only location

[2019-02-03 08:57] gdams commented on #883
Mirror job created: https://ci.adoptopenjdk.net/view/git-hg/job/git-hg-jdk12u/

[2019-02-04 16:08] lumpfish commented on #882
Got ```/cygdrive/c/Users/jenkins/workspace/build-scripts/jobs/jdk8u/jdk8u-windows-x86-32-openj9/sbin/build.sh: line 384: /tmp/openjdk-jdk8u-windows-x86-32-openj9/workspace/build/src/build/windows-x86-normal-server-release/images/j2sdk-image/bin/java: Accessing a corrupted shared library``` trying to create a release with these parameters:
releaseTag: jdk8u202-b08_openj9-0.12.1
branch: openj9-0.12.

[2019-02-04 17:45] karianna commented on #882
@ali-ince Might be your best bet there.

[2019-02-04 19:58] JasonFengJ9 commented on #744
Mac JDK11 **large heap** builds are available at the website however there isn't such build for Java 8 yet, there is an `OpenJ9` user looking for such build at https://github.com/eclipse/openj9/issues/3371#issuecomment-460066844.
Just wondering is there any outlook to make `Java 8 Mac` large heap builds available? Thanks.

[2019-02-05 00:15] sxa555 commented on #882
@lumpfish See earlier comment where I referenced 725 and 680 - Windows has issues when you bulid with an extended tag name - if you can download and run the java executable it the symptoms are usually an error with "side by side" in the message. That's the whole reason we regrettably ended up with the additionalFileNameTag.
If we're going to resolve it we'll need to decouple `releaseTag` and have

[2019-02-05 09:48] lumpfish commented on #882
The jdk-11.0.2+9_openj9-0.12.1 release was built with
[code]

The (64 bit) Windows build is OK on that build.  It is not clear to me from #725 and #690 what is the significant difference between that and building the jdk8u202-b08_openj9-0.12.1 release with
[code]
where the (32 bit) Windows java got the "Accessing a corrupted shared library" message.

[2019-02-05 10:12] karianna commented on #744
Hmm, not sure if these get built at all - I'll check with the OpenJ9 team.

[2019-02-05 10:13] lumpfish commented on #882
To summarise, the issues building the openj9 releases seem to stem from the use of releaseTag.

releaseTag currently seems to be the only way to dictate how the build appears in the openjdkxx-binaries repository (e.g. as jdk8u202-b08_openj9-0.12.1), and therefore on the AdoptOpenJDK download pages.

However, if used to set the release name to the desired value (e.g. as jdk8u202-b08_openj9-0.12.1)

[2019-02-05 10:19] karianna commented on #882
#884 and #886 will help with this

[2019-02-05 12:16] karianna commented on #744
It doesn't look like there's an intention to build Mac Os X LH for Java 8 (OpenJ9).  Please join our adoptopenjdk.net/slack.html and discuss in our openj9 channel.

[2019-02-05 16:24] pshipton commented on #686
We'd like to have a Mac Java 8 large heap build as well.

[2019-02-05 16:25] pshipton commented on #744
We'd like to have a Mac Java 8 large heap build as well. I've also made this common in the Slack channel and in https://github.com/AdoptOpenJDK/openjdk-build/issues/686

[2019-02-05 16:39] davehobbs opened #891 "Missing checksum file in jdk-11.0.2+9_openj9-0.12.1 release"
**Platform:**
linux
**Architecture:**
x64
Please describe the issue that you are having with our binaries and if possible how to recreate it.
The release https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/tag/jdk-11.0.2%2B9_openj9-0.12.1 is missing a checksum file for the linux x64 build.

This also shows up in the JDK checksum link at: https://adoptopenjdk.net/releases.html?variant=openj

[2019-02-05 16:40] davehobbs commented on #891
I believe the pipeline https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/288/console created the checksum. Not sure what happened after that.

[2019-02-06 00:08] xinyi9 commented on #693
Hi @keertz04 I experienced the same thing when debugging into the source code. By supplying fontconfig.properties it is able to get rid of the NPE at FontConfiguration, but it uncovered another NPE as you showed because system fonts are still not available, and it will throws exceptions when it tries to get default platform font.
Currently, We still use the workaround to install `fontconfig`

[2019-02-06 00:12] xinyi9 commented on #693
Just fyi for folks who use install4j, the latest release 7.0.9 has included the changes
`Added a workaround for an InternalError when a bundled JRE could not find fonts on Linux
`
https://www.ej-technologies.com/download/install4j/changelog.html

Our team has not upgraded to this version, think might be worth a heads-up here though.

[2019-02-06 10:39] davehobbs commented on #891
The checksum file has been manually recreated and added back into the release. So this is fixed for now. However we don't understand the underlying error. We couldn't see any errors in the job that copies the file across (I believe it's a refactoring job in Jenkins, that I don't have visibility of).

[2019-02-06 11:20] lumpfish opened #892 "Copy jdk8u202-b08_openj9-0.12.1 release builds to openjdk8-binaries"
The jdk8u202-b08_openj9-0.12.1 release has now been built and tested.

The following build pipeline parameters were used to work around the build issues already raised:
releaseTag: jdk8u202-b08
branch: openj9-0.12.1
additionalFileNameTag: openj9-0.12.1

Some platforms needed two attempts due to the first build failing.  Also MacXL was added to the second attempt.

So the builds are attached to the

[2019-02-06 15:21] lumpfish commented on #892
The MacXL jdk_math_jre_0 tests failed because both the jdk and the jre URLs should have been passed as CUSTOMIZED_URLs to the grinder job, but only the jdk URL was.
The test has been rerun with the extra URL and now passes, so the MacXL builds can be added to the release.

[2019-02-06 15:57] lumpfish commented on #892
@sxa555 - please could you upload the build to openjd8-binaries?

[2019-02-06 16:19] sophia-guo opened #893 "Openjdk tests failed with msg 'Could not load hsdis-amd64.so; library not loadable; PrintAssembly is disabled'"
Recently ( from Jan 2, 2019) random subset of of following tests intermittently fails on HS with unexpected errors. The failure is:

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/153/consoleFull
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/154/consoleFull
https://ci.adoptopenjdk.net/view/Test_openjdk/job/o

[2019-02-06 17:00] sxa555 commented on #884
Also have a separate releaseName separate from releaseTag to avoid #725 until we understand #690

[2019-02-06 18:02] davehobbs commented on #891
This has happened again in the jdk8u202-b08_openj9-0.12.1 release. The checksum file for the AIX jre is also missing - https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#ppc64_aix. @lumpfish

[2019-02-06 22:51] smlambert commented on #823
@stooke - the script that is used for the jcov build can be found here: https://github.com/smlambert/openjdk-build/blob/jcov/sbin/jcov.sh

I have not had time to look at what needs to change, if you have guidance (which asm7 files map to existing asm6 ones?), I can update it.

[2019-02-07 07:02] tbuckel commented on #693
+1 for the fontconfig workaround, and didn't need to use fontconfig.properties. (jdk8u202-b08)

[2019-02-07 11:19] sxa555 commented on #886
Can't remember where else I've already mentioned this but could do with being here too - adding a `releaseName` in addition to `releaseTag` to separate out the publish label would be useful until the issues with Windows tagging are resolved.

Ref the test jobs, potentially the same switch which we have in the build scripts (Ref: https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/prepar

[2019-02-07 13:17] sxa555 commented on #891
Deleted and regenerated/re-uploaded the `sha256.txt` manually. It was showing when I tried to edit the release with a red warning triangle beside it inviting me to delete and upload the file again ... So I did. Hopefully it will show up on the website soon and I'll download/verify it

[2019-02-07 13:55] sunnythepooh commented on #878
Including dlls into the package would increase the size of the OpenJDK distributatble which should be a consideration. Microsoft don't recommend static linking or include the DLL in your own directory as the OS/security update might not apply to those runtime

Looking at: https://social.msdn.microsoft.com/Forums/en-US/a28331ae-19a3-4a34-b3ba-1e8fd4430375/missing-apimswincore-dlls

It looks like th

[2019-02-07 15:29] sxa555 commented on #892
Done (yesterday). Closing.

[2019-02-07 15:29] #892 closed

[2019-02-07 15:30] sxa555 commented on #891
LGTM - closing

[2019-02-07 15:30] #891 closed

[2019-02-07 16:09] sxa555 commented on #882
Also "random" checksum publish failure issues: https://github.com/AdoptOpenJDK/openjdk-build/issues/891

[2019-02-07 20:50] knaccc commented on #878
@sunnythepooh

Yuck!!!

AdoptOpenJDK should be a drop-in replacement for the jdk.java.net release.

If you make end users jump through hoops, it'd be very damaging to the value proposition of zero-dependency jlink'd apps.

[2019-02-08 10:46] Capa83 commented on #871
Dear all,

when do you think we will have a fix for this?

Thanks and regards,
Tamas

[2019-02-08 14:58] sunnythepooh commented on #838
I ran the jar against:

openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.2+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.2+9, mixed mode)

And it come up with a grey, blank splashscreen.

If I run with Oracle Java 8 Update 111 it behaves the same

[2019-02-08 17:14] chrixm commented on #838
Try running it against the 32-bit version and you won't get the Splash screen but you will on the 64-bit.
I have just tried on the following and see the same behaviour as 11.0.1:

C:\Local\Tools\jdk-11.0.2-x86\bin>java --version
openjdk 11.0.2 2018-10-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.2+7)
OpenJDK Server VM AdoptOpenJDK (build 11.0.2+7, mixed mode, emulated-client)

[2019-02-08 17:18] johnoliver commented on #888
Had discussion with @karianna closing as our git is fairly stable and working at the moment. Can reopen if we have any more impedance mismatch between HG and git in the future

[2019-02-08 17:18] #888 closed

[2019-02-08 20:50] karianna commented on #871
No timeframe - pull requests are welcome on this one!

[2019-02-10 23:01] lootkips commented on #616
Any updates? or if there are guides on how to build a .msi off the JRE publised on the site...
I found this guide: http://hg.openjdk.java.net/jdk8/jdk8/raw-file/tip/README-builds.html
but was wondering if it is applicable

[2019-02-10 23:46] karianna commented on #616
The work to build MSI is over at openjdk-installers repo.

[2019-02-11 11:35] ben-walsh commented on #869
@andrew-m-leonard

[2019-02-11 11:45] ben-walsh commented on #869
Looking at relevant build pipeline jobs there are a bunch (all jdk11 only) that have been hanging since the last visible nightly (03/02) ...

<img width="1081" alt="screen shot 2019-02-11 at 11 42 06" src="https://user-images.githubusercontent.com/23211844/52561078-3a99bc00-2df2-11e9-89bd-944a23413a0e.png">

The recent ones I checked, all show ...

```Waiting for next available executor on ‘master

[2019-02-11 12:02] karianna commented on #869
I'd ping the #build channel on slack and see if someone can unblock that - not sure why master would be held up.

[2019-02-11 12:10] ben-walsh commented on #869
Okey dokey. Will do.

[2019-02-12 09:39] sameer1sharma commented on #608
Thank you Karianna.
**I have tested with 11.0.2 version (openjdk-11.0.2_windows-x64_bin), it is working fine.** Kudos.
Is it stable version(11.0.2) release?

Thanks,
Sameer Sharma

[2019-02-12 09:50] andrew-m-leonard commented on #869
I killed all those hanging jobs yesterday, there was no obvious reason why they were hanging...
Last night's jdk11 build was good
However, it looks like last night's jdk8 build maybe hung in the same place.... :-(

[2019-02-12 10:18] sxa555 commented on #869
@andrew-m-leonard I believe it was due to the arm32 machines being offline. Please let us know in the #build channel of the adoptopenjdk slack if you're going to kill off jobs as no-one  admitted to doing it in there yesterday.

[2019-02-12 11:33] sxa555 opened #894 "Update remaining hotspot/JDK11 images from `+7` to `+9`"
Ref https://github.com/AdoptOpenJDK/openjdk-docker/pull/107
The Linux/s390x, Linux/ppc64le and Linux/aarch64 builds at https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot are currently at `11.0.2+7` level instead of `11.0.2+9`.
These will be updated after some extra
- [ ] Update the release process
- [ ] Build the 11.0.2+9 on  those three platforms
- [ ] Update docker image

[2019-02-12 12:26] karianna commented on #608
Yes it's the stable release

[2019-02-12 13:44] akrus opened #895 "Java 8 with OpenJ9 (Large Heap) build doesn't have cacerts"
**Platform:**
N/A
**Architecture:**
N/A

jre/lib/security/cacerts contains:
[code]

Should be actual cacerts instead.
Links:
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08_openj9-0.12.1/OpenJDK8U-jdk_x64_linux_openj9_linuxXL_8u202b08-openj9-0.12.1.tar.gz
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08_openj9-0.12.1/OpenJDK8U-jre_x6

[2019-02-12 15:21] zyxser opened #896 "Looking for the AdoptOpenJDK 8u202 MSI file and define settings"
Hi guys,

I have been asked to prepare a deployment package with AdoptOpenJDK in my company since we are looking for an alternative solution to the Oracle Java releases. The thing is I am not able to find the MSI file for the AdoptOpenJDK 8u202 as am willing to deploy this package through SCCM and automate everything as much as I can.

Another topic is how can I change the settings of the package.

[2019-02-12 15:52] lumpfish commented on #895
The cacerts file actually contains this response from github:
![image](https://user-images.githubusercontent.com/26970658/52648296-2e8b2880-2ede-11e9-87dd-4bdd316e3c84.png)

[2019-02-12 15:53] lumpfish commented on #895
Looks like a serious case of bad luck

[2019-02-12 20:31] smlambert commented on #823
@sophia-guo - you asked about this...

I may have time later in the week.  I am not sure if we have all of the asm7 files we need in the asmtools job or not: https://ci.adoptopenjdk.net/view/Dependencies/job/asmtools/lastSuccessfulBuild/artifact/

[2019-02-12 22:43] sophia-guo commented on #823
Jtreg tests are actually using asm6, which may cause some tests failures. Functional tests updated with both asm6 and 7 available and test itself sets required asm version.

I've updated the job configuration and looks good https://ci.adoptopenjdk.net/view/Build%20Monitor/job/jcov/, which also triggered a new build of jtreg https://ci.adoptopenjdk.net/job/jtreg/. Will wait and see if everything is

[2019-02-13 02:32] navyxliu commented on #248
I am working on Corretto11 regression test. I am very interested in this issue and its resolution.

So far, I have identified 10 test failures due to 'Error. Use -nativepath to specify the location of native code'

java/nio/channels/FileChannel/directio/DirectIOTest.java
java/nio/channels/spi/SelectorProvider/inheritedChannel/InheritedChannelTest.java
compiler/aot/calls/fromAot/AotInvokeDynamic2Na

[2019-02-13 08:40] jerboaa commented on #248
IMO this isn't entirely a openjdk-build issue only. What if somebody has a build with test libs already? I'd imagine the test framework should allow for a path to be set via some environment variable which is then passed to via `-nativepath` to jtreg.

[2019-02-13 13:38] spgennard commented on #878
IMHO, Although I can see the reason why you would consider including the VC++ redist in AdoptOpenJDK, you should *only* include it if a .dll requires it and because the only thing that requires it is JavaFX's own .dll, then reason to include seem strange.

It makes more sense for the JavaFX package to include it.

Or included it in a AdoptOpenJavaFX extra pacakge :-)

[2019-02-13 15:01] smlambert commented on #248
Agreed @jerboaa - as discussed in Slack, you can leverage JTREG_EXTRA_OPTIONS for the use case of having your own build, and a path to the native test libs.

This issue is more for us to be able to automate native testing in the AdoptOpenJDK pipelines.

[2019-02-13 15:37] sophia-guo commented on #823
[asmtools job](https://ci.adoptopenjdk.net/view/Dependencies/job/asmtools/lastSuccessfulBuild/artifact/) directly build from http://hg.openjdk.java.net/code-tools/asmtools, which defines the build process and includes all source codes. If the build is green it should be good. @smlambert

[2019-02-13 17:18] smlambert commented on #823
Thanks for fixing this @sophia-guo !  Yesterday's jcov build looks good.
https://ci.adoptopenjdk.net/view/Build%20Monitor/job/jcov/151/

I will close this issue now.

[2019-02-13 17:18] #823 closed

[2019-02-13 17:56] PhilipMorrisJones opened #897 "File release has empty Source string: SOURCE="""
**Platform:**

Any

**Architecture:**

Any

If I look at the release file in 11.0.2 from AdoptOpenJDK

[code]
and for the same from Oracle

[code]

I see the Oracle version has a source code SHA. If you are buildign binaries form source, then source needs to be identifiable.

[2019-02-14 07:11] knaccc commented on #878
I can see that you may be absolutely right that the .dlls in an ideal world should be in a JavaFX package.

In the mean time though, until you can start providing your own AdoptOpenJavaFX package or convince Gluon to include the .dlls in their package, AdoptOpenJDK is unusable for JavaFX apps.

I'm sure there are all sorts of better long-term approaches, but in the mean time this is an unacceptabl

[2019-02-14 13:47] charliegracie opened #898 "Build IcedTea-Web at AdoptOpenJDK"
When moving to AdoptOpenJDK JDK8 builds from other providers like Oracle JDK8 users lose some functionality due to features not be available in OpenJDK.

One of the biggest issue is that lack of WebStart functionality. The [IcedTea-Web](https://icedtea.classpath.org/wiki/IcedTea-Web) project provides an OpenSource replacement for WebStart. It would be great if the AdoptOpenJDK project provided bui

[2019-02-14 13:48] charliegracie commented on #898
Is this something that the AdoptOpenJDK community thinks is a good idea? If the answer is yes I would like to help get this work moving.

[2019-02-14 13:50] smlambert commented on #898
related: https://github.com/AdoptOpenJDK/TSC/issues/41

[2019-02-14 13:57] charliegracie commented on #898
Thanks @smlambert I couldn't find that to link it!

[2019-02-14 15:46] sophia-guo opened #899 "openjdk11_j9_openjdktest_x86-64_linux_linuxXL build was triggered by wrong format of releasetag"
openjdk11_j9_openjdktest_x86-64_linux_linuxXL build was triggered by unexpected releasetag.

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux_linuxXL/20/

My understanding is this was triggered by WIP  https://github.com/AdoptOpenJDK/openjdk-build/pull/881 and any failure may be expected. Just note that tests are using RELEASE_TAG to sync openj9 jdk pr

[2019-02-14 16:18] karianna commented on #899
@johnoliver I think your PR resolves this...

[2019-02-14 18:18] JarrettSpiker commented on #693
@xinyi9 good catch with the install4j release note. Unfortunately, I just tried to build an installer using install4j 7.0.9 and still see the issue:
`java.lang.NullPointerException
	at sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264)
	at sun.awt.FontConfiguration.readFontConfigFile(FontConfiguration.java:219)
	at sun.awt.FontConfiguration.init(FontConfiguration.java:107)
	at sun.a

[2019-02-15 07:44] vtaparia commented on #871
We are building Application to work specifically for client OS that too Windows 10 32 bit and also our application for 32 bit contains only 32 bit binaries.

[2019-02-15 13:03] breun opened #900 "Checksum files for builds should not contain a path"
**Platform:** macOS

**Architecture:** x64

Verifying the SHA256 checksum of the AdoptOpenJDK 8 with OpenJ9 build fails:

[code]

The cause seems to be that the checksum file contains a path (`target/linux/x64/openj9/`) before the filename. When I remove this path the checksum check succeeds.

The checksum file for the HotSpot build does not contain this path prefix and works without having to mod

[2019-02-18 13:01] breun commented on #900
There are more checksum files that contain paths.

* JDK 11.0.2+9 with HotSpot VM: [OK](
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.2%2B9/OpenJDK11U-jdk_x64_linux_hotspot_11.0.2_9.tar.gz.sha256.txt)
* JDK 11.0.2+9 with OpenJ9 VM: [Not OK](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.2%2B9_openj9-0.12.1/OpenJDK11U-jdk_x64_linux_ope

[2019-02-18 14:52] smehrbrodt commented on #871
This missing client dll does indeed cause issues.

In LibreOffice the JRE is run inside the LibreOffice process and in the 32bit process AdoptOpenJDK doesn't take long to exit with `java.lang.OutOfMemoryError: unable to create new native thread`.

The Oracle JRE could live much longer until this occured.

[2019-02-18 14:59] smehrbrodt commented on #871
There is a configure option "--jvm-variant" which lets you choose whether you want to build the server or client variant (defaults to server).

[2019-02-20 08:50] PhilipMorrisJones opened #901 "Compiler needs to be VS2017 and not VS2013"
**Platform:**
Windows

**Architecture:**

Please describe the issue that you are having with our binaries and if possible how to recreate it.

Hi, I was looking at dependencies and the Oracle build of OpenJDK is built using VS2017 and on AdoptOpenJDK it uses VS2013. Why is this so?

So you get different vs runtimes that are echoed with `java -Xinternalversion`

[code]

Oracle

[code]

[2019-02-20 15:27] sophia-guo commented on #883
Job has failed ever since from created.  https://ci.adoptopenjdk.net/view/git-hg/job/git-hg-jdk12u/

[2019-02-20 15:52] karianna commented on #883
I suspect it was mirroring from the wrong place.  We'll take a look after we finish ironing out the new release process

[2019-02-21 13:01] sxa555 commented on #895
New version now available with `0.12.1a` in the tarball version number for openj9. Still identifies itself as `0.12.1` in the version output as the ONLY change is the cacerts correction.

Ref: https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u202-b08_openj9-0.12.1

[2019-02-21 13:01] sxa555 commented on #895
Going to leave this option until we've got something in place that will trap the issue in the future.

[2019-02-21 16:37] grzesuav commented on #689
@karianna @dinogun who would be best person to ask for assistance and review?
What must be done in PR :
* artifact is not located outside docker container
What  should be done :
* drop any docker related setting from main setting array - they should be used only by wrapper script

[2019-02-21 16:37] grzesuav commented on #689
Related to https://github.com/AdoptOpenJDK/openjdk-build/issues/689

[2019-02-21 19:16] shurymury opened #914 "Refactor JTReg Build"
Such as in https://ci.adoptopenjdk.net/job/jtreg.

See this for more info: https://mail.openjdk.java.net/pipermail/jtreg-use/2019-February/000683.html

[2019-02-21 19:27] sophia-guo commented on #914
Current job is triggered by related upstream jobs, periodically and SCM pull. Looks like the build actually doesn't depends on upstream jobs, which is a bit confused shell script. Probably need to revisit the story and do some clean up?

[2019-02-21 19:33] smlambert commented on #914
Yes, ideally would be good to get the script into git repo, but even a cleanup and update of existing setup will be good.

[2019-02-21 21:18] karianna commented on #914
Yeah, it's a will modularised script but it's not clear how it's getting the version.  I've kicked off a manual build to see if it'll 'do the right thing' in the mean time

[2019-02-21 22:38] karianna commented on #914
OK so it's built the latest version, folks can grab that now.

[2019-02-22 14:15] karianna opened #915 "Add Ben Walsh to Build and Release Team"
Ben is being tasked within IBM to release OpenJ9 builds at Adopt

[2019-02-22 14:15] karianna commented on #915
FWIW - I approve

[2019-02-22 14:36] smlambert commented on #915
I approve also.

[2019-02-22 14:54] karianna commented on #915
Invited.

[2019-02-22 14:54] #915 closed

[2019-02-25 14:57] pinhead84 commented on #774
I would also highly appreciate having OpenJDK11 for Linux x86 provided by AdoptOpenJDK.

What is the current state of OpenJDK11 for Linux x86? - As far as I know, there is already a [Debian package for OpenJDK11 on x86](https://packages.debian.org/buster/openjdk-11-jre) available. So I guess it should be possible to build it for this architecture as well.

Or have you discarded your plans in suppo

[2019-02-25 14:59] karianna commented on #774
We will be supporting 32bit on ARM as long as upstream also maintains it.  We're working with our friends a Packet.net to get some beefier hardware to support this effort.

[2019-02-25 15:04] pinhead84 commented on #774
Thanks for your response. I was asking about x86 (32bit) aka i386 or i686 - not ARM. Are you still planning to support this? - If yes, what's the current state or when do you think a binary is available on the website?

[2019-02-25 15:58] karianna commented on #774
Good question, the typical answer at Adopt is "yes as long as upstream maintain it".

[2019-02-26 16:35] pinhead84 commented on #774
Thanks for your response - even if it does not answer all of my questions. ;)

I was playing around a little bit with your scripts (btw thanks for the great work) and was able to build OpenJDK11 for Linux x86 with not too much effort. I've published the resulting binaries into this [GitHub project](https://github.com/OpenIndex/openjdk-linux-x86) - maybe it's helpful for others, too. But I would de

[2019-02-26 17:32] lumpfish opened #916 "Add jdk12 to build pipelines"
Amend scripts as required to build openjdk12-hotspot and openjdk12-openj9.

[2019-02-26 17:33] gdams commented on #774
Are you building on 64 bit hosts or 32 bit hosts?

[2019-02-26 17:52] lumpfish commented on #916
1. Changed https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/build-pipeline-generator/ to generate a pipeline for jdk12
2. Changed the generated https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk12-pipeline/ to point at a fork of openjdk-build (this will be overwritten overnight when the generate pipeline job runs again).
3. Added a JDK12_CORE_VERSION definition and included it in

[2019-02-26 17:53] lumpfish commented on #916
Created https://github.com/AdoptOpenJDK/openjdk-build/pull/917 with the work achieved so far.

[2019-02-26 17:57] pinhead84 commented on #774
I've used Debian i386 in a virtual machine. I guess there are more elegant solutions - but it was enough for my first experiments / tests.

[2019-02-26 18:36] djhaus commented on #774
I'm looking to move a a Java component of mine to use AdoptOpenJDK. I also need 32-bit on x86 Linux. Is there a plan to officially support this? Thanks in advance.

[2019-02-26 18:42] pinhead84 commented on #774
I don't know about the plans of the AdoptOpenJDK project about OpenJDK 8 on Linux x86. But for OpenJDK 8 you might try [Liberica JDK](https://www.bell-sw.com/pages/java-8u202) or [Zulu](https://www.azul.com/downloads/zulu/zulu-linux/) as an alternative.

[2019-02-27 01:24] smlambert commented on #897
I am also interested in this info for uniquely defining a build (with the SHAs of repos being pulled in to create the binary) in order to relate test results to a particular binary.

[2019-02-27 11:16] gdams opened #918 "Add checksum to metadata"

[2019-02-27 12:21] lumpfish commented on #916
Support for openssl has now been added for openjdk12-openj9.  I've updated the relevant builds args in the jdk12_support branch in https://github.com/AdoptOpenJDK/openjdk-build/pull/917.

[2019-02-27 13:50] gdams commented on #755
docs updated. closing

[2019-02-27 13:50] #755 closed

[2019-02-27 13:52] gdams commented on #833
@lumpfish is this done?

[2019-02-27 13:52] gdams commented on #832
@lumpfish is this done?

[2019-02-27 13:55] gdams commented on #712
ping @slandelle ?

[2019-02-27 13:55] gdams commented on #710
closing as now in the metafile

[2019-02-27 13:55] #710 closed

[2019-02-27 13:56] gdams commented on #561
closing as no infra available

[2019-02-27 13:56] #561 closed

[2019-02-27 14:14] slandelle commented on #712
Sorry, I missed your previous message. The behavior I expect is to open and navigate in the directory, just like the Oracle distribution (that doesn’t have those attributes), not get a directory in quarantine.

[2019-02-27 15:25] karianna opened #922 "Missing an AIX Java 11 Hotspot release build"
https://ci.adoptopenjdk.net/view/all/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/163/console as an example, looks like a bad boot jdk

[2019-02-27 17:01] sophia-guo commented on #899
This is fixed https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_linux_linuxXL/

[2019-02-27 17:01] #899 closed

[2019-02-27 23:21] ali-ince commented on #763
sorry for getting back to this late.

@karianna the upstream patch has already been merged into jdk 12 (https://bugs.openjdk.java.net/browse/JDK-8215123) and backported to jdk 13 (https://bugs.openjdk.java.net/browse/JDK-8216357). I tried to find out about the backport policy but did not find any information - could you please direct me in the right direction?

[2019-02-27 23:38] ali-ince commented on #709
sorry for getting back to this late.

@karianna the upstream patch has already been merged into jdk 13 (https://bugs.openjdk.java.net/browse/JDK-8214122). Similar to #763, could you please point me in the right direction to get a backport into jdk12/11?

[2019-02-27 23:46] ali-ince commented on #878
I think the main problem here may be that AdoptOpenJDK builds the JDK with a different version of visual studio (I'll check but it's probably VS2013) than what JavaFX is built with (given the DLL names missing, it's probably VS2017).

I'll try to verify the version of VS first and update here.

[2019-02-27 23:52] karianna commented on #709
@ali-ince Looks like Christopher Langer is backporting to 11u - https://bugs.openjdk.java.net/browse/JDK-8214122 - if you comment on the jdk-updates mailing list at OpenJDK, reference this issue number and ask Christopher if he'll also backport to 12 (and offer to do so if he doesn't) then that should get this through - thanks!

[2019-02-27 23:55] karianna commented on #763
So for this one, I'd ping jdk-updates mailing list at OpenJDK and offer to backport https://bugs.openjdk.java.net/browse/JDK-8215123 and ask for a sponsor.

[2019-02-28 06:28] manju6 commented on #577
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_202-b08) doesn't have JavaFX.
How to include ?

[2019-02-28 09:35] lumpfish commented on #832
Yes, closing

[2019-02-28 09:35] #832 closed

[2019-02-28 09:42] lumpfish opened #924 "JDK_BOOT_DIR set incorrectly on macos"
**Platform:**

macos

**Architecture:**

x64

The code to download the JDK_BOOT_DIR for macos assumes that following the download of the jdk there will be a subdirectory /bin under the download directory.  On macos the jdk has two top level directories - /Contents/Home, so the JDK_BOOT_DIR macro should be set to /Contents/Home/bin following the download.

[2019-02-28 09:43] lumpfish commented on #916
Raised https://github.com/AdoptOpenJDK/openjdk-build/issues/924 for the macos jdk boot dir issue.

[2019-02-28 10:06] lumpfish commented on #924
Submitted fix in https://github.com/AdoptOpenJDK/openjdk-build/issues/916

[2019-02-28 11:34] lumpfish commented on #916
Issue with X11 prereqs on Linux should be fixed by https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/640.

[2019-02-28 11:56] gdams commented on #745
@johnoliver this is what I was talking about yesterday. Once we can accurately pull the metadata from nightlies then we should be able to do this.

[2019-02-28 12:01] lumpfish opened #929 "AIX wget for jdk boot dir fails"
**Platform:**
AIX

**Architecture:**
ppc64

The build scripts wget the boot jdk if not already present on the build machine.  This code is being run for the first time for jdk12 where it wgets the latest nightly jdk11 build to use as the boot dir.

The url for the wget does not include 'type=jdk', so rather than the build being downloaded, a 'multiple builds available' (those being the jdk and jre

[2019-02-28 12:02] lumpfish commented on #929
Submitted fix in PR: https://github.com/AdoptOpenJDK/openjdk-build/pull/930

[2019-02-28 12:40] sophia-guo opened #931 "Add platform macXL in jdk8u so macXL jdk8u can be triggered automatically"
Add platform macXL in jdk8u so macXL jdk8u can be triggered automatically. Hence we can also run the macXL jdk8u tests.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-openj9-macosXL/

[2019-02-28 13:24] #929 closed

[2019-02-28 13:31] #924 closed

[2019-02-28 14:17] karianna commented on #577
In the short term I'd head over to OpenJFX and ask their community - it will be a little while before we sort out the story here.

[2019-02-28 21:18] isuftin opened #934 "openjdk8:x86_64-ubuntu-jdk8u191-b12-slim seems to be 1.8.0_192-b12?"
**Platform:**
Docker 18.09.2 running on AWS EC2 CentOS 7

**Architecture:**
x86_64

Please describe the issue that you are having with our binaries and if possible how to recreate it.
adoptopenjdk/openjdk8:x86_64-ubuntu-jdk8u191-b12-slim seems to be running 1.8.0 update 192-b12

[code]

[2019-02-28 22:21] mpe85 commented on #406
Will there be an JDK11 arm32 linux build officially provided via the website (https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot), or will there only be snapshot builds that could be downloaded from the jenkins CI?

[2019-02-28 22:32] #931 closed

[2019-02-28 22:39] karianna commented on #406
The API and website should be showing nightly builds for that platform

[2019-02-28 22:48] mpe85 commented on #406
The API shows this build: OpenJDK11-jdk_arm_linux_hotspot_11_28.tar.gz
The website apparently doesn't show any arm32 builds (neither releases nor nightly builds).

When will the nightly builds of this platform become a release build?

[2019-02-28 23:00] karianna commented on #406
Hmm, odd that may be an API or website bug or the last nightly build for this was a long time ago.  Can you pop along to our slack and raise it in the API channel?

With the upstream release cycles.  So 14th of April for 11.0.3

[2019-03-01 14:02] smlambert opened #935 "Mixed-case string: java.vendor returns "AdoptOpenJdk""
**Platform:**
All

**Architecture:**
All

Please describe the issue that you are having with our binaries and if possible how to recreate it.

Should probably correct the  java.vendor string to return "AdoptOpenJDK" rather than "AdoptOpenJdk" which looks like a typo

https://ci.adoptopenjdk.net/view/Test_weekly/job/openjdk8_hs_openjdktest_extended_x86-64_linux/lastCompletedBuild/testReport/runtime

[2019-03-04 12:03] lumpfish opened #937 "Windows jdk12 build fails"
**Platform:**

Windows

**Architecture:**

x86

The first attempt at a jdk12 Windows build fails early on accompanied by a worrying message:
[code]
See:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-windows-x64-hotspot/5/console

[2019-03-04 12:15] karianna commented on #937
[code]

Perhaps a bug in windows.sh - logic above looks fairly sane though.

[2019-03-04 15:16] lumpfish opened #938 "jdk12 builds fail due to missing X11 headers"
**Platform:**

linux

**Architecture:**

s390x, ppcle

First attempt at jdk12 builds are failing with
[code]

[2019-03-04 15:18] lumpfish commented on #916
Raised https://github.com/AdoptOpenJDK/openjdk-build/issues/938 for the missing X11 prereqs.  Change to ansible scripts in AdoptOpenJDK/openjdk-infrastructure#640 did not fix the issue because those scripts are not running successfully on s390x and ppcle Linux.

[2019-03-04 15:34] lumpfish commented on #937
Elsewhere in the output it says:
[code]
Note the --with-toolchain-version=2013

[2019-03-04 15:48] lumpfish commented on #937
Looks like TOOLCHAIN_VERSION=2017 is only set for openj9 builds.  TOOLCHAIN_VERSION=2013 is set for hotspot.

[2019-03-04 15:51] lumpfish commented on #937
Similar failure on openj9 build though (with TOOLCHAIN_VERSION=2017): https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-windows-x64-openj9/5/console
[code]

[2019-03-04 17:12] sophia-guo commented on #893
Another one:
java/net/httpclient/ResponsePublisher.java

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_linux/182/console

[2019-03-04 23:04] mcs6502 opened #939 "Gradle build fails with "Too many open files" on OpenJ9"
**Platform:**
openj9-0.12.1 on Mac OS X 10.14.2

**Architecture:**
x86_64 (amd64)

_Please describe the issue that you are having with our binaries and if possible how to recreate it._

I tried to do a gradle build of a project using OpenJDK with OpenJ9 VM. The build failed right at the start, whilst analysing build scripts. The underlying error was "Too many open files".

The same OpenJDK version

[2019-03-04 23:41] ali-ince commented on #937
So, the main reason for the hotspot failure was a typo in the script file that doesn't pick the expected variables and even it was the build was not assigned to the correct build machine with VS2017 installed.

Those should be fixed by #940.

[2019-03-04 23:45] ali-ince commented on #937
openj9 issue seems to be a completely different problem - maybe we should create another issue for that?

[2019-03-05 09:43] lumpfish opened #941 "Windows jdk12 build fails #2"
**Platform:**
Windows

**Architecture:**
x64

Originally raised as part of #937, but there were two different issues.

The first attempt at an jdk12 Windows build fails with
[code]
Full log at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-windows-x64-openj9/5/console

[2019-03-05 09:45] lumpfish commented on #937
Raised https://github.com/AdoptOpenJDK/openjdk-build/issues/941 for the second issue.

[2019-03-05 10:11] lumpfish commented on #941
Same error also on hotspot builds: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-windows-x64-hotspot/7/console (though at the moment hotspot is still building with VS2013, waiting for the merge of PR #940).

[2019-03-05 11:09] karianna commented on #941
@lumpfish #940 has landed - can you run again?

[2019-03-05 11:14] #937 closed

[2019-03-05 12:45] lumpfish commented on #941
Same error building hotspot with VS2017: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-windows-x64-hotspot/8/console

[2019-03-05 12:56] lumpfish commented on #941
Could it be similar to this: https://github.com/AdoptOpenJDK/openjdk-build/issues/452?

[2019-03-05 13:55] DanHeidinga commented on #939
This looks very similar to https://github.com/eclipse/openj9/issues/4717 with the underlying discussion being in OMR: https://github.com/eclipse/omr/issues/3579

fyi @pdbain-ibm

[2019-03-05 14:08] pdbain-ibm commented on #939
@mcs6502

We are working on a solution.  In the meantime, the workaround is to increase the soft limit on open files.  You can get the system limit like so:

and change the soft limit like so:

You can check your soft limit by omitting the value.

[2019-03-05 15:12] sxa555 commented on #941
Assuming so I've now fixed it on `-1` and `-2` so please reopen if this recurs

[2019-03-05 15:12] #941 closed

[2019-03-05 15:24] smlambert opened #942 "jdk12 openj9 builds should return vendor=Eclipse OpenJ9"
**Platform:**
All

**Architecture:**
All

Please describe the issue that you are having with our binaries and if possible how to recreate it.
openj9 jdk8 & jdk11 behaviour:
System.getProperty(‘java.vm.vendor’)=Eclipse OpenJ9

while jdk12 returns:
System.getProperty(‘java.vm.vendor’)=AdoptOpenJDK

This should get corrected, so we can differentiate between implementations built at Adopt (and auto-de

[2019-03-05 15:31] sxa555 commented on #938
This is Linux, not AIX - switching tags

[2019-03-05 15:52] sxa555 commented on #938
Yuk ... OK  The RPM database on `build-marist-rhel74-s390x-1` was corrupt

[code]
rebuilt with `rpm --rebuilddb`

[2019-03-05 15:55] sxa555 commented on #938
Both `build-marist-rhel74-s390x-1` and `build-marist-rhel74-s390x-2` had issues with invalid repos:

docker-ce (Not available on s390x):
[code]
And the EPEL one:
[code]
In both cases I've renamed the appropriate `.repo` file to have a `-SXABAK` extension and was then able to run:
[code]

[2019-03-05 15:58] sxa555 commented on #938
`build-osuosl-centos-74-2` had a similar issue with the docker-ce repo - renamed and installed libXrandr-devel.

[2019-03-05 16:00] #938 closed

[2019-03-05 16:16] lumpfish commented on #942
The new jdk12 properties are:
    java.runtime.name = OpenJDK Runtime Environment
    java.runtime.version = 12+32-201903040957
    java.specification.name = Java Platform API Specification
    java.specification.vendor = Oracle Corporation
    java.specification.version = 12
    java.vendor = AdoptOpenJDK
    java.vendor.url = https://adoptopenjdk.net/
    java.vendor.url.bug = https://github.com

[2019-03-05 16:21] lumpfish commented on #942
It seems to me that these jdk12 properties are correct:
[code]
but are incorrect in jdk11:
[code]

[2019-03-05 16:23] lumpfish commented on #942
And that this is incorrect in jdk12:
[code]
but correct in jdk11:
[code]

[2019-03-05 16:25] lumpfish commented on #942
And that this new property in jdk12 needs discussion as to whether the value is correct:
[code]

[2019-03-05 16:55] lumpfish commented on #942
@smlambert - was your expectation that java.vendor should be Eclipse Openj9 based on the fact that that is what it is in jdk11?

[2019-03-05 18:00] smlambert commented on #942
I am not sure what is the right approach, definitely could use discussion.  I know that I may want to differentiate between different implementations built at AdoptOpenJDK somehow.  If we build a hotspot build, an openj9 build, a corretto build and a sapmachine build, is there an easy way for me to tell them apart, if we set AdoptOpenJDK for vendor for all of them?

Looks like we could use java.vm

[2019-03-05 18:01] karianna commented on #942
We will have to be very careful about the builds we produce on behalf of others.  It'll be down to trademark usage in each case.

[2019-03-06 02:01] mcs6502 commented on #939
Thanks for the OMR pointer, Dan, and for the workaround, Peter.
Confirming that the problem disappears after `ulimit -Sn 500` upping the file handle limit to 500 from the default 256.
(Gradle users note that you'd also need to stop the existing daemon for the ulimit change to take effect.)

[2019-03-06 04:43] myamamoto opened #945 "Fonts with embedded bitmaps are not always rotated"
**Platform:**
All

**Architecture:**
Windows

I would like you to also make the following fix to jdk 8
https://github.com/AdoptOpenJDK/openjdk-jdk11u/commit/f1bf238b695e0b4d49b8264b83228317ee75ebd3#diff-5c6198e34c46737fc7bf8f0eb5fff8d0

[2019-03-06 09:42] lumpfish commented on #942
There is a request to remove java.vendor.version, btw: https://bugs.openjdk.java.net/browse/JDK-8216383

[2019-03-06 09:50] andrew-m-leonard commented on #942
This Wikipedia entry adds to the confusion lists both AdoptOpenJDK and Eclipse OpenJ9 https://en.wikipedia.org/wiki/List_of_Java_virtual_machines

[2019-03-06 10:05] lumpfish commented on #942
This is some discussion from Corretto: https://github.com/corretto/corretto-8/issues/3.
This particular comment lists the java.vendor from a number of jdks: https://github.com/corretto/corretto-8/issues/3#issuecomment-447242114.
The anomaly again seems to be openjdk11-openj9, where Eclipse Openj9 is the java.vendor rather than AdoptOpenJDK.
Using the definition of java.vendor as the Java Runtime E

[2019-03-06 10:07] karianna commented on #945
Hi @myamamoto I assume this is an issue with all OpenJDK 8 builds (from Oracle, Azul etc as well?). In that case you will need to make a backport request to the OpenJDK project (We can help you through that process).

[2019-03-06 10:13] karianna commented on #942
FWIW I agree with @lumpfish analysis of the changes required for 11 and 12 - I personally feel the vendor bug URL should come to adopt first.

[2019-03-06 10:45] andrew-m-leonard commented on #942
Raised OpenJ9 issue: https://github.com/eclipse/openj9/issues/5002

[2019-03-06 13:33] smlambert commented on #942
For the record, at the present time it is sufficient for us to use the current value of java.vm.name to differentiate, and I agree that java.vm.vendor can be the org that built it, in other words AdoptOpenJDK.  But I am glad that there is a discussion about this, to make sure we get it right for all implementions that may be built out of the Adopt build farm.

[2019-03-06 14:42] lumpfish commented on #942
I don't think anyone has an issue with java.vm.vendor being Eclipse OpenJ9 - the issue @andrew-m-leonard raised (eclipse/openj9#5002) should fix that.  It's just that while investigating I saw that java.vendor (as opposed to java.vm.vendor) is different between openjdk11-openj9 and openjdk12-openj9 as well.

[2019-03-06 15:53] smlambert commented on #942
FYI @llxia - let's hold off on changing implementation of AUTO_DETECT for now, until we see how this resolves, in the meantime I have updated the jdk12 test jobs at Adopt to disable AUTO_DETECT and set JDK_IMPL explicitly.

[2019-03-06 16:30] illumi opened #946 "11.0.x Windows 32bit splashscreen failure"
**Platform:**
Windows

**Architecture:**
32bits

Compile and run the demo from https://docs.oracle.com/javase/tutorial/uiswing/misc/splashscreen.html
64bit release executes successfully, 32bits the call to SplashScreen.getSplashScreen() always returns null.

[2019-03-06 17:14] lumpfish opened #948 "Enable openssl feature on aix and remove bundling on linux"
The code to enable openssl to be dynamically linked has been enabled for openjdk8-openj9, openjdk11-openj9 and openjdk12-openj9.

This means that openssl no longer needs to be bundled with the AdoptOpenJDK openj9 builds.

We plan to continue to bundle for Windows and MacOS because it is less likely that openssl will be installed on those operating systems.

This means removing the
[code]
option fr

[2019-03-06 18:30] pshipton commented on #948
The jdk8 changes to support dynamic linking haven't been delivered yet.

AIX will also need the getsource option `--openssl-version=1.1.1b` (or 1.1.1x - any of 1.1.1, 1.1.1a, 1.1.1b would be fine) .

[2019-03-06 21:23] pinhead84 commented on #774
For your information: OpenJDK 12 for Linux x86 also builds successfully with your scripts. I've added the binaries of OpenJDK 12+30 to the [release page](https://github.com/OpenIndex/openjdk-linux-x86/releases).

[2019-03-07 00:30] karianna commented on #946
@ali-ince Have you got a Win-32 system to replicate this on?

[2019-03-07 06:12] myamamoto commented on #945
Hi, @karianna Could you tell me how to request to the OpenJDK project?

[2019-03-07 09:31] lumpfish commented on #948
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/prepareWorkspace.sh already runs bash get_source.sh --openssl-version=1.1.1a (even on aix).
I'll leave jdk8 alone until the code is merged.

[2019-03-07 10:25] lumpfish commented on #948
Submitted https://github.com/AdoptOpenJDK/openjdk-build/pull/949 for aix enablement.

[2019-03-07 11:54] illumi commented on #946
32bit package will work on a Win64 system and also displays this bug. This isn't exclusive to a Windows 32bit OS installation, only the 32bit release from AOJDK.

[2019-03-07 15:22] karianna commented on #14
On reviewing with John - even that the Docker file says `16.04` for Ubuntu means you could get a different 16.04.  I'm not convinced we want to pin versions but we do want to audit - see #11

[2019-03-07 15:23] #21 closed

[2019-03-07 15:24] karianna commented on #28
Closing in favour of #897

[2019-03-07 15:24] #28 closed

[2019-03-07 15:25] karianna commented on #52
New Pull Request Builder mechanism enables this.  Currently compiles the build scripts but does not yet kick off a test pipeline.

[2019-03-07 15:27] karianna commented on #60
Closing - folks can raise specific issues as needed.

[2019-03-07 15:27] #60 closed

[2019-03-07 15:29] karianna commented on #87
Again specific issues should be raised.  It's mostly an infra problem these days with some hosts having minimal disk space.

[2019-03-07 15:29] #87 closed

[2019-03-07 15:31] karianna commented on #113
We have Solaris Spac v9 builds on the website, closing this.

[2019-03-07 15:31] #113 closed

[2019-03-07 15:33] #122 closed

[2019-03-07 15:34] karianna commented on #130
Build scripts are self-documenting and Jenkins pipeline jobs have their parameters well explained.

[2019-03-07 15:34] #130 closed

[2019-03-07 15:36] karianna commented on #150
Fixed some time ago

[2019-03-07 15:36] #150 closed

[2019-03-07 15:37] karianna commented on #153
@tneward Can you try again with the latest scripts?  We think this should be resolved.

[2019-03-07 15:39] karianna commented on #170
Going to close this issue - we will accept Pull Requests but as a team will not create them ourselves.

[2019-03-07 15:39] #170 closed

[2019-03-07 15:40] karianna commented on #173
Resolved with new build scripts

[2019-03-07 15:41] karianna commented on #181
@sxa555 Is this still important?

[2019-03-07 15:45] karianna commented on #186
So from an implementation detail, we want to put this data into the metadata file that we now have.  @judovana - you should be able to add a PR to dd the extra data that you want.

[2019-03-07 15:46] karianna commented on #189
This is now resolved as all things are pretty much `u` and we've refactored the scripts as well.

[2019-03-07 15:46] #189 closed

[2019-03-07 15:47] karianna commented on #191
Resolved.

[2019-03-07 15:47] #191 closed

[2019-03-07 15:49] karianna commented on #194
We need to re-add these to the pipelines.

[2019-03-07 15:50] karianna commented on #207
@sxa555 Is this still an issue?

[2019-03-07 15:51] karianna commented on #245
I suspect we should actually pull directly from the OpenJFX folks and we should kill our repo.

Needs some discussion with @johanvos because of OpenJFX 8.

[2019-03-07 15:52] karianna commented on #251
We will have to redo Amber in the new build scripts way.

[2019-03-07 15:53] karianna commented on #258
See #251 as well

[2019-03-07 15:54] karianna commented on #257
We've been building these OK for some time now.

[2019-03-07 15:54] #257 closed

[2019-03-07 15:55] karianna commented on #270
See #238

[2019-03-07 15:55] #270 closed

[2019-03-07 15:55] karianna commented on #277
Need to re-add SAP vms into the new build process/

[2019-03-07 15:56] #350 closed

[2019-03-07 20:04] briangoetz commented on #251
Ask on amber-dev to find out which branches are still active?

[2019-03-07 22:31] karianna commented on #945
The first step is to find the bug in the JBS bug database that covers this fix.

You'll want to search on https://bugs.openjdk.java.net/

Once you find that bug post back here and we'll take the next step :-)

You can also join our slack to do this all in real time

[2019-03-07 22:54] karianna commented on #251
Will do!

[2019-03-08 00:10] myamamoto commented on #945
This is the bug I told.
https://bugs.openjdk.java.net/browse/JDK-8204929

[2019-03-08 00:10] myamamoto commented on #945
Hi, @karianna This is the bug I told.
https://bugs.openjdk.java.net/browse/JDK-8204929

[2019-03-08 11:42] johnoliver commented on #884
his has been reworked and we no longer publish automatically

[2019-03-08 11:42] #884 closed

[2019-03-08 14:49] pshipton commented on #939
eclipse/omr#3579 is resolved now, so this should work with an updated JVM build, without the ulimit workaround. It will require a nightly build dated March 8 or later (there isn't one right now), or the next release, which is 0.14 scheduled for April 26.

[2019-03-08 20:30] karianna commented on #945
OK, that bug report seems to indicate that there is no issue with Java 8?

[2019-03-08 20:33] karianna commented on #939
I'll bravely close this early :-)

[2019-03-08 20:33] #939 closed

[2019-03-10 17:36] ali-ince commented on #466
I have created an upstream PATCH request to enable us to use latest VS2017 with side-by-side minor version MSVC toolsets.

http://mail.openjdk.java.net/pipermail/build-dev/2019-March/025126.html

[2019-03-10 23:18] myamamoto commented on #945
This is the issue for Java8. https://bugs.openjdk.java.net/browse/JDK-8163278
This issue is closed as duplicated...

[2019-03-11 11:01] gdams commented on #686
@sxa555 is this fixed now? I do now see large heap binaries on the website

[2019-03-11 11:05] gdams commented on #617
looks like a simple change to this line: https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh#L424

[2019-03-11 11:06] gdams commented on #457
closing due to inactivity.

[2019-03-11 11:06] #457 closed

[2019-03-11 13:55] lumpfish commented on #942
In addition to the openj9 fix the following code in https://github.com/AdoptOpenJDK/openjdk-build/blob/master/sbin/build.sh needs correcting:
[code]
--with-vendor-vm-bug-url is incorrect - that should point to: https://github.com/eclipse/openj9/issues

--with-vendor-bug-url is missing - that should point to: https://github.com/AdoptOpenJDK/openjdk-build/issues